@import "variable";
@import "mixin";
body {
  background: $white;
  font-family: "Montserrat-S", "Helvetica Neue", Arial, "Hiragino Sans", sans-serif;
  font-style: normal;
}

.intro {
  background: $primary;
  padding-bottom: 50px;
  overflow: hidden;
  &__header {
    padding: 0 90px;
    height: 70px;
    background: transparent;
    @include responsive-down(XS) {
      padding: 0;
    }
    &.scroller {
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
      background-color: #015198;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      transition: all 0.4s ease;
    }
    .logo {
      margin: 31px 0;
      span {
        font-weight: bolder;
        font-size: 27px;
        line-height: 37px;
        color: $white;
      }
    }
    .navbar {
      background: transparent;
      #navbarNav {
        @include responsive-down(SM) {
          position: absolute;
          width: max-content;
          top: 100%;
          right: 50%;
          opacity: 1;
          background: #015198;
          z-index: 999;
          padding: 20px
        }
      }
      .navbar-brand {
        color: $white;
      }
      .nav-item {
        &.active {
          .nav-link {
            color: $secondary;
            border-bottom: 2px solid $secondary;
          }
        }
        &:hover {
          .nav-link {
            color: $secondary;
          }
          > .dropdown-menu {
            display: block;
          }
        }
        .nav-link {
          color: $white;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          &:hover {
            cursor: pointer;
          }
        }
        .dropdown-menu {
          background: $white;
          margin: 0;
          .dropdown-item {
            &:hover {
              color: $white;
              background: $secondary;
            }
          }
        }
      }
    }
  }
  &__content {
    position: relative;
    background-image: url("../images/domap2@2x.png");
    background-repeat: no-repeat;
    padding: 0;
    
    &--main-text {
      text-align: center;
      .big-text {
        h1 {
          color: $white;
          font-weight: bolder;
          font-size: 26px;
          line-height: 1.2;
          text-align: center;
          @include responsive-up(MD) {
            font-size: 30px;
          }
          @include responsive-up(XL) {
            font-size: 35px;
          }
        }
        @include responsive-down(SM) {
          margin-top: 50px;
        }
      }
      .play-button {
        margin: 30px;
        transition: all 0.3s ease;
        &:hover {
          margin-top: 20px;
          margin-bottom: 40px;
          img {
            cursor: pointer;
          }
        }
      }
    }
    .page-redirect {
      width: 90%;
      margin: 0 auto;
      .wrapper {
        display: flex;
        justify-content: space-around;
        .link-redirect {
          &:hover {
            cursor: pointer;
            text-decoration: none;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
          }
          &.carrier {
            background: $white;
            span {
              color: $primary;
            }
          }
          &.logistic {
            background: $secondary;
          }
          width: 45%;
          min-width: 300px;
          max-width: 550px;
          padding: 41px 65px;
          text-align: center;
          @include responsive-down (XS) {
            padding: 10px 20px;
            min-width: 100px;
          }
          img {
            margin-right: 20px;
            @include responsive-down (XS) {
              display: none;
            }
          }
          div {
            span {
              display: block;
              color: $white;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              text-align: left;
              @include responsive-down (XS) {
                text-align: center;
              }
              &:last-child {
                font-weight: bold;
                font-size: 22px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.content {
  margin: 50px 0;
  .targets {
    padding: 0 90px;
    @include responsive-down (SM) {
      padding: 0;
    }
    .details {
      margin-top: 70px;
      @include responsive-down (SM) {
        flex-direction: column;
      }
      .target-wrapper {
        text-align: center;
        padding: 30px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
        width: 30%;
        @include responsive-down (SM) {
          width: 100%;
        }
        span {
          display: block;
        }
      }
    }
  }
  .advantages {
    margin: 120px 0;
    padding: 0 90px;
    @include responsive-down (SM) {
      padding: 0;
      margin: 30px 0;
    }
    &__content {
      margin-top: 70px;
      @include responsive-down (SM) {
        flex-direction: column;
      }
      .advantage-wrapper {
        text-align: center;
        background: rgba(255, 255, 255, 0.01);
        border: 1px solid #e5ebf3;
        box-sizing: border-box;
        width: 32%;
        padding: 40px 20px;
        @include responsive-down (SM) {
          margin:5px auto !important;
          width: 80%;
        }
        span {
          display: block;
          &:last-child {
            padding: 0 20px;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }
  .request {
    background-color: $primary;
    background-image: url("../images/domap2@2x.png");
    background-size: cover;
    margin: 0 90px;
    color: $white;
    padding: 50px;
    &__title {
      width: 50%;
      span {
        display: block;
        &:first-child {
          font-weight: bolder;
          font-size: 50px;
          line-height: 68px;
        }
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: left;
      }
    }
    &__mail {
      width: 40%;
      .request-input {
        background-color: #0f449a;
        border-color: #0f449a;
        border-radius: 10px;
        border: none;
        padding: 18px 27px;
        width: 80%;
        font-size: 17px;
        line-height: 23px;
        color: $white;
        &::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: $white;
        }
        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: $white;
          opacity: 1;
        }
        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: $white;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $white;
        }
        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $white;
        }

        &::placeholder {
          /* Most modern browsers support this now. */
          color: $white;
        }
      }
      .btn-request {
        margin-top: 20px;
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
        padding: 18px 50px;
        background-color: $secondary;
        border-radius: 4px;
        color: $white;
      }
    }
  }
  .annotations {
    margin-top: 120px;
    padding: 0 90px;
    @include responsive-down (SM) {
      padding: 0;
      margin-top: 0;
    }
    .annotation-details {
      margin-top: 70px;
      > .row {
        overflow-x: auto;
        flex-wrap: nowrap;
        > .col-3 {
          display: inline-block;
        }
      }
      .annotation {
        overflow: hidden;
        &:hover {
          cursor: pointer;
        }
        .annotation-image {
          position: relative;
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
          .annotation-day {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 15px 17px;
            background-color: $secondary;
            text-align: center;
            border-radius: 0 10px 0 0;
            span {
              display: block;
              color: $white;
              &.date {
                font-weight: bolder;
                font-size: 20px;
                line-height: 27px;
                border-bottom: 1px solid $white;
              }
              &.year {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
              }
            }
          }
        }
        .annotation-title {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;
          color: $primary;
          margin-top: 16px;
        }
      }
    }
  }
}

.footer {
  background-color: $primary;
  background-image: url("../images/domap2@2x.png");
  background-size: contain;
  padding: 40px 90px;
  @include responsive-down (SM) {
    padding: 40px 10px;
  }
  &__header {
    width: 40%;
    span {
      display: block;
    }
    &-title {
      font-weight: bolder;
      font-size: 40px;
      line-height: 54px;
      color: $white;
    }
    &-content {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: $footer-text;
    }
  }
  &__contact {
    width: 40%;
    a {
      display: block;
      img {
        width: 30px;
        height: 24px;
        object-fit: scale-down;
        margin-right: 10px;
      }
      &.contact-info {
        font-size: 18px;
        line-height: 25px;
        color: $footer-text;
      }
    }
    &-title {
      font-weight: bolder;
      font-size: 40px;
      line-height: 54px;
      color: $white;
    }
  }
}

.title {
  text-align: center;
  .primary-title {
    font-weight: bolder;
    font-size: 40px;
    line-height: 54px;
    color: $primary;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 120px;
      height: 3px;
      background-color: $secondary;
    }
  }
}

.title-small {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 55px;
    height: 3px;
    background-color: $secondary;
  }
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #e5ebf3;
  box-sizing: border-box;
  border-radius: 4px;
  color: $primary;
  width: 130px;
  &:hover {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
  }
}
