<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('Form Thay Tàu/Chuyến')" />
    <link th:href="@{/css/logistic/add-shipment.css}" rel="stylesheet" />
    <link th:href="@{/css/logistic/vesselChanging/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="content">
            <div>
                <div class="form-group row">
                    <label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">Booking No.</label>
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        <input th:value="${bookingNo}" type="text" class="form-control" readonly />
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">Booking No mới</label>
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        <input id="bookingNo" name="bookingNo" type="text" class="form-control" />
                    </div>
                </div> -->
            </div>
            <div>
                <div class="form-group row">
                    <label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">Hãng tàu cũ</label>
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        <input th:value="${opeCode}" type="text" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">
                        <span style="color: red;">*</span>Hãng tàu mới</label>
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        <select class="form-control" onfocus="removeOpeCodeError()" id="opeCodeList">
                            <option th:each="opeCode, iterator : ${opeCodeList}" th:value=${opeCode} th:text=${opeCode}>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row">
                    <label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">Tàu/chuyến cũ</label>
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        <input th:value="${vessel}" type="text" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">
                        <span style="color: red;">*</span>Tàu/chuyến mới</label>
                    <div class="col-md-10 col-sm-9 col-xs-7">
                        <select class="form-control" onfocus="removeVesselError()" id="vesselList">
                            <option value="" selected>Chọn tàu/chuyến</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-layer-btn footer">
            <a class="layui-layer-btn0" onclick="confirm()">Xác nhận</a>
            <a class="layui-layer-btn1" onclick="closeForm()">Hủy bỏ</a>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript" th:inline="javascript">
        var shipmentDetailIds = /*[[${shipmentDetailIds}]]*/;
    </script>
    <script th:src="@{/js/logistic/vesselChanging/changingForm.js}"></script>
</body>

</html>