<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: header('Điều Xe')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/css/logistic/receiveContFull/style.css}" rel="stylesheet" />
    <th:block th:include="include :: handsontable-css" />
    <link th:href="@{/css/logistic/assignTruck/assignTruck.css}" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div class="left-side">
        <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
        <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
        <div class="title-top">
          <span class="title">Danh sách lô đang thực hiện</span>
          <select class="shipment-type" onchange="loadTable()" name="shipmentType" id="shipmentType">
            <option value="1" selected>Nhận container có hàng</option>
            <option value="2">Giao container rỗng</option>
            <option value="3">Nhận container rỗng</option>
            <option value="4">Giao container có hàng</option>
          </select>
        </div>
        <div class="table-content">
          <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]" fitColumns="true">
            <thead>
              <tr>
                <th data-options="field:'id', fixed:true" sortable="true" width="60">Mã Lô</th>
                <!-- <th data-options="field:'taxCode',halign:'center'" width="20%">MST</th> -->
                <th data-options="field: 'blNo',halign: 'center', fixed:true" sortable="true" width="200">B/L No</th>
                <th data-options="field: 'bookingNo',halign: 'center', fixed:true" sortable="true" width="200">Booking No</th>
                <th data-options="field: 'containerAmount',halign: 'center', fixed:true" sortable="true" width="70">Số lượng</th>
                <th data-options="field: 'opeCode',halign: 'center', fixed:true" sortable="true" width="50">OPR</th>
                <th data-options="field:'createTime',align:'right',halign:'center', formatter: formatDate" sortable="true" width="100">Ngày tạo</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="right-side">
        <div class="content">
          <div class="headerBar">
            <button id="batchBtn" style="width: 250px; color: black; background-color: #6c9dc7; font-weight: bold"
              onclick="assignFollowBatchTab()">Điều Xe Theo Lô</button>
            <button id="containerBtn" style="width: 250px;; color: black; font-weight: bold"
              onclick="assignFollowContainerTab()">Điều Xe Theo Container</button>
          </div>
          <!-- <div class="title-top">
            <div class="left-info">
              <div>
                <span class="label-title">Mã Lô: </span>
                <span id="batchCode"></span>
              </div>
              <div>
                <span class="label-title">Mã Số Thuế: </span>
                <span id="taxCode"></span>
              </div>
              <div id="blNoDiv">
                <span class="label-title">B/L No: </span>
                <span id="blNo"></span>
              </div>
              <div id="bookingNoDiv">
                <span class="label-title">Booking No: </span>
                <span id="bookingNo"></span>
              </div>
              <div>
                <span class="label-title">DO: </span>
                <span id="edoFlg"></span>
              </div>
              <div>
                <span class="label-title">Số Lượng: </span>
                <span id="quantity"></span>
              </div>
            </div>
          </div> -->
          <div class="assignFollowBatch">
            <div class="content">
              <div class="left-button-bar">
                <!-- <button id="pickTruckBtn" class="btn btn-sm btn-primary" onclick="addTruck()">+ Xe</button>
                <button id="pickTruckBtn" class="btn btn-sm btn-primary" onclick="addDriver()">+ Tài xế</button> -->
                <button id="pickTruckBtn" class="btn btn-sm btn-primary" onclick="save()">Lưu</button>
              </div>
              <!-- <div class="right-button-bar" style="position: absolute; right: 40px;">
                <button id="pickTruckBtn" class="btn btn-sm btn-primary" onclick="getDataFromOutSource()">Thuê Ngoài</button>
              </div> -->
              <div class="assignFollowBatch-table">
                <div style="display: flex; flex: 1 1 auto;">
                  <div class="table-content">
                    <div style="display: flex; justify-content: center;">
                      <b style="margin: 0 auto;">Danh sách tài xế</b>
                    </div>
                    <table id="driverTable" class="table" style="width:100%;" fitColumns="true" 
                    data-options="rownumbers:true,iconCls: 'icon-edit', toolbar: '#tb',url: 'datagrid_data1.json',method: 'get'">
                      <thead>
                        <tr>
                          <th data-options="field:'ck',checkbox:true, fixed:true" width="50"></th>
                          <th data-options="field:'mobileNumber',align:'right'" width="120">Số điện thoại</th>
                          <th data-options="field:'fullName',editor:'textbox'" width="150">Họ và Tên</th>
                          <th data-options="field:'action', formatter: formatAction,align:'center',fixed:true" width="80">Hành động</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div style="padding-top: 75px; text-align: center;">
                    <div>
                      <button style="margin-bottom: 10px; width: 60px;" onclick="transferAllToOut()">>>|</button>
                    </div>
                    <div>
                      <button style="margin-bottom: 10px; width: 60px;" onclick="transferInToOut()">>|</button>
                    </div>
                    <div>
                      <button style="margin-top: 10px; width: 60px;" onclick="transferOutToIn()">|<</button>
                    </div>
                    <div>
                      <button style="margin-top: 10px; width: 60px;" onclick="transferAllToIn()">|<<</button>
                    </div>
                  </div>
                  <div class="table-content">
                    <div style="display: flex; justify-content: center;">
                      <b style="margin: 0 auto;">Danh sách điều</b>
                    </div>
                    <table id="pickedDriverTable" class="table" style="width:100%;" fitColumns="true"
                    data-options="rownumbers:true,iconCls: 'icon-edit', toolbar: '#tb',url: 'datagrid_data1.json',method: 'get'">
                      <thead>
                        <tr>
                          <th data-options="field:'ck', checkbox:true, fixed:true" width="50"></th>
                          <th data-options="field:'mobileNumber', align:'right'" width="120">Số điện thoại</th>
                          <th data-options="field:'fullName', editor:'textbox'" width="150">Họ và Tên</th>
                          <th data-options="field:'action', formatter: formatAction,align:'center',fixed:true" width="80">Hành động</th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </div>
                <div>
                  <div>
                    <div class="title" style="margin-top: 5px; margin-bottom: 5px;"><b style="color: black;">Thuê ngoài</b> </div>
                  </div>
                  <div id="container-grid" style="height: 150px;" class="hot handsontable htColumnHeaders"></div>
                </div>
              </div>
          </div>
          </div>
          <div class="assignFollowContainer">
            <div class="content">
              <table id="dgShipmentDetail" class="table" style="width: 100%;" fitColumns="true">
                <thead>
                  <tr>
                    <th data-options="field:'id', fixed:true">Id</th>
                    <th data-options="field:'containerNo', align:'center',halign:'center', fixed:true" width="150">Container No</th>
                    <th data-options="field:'sztp',halign:'center', fixed:true" width="100">Kích Thước</th>
                    <th data-options="field:'preorderPickup', align:'center', fixed:true, formatter: formatPickup" width="100">Bốc Chỉ Định</th>
                    <th data-options="field:'wgt',halign:'center'" width="60">Trọng lượng</th>
                    <th data-options="field:'driverAmount',halign:'center', align:'center'" width="100">Số Lượng tài xế điều</th>
                    <th data-options="field:'remark',halign:'center', align:'center', formatter: formatRemark" width="100">Ghi chú</th>
                    <th data-options="field:'action', formatter: formatActionAssign, align:'center', halign:'center'" width="100">Hành động</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: handsontable-js" />
    <script type="text/javascript" th:inline="javascript">
      var driverOwnerList = /*[[${driverOwnerList}]]*/;
    </script>
    <script th:src="@{/js/logistic/assignTruck/assignTruck.js}"></script>
    <!-- <script th:src="@{/js/logistic/assignTruck/pickTruckForm.js}"></script> -->
  </body>
</html>
