<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:include="include :: header('Điều xe')" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: handsontable-css" />
    <link th:href="@{/eport/css/common/style.css?v=2}" rel="stylesheet" />
  </head>
  <body class="grey-background">
    <div class="main-body">
      <div class="main-body__search-wrapper mb-2">
        <span class="btn-collapse collapse"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
        <span class="btn-collapse uncollapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
        <div class="main-body__search-wrapper--container align-items-center w-100">
          <div class="flex__left w-10 text-uppercase">
            <h3 class="mt-10">Điều xe</h3>
          </div>
          <div class="flex__right w-90 justify-content-between align-items-center d-flex">
            <form id="ff" method="post" class="w-90">
              <div class="d-inline">
                <select class="easyui-combobox" id="shipmentType"  prompt="Dịch vụ:" panelHeight="auto" editable="false" style="width: 120px">
                  <option value="" selected>Tất Cả</option>
                  <option value=1>Bốc Hàng</option>
                  <option value=2>Hạ Rỗng</option>
                  <option value=3>Bốc Rỗng</option>
                  <option value=4>Hạ Hàng</option>
                </select>
              </div>
              <div class="d-inline">
                <input class="easyui-textbox" id="blNo" data-options="prompt: 'BL No/Booking No' " />
              </div>
              <div class="d-inline">
                <input class="easyui-textbox" id="containerNo" data-options="prompt:'Container:'" />
              </div>
              
              <div class="d-inline">
                <input class="easyui-textbox" id="consignee" data-options="prompt:'Chủ hàng:'" />
              </div>
              <div class="d-inline">
                <input class="easyui-datebox" id="fromDate" style="width:110px" data-options="prompt:'Từ Ngày', formatter:dateformatter, parser:dateparser">
              </div>
              <div class="d-inline">
                <input class="easyui-datebox" id="toDate" style="width:110px" data-options="prompt:'Đến Ngày', formatter:dateformatter, parser:dateparser">
              </div>
            </form>
            <div class="main-body__search-wrapper--btn-group d-flex justify-content-end w-10">
              <button class="btn btn-success" onclick="search()">Tìm kiếm</button>
              <button class="btn btn-success btn-outline ml-10 mr-10" onclick="clearInput()">Làm mới</button>
            </div>
          </div>
        </div>
      </div>
      <div class="main-body__table-wrapper">
        <div class="easyui-layout main-body__table--layout" id="main-layout" style="width: 100%">
          <div class="left-side" data-options="region:'west',split:true, collapsible:false" title="Danh sách lô đang thực hiện" style="width: 30%">
            <span class="left-side__collapse"><i class="fa fa-chevron-left"></i></span>
            <table id="dg" style="width: 100%; height: calc(100% - 20px)" pageList="[20,50,100,150,200]">
              <thead>
                <tr>
                  <th data-options="field: 'id', fixed:true" sortable="true" width="60">Mã Lô</th>
                  <th data-options="field: 'blNo',halign: 'center', fixed:true" sortable="true" width="120">B/L No</th>
                  <th data-options="field: 'bookingNo',halign: 'center', fixed:true" sortable="true" width="120">Booking No</th>
                  <th data-options="field: 'blBookingNo',halign: 'center', fixed:true, formatter: formatBlBooking" width="120">Bl/Booking No</th>
                  <th data-options="field: 'serviceType',halign: 'center', fixed:true, formatter: formatServiceType" sortable="true" width="80">Dịch vụ</th>
                  <th data-options="field: 'containerAmount', align:'center', halign: 'center', fixed:true" width="40">SL</th>
                  <th data-options="field: 'opeCode', align:'center', halign: 'center', fixed:true" sortable="true" width="50">OPR</th>
                  <th data-options="field: 'consignee',halign: 'center', fixed:true" sortable="true" width="150">Chủ Hàng</th>
                  <th data-options="field: 'createTime',align:'right',halign:'center', formatter: formatDate" sortable="true" width="110">Ngày tạo</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="right-side" data-options="region:'center'" title="Danh sách container" style="width: 100%">
            <div class="easyui-layout" id="right-layout" data-options="fit:true" style="position: relative">
              <div data-options="region:'south', split:true" style="height: 70%">
                <span class="right-side__collapse"><i class="fa fa-chevron-down"></i></span>
                <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
                  <div title="Điều xe theo lô">
                    <div class="easyui-layout" data-options="fit:true">
                      <div data-options="region:'west',split:true" style="width: 50%">
                        <table id="driver-table-follow-batch" class="table" style="width: 100%; height: auto" fitColumns="true" data-options="rownumbers:true">
                          <thead>
                            <tr>
                              <th data-options="field:'ck',checkbox:true, fixed:true" width="50"></th>
                              <th data-options="field:'mobileNumber',align:'right'" width="120">Số điện thoại</th>
                              <th data-options="field:'fullName',editor:'textbox'" width="150">Họ và Tên</th>
                              <th data-options="field:'action', formatter: formatAction, align:'center', fixed:true" width="80">Hành động</th>
                            </tr>
                          </thead>
                        </table>
                      </div>
                      <div data-options="region:'center',title:'Xe thuê ngoài'">
                        <div id="container-grid-follow-batch" style="width: 100%" class="hot handsontable htColumnHeaders"></div>
                      </div>
                    </div>
                  </div>
                  <div title="Điều xe theo container">
                     <div class="easyui-layout" data-options="fit:true">
	                     <div data-options="region:'west',split:true" style="width: 50%">
	                       <table id="driver-table-follow-cont" class="table" style="width: 100%; height: auto" fitColumns="true" data-options="rownumbers:true, toolbar:'#tb'">
	                         <thead>
	                           <tr>
	                             <th data-options="field:'ck',checkbox:true, fixed:true" width="50"></th>
	                             <th data-options="field:'mobileNumber',align:'right'" width="120">Số điện thoại</th>
	                             <th data-options="field:'fullName',editor:'textbox'" width="150">Họ và Tên</th>
	                             <th data-options="field:'action', formatter: formatActionContainer, align:'center', fixed:true" width="80">Hành động</th>
	                           </tr>
	                         </thead>
	                       </table>
	                     </div>
	                     <div data-options="region:'center',title:'Xe thuê ngoài'">
	                       <div id="container-grid-follow-cont" style="width: 100%" class="hot handsontable htColumnHeaders"></div>
	                     </div>
                     </div>
                  </div>
                </div>
              </div>
              <div data-options="region:'center'">
                <table id="dgShipmentDetail" class="table" style="width: 100%" fitColumns="true">
                  <thead>
                    <tr>
                      <th data-options="field:'ck',checkbox:true, fixed:true" width="50"></th>
                      <th data-options="field:'id', fixed:true" width="50">Id</th>
                      <th data-options="field:'containerNo', align:'center',halign:'center', fixed:true" width="150">Container No</th>
                      <th data-options="field:'sztp',halign:'center', fixed:true" width="100">Kích Thước</th>
                      <th data-options="field:'preorderPickup', align:'center', fixed:true, formatter: formatPickup" width="100">Bốc Chỉ Định</th>
                      <th data-options="field:'wgt',halign:'center'" width="60">Trọng lượng</th>
                      <th data-options="field:'driverAmount',halign:'center', align:'center'" width="100">Số tài xế điều</th>
                      <th data-options="field:'deliveryMobile',halign:'center'" width="70">SĐT giao nhận</th>
                      <th data-options="field:'deliveryAddress',halign:'center'" width="100">Địa chỉ giao nhận</th>
                      <th data-options="field:'deliveryRemark',halign:'center', align:'center', formatter: formatRemark" width="100">Ghi chú điều vận</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: handsontable-js" />
    <script type="text/javascript" th:inline="javascript">
      var driverOwnerList = /*[[${driverOwnerList}]]*/;
      $(".main-body").height($(document).height() - 10);
      $(".main-body__table--layout").height($(".main-body").height() - 50);
      var leftHeight = $(".main-body").height();
      var rightHeight = leftHeight / 2;
    </script>
    <script th:src="@{/js/logistic/assignTruck/driver-assign.js}"></script>
  </body>
</html>
