<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Edit Driver login info')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: select2-css" />
    <link th:href="@{/css/logistic/receiveContFull/style.css}" rel="stylesheet" />
    <link th:href="@{/css/logistic/assignTruck/assignTruck.css}" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: cornflowerblue !important;
        }
    </style>
</head>
<body class="white-bg">
    <div class="container" style="display: flex; flex-flow: column; height: 100%;">
        <div class="wrapper wrapper-content animated fadeInRight ibox-content" style="height: 100%; flex-flow: column; display: flex;">
            <form class="form-horizontal m" id="form-account-edit" style="height: 140px;" th:object="${driverAccount}">
                <input name="id" id="id" th:field="*{id}" type="hidden">
                <div class="row">
                    <div class="col-sm-12"> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Họ và Tên</label>
                            <div class="col-sm-4">
                                <input name="fullName" th:field="*{fullName}" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label is-required">Số điện thoại</label>
                            <div class="col-sm-4">
                                <input name="mobileNumber" th:field="*{mobileNumber}" class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">CMND:</label>
                            <div class="col-sm-4">
                                <input name="identifyCardNo" th:field="*{identifyCardNo}" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">Hiệu lực đến:</label>
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="validDate" th:value="${#dates.format(driverAccount.validDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">    
                            <label class="col-sm-2 control-label">Khóa tài khoản:</label>
                            <div class="col-sm-4">
                                <input type="hidden" name="status" id="status" th:field="*{status}">
                                <div id="toggle" class="col-sm-9 col-xs-8 col-md-10">
                                    <i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggle()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </form>
            <div class="col-sm-6-row" style="position: absolute; top: 130px; width: 100%;">
                <div style="display: flex; justify-content: left;">
                    <b>DANH SÁCH XE ĐIỀU</b>
                </div>
                <div style="display: inline;">
                    <button class="btn btn-sm btn-primary" onclick="addTruck()">Add</button>
                </div>
                <select id="addTruckAssignTable" class="easyui-combogrid" name="dept" style="width:250px;"
                data-options="
                    panelWidth:350,
                    panelHeight:250,
                    idField:'id',
                    textField:'plateNumber',
                    columns:[[
                        {field:'id',title:'ID', fixed:true,formatter: formatId , width:50},
                        {field:'plateNumber',title:'Biển số xe',formatter: formatPlateNumber, width:100},
                        {field:'type',title:'Loại xe',formatter: formatType,  fixed:true, width:100},
                        {field:'wgt',title:'Trọng tải',formatter: formatWgt,  fixed:true, width:70},
                    ]],
                    fitColumns: true,
                    labelPosition: 'top'
                "></select>
                <div style="display: inline;">
                    <button class="btn btn-sm btn-danger" onclick="removeTruck()">Delete</button>
                </div>
            </div>
            <div class="table-content" style="flex: 1 1 auto;">
                <table id="pickedTruckTable" class="table" style="width:100%;" fitColumns="true">
                  <thead>
                    <tr>
                      <th data-options="field:'ck',checkbox:true, fixed:true" width="50"></th>
                      <th data-options="field:'id', align:'center', fixed:true, formatter: formatId" width="50">ID</th>
                      <th data-options="field:'plateNumber', align:'center', formatter: formatPlateNumber" width="150">Biển số xe</th>
                      <th data-options="field:'type', editor:'textbox', formatter: formatType" width="100">Loại xe</th>
                      <th data-options="field:'wgt', editor:'textbox', formatter: formatWgt" width="100">Trọng tải</th>
                      <!-- <th data-options="field:'action', formatter: formatAction, align:'center', fixed:true" width="80">Hành động</th> -->
                  </tr>
                  </thead>
                </table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/js/logistic/assignTruck/driverInfor.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    var driverAccount = /*[[${driverAccount}]]*/;
    </script>
</body>
</html>