<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('操作日志列表')" />
	<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="operlog-form">
					<div class="select-list">
						<ul>
							<li>
								Mô đun hệ thống:<input type="text" name="title"/>
							</li>
							<li>
								Người thực hiện:<input type="text" name="operName"/>
							</li>
							<li class="select-selectpicker">
								<label>Hành động:</label><select id="businessTypes" th:with="type=${@dict.getType('sys_oper_type')}" class="selectpicker" data-none-selected-text="Please choose" multiple>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<label>Trạng thái hành động:</label><select name="status" th:with="type=${@dict.getType('sys_common_status')}">
									<option value="" th:text="#{log.operator.all}"></option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>Ngày thực hiện:</label>
								<input type="text" class="time-input" id="startTime" placeholder="Từ" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="Đến" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchPre()"><i class="fa fa-search">Tìm kiếm</i>&nbsp;</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="resetPre()"><i class="fa fa-refresh">Làm mới</i>&nbsp;</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:operlog:remove">
		            <i class="fa fa-remove">Xóa</i>
		        </a>
		        <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:operlog:remove">
	                <i class="fa fa-trash">Xóa tất cả</i >
	            </a>
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:operlog:export">
		            <i class="fa fa-download">Xuất</i> 
		        </a>
	        </div>
	        
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-select-js" />
	<script th:inline="javascript">
		var detailFlag = [[${@permission.hasPermi('monitor:operlog:detail')}]];
		var datas = [[${@dict.getType('sys_oper_type')}]];
		var prefix = ctx + "monitor/operlog";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        cleanUrl: prefix + "/clean",
		        detailUrl: prefix + "/detail/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "operTime",
		        sortOrder: "desc",
		        modalName: "Operation log",
		        escape: true,
		        showPageGo: true,
		        rememberSelected: true,
		        columns: [{
		        	field: 'state',
		            checkbox: true
		        },
		        {
		            field: 'operId',
		            title: /*[[#{log.operator.table.id}]]*/
		        },
		        {
		            field: 'title',
		            title: "Mô đun hệ thống"
		        },
		        {
		            field: 'businessType',
		            title: "Hành động",
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'operName',
		            title: "Người thực hiện",
		            sortable: true
		        },
		        {
		            field: 'operIp',
		            title: "Địa chỉ IP"
		        },
		        {
		            field: 'operLocation',
		            title: "Nơi thực hiện"
		        },
		        {
		            field: 'status',
		            title: "Trạng thái thực hiện",
		            align: 'center',
		            formatter: function(value, row, index) {
		                if (value == 0) {
		                    return '<span class="badge badge-primary">Success</span>';
		                } else if (value == 1) {
		                    return '<span class="badge badge-danger">failure</span>';
		                }
		            }
		        },
		        {
		            field: 'operTime',
		            title: "Ngày thực hiện",
		            sortable: true
		        },
		        {
		            title: "Chi tiết",
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.operId + '\')"><i class="fa fa-search"></i>detailed</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		
		function searchPre() {
		    var data = {};
		    data.businessTypes = $.common.join($('#businessTypes').selectpicker('val'));
		    $.table.search('operlog-form', 'bootstrap-table', data);
		}
		
		function resetPre() {
			$("#operlog-form")[0].reset();
			$("#businessTypes").selectpicker('refresh');
			$.table.search('operlog-form', 'bootstrap-table');
		}
	</script>
</body>
</html>