<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Add Booking')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-booking-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Booking No：</label>
                <div class="col-sm-3">
                    <input name="bookingNo" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">Số lượng container：</label>
                <div class="col-sm-3">
                    <input name="bookQty" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Mã số thuế：</label>
                <div class="col-sm-3">
                    <input name="consigneeTaxcode" id="consigneeTaxcode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">Tên khách hàng：</label>
                <div class="col-sm-3">
                    <input name="consignee" id="consignee" class="form-control" type="text">
                </div>
            </div>
            
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "carrier/booking"
        $("#form-booking-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                console.log($('#form-booking-add'));
                $.operate.save(prefix + "/add", $('#form-booking-add').serialize());
            }
        }
        $("#consigneeTaxcode").change(function() {
            loadGroupName();
        });
        function loadGroupName() {
            if ($("#consigneeTaxcode").val() != null && $("#consigneeTaxcode").val() != '') {
                $.ajax({
                    url: prefix + "/getTaxCode/" + $("#consigneeTaxcode").val(),
                    method: "get"
                }).done(function (result) {
                    if (result.code == 0) {
                        console.log(result.msg);
                        $("#consignee").val(result.msg);
                    } else {
                        $.modal.alertError("Không tìm ra mã số thuế!<br>Quý khách vui lòng liên hệ đến bộ phận chăm sóc khách hàng 0933.157.159.");
                        $("#taxCode").addClass("error-input");
                    }
                });
            } else {
            }
        }
    </script>
</body>
</html>
