<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List Booking')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet" />
    <th:block th:include="include :: handsontable-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link rel="stylesheet" th:href="@{/eport/css/booking.css}" />
</head>
<body class="white-bg container-fluid">
    <div id="wrapper">
        <div class="left-side">
          <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
          <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
          <div class="title-top">
            <span class="title">Quản lý cấp rỗng</span>
            <div class="form-group searchBill" style="margin-top: 3px;">
                <label class="sr-only" for="searchBookingNo">Tìm kiếm BookingNo</label>
                <div class="input-group">
                  <input type="text" class="form-control" name="searchBookingNo" id="searchBookingNo"
                  placeholder="Tìm kiếm BookingNo" />
                </div>
              </div>
          </div>
          <div class="table-content">
            <div id="toolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addBooking()">Thêm booking</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editBooking()">Chỉnh sửa booking</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delBooking()">Xóa booking</a>
            </div>
            <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]" fitColumns="true">
              <thead>
                <tr>
                  <!-- <th data-options="field:'id', fixed:true"></th> -->
                  <th data-options="field:'bookingNo', halign:'center', resizable:true, fixed:true" width="120">Booking No</th>
                  <th data-options="field:'bookQty', align:'right', align:'center', fixed:true" width="50">SL</th>
                  <th data-options="field:'consignee', halign:'center', fixed:true" width="100">Chủ Hàng</th>
                  <th data-options="field:'bookStatus', align:'right', halign:'center', formatter: formatRemark" width="250">Trạng thái</th>
                  <th data-options="field:'createTime', align:'right', halign:'center', formatter: formatDate, fixed:true" width="80">Ngày tạo</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="right-side">
          <div class="form-inline mt10 mb10">
          <div class="form-group searchBill" style="width: 170px;">
            <label class="sr-only" for="searchBillNo">Tìm kiếm Container</label>
            <div class="input-group">
              <input type="text" class="form-control" name="searchContainer" id="searchContainer"
              placeholder="Tìm kiếm Container" />
            </div>
          </div>
          <div class="form-group searchBill" style="width: 170px;">
            <label class="sr-only" for="searchBillNo">Tìm kiếm Chủ hàng</label>
            <div class="input-group">
              <input type="text" class="form-control" name="searchBillNo" id="searchBillNo"
              placeholder="Tìm kiếm Chủ hàng" />
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="voyNo">Tàu Chuyến</label>
            <select class="form-control" id="sel2">
              <option selected>Tàu Chuyến 0</option>
              <option>Tàu Chuyến 1</option>
              <option>Tàu Chuyến 2</option>
              <option>Tàu Chuyến 3</option>
              <option>Tàu Chuyến 4</option>
            </select>
          </div>
         
        </div>
          <div class="title-top">
            <div class="left-button-bar">
              <button id="pickupContainer" class="btn btn-sm btn-primary" onclick="pickupContainer()" disabled>Chọn container</button>
              <button id="saveInput" class="btn btn-sm btn-primary" onclick="saveInput()" disabled>Lưu khai báo</button>
              <button id="releaseBooking" class="btn btn-sm btn-primary" onclick="releaseBooking()" disabled>Phát hành booking</button>
              <span id="releaseStatusTitle"></span>
            </div>
          </div>
          <div id="container-grid" class="hot handsontable htColumnHeaders"></div>
        </div>
      </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
    <th:block th:include="include :: handsontable-js" />
    <script th:src="@{/eport/js/modules/carrier/booking/booking.js}"></script>
</body>
</html>
