<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <th:block th:include="include :: header('Truck History')" />
  <th:block th:include="include :: easyui-css" />
  <th:block th:include="include :: datetimepicker-css" />
  <link th:href="@{/eport/css/eport.css}" rel="stylesheet" />
  <link th:href="@{/css/logistic/truck/style.css}" rel="stylesheet" />
</head>

<body class="container-fluid white-bg">
  <section class="filter">
    <div class="row section-header">
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." id="searchAllInput" name="keyword" />
      </div>
      <div class="form-group col-md-8 col-sm-8 col-xs-8">
        <span>
          <label>Đã vào cổng từ:</label>
          <input type="text" class="from-date date-input" id="fromDate" onchange="changeFromDate()" placeholder="dd/mm/yyyy" readonly>
        </span>
        <span>
          <label>đến:</label>
          <input type="text" class="to-date date-input" id="toDate" onchange="changeToDate()" placeholder="dd/mm/yyyy" readonly>
        </span>
      </div>
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <button class="btn btn-warning pull-right ml5" onclick="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
        <button class="btn btn-primary pull-right" onclick="loadTable()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="row section-content">
      <div class="col-md-12">
        <table id="dg" style="width: 99%;" pageList="[20,50,100,150,200]">
          <thead>
            <tr>
              <th data-options="field: 'driver.fullName', halign: 'center', resizable: true, formatter: function(value,row){return row.driver.fullName}" width="200">Tên tài xế</th>
              <th data-options="field: 'driver.mobileNumber', halign: 'center', align:'center', resizable: true, formatter: function(value,row){return row.driver.mobileNumber}" width="120">Số điện thoại</th>
              <th data-options="field:'shipmentDetail.containerNo', halign:'center', align:'center', formatter: function(value,row){return row.shipmentDetail.containerNo}" width="120">Container No.</th>
              <th data-options="field:'gateinDate', align:'center', formatter: formatDate" sortable="true" width="150">Ngày vào cổng</th>
              <th data-options="field:'createTime', halign:'center', align:'center', formatter: formatDate" sortable="true" width="150">Ngày nhận chở</th>
              <th data-options="field:'blNo', halign:'center', align:'left', formatter: formatBillBook" width="200">Bill/Booking No.</th>
              <th data-options="field:'truckNo', align:'center', halign:'center'" sortable="true" width="150">Biển số xe đầu kéo</th>
              <th data-options="field:'chassisNo', align:'center', halign:'center'" sortable="true" width="150">Biển số xe rơ móc</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <th:block th:include="include :: datetimepicker-js" />
  <script th:src="@{/eport/js/modules/logisticTruck/history.js}"></script>
</body>

</html>