<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Khai báo chung</title>
	<th:block th:include="include :: header('Khai báo chung')" />
	<th:block th:include="include :: datetimepicker-css" />
	<link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
	<link th:href="@{/eport/css/common/style.css}" rel="stylesheet" />
	<th:block th:include="include :: handsontable-css" />
	<th:block th:include="include :: dropzone-css" />
</head>

<style>
	img {
		max-width: 40px;
	}

	.form-horizontal.mt10.row {
		height: 47px !important;
	}

	content-2 {
		height: 20px !important;
	}

	.preview-block {
		float: left;
	}

	.tabs {
		position: relative;
		margin: 5px auto;
	}

	/* .col-sm-12.text-black {
    margin-left: 14%;
} */

	/* .preview-block { float: left;  width: 70px !important; } */
</style>


<body>
	<div class="container-fluid">
		<!--  <form id="form-detail-add" class="form-horizontal"> -->
		<div class="form-horizontal mt10">
			<div class="form-group col-sm-6">
				<label class="control-label col-sm-4 col-xs-6" for="cont"><b class="text-black">Số
						container:</b></label>
				<div class="col-sm-8 col-xs-6">
					<input type="text" class="form-control" id="numberContainer" readonly />
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label class="control-label col-sm-4 col-xs-6" for="size"><b class="text-black">Kích thước:</b></label>
				<div class="col-sm-8 col-xs-6">
					<input type="text" class="form-control" id="sizeCont" readonly />
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-black">
			<!-- checked="checked" -->
			<section class="tabs">
				<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" />
				<label for="tab-1" class="tab-label-1" style="display: none;">Cont lạnh</label>
				<input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
				<label for="tab-2" class="tab-label-2" style="display: none;">Cont quá khổ</label>
				<!-- <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
				<label for="tab-3" class="tab-label-3">Cont nguy hiểm</label> -->
				<div class="clear"></div>
				<div class="content">

					<!--////////////// start cont lạnh ///////////////start cont lạnh-->

					<div class="content-1" id="reeferContainer">
						<div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
							<div class="form-group col-sm-12 row">
								<span class="control-label col-sm-2 col-xs-2" style="text-align: left"><b
										class="text-black">Nhiệt đô
										(độ C):</b></span>
								<div class="col-sm-2 col-xs-2">
									<input type="text" class="form-control" id="temperature" name="temperature"
										readonly />
								</div>
								<span class="control-label col-sm-2 col-xs-2" style="text-align: left"><b
										class="text-black">Độ ẩm
										(%):</b></span>
								<div class="col-sm-2 col-xs-2">
									<input type="text" class="form-control" id="humidity" name="humidity" readonly />
								</div>

								<span class="control-label col-sm-2 col-xs-2" style="text-align: left"><b
										class="text-black">Độ thông
										gió (%):</b></span>
								<div class="col-sm-2 col-xs-2">
									<input type="text" class="form-control" id="ventilation" name="ventilation"
										readonly />
								</div>
							</div>
						</div>
						<div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
							<div class="form-group col-sm-6 row">
								<span class="control-label col-sm-4 col-xs-6" style="text-align: left">
									<b class="text-black">Ngày rút điện:</b>
								</span>
								<div class="input-group date col-sm-8 col-xs-6" id="datetimepicker1">
									<input type="text" class="form-control" name="powerDrawDate" id="powerDrawDate"
										readonly />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>

							<div class="form-group col-sm-6 row">

								<span class="input-group date col-sm-8 col-xs-6" id="datetimepicker2"
									style="float: right;">
									<input type="text" class="form-control" name="extendPowerDrawDate"
										id="extendPowerDrawDate" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</span>

								<span class="control-label col-sm-4 col-xs-6" style="padding: 0;">
									<button id="saveShipmentDetailBtn" onclick="extendPowerDrawDate()"
										class="btn btn-success"><i class="fa fa-clock-o text-primary"></i>Gia
										hạn</button>
								</span>
							</div>

						</div>
						<div class="form-horizontal mt10 row"  >
							<div class="form-group col-sm-5 row">
	
							</div>
							<div class="form-group col-sm-7 row">
								<div class="payment-type-form">
									<div class="form-group row">
										<label style="margin-top: 7px;" for="" class="col-md-2 col-sm-3 col-xs-4">Phương
											thức thanh toán</label>
										<div class="col-md-10 col-sm-9 col-xs-7">
											<input style="margin-top: 6px;" type="radio" name="paymentType" id="credit"
												value="1" />
											<label style="margin-right: 30px;" id="creditLabel">Credit (Trả sau)</label>
											<input style="margin-top: 6px;" type="radio" name="paymentType" id="cash"
												value="0" checked />
											<label>Cash (Trả tiền mặt)</label>
										</div>
									</div>
									<div class="form-group row">
										<label style="margin-top: 7px;" for="" class="col-md-2 col-sm-3 col-xs-4">MST
											xuất hóa đơn</label>
										<div class="col-md-10 col-sm-9 col-xs-7">
											<input style="margin-top: 6px;" type="radio" name="taxCodeDefault" value="1"
												checked />
											<label style="margin-right: 30px;">Mặc đinh</label>
											<input style="margin-top: 6px;" type="radio" name="taxCodeDefault"
												value="0" />
											<label>Của khách hàng khác</label>
										</div>
									</div>
									
									<div class="form-group row">
										<label style="margin-top: 9px;" for=""
											class="col-md-2 col-sm-3 col-xs-4">MST</label>
										<div class="col-md-6 col-sm-5 col-xs-3">
											<input name="taxCode" id="taxCode" type="text" class="form-control"
												onfocusout="loadGroupName()" required />
										</div>
									</div>
									<div class="form-group row">
										<label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">Tên
											Công Ty</label>
										<div class="col-md-6 col-sm-5 col-xs-3">
											<input name="groupName" id="groupName" class="form-control" rows="2"
												readonly />
										</div>
									</div>
									<div class="form-group row">
										<label style="margin-top: 9px;" for="" class="col-md-2 col-sm-3 col-xs-4">Địa
											chỉ</label>
										<div class="col-md-6 col-sm-5 col-xs-3">
											<input name="address" id="address" class="form-control" readonly />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-horizontal mt10 row" style>
							<div class="form-group col-sm-12 row">
								<div class="datagrid-toolbar">
									<table cellspacing="0" cellpadding="0">
										<tr>
										</tr>
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="container-grid" class="hot handsontable htColumnHeaders"></div>

							</div>
						</div>

						<!-- //////////// add tệp cont lạnh///////-->
						<!-- <div class="form-group col-sm-12" id="dropzoneL">
							<div class="col-sm-12 col-xs-12">
								<button type="button" id="attachButtonL" class="btn btn-sm btn-default">
									<i class="fa fa-paperclip text-primary"></i> Đính kèm tệp
								</button>
							</div>
							<div class="preview-containerL col-md-12 col-sm-12 col-xs-12"></div>
						</div> -->

					</div>
				</div>

			</section>
		</div>
		<div class="col-sm-12 layui-layer-btn footer" style="z-index: 1000; bottom: 0px;height: 50px;position: fixed;">
			<a class="layui-layer-btn0" onclick="confirm()">Lưu</a>
			<a class="layui-layer-btn1" onclick="closeForm()">Đóng</a>
		</div>

		<!-- </form> -->
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: dropzone-js" />
	<th:block th:include="include :: handsontable-js" />
	<script type="text/javascript" th:inline="javascript">
		/**
		 * Data load from server
		*/
		/* var containerNo = /*[[${containerNo}]];*/

		var containerNo = [[${ containerNo }]];
		var sztp = [[${ sztp }]];
		var shipmentDetailId = [[${ shipmentDetailId }]];
		var shipmentDetail = [[${ shipmentDetail }]];
		var shipmentImage = [[${ shipmentImage }]];
		var shipmentFiles = [[${ shipmentFiles }]];
		var powerDropDate = [[${ powerDropDate }]];

	</script>
	<script th:src="@{/eport/js/modules/reeferGruop/extendDrawDate/detail.js?v=20201029}"></script>


	<script type="text/javascript">
		// cont lạnh
		$(document).ready(function () {
			var dangerous = shipmentDetail.dangerous;
			var dangerousIMO = shipmentDetail.dangerousImo;
			var dangerousUNNO = shipmentDetail.dangerousUnno;

			var contsztp = shipmentDetail.sztp;
			var cont = contsztp.substring(2, 3);// lấy mã cont cắt ra 
			var oversizeTop = shipmentDetail.oversizeTop;
			var oversizeRight = shipmentDetail.oversizeRight;
			var oversizeLeft = shipmentDetail.oversizeLeft;
			var oversizeFront = shipmentDetail.oversizeFront;
			var oversizeBack = shipmentDetail.oversizeBack;
		});

	</script>
</body>

</html>