<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <th:block th:include="include :: header('Container Supplier')" />
  <th:block th:include="include :: easyui-css" />
  <th:block th:include="include :: datetimepicker-css" />
  <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet" />
  <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/eport/css/container/supplier/report.css}" rel="stylesheet" />
</head>

<body class="while-bg">
  <div id="wrapper">
    <div class="row">
      <div class="col-md-12 select-table" style="margin-top: 0px; padding-bottom:5px">
        <div class="col-md-12" style="height: 44px;">
          <div class="columns columns-right btn-group pull-right" style="margin-bottom: 5px;margin-top:0px">
            <div class="select-list">
              <ul>
                <li>
                  <div class="form-group">
                    <label class="sr-only" for="search-All">Seacrh All</label>
                    <div class="input-group">
                      <input class="form-control" type="text" name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <label class="sr-only" for="from-Date">From Date</label>
                    <div class="input-group">
                      <input class="time-input" id="fromDate" name="fromDate" onchange="changeFromDate()"
                        placeholder="Từ ngày" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <label class="sr-only" for="to-Date">To Date</label>
                    <div class="input-group">
                      <input class="time-input" id="toDate" name="toDate" onchange="changeToDate()"
                        placeholder="Đến ngày" />
                    </div>
                  </div>
                </li>
                <li>
                  <a class="btn btn-primary btn-rounded btn-sm" onclick="searchInfoEdo()" id="searchInfoEdo"><i
                      class="glyphicon glyphicon-search"></i> Tìm Kiếm</a></li>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 table-container">
          <table id="dg" fitColumns="true">
            <thead>
              <tr>
                <th data-options="field:'updateTime',align:'left'" width="140">
                  Ngày cấp
                </th>
                <th data-options="field:'opeCode',align:'left'" width="140">
                  Hãng tàu <br> (OPR)
                </th>
                <th data-options="field:'containerNo',align:'left'" width="170">
                  Số cont
                </th>
                <th data-options="field:'sztp',align:'left'" width="140">
                  Size/type
                </th>
                <th data-options="field:'cargoType',align:'left'" width="140">
                  Loại hàng
                </th>
                <th data-options="field:'bookingNo',align:'left'" width="140">
                  Số book
                </th>
                <th data-options="field:'shellQuality',align:'left'" width="200">
                  Yêu cầu chất <br> lượng vỏ cont
                </th>
                <th data-options="field:'consignee',align:'left'" width="140">
                  Chủ hàng
                </th>
                <th data-options="field:'takeTime',align:'left'" width="170">
                  Dự kiến thời <br> gian bốc cont
                </th>
                <th data-options="field:'createTime',align:'left'" width="140">
                  Ngày yêu <br> cầu
                </th>
                <th data-options="field:'vslNm',align:'left'" width="140">
                  Tên tàu
                </th>
                <th data-options="field:'voyNo',align:'left'" width="140">
                  Chuyến
                </th>
                <th data-options="field:'dischargePort',align:'left'" width="140">
                  Cảng dỡ
                </th>
                <th data-options="field:'updateBy',align:'left'" width="140">
                  Người cấp
                </th>
                <th data-options="field:'remark',align:'left'" width="200">
                  Ghi chú
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
    <script th:src="@{/eport/js/modules/container/supplier/report.js}"></script>
</body>
</html>