<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <th:block th:include="include :: header('General Controlling')" />
  <th:block th:include="include :: easyui-css" />
  <th:block th:include="include :: handsontable-css" />
  <link th:href="@{/eport/common/style.css}" rel="stylesheet" />
</head>

<body class="grey-background">
  <div class="main-body">
    <div class="main-body__search-wrapper mb-2">
      <span class="btn-collapse collapse"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
      <span class="btn-collapse uncollapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
      <div class="main-body__search-wrapper--container justify-content-between align-items-center w-100">
        <div class="flex__left w-20">
          <h3 class="mt-10">Quản Lý logisticGroup</h3>
        </div>
        <div class="flex__right w-80">
          <div class="justify-content-around align-items-center" id="ff">
            <div class="d-inline">
              <input class="easyui-textbox" id="groupName" data-options="prompt:'Tên Doanh Nghiệp'" />
            </div>
            <div class="d-inline">
              <input class="easyui-textbox" id="mst" data-options="prompt:'Mã Số Thuế'" />
            </div>
            <div class="d-inline">
              <button class="btn btn-success btn-customs" onclick="search()">Tìm kiếm</button>
            </div>
            <div class="d-inline">
              <button class="btn btn-success btn-outline btn-customs" onclick="clearInput()">Làm mới</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-body__table-wrapper">
      <div class="easyui-layout" id="main-layout" style="width:100%">
        <div class="left-side" data-options="region:'west',split:true, collapsible:false" title="Danh sách logistic"
          style="width:30%;">
          <div class="right-side__toolbar">
            <div class="datagrid-toolbar">
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain" group="" id="">
                      <span class="l-btn-left"><span class="l-btn-text">
                          <button id="saveShipmentDetailBtn" onclick="addLogistic()" class="btn btn-sm btn-success"><i
                              class="fa fa-plus text-primary"></i> Thêm Logistic</button></span></span>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain" group="" id="">
                      <span class="l-btn-left"><span class="l-btn-text">
                          <button id="saveShipmentDetailBtn" onclick="editLogistic()" class="btn btn-sm btn-success"><i
                              class="fa fa-edit text-primary"></i> Sửa Logistic</button></span></span>
                    </a>
                  </td>
                  <td>
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain" group="" id="">
                      <span class="l-btn-left"><span class="l-btn-text">
                          <button id="saveShipmentDetailBtn" onclick="destroyUser()" class="btn btn-sm btn-danger"><i
                              class="fa fa-remove text-primary"></i> Xóa Logistic</button></span></span>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <table id="dg" style="width: 100%;">
            <thead>
              <tr>
                <th data-options="field:'groupName',align:'left'" sortable="true" width="130">
                  Tên doanh nghiệp
                </th>
                <th data-options="field:'mst',align:'left'" sortable="true" width="150">
                  MST doanh nghiệp
                </th>
                <th data-options="field:'creditFlag',align:'left',formatter:formatCredit" sortable="true" width="150">
                  Thanh Toán
                </th>
                <th data-options="field:'mobilePhone',align:'left'" width="110">
                  Điện thoại cố định
                </th>
                <th data-options="field:'email',align:'center'" width="200">
                  Email
                </th>
                <!-- <th data-options="field:'createTime',align:'left'" width="130">
                    Receive Time
                  </th> -->
              </tr>
            </thead>
          </table>

        </div>
        <div data-options="region:'center'" style="width:100%;">
          <div class="right-side__toolbar">
            <div class="datagrid-toolbar">
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <a href="javascript:;" class="l-btn l-btn-small l-btn-plain" group="" id="">
                      <span class="l-btn-left"><span class="l-btn-text">
                          <button id="saveShipmentDetailBtn" onclick="addDelegated()" class="btn btn-sm btn-success"><i
                              class="fa fa-plus text-primary"></i> Thêm Ủy Quyền</button></span></span>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <table id="container-grid" style="width: 100%;" pageList="[20,50,100,150,200]">
            <thead>
              <tr>
                <th data-options="field:'delegateTaxCode', halign:'center'" sortable="true" width="130">Mã Số Thuế</th>
                <th data-options="field:'delegateCompany', align:'center', halign:'center'" sortable="true" width="250">
                  Tên Công Ty</th>
                <th data-options="field:'delegateType', align:'center', halign:'center', formatter:formatDelegateType"
                  width="130" sortable="true">Loại Ủy Quyền</th>
                <th data-options="field:'validFlg', align:'center', halign:'center', formatter: formatValidFlg"
                  width="130" sortable="true">Trạng Thái</th>
                <th data-options="field:'validFrom', halign:'center', formatter: formatDate" width="130">Từ Ngày</th>
                <th data-options="field:'validUntil', align:'center', halign:'center', formatter: formatDate"
                  width="130">Đến Ngày</th>
                <th data-options="field:'action', align:'center', halign:'center', fixed:true, formatter: formatAction"
                  width=150>Thao Tác</th>
              </tr>
            </thead>
          </table>

        </div>
      </div>
    </div>
  </div>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <th:block th:include="include :: handsontable-js" />
  <script type="text/javascript" th:inline="javascript">
    $(".main-body").height($(document).height() - 10);
    $(".easyui-layout").height($('.main-body').height() - 50);
  </script>
  <script>
    const PREFIX = ctx + "logistic/group";
    const PREFIXDELEGATED = ctx + "logistic/delegate";
    const SEARCH_HEIGHT = $(".main-body__search-wrapper").height();
    var bill;
    var logisticGroup = new Object();
    var logisticDelegated = new Object();
    var getSelected = null;

    $(document).ready(function () {

      loadTable();
      loadTableByLogisticGroup();
      $(".main-body").layout();

      $(".collapse").click(function () {
        $(".main-body__search-wrapper").height(15);
        $(".main-body__search-wrapper--container").hide();
        $(this).hide();
        $(".uncollapse").show();
      });

      $(".uncollapse").click(function () {
        $(".main-body__search-wrapper").height(SEARCH_HEIGHT + 20);
        $(".main-body__search-wrapper--container").show();
        $(this).hide();
        $(".collapse").show();
      });

      $(".left-side__collapse").click(function () {
        $('#main-layout').layout('collapse', 'west');
      });

      $("#groupName").textbox('textbox').bind('keydown', function (e) {
        // enter key
        if (e.keyCode == 13) {
          logisticGroup.groupName = $("#groupName").textbox('getText').toUpperCase();
          loadTable(logisticGroup);
        }
      });

      $("#mst").textbox('textbox').bind('keydown', function (e) {
        // enter key
        if (e.keyCode == 13) {
          logisticGroup.mst = $("#mst").textbox('getText').toUpperCase();
          loadTable(logisticGroup);
        }
      });
      $('#fromDate').datebox({
        onSelect: function (date) {
          date.setHours(0, 0, 0);
          fromDate = date;
          if (toDate != null && date.getTime() > toDate.getTime()) {
            $.modal.alertWarning("Từ ngày không được lớn hơn đến ngày.");
          } else {
            fromDate.setHours(23, 59, 59);
            logisticGroup.fromDate = fromDate.getTime();
            logisticGroup.billOfLading = $("#searchBillNo").textbox('getText').toUpperCase();
            logisticGroup.containerNumber = $("#searchContNo").textbox('getText').toUpperCase();
            loadTable(logisticGroup);
          }
          return date;
        }
      });

      $('#toDate').datebox({
        onSelect: function (date) {
          date.setHours(23, 59, 59);
          toDate = date;
          if (fromDate != null && date.getTime() < fromDate.getTime()) {
            $.modal.alertWarning("Đến ngày không được thấp hơn từ ngày.");
          } else {
            toDate.setHours(23, 59, 59);
            logisticGroup.toDate = toDate.getTime();
            logisticGroup.billOfLading = $("#searchBillNo").textbox('getText').toUpperCase();
            logisticGroup.containerNumber = $("#searchContNo").textbox('getText').toUpperCase();
            loadTable(logisticGroup);
          }
        }
      });
    });



    function loadTable(logisticGroup) {
      $("#dg").datagrid({
        url: PREFIX + "/list",
        method: "POST",
        singleSelect: true,
        height: $(document).height() - $(".main-body__search-wrapper").height() - 90,
        clientPaging: true,
        collapsible: true,
        pagination: true,
        pageSize: 20,
        onClickRow: function () {
          getSelectedRow();
        },
        nowrap: false,
        striped: true,
        loader: function (param, success, error) {
          var opts = $(this).datagrid("options");
          if (!opts.url) return false;
          $.ajax({
            type: opts.method,
            url: opts.url,
            contentType: "application/json",
            accept: "text/plain",
            dataType: "text",
            data: JSON.stringify({
              pageNum: param.page,
              pageSize: param.rows,
              orderByColumn: param.sort,
              isAsc: param.order,
              data: logisticGroup,
            }),
            dataType: "json",
            success: function (data) {
              success(data);
            },
            error: function () {
              error.apply(this, arguments);
            },
          });
        },
      });
    }

    function loadTableByLogisticGroup(id) {
      logisticDelegated.logisticGroupId = id;
      $("#container-grid").datagrid({
        url: PREFIXDELEGATED + "/list",
        method: "POST",
        singleSelect: true,
        height: $(document).height() - $(".main-body__search-wrapper").height() - 60,
        clientPaging: true,
        pagination: true,
        pageSize: 20,
        nowrap: false,
        striped: true,
        rownumbers: true,
        loader: function (param, success, error) {
          var opts = $(this).datagrid("options");
          if (id == null) {
            return false;
          }
          if (!opts.url) return false;
          $.ajax({
            type: opts.method,
            url: opts.url,
            contentType: "application/json",
            accept: "text/plain",
            dataType: "text",
            data: JSON.stringify({
              pageNum: param.page,
              pageSize: param.rows,
              orderByColumn: param.sort,
              isAsc: param.order,
              data: logisticDelegated
            }),
            success: function (data) {
              success(JSON.parse(data));
            },
            error: function () {
              error.apply(this, arguments);
            },
          });
        },
      });
    }


    function formatToYDM(date) {
      if (date == null || date == undefined) {
        return "-";
      }
      return date.split("-").reverse().join("-");
    }

    function getSelectedRow() {
      var row = $("#dg").datagrid("getSelected");
      if (row) {
        getSelected = row.id;
        loadTableByLogisticGroup(getSelected);
      }
    }

    function stringToDate(dateStr) {
      let dateParts = dateStr.split("/");
      return new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
    }

    $.event.special.inputchange = {
      setup: function () {
        var self = this,
          val;
        $.data(
          this,
          "timer",
          window.setInterval(function () {
            val = self.value;
            if ($.data(self, "cache") != val) {
              $.data(self, "cache", val);
              $(self).trigger("inputchange");
            }
          }, 20)
        );
      },
      teardown: function () {
        window.clearInterval($.data(this, "timer"));
      },
      add: function () {
        $.data(this, "cache", this.value);
      },
    };




    laydate.render({
      elem: '#toDate',
      format: 'dd/MM/yyyy'
    });
    laydate.render({
      elem: '#fromDate',
      format: 'dd/MM/yyyy'
    });



    function dateformatter(date) {
      var y = date.getFullYear();
      var m = date.getMonth() + 1;
      var d = date.getDate();
      return (d < 10 ? ('0' + d) : d) + '/' + (m < 10 ? ('0' + m) : m) + '/' + y;
    }

    function dateparser(s) {
      var ss = (s.split('\.'));
      var d = parseInt(ss[0], 10);
      var m = parseInt(ss[1], 10);
      var y = parseInt(ss[2], 10);
      if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
        return new Date(y, m - 1, d);
      }
    }

    function clearInput() {
      logisticGroup = new Object();
      $("#fromDate").datebox('setValue', '');
      $("#toDate").datebox('setValue', '');
      $("#groupName").textbox('setText', '');
      $("#mst").textbox('setText', '');
      loadTable(logisticGroup);
    }

    function search() {
      logisticGroup.groupName = $("#groupName").textbox('getText').toUpperCase();
      logisticGroup.mst = $("#mst").textbox('getText').toUpperCase();
      loadTable(logisticGroup);
    }


    function formatDate(value) {
      if (value == null) return "";
      var date = new Date(value);
      return formatNumber(date.getDate()) +
        "/" + formatNumber(date.getMonth() + 1) +
        "/" + date.getFullYear()
    }

    function formatNumber(number) {
      return number < 10 ? "0" + number : number;
    }

    function formatDelegateType(value) {
      switch (value) {
        case 'P':
          return 'Làm Lệnh';
        case 'M':
          return 'Thanh Toán';
      }
      return '';
    }

    function formatValidFlg(value) {
      if (1 == value) {
        return '<span style="color: green">Hiệu lực</span>';
      }
      return '<span style="color: red">Vô hiệu</span>';
    }

    function formatAction(value, row, index) {
      let actions = [];
      if (row.id) {
        actions.push('<a class="btn btn-success btn-xs " onclick="editt(\'' + row.id +
          '\')"><i class="fa fa-remove"></i>Chỉnh sửa</a><span>  </span>');
      }
      actions.push('<a class="btn btn-danger btn-xs " onclick="remove(\'' + index + '\',\'' + row.id +
        '\')"><i class="fa fa-remove"></i>Xóa</a>');
      return actions.join('');
    }

    function addLogistic() {
      $.modal.open("Thêm Logistic", PREFIX + "/add", 600, 580);
    }

    function editLogistic() {
      if (getSelected == null) {
        $.modal.alertError("Bạn chưa chọn đơn vị logistic");
        return;
      }
      $.modal.open("Sửa Logistic", PREFIX + '/edit/' + getSelected, 600, 580);
    }

    function destroyUser() {
      if (getSelected == null) {
        $.modal.alertError("Bạn chưa chọn đơn vị logistic");
        return;
      }
      $.modal.confirm(
        "Bạn có chắc chắn muốn XÓA đơn vị logistic này không?",
        function () {
          $.ajax({
            url: PREFIX + "/remove",
            method: "POST",
            data: {
              ids: getSelected
            },
            success: function (res) {
              if (res.code == 0) {
                $.modal.closeLoading();
                $.modal.alertSuccess("Xóa logistic thành công");
                loadTable();
              } else {
                $.modal.closeLoading();
                $.modal.alertError(res.msg)
              }

            },
            error: function (result) {
              $.modal.alertError(
                "Có lỗi trong quá trình thêm dữ liệu, vui lòng liên hệ admin."
              )
            },
          })
        }, {
        title: "Xác nhận xóa logistic",
        btn: ["Đồng Ý", "Hủy Bỏ"]
      }
      );
    }

    function addDelegated() {
      if (getSelected == null) {
        $.modal.alertError("Bạn chưa chọn đơn vị logistic");
        return;
      }
      $.modal.open("Thêm Ủy Quyền", PREFIXDELEGATED + '/addDelegated/' + getSelected, 700, 400);
    }

    function editt(id) {
      $.modal.open("Chỉnh sửa ủy quyền", PREFIX + "/delegate/edit/" + id, 700, 330);
    }

    function remove(index, id) {
      layer.confirm("Xác nhận xóa thông tin ủy quyền.", {
        icon: 3,
        title: "Xác Nhận",
        btn: ['Đồng Ý', 'Hủy Bỏ']
      }, function () {
        layer.close(layer.index);
        // UPDATE PROCESS ORDER TO DOING STATUS
        $.ajax({
          url: PREFIX + "/delegate/" + id + "/delete",
          method: "DELETE"
        }).done(function (res) {
          if (res.code == 0) {
            loadTableByLogisticGroup(getSelected);
            $.modal.alertSuccess("Xóa ủy quyền thành công.");

          } else {
            $.modal.alertError("Xóa ủy quyền thất bại.");
          }
        });
      }, function () {
        // close;
      });
    }

    function formatCredit(value) {
      if (value == null || value == '' || value == undefined) {
        return;
      }
      else {
        return value == 1 ? 'Credit' : 'Cash';
      }
    }

  </script>
</body>