<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}"/>
    <link th:href="@{/eport/css/edo/manage/edo.css}" rel="stylesheet" />
  </head>
  <body class="gray-bg container-fluid wrapper">
    <section class="left">
      <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
      <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
      <form class="form-inline mt10 mb10">
        <div class="form-group">
          <label class="sr-only" for="searchBillNo">Tìm kiếm</label>
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Tìm kiếm Bill No" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="carrierCode">OPR Code</label>
          <div class="input-group">
            <select class="form-control" id="carrierCode">
              <option value="" selected disabled>OPR Code</option>
            </select>
          </div>
        </div>
      </form>
      <table id="dg">
        <thead>
            <tr>
              <th data-options="field:'billOfLading',align:'left'" width="120">
                BILL OF LADING
              </th>
              <th data-options="field:'businessUnit',align:'center'" width="100">
                OPR <br />
                CODE
              </th>
              <th data-options="field:'numberContainer',align:'center'" width="90">
                NUMBER <br> CONTAINER
              </th> 
              <th data-options="field:'createTime',align:'left'" width="130">
                CREATE TIME
              </th>
            </tr>
        </thead>
      </table>
    </section>
    <section class="right ml10">
      <form class="form-inline mt10 mb10">
        <div class="form-group">
          <label class="sr-only" for="searchBox">Tìm kiếm</label>
          <div class="input-group">
            <input type="text" class="form-control"  name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="fromDate">OPR Code</label>
          <div class="input-group">
            <input class="form-control time-input" id="fromDate" name="fromDate" onchange="changeFromDate()" placeholder="Từ ngày" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="toDate">OPR Code</label>
          <div class="input-group">
            <input class="form-control time-input" id="toDate" name="toDate" onchange="changeToDate()" placeholder="Đến ngày" />
          </div>
        </div>
        <div class="form-group">
          <a class="btn btn-primary btn-rounded btn-sm" onclick="searchInfoEdo()" id="searchInfoEdo"><i
            class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
        </div>
      </form>
      <table id="dgContainer" fitColumns="true">
        <thead>
          <tr>
            <th data-options="field:'containerNumber',align:'left'" width="120">
              CONTAINER NO
            </th>
            <th data-options="field:'businessUnit',align:'center'" width="90">
              OPR <br />
              CODE
            </th>
            <th data-options="field:'consignee',align:'left'" width="250">
              CONSIGNEE
            </th>
            <th data-options="field:'expiredDem',align:'left',formatter:formatToYDMHMS" width="110">
              EXPIRE <br />
              DEM
            </th>
            <th data-options="field:'emptyContainerDepot',align:'left'" width="150">
              EMPTY CONTAINER <br>
              DEPOT
            </th>
            <th data-options="field:'detFreeTime',align:'center'" width="80">
              DET FREE <br />
              TIME
            </th>
            <th data-options="field:'vesselNo',align:'left'" width="110">
              VESSEL NO
            </th>
            <th data-options="field:'voyNo',align:'left'" width="110">
              VOY NO
            </th>
            <th data-options="field:'status',align:'left',formatter:formatStatus" width="90">
              STATUS
            </th>
            <th data-options="field:'createTime',align:'center',formatter:formatToYDMHMS" width="110">
              CREATE TIME
            </th>
            <th data-options="field:'id',align:'center',formatter: formatAction" fixed:true  width="150">
              ACTION
            </th>
          </tr>
        </thead>
      </table>
    </section>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
  </body>
  <script th:src="@{/eport/js/modules/edo/manage/edo.js}"></script>
</html>
