<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}"/>
    <link th:href="@{/eport/css/edo/manage/edo.css}" rel="stylesheet" />
  </head>
  <body class="gray-bg container-fluid">
    <section class="left">

    </section>
    <section class="right">
      
    </section>
    <div id="wrapper">
      <div class="row">
        <div class="col-sm-12 select-table mt0 pr5">
          <div class="col-sm-12 fixed-table-toolbar">
            <div class="bs-bars pull-left mb5 mt0 billNoView">
              <input class="form-control" type="text" name="searchBillNo" id="searchBillNo" placeholder="Tìm kiếm Bill No" />
              <select class="form-control combobox-carrier" id="carrierCode">
                <option value="" selected>OPR CODE</option>
              </select>
            </div>
            <div class="columns columns-right btn-group pull-right mb0 mt0">
              <div class="select-list">
                <ul>
                  <li>
                    <input class="form-control" type="text" name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
                  </li>
                  <li>
                    <input class="time-input" id="fromDate" name="fromDate" onchange="changeFromDate()" placeholder="Từ ngày" />
                  </li>
                  <li>
                    <input class="time-input" id="toDate" name="toDate" onchange="changeToDate()" placeholder="Đến ngày" />
                  </li>
                  <li>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="searchInfoEdo()" id="searchInfoEdo"><i
                      class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 table-container table-left">
            <span class="btn-collapse"><i class="fa fa-caret-left"></i></span>
            <table id="dg">
              <thead>
                  <tr>
                    <th data-options="field:'billOfLading',align:'left'" width="120">
                      BILL OF LADING
                    </th>
                    <th data-options="field:'businessUnit',align:'center'" width="100">
                      OPR <br />
                      CODE
                    </th>
                    <th data-options="field:'numberContainer',align:'center'" width="90">
                      NUMBER <br> CONTAINER
                    </th> 
                    <th data-options="field:'createTime',align:'left'" width="130">
                      CREATE TIME
                    </th>
                  </tr>
              </thead>
            </table>
          </div>
          <div class="col-sm-9 table-container table-right">
            <table id="dgContainer" fitColumns="true">
              <thead>
                <tr>
                  <th data-options="field:'containerNumber',align:'left'" width="120">
                    CONTAINER NO
                  </th>
                  <th data-options="field:'businessUnit',align:'center'" width="90">
                    OPR <br />
                    CODE
                  </th>
                  <th data-options="field:'consignee',align:'left'" width="250">
                    CONSIGNEE
                  </th>
                  <th data-options="field:'expiredDem',align:'left',formatter:formatToYDMHMS" width="110">
                    EXPIRE <br />
                    DEM
                  </th>
                  <th data-options="field:'emptyContainerDepot',align:'left'" width="150">
                    EMPTY CONTAINER <br>
                    DEPOT
                  </th>
                  <th data-options="field:'detFreeTime',align:'center'" width="80">
                    DET FREE <br />
                    TIME
                  </th>
                  <th data-options="field:'vesselNo',align:'left'" width="110">
                    VESSEL NO
                  </th>
                  <th data-options="field:'voyNo',align:'left'" width="110">
                    VOY NO
                  </th>
                  <th data-options="field:'status',align:'left',formatter:formatStatus" width="90">
                    STATUS
                  </th>
                  <th data-options="field:'createTime',align:'center',formatter:formatToYDMHMS" width="110">
                    CREATE TIME
                  </th>
                  <th data-options="field:'id',align:'center',formatter: formatAction" fixed:true  width="150">
                    ACTION
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
  </body>
  <script th:src="@{/eport/js/modules/edo/manage/edo.js}"></script>
</html>
