<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/eport/css/eport.css}" rel="stylesheet"/>
    <link th:href="@{/eport/css/edo/manage/edo.css}" rel="stylesheet" />
  </head>
  <body class="bg-gray">
    <div class="col-sm-12">
        <div class="form-inline mt10 mb10" >
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Tìm kiếm Bill No" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="OPR Code">OPR Code</label>
          <div class="input-group">
            <select class="c-search-opr-code">
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="Vessel">Vessel </label>
          <div class="input-group width150" style="width: 110px;">
            <select class="c-search-box-vessel"> 
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="voyNo">Voy No</label>
          <div class="input-group width150" style="width: 150%;">
            <select class="c-search-box-voy-no"> 
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="searchBox">Tìm kiếm</label>
          <div class="input-group">
            <input type="text" class="form-control"  name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="fromDate">From Date</label>
          <div class="input-group">
            <input class="form-control time-input" id="fromDate" name="fromDate" onchange="changeFromDate()" placeholder="Từ ngày" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="toDate">To Date</label>
          <div class="input-group">
            <input class="form-control time-input" id="toDate" name="toDate" onchange="changeToDate()" placeholder="Đến ngày" />
          </div>
        </div>
        <div class="form-group">
          <a class="btn btn-primary btn-rounded btn-sm" onclick="searchInfoEdo()" id="searchInfoEdo"><i
            class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
        </div>
      </div> <!-- //end form -->
    </div>
    <div class="col-sm-12 container-fluid wrapper">
    <section class="left">
      <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
      <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
      <table id="dg">
        <thead>
            <tr>
              <th data-options="field:'billOfLading',align:'left'" width="120">
                BILL OF LADING
              </th>
              <th data-options="field:'vessel',align:'left'" width="110">
                VESSEL
              </th>
              <th data-options="field:'voyNo',align:'left'" width="110">
                VOY NO
              </th>
              <th data-options="field:'carrierCode',align:'center'" width="100">
                OPR <br />
                CODE
              </th>
              <th data-options="field:'numberContainer',align:'center'" width="90">
                NUMBER <br> CONTAINER
              </th>
              <th data-options="field:'createTime',align:'left'" width="130">
                CREATE TIME
              </th>
            </tr>
        </thead>
      </table>
    </section>
    <section class="right ml10">
      <form class="form-inline mt10 mb10">
        <div class="form-group" style="right: 5px;position: absolute;">
          <button class="btn btn-rounder btn-default" onclick="generatePDF()"><i class="fa fa-print"></i>In EDO</button>
        </div>
      </form>
      <table id="dgContainer">
        <thead frozen="true">
          <tr>
            <th data-options="field:'containerNumber',align:'left'" width="120">
              CONTAINER NO
            </th>
          </tr>
      </thead>
        <thead>
            <th data-options="field:'sztp',align:'left'" width="50">
              SZTP
            </th>
            <th data-options="field:'carrierCode',align:'center'" width="90">
              OPR <br />
              CODE
            </th>
            <th data-options="field:'consignee',align:'left'" width="250">
              CONSIGNEE
            </th>
            <th data-options="field:'expiredDem',align:'left',formatter:formatToYDMHMS" width="110">
              EXPIRE <br />
              DEM
            </th>
            <th data-options="field:'emptyContainerDepot',align:'left'" width="150">
              EMPTY CONTAINER <br>
              DEPOT
            </th>
            <th data-options="field:'detFreeTime',align:'center'" width="80">
              DET FREE <br />
              TIME
            </th>
            <th data-options="field:'vessel',align:'left'" width="110">
              VESSEL
            </th>
            <th data-options="field:'voyNo',align:'left'" width="110">
              VOY NO
            </th>
            <th data-options="field:'voyNo',align:'left'" width="90">
              VOY NO
            </th>
            <th data-options="field:'pol',align:'left'" width="110">
              POL
            </th>
            <th data-options="field:'status',align:'left',formatter:formatStatus" width="90">
              STATUS
            </th>
            <th data-options="field:'fileCreateTime',align:'center'" width="110">
              CREATE TIME
            </th>
            <th data-options="field:'createTime',align:'left'" width="115">
              RECEIVE TIME
             </th> 
            <th data-options="field:'id',align:'center',formatter: formatAction" fixed:true  width="150">
              ACTION
            </th>
          </tr>
        </thead>
      </table>
    </section>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
    <script th:src="@{/eport/js/modules/edo/manage/edo.js}"></script>
  </body>

</html>
