<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update DO</title>
    <th:block th:include="include :: header('Xem Thông Tin DO')" />
    <th:block th:include="include :: handsontable-css" />
    <script th:src="@{/ajax/libs/dropzone/dropzone.min.js}"></script>
    <link th:href="@{/ajax/libs/dropzone/dropzone.min.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div id="wrapper">
        <div class="row">
          <div class="col-sm-12 select-table" style="margin-top: 0px; padding-bottom:5px">
                <div class="container-fluid">
                    <div class="panel panel-default" id="fileupload_main_panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="bannarzone" class="dropzone" style="min-height: 120px"></div>
                                </div>
                                <div class="col-md-12" style="padding: 10px 15px">
                                    <button id="export-file" class="btn btn-success intext-btn">Download XLS</button>
                                    <button onclick="printEdoPDF()" class="btn btn-success intext-btn">In Lệnh Giao Hàng (eDO)</button>
                                </div>
                                <div class="col-md-12">
                                    <div id="viewEdi" style="margin-bottom: 20px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: handsontable-js" />
    <script th:src="@{/eport/js/modules/edo/manage/jquery.table2excel.min.js}"></script>
    <script th:src="@{/eport/js/modules/edo/manage/viewFileEdi.js}"></script>
    
</body>

</html>