<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('Xác nhận làm lệnh')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content ibox-content">
        <form class="form-horizontal" id="form-confirm-status">
          <div class="row">
            <div class="form-group">
              <div class="col-xs-12">
                <label class="col-xs-4 control-label">Đã nhận DO gốc </label>
                 <div class="col-xs-8">
                     <label class="check-box">
                        <input name="documentStatus" type="checkbox" th:value="1" th:checked="${equipmentDos.documentStatus == '1'}" th:disabled="${equipmentDos.documentStatus == '1'}">
                     </label>
                 </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-xs-12">
                <label class="col-xs-4 control-label">Đã làm lệnh </label>
                <div class="col-xs-8">
                     <label class="check-box">
                        <input name="status" type="checkbox" th:value="1" th:checked="${equipmentDos.status == '1'}" th:disabled="${equipmentDos.status == '1'}">
                     </label>
                 </div>
            </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <label class="control-label">Ghi chú làm lệnh </label>
              </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-xs-12" style="padding: 0px 30px;">
                <textarea name="processRemark" maxlength="255" class="form-control" rows="3">[[${equipmentDos.processRemark}]]</textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="row pull-right">
        <div class="col-xs-12 form-group">
            <button id="buttonSave" type="button" class="btn btn-primary btn-sx" onclick="updateDo()" style="margin-right:10px;">
                Xác Nhận
            </button>
            <button  type="button" class="btn btn-secondary btn-sx" onclick="$.modal.close();">
                Bỏ Qua
            </button>
        </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript" th:inline="javascript">
        var equipmentDo = /*[[${equipmentDos}]]*/ ;
        var billOfLading = equipmentDo.billOfLading;
        var status = equipmentDo.status;
        var documentStatus = equipmentDo.documentStatus;
        var disableStatus = false;
        var disableDocStatus = false;
        var prefix = "/carrier/admin/do";

        function updateDo() {
            var data = $("#form-confirm-status").serializeArray();
            $.ajax({
                url: prefix + "/updateDoStatus/"+billOfLading,
                method: "post",
                data: data,
            }).done(function (result) {
            	$.operate.successCallback(result);
            });
        }

        $(function() {
            if (status == 1 && documentStatus == 1) {
                $("#buttonSave").prop("disabled", true);
            }
        });
    </script>
</body>
</html>