<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <input type="text" placeholder="Số bill : Bill No" name="billOfLading" />
                              </li>
                              <li>
                                <input type="text" placeholder="Tên khách hàng : Consignee" name="consignee" />
                              </li>
                              <li>
                                <input type="text" placeholder="Nơi hạ vỏ : EmptyDepot" name="emptyContainerDepot" />
                              </li>
                              <li>
                                <input type="text" placeholder="Tên tàu : Vessel" name="vessel" />
                              </li>
                              <li>
                                <input type="text" placeholder="Chuyến tàu : Voyage" name="voyNo" />
                              </li>
                              <li>
                                <select name="status">
                                  <option value="">Trạng thái DO</option>
                                  <option value="Y">Đã làm lệnh</option>
                                  <option value="N">Chưa làm lệnh</option>
                                </select>
                              </li>
                              <li>
                                <select name="documentStatus">
                                  <option value="">Nhận DO gốc</option>
                                  <option value="Y">Đã có DO gốc</option>
                                  <option value="N">Chưa có DO gốc</option>
                                </select>
                              </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> Search</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> Reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:do:add">
                    <i class="fa fa-save"></i> Lưu
                </a> -->
                <!-- <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:do:edit">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:do:remove">
                    <i class="fa fa-remove"></i> Delete
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:do:export">
                    <i class="fa fa-download"></i> Export
                </a> -->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:do:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:do:remove')}]];
        var prefix = "/equipment/do";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                showContsUrl : prefix + "/getConts",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Exchange Delivery Order",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'carrierCode', 
                    title: 'Ma Hang Tau'
                },
                {
                    field: 'billOfLading', 
                    title: 'So B/L'
                },
                {
                    field: 'businessUnit', 
                    title: 'Chủ hàng '
                },
                {
                    field: 'consignee', 
                    title: 'Chu Hang'
                },
                {
                    field: 'containerNumber', 
                    title: 'So Cont'
                },
                {
                    field: 'expiredDem', 
                    title: 'Han Lenh'
                },
                {
                    field: 'emptyContainerDepot', 
                    title: 'Noi Ha Rong'
                },
                {
                    field: 'detFreeTime', 
                    title: 'Ngay Mien Luu'
                },
                {
                    field: 'vessel', 
                    title: 'Tau'
                },
                {
                    field: 'voyNo', 
                    title: 'Chuyen'
                },
                {
                    field: 'status', 
                    title: 'DO Status',
                    align: 'center',
		        	formatter: function (value, row, index) {
		        		return statusBL(row);
		        	}
                },
                {
                    field: 'documentStatus', 
                    title: 'Doc Status',
                    align: 'center',
		        	formatter: function (value, row, index) {
		        		return statusDOC(row);
		        	}
                },
                {
                    field: 'documentReceiptDate', 
                    title: 'DocReceipt Date'
                },
                {
                    field: 'remark', 
                    title: 'Ghi chu'
                },
                {
                    title: 'Action',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="loadCont(\'' + row.billOfLading + '\')"><i class="fa fa-edit"></i>Xem cont</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        /* Status B/L status display */
		function statusBL(row) {
		    if (row.status == "Y") {
    			return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enableBL(\'' + row.id + '\')"></i> ';
    		} else {
    			return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disableBL(\'' + row.id + '\')"></i> ';
    		}
		}

        function disableBL(userId) {
			$.modal.confirm("Bạn có chắc muốn thay đổi trạng thái B/L <br> sang đã làm lệnh ?", function() {
				// $.operate.post(prefix + "/changeStatus", { "id": userId, "status": 1 });
		    })
		}
    
		function enableBL(userId) {
			$.modal.confirm("Bạn có chắc muốn thay đổi trạng thái B/L <br> sang chưa làm lệnh ?", function() {
				// $.operate.post(prefix + "/changeStatus", { "id": userId, "status": 0 });
		    })
		}

        /* Doc status display */
        function statusDOC(row) {
		    if (row.status == "Y") {
    			return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enableDOC(\'' + row.id + '\')"></i> ';
    		} else {
    			return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disableDOC(\'' + row.id + '\')"></i> ';
    		}
		}
        function disableDOC(userId) {
			$.modal.confirm("Bạn có chắc muốn thay đổi trạng thái B/L <br> sang đã làm lệnh ?", function() {
				// $.operate.post(prefix + "/changeStatus", { "id": userId, "status": 1 });
		    })
		}
    
		function enableDOC(userId) {
			$.modal.confirm("Bạn có chắc muốn thay đổi trạng thái B/L <br> sang chưa làm lệnh ?", function() {
				// $.operate.post(prefix + "/changeStatus", { "id": userId, "status": 0 });
		    })
		}

        function loadCont(billOfLading) {
            $.modal.open("Danh sách container",  prefix + '/getViewDo/' + billOfLading + '');
        }
    </script>
</body>
</html>