<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <th:block th:include="include :: header('Danh sách DO')" />
  <th:block th:include="include :: easyui-css" />
  <th:block th:include="include :: datetimepicker-css" />
</head>
<style>
  .clickable {
    cursor: pointer;
  }
</style>

<body class="white-bg">
  <div class="row">
    <div class="col-sm-12 select-table" style="margin-top: 0px;">
      <!-- Search form -->
      <div class="col-sm-12" id="searchForm">
        <form id="formId">
          <div class="select-list">
            <ul>
              <li>
                <input  class="time-input" name="fromDate" id="fromDate" placeholder="Từ ngày" />
              </li>
              <li>
                <input   class="time-input" name="toDate" id="toDate" placeholder="Đến ngày" />
              </li>
              <li>
                <input type="text" name="BlNo" id="blNo" placeholder="Vận đơn/BL No" />
              </li>
              <li>
                <input type="text" name="carrierCode" id="carrierCode" placeholder="Hãng tàu" />
              </li>
              <li>
                <input type="text" name="vessel" id="vessel" placeholder="Tên Tàu" />
              </li>
              <li>
                <input type="text" name="consignee" id="consignee" placeholder="Tên khách hàng" />
              </li>
              <li>
                <select name="status" id="status">
                  <option value="">Trạng thái lệnh</option>
                  <option value="1">Đã làm lệnh</option>
                  <option value="0">Chưa làm lệnh</option>
                </select>
              </li>
              <li>
                <select name="documentStatus" id="documentStatus">
                  <option value="">Trạng thái DO gốc</option>
                  <option value="1">Đã nhận DO gốc</option>
                  <option value="0">Chưa nhận DO gốc</option>
                </select>
              </li>
              <li>
	            <div class="btn-group-sm" id="toolbar" role="group" style="margin-right: 10px;">
	              <a class="btn btn-primary" onclick="searchDo()" id="searchBtn"><i class="glyphicon glyphicon-search"></i> &nbsp;Tìm Kiếm</a>
	            </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
    <!-- /table toolbar -->
    <div class="col-sm-12 table-container">
      <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]">
        <thead>
          <tr>
            <!-- <th data-options="field:'id',checkbox:true"></th> -->
            <th data-options="field:'carrierCode',halign:'center',resizable:true" width="120">
              Hãng tàu <br />Carrier
            </th>
            <th data-options="field:'billOfLading',halign:'center',formatter: formatBL" sortable="true" width="110">
              Số vận đơn<br />B/L No
            </th>
            <th data-options="field:'containerNumber',align:'center'," sortable="true" width="90">
              Số lượng <br> container
            </th>
            <th data-options="field:'consignee',halign:'center'" width="250">
              Tên khách hàng<br />Consignee
            </th>
            <th data-options="field:'expiredDem',halign:'center',align:'center',formatter: compareExpireDay"
              sortable="true" width="100">
              Hạn lệnh<br />Expired Date
            </th>
            <th data-options="field:'newExpiredDem',halign:'center',align:'center',formatter: compareExpireDay"
              sortable="true" width="100">
              Hạn lệnh<br />gia hạn
            </th>
            <th data-options="field:'emptyContainerDepot',halign:'center'" width="200">
              Nơi hạ rỗng<br />Empty Depot
            </th>
            <th data-options="field:'detFreeTime',halign:'center',align:'center'" width="100">
              Ngày miễn lưu<br />DET Free Time
            </th>
            <th data-options="field:'vessel',align:'center'" width="10%">
              Tên tàu<br />Vessel
            </th>
            <th data-options="field:'voyNo',align:'center'" width="10%">
              Chuyến tàu<br />Voyage No
            </th>
            <th data-options="field:'status',align:'center',formatter: formatStatus" width="10%">
              Trạng thái
            </th>
            <th data-options="field:'documentReceiptDate',halign:'center',align:'center',formatter: formatDateDoIn"
            sortable="true" width="100">
            Ngày nhận<br /> DO gốc
            </th>
            <th data-options="field:'createTime',halign:'center',align:'center',formatter: formatDate"
            sortable="true" width="100">
            Ngày gửi DO
            </th>
            <th data-options="field:'processRemark',align:'center'" width="10%">
              Ghi chú làm lệnh
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div></div>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <th:block th:include="include :: datetimepicker-js" />
  <script type="text/javascript">
    var prefix = "/carrier/admin/do";
    $(function () {
      $("#dg").datagrid({
        url: prefix + "/list",
        singleSelect:true,
        height:document.documentElement.clientHeight - 70,
        clientPaging: false,
        pagination: true,
        rownumbers: true,
        pageSize: 50,
        nowrap: false,
        striped: true,
        loadMsg: " Đang xử lý...",
        loader: function (param, success, error) {
          var opts = $(this).datagrid("options");
          if (!opts.url) return false;
          $.ajax({
            type: opts.method,
            url: opts.url,
            data: {
              pageNum: param.page,
              pageSize: param.rows,
              orderByColumn: param.sort,
              isAsc: param.order,
            },
            dataType: "json",
            success: function (data) {
              success(data);
            },
            error: function () {
              error.apply(this, arguments);
            },

          });
        },
      });
    });

    function searchDo() {
      var dg = $("#dg").datagrid({
        url: prefix + "/list",
        singleSelection: true,
        clientPaging: false,
        pagination: true,
        rownumbers: true,
        pageSize: 50,
        loader: function (param, success, error) {
          var opts = $(this).datagrid("options");
          if (!opts.url) return false;
          $.ajax({
            type: opts.method,
            url: opts.url,
            data: {
              pageNum: param.page,
              pageSize: param.rows,
              orderByColumn: param.sort,
              isAsc: param.order,
              fromDate: $("#fromDate").val() == null ? "" : $("#fromDate").val(),
              toDate: $("#toDate").val() == null ? "" : $("#toDate").val(),
              voyageNo: $("#voyageNo").val() == null ? "" : $("#voyageNo").val(),
              vessel: $("#vessel").val() == null ? "" : $("#vessel").val(),
              consignee: $("#consignee").val() == null ? "" : $("#consignee").val(),
              carrierCode: $("#carrierCode").val() == null ? "" : $("#carrierCode").val(),
              blNo: $("#blNo").val() == null ? "" : $("#blNo").val(),
              status: $("#status").val() == null ? "" : $("#status").val(),
              documentStatus: $("#documentStatus").val() == null ? "" : $("#documentStatus").val(),
            },
            dataType: "json",
            success: function (data) {
              success(data);
            },
            error: function () {
              error.apply(this, arguments);
            },
          });
        },
      });
    }

    function formatStatus(value) {
      if (value != 0) {
        return "<span class='label label-success'>Đã làm lệnh</span>"
      }
      return "<span class='label label-warning'>Chưa làm lệnh</span>"
    }

    function formatDocumentStatus(value) {
      if (value != 0) {
        return "<span class='label label-success'>Đã nhận DO gốc</span>"
      }
      return "<span class='label label-warning'>Chưa nhận DO gốc</span>"
    }

    function formatBL(value) {
      return "<a onclick='viewBL(\"" + value + "\")'>" + value + "</a>";
    }

    function viewBL(value) {
      $.modal.openTab("BL#" + value, prefix + "/getViewCont/" + value);
    }

    function formatDate(value) {
      if(value == null) {
        return;
      }
      var date = new Date(value);
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var month = date.getMonth() + 1;
      var monthText = month < 10 ? "0" + month : month;
      return day + "/" + monthText + "/" + date.getFullYear();
    }
    function formatDateDoIn(value) {
      if(value == null) {
        return;
      }
      var date = new Date(value);
      var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      var month = date.getMonth() + 1;
      var monthText = month < 10 ? "0" + month : month;
      var hour = date.getHours();
      hour = hour < 10 ? "0" + hour : hour;
      var minute = date.getMinutes();
      minute = minute < 10 ? "0" + minute : minute;
      return day + "/" + monthText + "/" + date.getFullYear() + "<br>" + hour + ":" + minute;
    }

    function compareExpireDay(value) {
      if(value == null) {
        return;
      }
      var currentDay = new Date();
      currentDay = formatDate(currentDay);
      var expiredDay = formatDate(value);
      var same = currentDay < expiredDay;
      if (same != true) {
        return '<span style="color:red;">' + expiredDay + '</span>';
      }
      return '<span style="color:blue;">' + expiredDay + '</span>';
    }
  </script>
</body>

</html>