<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <th:block th:include="include :: header('List Exchange Delivery Order')" />
  <link th:href="@{/ajax/libs/handsontable/6.2.2/handsontable.full.min.css}" rel="stylesheet" media="screen" />
  <link th:href="@{/ajax/libs/handsontable/6.2.2/manualColumnMove/manualColumnMove.css}" rel="stylesheet"
    media="screen" />
  <link th:href="@{/css/jquery.toast.min.css}" rel="stylesheet" />
  <link th:href="@{/ajax/libs/handsontable/6.2.2/pikaday/pikaday.css}" rel="stylesheet" />
</head>
<style>

</style>

<body class="white-bg full-height-layout">
    <div class="row" style="height: auto;">
      <div class="col-sm-12 search-collapse">
        <form id="formId">
          <div class="select-list">
            <ul>
              <li>
                <input type="text" id="billOfLading" hidden="true" name="billOfLading" />
              </li>
              <li>
                <input type="text" placeholder="Số cont : Cont Number" name="containerNumber" />
              </li>
	          <div class="bs-bars pull-left" style="margin-top:5px; display: flex;">
	            <div class="btn-group-sm" id="toolbar" role="group" style="margin-right: 10px;">
	              <a class="btn btn-primary btn-rounded btn-sm" onclick="searchEvent()"><i class="fa fa-search"></i> &nbsp;Tìm kiếm</a>
	            </div>
	            <div class="btn-group-sm">
	              <a class="btn btn-primary btn-rounded btn-sm" onclick="submitDO()"><i class="fa fa-check-circle"></i> Xác Nhận Làm lệnh</a>
	            </div>
	          </div>
            </ul>
          </div>
        </form>
      </div>
      <div class="container col-md-12" style="padding-left: 10px;padding: 10px;">
        <div id="listContTable" class="hot handsontable htColumnHeaders htRowHeaders"></div>
       
      </div>
    </div>

    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery.toast.min.js}"></script>
    <!-- Jquery toast -->
    <script th:src="@{/ajax/libs/handsontable/6.2.2/handsontable.full.min.js}"></script>
    <script th:src="@{/ajax/libs/handsontable/6.2.2/moment/moment.js}"></script>
    <script th:src="@{/ajax/libs/handsontable/6.2.2/pikaday/pikaday.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      var billOfLading = /*[[${getBillOfLading}]]*/ ;
      $('#billOfLading').val(billOfLading);

    </script>
    <script type="text/javascript" >
      
      var hot;
      var currentPage = 0;
      var prefix = "/carrier/admin/do";
      var dataObj;
      var config;
      document.addEventListener("DOMContentLoaded", function () {
        var form = $("#formId");
        $(document).ready(function () {
            $.ajax({
              url: prefix + "/listCont",
              method: "POST",
              data: form.serialize(),
            }).done(function (result) {
              dataObj = result.rows;
              var example = document.getElementById("listContTable");
              hot = new Handsontable(example, {
                data: dataObj,
                stretchH: 'all',
                width: 'auto',
                minSpareRows: 1,
                rowHeights: 30,
                className: "htMiddle",
                manualColumnResize: true,
                height: document.documentElement.clientHeight - 130,
                colHeaders: [
                  "Hãng tàu<br>Carrier",
                  "Số vận đơn<br> B/L No",
                  "Số container<br>Container No",
                  "Tên chủ hàng<br>Consignee",
                  "Hạn lệnh<br> Valid to date",
                  "Nơi hạ vỏ<br> Empty depot",
                  "Ngày miễn lưu<br> DET Freetime",
                  "Tên tàu<br>Vessel",
                  "Chuyến<br>Voyage",
                  "Ngày nộp<br>DO date in",
                  "Ghi chú<br>Note",
                  "ID<br>id"
                ],
                columns: [
                  {
                    data: 'carrierCode',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'billOfLading',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'containerNumber',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'consignee',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'expiredDem',
                    type: 'date',
                    dateFormat: 'DD/MM/YYYY',
                    correctFormat: true,
                    readOnly: true

                  },
                  {
                    data: 'emptyContainerDepot',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'detFreeTime',
                    type: 'numeric',
                    readOnly: true

                  },
                  {
                    data: 'vessel',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'voyNo',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'documentReceiptDate',
                    type: 'date',
                    dateFormat: 'MM/DD/YYYY',
                    correctFormat: true,
                    readOnly: true
                  },
                  {
                    data: 'remark',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'id',
                  }
                ],
                rowHeaders: true,
                autoColumnSize: true,
                columnSorting: {
                  indicator: true
                },
                colWidths: [ 60, 60, 70, 160, 70, 160,100,70,70,100,100,0.1],
                manualColumnMove: true,
                filters: true
              });
              hot.validateCells();
            });
        });
      });
      // Next Page
      function search() {
        $("#formId").submit(function (e) {
          e.preventDefault();
          var form = $("#formId");
          $.ajax({
            url: prefix + "/listCont",
            type: "POST",
            data: form.serialize(),
            done: function (rs) {
              dataObj = rs.rows;
              hot.loadData(dataObj);
              hot.render();
              hot.validateCells();
            }
          });
        });
      }

      function searchEvent() {
        var form = $("#formId");
        $.ajax({
          url: prefix + "/listCont",
          type: "POST",
          data: form.serialize(),
          success: function (rs) {
            dataObj = rs.rows;
            hot.loadData(dataObj);
            hot.render();
            hot.validateCells();
          }
        });
        currentPage = 0;
      }
      function changeStatus() {
        $.modal.confirm("Bạn có chắc chắn muốn làm lệnh <br> cho tất cả container ?", function () {
          doChangeStatus();
        })
      }

      function changeDocumnetStatus() {
        $.modal.confirm("Bạn có chắc chắn muốn xác nhận <br> đã nhận DO gốc ?", function () {
          doChangeDocumnetStatus();
        })
      }

      function doChangeStatus() {
        $.ajax({
          url: prefix + "/changeStatus",
          method: "post",
          data: {
            billOfLading: billOfLading,
          },
        }).done(function (result) {
          $.toast({
            heading: "Thành công",
            text: "Lưu thông tin thành công ！",
            showHideTransition: "fade",
            icon: "success",
            position: "top-right"
          });
          searchEvent()
        });
      }

      function doChangeDocumnetStatus() {
        $.ajax({
          url: prefix + "/changeDocumnetStatus",
          method: "post",
          data: {
            billOfLading: billOfLading,
          },
        }).done(function (result) {
          if (result.code == 500) {
            $.toast({
              heading: "Thất bại",
              text: "Lưu thông tin thành công ！",
              showHideTransition: "fade",
              icon: "success",
              position: "top-right"
            });
          } else {
            $.toast({
              heading: "Thành công",
              text: "Lưu thông tin thành công ！",
              showHideTransition: "fade",
              icon: "success",
              position: "top-right"
            });
          }
          searchEvent()
        });
      }
      //SubmitDO
      function submitDO()
      {
          $.modal.openDo("Xác nhận làm lệnh", prefix + "/checkStatus/" + billOfLading + "","400", "280");
      }

      function reload() {
                var parent = window.parent;
                if (parent.table.options.type == table_type.bootstrapTable) {
                    $.modal.close();
                    parent.$.modal.msgSuccess(result.msg);
                    parent.$.table.refresh();
                } else if (parent.table.options.type == table_type.bootstrapTreeTable) {
                    $.modal.close();
                    parent.$.modal.msgSuccess(result.msg);
                    parent.$.treeTable.refresh();
                } else {
                    $.modal.msgReload("Lưu thành công! Vui lòng chờ trong khi refresh dữ liêu...", modal_status.SUCCESS);
                }
                $.modal.closeLoading();
                $.modal.enable();
                }
    </script>
</body>

</html>