<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <th:block th:include="include :: header('List Exchange Delivery Order')" />
  <link th:href="@{/ajax/libs/handsontable/6.2.2/handsontable.full.min.css}" rel="stylesheet" media="screen" />
  <link th:href="@{/ajax/libs/handsontable/6.2.2/manualColumnMove/manualColumnMove.css}" rel="stylesheet"
    media="screen" />
  <link th:href="@{/css/jquery.toast.min.css}" rel="stylesheet" />
  <link th:href="@{/ajax/libs/handsontable/6.2.2/pikaday/pikaday.css}" rel="stylesheet" />
</head>
<style>

</style>

<body class="white-bg full-height-layout">
    <div class="row" style="height: auto;">
      <div class="col-sm-12 search-collapse">
        <form id="formId">
          <div class="select-list">
            <ul>
              <li>
                <input type="text" id="billOfLading" hidden="true" name="billOfLading" />
              </li>
              <li>
                <input type="text" placeholder="Số cont : Cont Number" name="containerNumber" />
              </li>
              <!-- <li>
                <input type="text" placeholder="Tên khách hàng : Consignee" name="consignee" />
              </li>
              <li>
                <input type="text" placeholder="Nơi hạ vỏ : EmptyDepot" name="emptyContainerDepot" />
              </li>
              <li>
                <input type="text" placeholder="Tên tàu : Vessel" name="vessel" />
              </li>
              <li>
                <input type="text" placeholder="Chuyến tàu : Voyage" name="voyNo" />
              </li>
              <li class="select-time">
                <p>Hạn lệnh：</p>
                <input type="text" class="time-input" id="expiredDem_StartDay" placeholder="Ngày bắt đầu"
                  name="expiredDemStartDay" />
                <span>-</span>
                <input type="text" class="time-input" id="expiredDem_EndDay" placeholder="Ngày kết thúc"
                  name="expiredDemEndDay" />
              </li> -->
	          <div class="bs-bars pull-left" style="margin-top:5px; display: flex;">
	            <div class="btn-group-sm" id="toolbar" role="group" style="margin-right: 10px;">
	              <a class="btn btn-primary btn-rounded btn-sm" onclick="searchEvent()"><i class="fa fa-search"></i> &nbsp;Tìm kiếm</a>
	            </div>
	            <div class="btn-group-sm">
	              <a class="btn btn-primary btn-rounded btn-sm" onclick="submitDO()"><i class="fa fa-check-circle"></i> Xác Nhận Làm lệnh</a>
	            </div>
	          </div>
<!--               <li>
                <buttom class="btn btn-primary btn-rounded btn-sm" onclick="searchEvent()"><i
                    class="fa fa-search"></i>&nbsp;Tìm kiếm</buttom>
              </li>
              <li>
                <buttom class="btn btn-primary btn-rounded btn-sm" onclick="submitDO()">Làm lệnh</buttom>
              </li> -->
            </ul>
          </div>
        </form>
      </div>
      <div class="container col-md-12">
        <div id="example" class="hot handsontable htColumnHeaders htRowHeaders"></div>
        <nav aria-label="Page navigation">
          <div class="paginate" style="display: flex; justify-content: space-between; margin-top: 10px">
            <div class="left-side">
              <button id="prevPage" class="btn btn-xs btn-rounder" onclick='prevPage()'
                style="color:#337ab7; background-color: transparent;"><i class="fa fa-chevron-left"></i></button>
              <p style="display:inline">Trang <input type="number" onchange="showPageOnPageInput()" id="input-page"
                  style="width: 30px; text-align: center;"> đến <span id="total-page"></span></p>
              <button id="nextPage" class="btn btn-xs btn-rounder" onclick='nextPage()'
                style="color:#337ab7; background-color: transparent;"><i class="fa fa-chevron-right"></i></button>
              <button onclick="searchEvent()" class="btn btn-xs btn-rounder"
                style="color:#337ab7; background-color: transparent;"><i class="fa fa-refresh"
                  aria-hidden="true"></i></button>
            </div>
            <div class="right-side">
              <span id="item-on-from"></span> đến <span id="item-on-to"></span> trên tổng <span
                id="item-on-page"></span>
            </div>
          </div>
          </nav>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery.toast.min.js}"></script>
    <!-- Jquery toast -->
    <script th:src="@{/ajax/libs/handsontable/6.2.2/handsontable.full.min.js}"></script>
    <script th:src="@{/ajax/libs/handsontable/6.2.2/moment/moment.js}"></script>
    <script th:src="@{/ajax/libs/handsontable/6.2.2/pikaday/pikaday.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      var billOfLading = /*[[${getBillOfLading}]]*/ ;
      $('#billOfLading').val(billOfLading);
      var hot;
      var currentPage = 0;
      var prefix = "/carrier/admin/do";
      var dataObj;
      var config;
      document.addEventListener("DOMContentLoaded", function () {
        var form = $("#formId");
        $(document).ready(function () {
          $.ajax({
              url: prefix + "/getCountPages",
              method: "POST",
              data: {
                billOfLading: billOfLading
              },
            }).done(function (result) {
              document.getElementById("item-on-page").innerHTML = result
              var pages = result / 15;
              document.getElementById("total-page").innerHTML = Math.ceil(pages)
              $('#input-page').val(currentPage + 1);
              document.getElementById("item-on-from").innerHTML = currentPage + 1
              document.getElementById("item-on-to").innerHTML = (currentPage + 1) * 15
            }),
            $.ajax({
              url: prefix + "/listCont",
              method: "POST",
              data: form.serialize(),
            }).done(function (result) {
              dataObj = result.rows;
              var example = document.getElementById("example");
              hot = new Handsontable(example, {
                data: dataObj,
                stretchH: 'all',
                width: 'auto',
                minSpareRows: 1,
                rowHeights: 30,
                className: "htMiddle",
                manualColumnResize: true,
                height: document.documentElement.clientHeight - 130,
                colHeaders: [
                  "Hãng tàu<br>Carrier",
                  "Số vận đơn<br> B/L No",
                  "Số container<br>Container No",
                  "Tên chủ hàng<br>Consignee",
                  "Hạn lệnh<br> Valid to date",
                  "Nơi hạ vỏ<br> Empty depot",
                  "Ngày miễn lưu<br> DET Freetime",
                  "Tên tàu<br>Vessel",
                  "Chuyến<br>Voyage",
                  "Ngày nộp<br>DO date in",
                  "Ghi chú<br>Note",
                  "ID<br>id"
                ],
                columns: [
                  {
                    data: 'carrierCode',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'billOfLading',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'containerNumber',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'consignee',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'expiredDem',
                    type: 'date',
                    dateFormat: 'DD/MM/YYYY',
                    correctFormat: true,
                    readOnly: true

                  },
                  {
                    data: 'emptyContainerDepot',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'detFreeTime',
                    type: 'numeric',
                    readOnly: true

                  },
                  {
                    data: 'vessel',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'voyNo',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'documentReceiptDate',
                    type: 'date',
                    dateFormat: 'MM/DD/YYYY',
                    correctFormat: true,
                    readOnly: true
                  },
                  {
                    data: 'remark',
                    type: 'text',
                    readOnly: true
                  },
                  {
                    data: 'id',
                  }
                ],
                rowHeaders: true,
                autoColumnSize: true,
                columnSorting: {
                  indicator: true
                },
                colWidths: [ 60, 60, 70, 160, 70, 160,100,70,70,100,100,0.1],
                manualColumnMove: true,
                filters: true
              });
              hot.validateCells();
            });
        });
      });
      // Next Page
      function nextPage() {
        currentPage = currentPage + 1;
        $("#formId").append('<input type="hidden" id="pageSet" name="page" value="' + currentPage + '" /> ');
        var form = $("#formId");
        $.ajax({
          url: prefix + "/listCont",
          method: "POST",
          data: form.serialize(),
        }).done(function (result) {
          dataObj = result.rows;
          hot.loadData(dataObj);
          $('#input-page').val(currentPage + 1);

          document.getElementById("item-on-from").innerHTML = (currentPage) * 15
          document.getElementById("item-on-to").innerHTML = (currentPage) * 15 + 15
          if (dataObj == '') {
            $("#nextPage").attr("disabled", true);
          }
          hot.render();
          hot.validateCells();
        })
        if (currentPage > 0) {
          $("#prevPage").attr("disabled", false);
        }
        $("#pageSet").remove();
      }
      if (currentPage == 0) {
        $("#prevPage").attr("disabled", true)
      }
      // Prev Page
      function prevPage() {
        currentPage = currentPage - 1;
        if (currentPage == 0) {
          $("#prevPage").attr("disabled", true);
        } else {
          $("#prevPage").attr("disabled", false);
        }
        $("#formId").append('<input type="hidden" id="pageSet" name="page" value="' + currentPage + '" /> ');
        var form = $("#formId");
        $.ajax({
          url: prefix + "/listCont",
          method: "POST",
          data: form.serialize(),
        }).done(function (result) {
          dataObj = result.rows;
          hot.loadData(dataObj);
          $('#input-page').val(currentPage + 1);
          hot.render();
          hot.validateCells();
          document.getElementById("item-on-from").innerHTML = (currentPage) * 15
          document.getElementById("item-on-to").innerHTML = (currentPage) * 15 + 15
        })
        if (dataObj != '') {
          $("#nextPage").attr("disabled", false);
        }
        $("#pageSet").remove();
      }

      //Search
      function search() {
        $("#formId").submit(function (e) {
          $(this).append('<input type="hidden" id="pageSet" name="page" value="' + currentPage + '" /> ');
          e.preventDefault();
          var form = $("#formId");
          $.ajax({
            url: prefix + "/listCont",
            type: "POST",
            data: form.serialize(),
            done: function (rs) {
              dataObj = rs.rows;
              hot.loadData(dataObj);
              hot.render();
              hot.validateCells();
            }
          });
        });
        $("#pageSet").remove();
      }

      function searchEvent() {
        $("#formId").append('<input type="hidden" id="pageSet" name="page" value="' + currentPage + '" /> ');
        var form = $("#formId");
        $.ajax({
          url: prefix + "/listCont",
          type: "POST",
          data: form.serialize(),
          success: function (rs) {
            dataObj = rs.rows;
            hot.loadData(dataObj);
            hot.render();
            hot.validateCells();
          }
        });
        $("#pageSet").remove();
        currentPage = 0;
        $('#input-page').val(currentPage + 1);
        $("#prevPage").attr("disabled", true)
      }
      function changeStatus() {
        $.modal.confirm("Bạn có chắc chắn muốn làm lệnh <br> cho tất cả container ?", function () {
          doChangeStatus();
        })
      }

      function changeDocumnetStatus() {
        $.modal.confirm("Bạn có chắc chắn muốn xác nhận <br> đã nhận DO gốc ?", function () {
          doChangeDocumnetStatus();
        })
      }

      function doChangeStatus() {
        $.ajax({
          url: prefix + "/changeStatus",
          method: "post",
          data: {
            billOfLading: billOfLading,
          },
        }).done(function (result) {
          console.log(result);
          $.toast({
            heading: "Thành công",
            text: "Lưu thông tin thành công ！",
            showHideTransition: "fade",
            icon: "success",
            position: "top-right"
          });
          searchEvent()
        });
      }

      function doChangeDocumnetStatus() {
        $.ajax({
          url: prefix + "/changeDocumnetStatus",
          method: "post",
          data: {
            billOfLading: billOfLading,
          },
        }).done(function (result) {
          if (result.code == 500) {
            $.toast({
              heading: "Thất bại",
              text: "Lưu thông tin thành công ！",
              showHideTransition: "fade",
              icon: "success",
              position: "top-right"
            });
          } else {
            $.toast({
              heading: "Thành công",
              text: "Lưu thông tin thành công ！",
              showHideTransition: "fade",
              icon: "success",
              position: "top-right"
            });
          }
          searchEvent()
        });
      }
      //userGetPageNumber
      function showPageOnPageInput() {
        var varPageGo = $('#input-page').val();
        currentPage = parseInt(varPageGo) - 1;
        $("#formId").append('<input type="hidden" id="pageSet" name="page" value="' + varPageGo + '" /> ');
        var form = $("#formId");
        $.ajax({
          url: prefix + "/listCont",
          method: "POST",
          data: form.serialize(),
        }).done(function (result) {
          dataObj = result.rows;
          hot.loadData(dataObj);
          hot.render();
          hot.validateCells();
        })
        $("#pageSet").remove();
      }
      //SubmitDO
      function submitDO()
      {
          $.modal.openDo("Xác nhận làm lệnh", prefix + "/checkStatus/{" + billOfLading + "}","500", "400");

      }
    </script>
</body>

</html>