<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.shipping.mapper.ShippingAccountMapper">
    
    <resultMap type="ShippingAccount" id="ShippingAccountResult">
        <result property="id"    column="id"    />
        <result property="email"    column="email"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="status"    column="status"    />
        <result property="shippingCode"    column="shipping_code"    />
        <result property="shippingName"    column="shipping_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectShippingAccountVo">
        select id, email, password, salt, status, shipping_code, shipping_name, del_flag, login_ip, login_date, create_by, create_time, update_by, update_time, remark from shipping_account
    </sql>

    <select id="selectShippingAccountList" parameterType="ShippingAccount" resultMap="ShippingAccountResult">
        <include refid="selectShippingAccountVo"/>
        <where>  
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="shippingCode != null  and shippingCode != ''"> and shipping_code = #{shippingCode}</if>
            <if test="shippingName != null  and shippingName != ''"> and shipping_name like concat('%', #{shippingName}, '%')</if>
        </where>
    </select>
    
    <select id="selectShippingAccountById" parameterType="Long" resultMap="ShippingAccountResult">
        <include refid="selectShippingAccountVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShippingAccount" parameterType="ShippingAccount" useGeneratedKeys="true" keyProperty="id">
        insert into shipping_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="email != null  and email != ''">email,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="salt != null  and salt != ''">salt,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="shippingCode != null  and shippingCode != ''">shipping_code,</if>
            <if test="shippingName != null  and shippingName != ''">shipping_name,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="loginIp != null  and loginIp != ''">login_ip,</if>
            <if test="loginDate != null ">login_date,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="email != null  and email != ''">#{email},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="salt != null  and salt != ''">#{salt},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="shippingCode != null  and shippingCode != ''">#{shippingCode},</if>
            <if test="shippingName != null  and shippingName != ''">#{shippingName},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">#{loginIp},</if>
            <if test="loginDate != null ">#{loginDate},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateShippingAccount" parameterType="ShippingAccount">
        update shipping_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="salt != null  and salt != ''">salt = #{salt},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="shippingCode != null  and shippingCode != ''">shipping_code = #{shippingCode},</if>
            <if test="shippingName != null  and shippingName != ''">shipping_name = #{shippingName},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">login_ip = #{loginIp},</if>
            <if test="loginDate != null ">login_date = #{loginDate},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShippingAccountById" parameterType="Long">
        delete from shipping_account where id = #{id}
    </delete>

    <delete id="deleteShippingAccountByIds" parameterType="String">
        delete from shipping_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>