<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:include="include :: header('Hạ bãi chờ xuất')" />
    <th:block th:include="include :: handsontable-css" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: datetimepicker-css" />
    <link th:href="@{/css/logistic/receiveContFull/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div id="wrapper">
      <div class="left-side">
        <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
        <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
        <div class="title-top">
          <span style="color: black;"><b> GIAO CONTAINER RỖNG CHO CẢNG </b></span>
        </div>
        <div class="left-infor-top" style="display: flex;height: 20px;">
          <div class="form-group col-md-4 col-sm-4 col-xs-4">
            <input type="text" class="form-control from-date date" id="fromDate" onchange="changeFromDate()" placeholder="Từ ngày" readonly>
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-4">
            <input type="text" class="form-control to-date date" id="toDate" onchange="changeToDate()" placeholder="Đến ngày" readonly>
          </div>
        </div>
        <hr />
        <div class="table-content">
          <div class="row col-sm-12">
            <span class="title col-sm-8">Danh sách lô</span>
            <div class="action-bar col-sm-4" style="position: absolute; right: 0px;">
              <span><i class="fa fa-plus" title="Thêm mới" onclick="$.operate.addShipmentSendEmpty()"></i></span>
              <span><i class="fa fa-edit" title="Chỉnh sửa" onclick="$.operate.editShipmentSendEmpty()"></i></span>
              <span><i class="fa fa-refresh" title="Làm mới" onclick="handleRefresh();"></i></span>
            </div>
          </div>
          <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]">
            <thead>
              <tr>
                <th data-options="field:'id', fixed:true" width="1"></th>
                <th data-options="field:'blNo', halign:'center', fixed:true" sortable="true" width="100">B/L No</th>
                <th data-options="field:'containerAmount', align:'center', halign:'center', fixed:true" width="40">SL</th>
                <th data-options="field:'consignee', align:'center', halign:'center', fixed:true" width="100" sortable="true">Tên chủ hàng</th>
                <th data-options="field:'opeCode', align:'center', halign:'center', fixed:true" width="50" sortable="true">OPR</th>
                <th data-options="field:'createTime', align:'center', halign:'center', formatter: formatDate, fixed:true" sortable="true" width="110">Ngày Tạo</th>
                <th data-options="field:'taxCode', halign:'center', fixed:true" sortable="true" width="100">MST</th>
                <th data-options="field:'remark',align:'right',halign:'center', formatter: formatRemark" sortable="true" width="150">Ghi Chú</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="right-side">
        <div class="step-progress">
          <div id="step-area">
            <div class="left-info">
              <div>
                <span class="label-title">Mã Lô: </span>
                <span id="loCode"></span>
              </div>
              <div>
                <span class="label-title">Mã Số Thuế: </span>
                <span id="taxCode"></span>
              </div>
              <div>
                <span class="label-title">Số Lượng: </span>
                <span id="quantity"></span>
              </div>
            </div>
            <ul class="right-info">
              <li><a id="registerStatus" class="disable">Khai báo</a></li>
              <li><a id="verifyStatus" class="disable">Xác nhận</a></li>
              <li><a id="paymentStatus" class="disable">Thanh toán</a></li>
              <li><a id="finishStatus" class="disable">Hoàn thành</a></li>
            </ul>
          </div>
        </div>
        <div class="title-top">
          <div class="left-button-bar">
            <button id="saveShipmentDetailBtn" class="btn btn-sm btn-primary" onclick="saveShipmentDetail()">Lưu khai báo</button>
            <button id="deleteBtn" class="btn btn-sm btn-primary" onclick="deleteShipmentDetail()" disabled>Xóa</button>
            <button id="verifyBtn" class="btn btn-sm btn-primary" onclick="verify()" disabled>Xác Nhận</button>
            <button id="payBtn" class="btn btn-sm btn-primary" onclick="pay()" disabled>Thanh Toán</button>
            <!-- <button id="pickTruckBtn" class="btn btn-sm btn-primary" onclick="pickTruck()" disabled>Điều Xe</button> -->
          </div>
          <div class="search-bar">
            <button id="exportReceiptBtn" class="btn btn-sm btn-success" onclick="exportReceipt()" disabled>Xuất Biên Nhận</button>
            <button id="exportBillBtn" class="btn btn-sm btn-success" onclick="exportBill()" disabled>Xuất Hóa Đơn</button>
          </div>
        </div>
        <hr />
        <div id="container-grid" class="hot handsontable htColumnHeaders"></div>
        <div class="progress-wrapper">
          <p class="text-white" id="titleProgress"></p>
          <div class="progress">
            <span class="percent-text"></span>
            <div class="progress-bar progress-bar-striped active" role="progressbar" id="progressBar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            </div>
          </div>
        </div>
      </div>
      <div class="dim-bg"></div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: handsontable-js" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: websocket" />
    <script th:src="@{/js/logistic/sendContEmpty/index.js?v=20200901}"></script>
  </body>
</html>
