<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Khai báo chung</title>
	<th:block th:include="include :: header('Khai báo chung')" />
	<th:block th:include="include :: datetimepicker-css" />
	<link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
	<link th:href="@{/eport/css/common/style.css}" rel="stylesheet" />
	<th:block th:include="include :: handsontable-css" />
	<th:block th:include="include :: dropzone-css" />
</head>

<style>
	img {
		max-width: 40px;
	}

	.form-horizontal.mt10.row {
		height: 47px !important;
	}

	content-2 {
		height: 20px !important;
	}

	.preview-block {
		float: left;
	}

	.tabs {
		position: relative;
		margin: 5px auto;
	}

	/* .col-sm-12.text-black {
    margin-left: 14%;
} */

	/* .preview-block { float: left;  width: 70px !important; } */
</style>


<body>
	<div class="container-fluid">
		<!--  <form id="form-detail-add" class="form-horizontal"> -->
		<div class="form-horizontal mt10">
			<div class="form-group col-sm-6">
				<label class="control-label col-sm-4 col-xs-6" for="cont"><b class="text-black">Số
						container:</b></label>
				<div class="col-sm-8 col-xs-6">
					<input type="text" class="form-control" id="numberContainer" readonly />
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label class="control-label col-sm-4 col-xs-6" for="size"><b class="text-black">Kích thước:</b></label>
				<div class="col-sm-8 col-xs-6">
					<input type="text" class="form-control" id="sizeCont" readonly />
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-black">
			<!-- checked="checked" -->
			<section class="tabs">
				<div class="clear"></div>
				<div class="content">
					<div class="form-horizontal mt10 row">
						<div class="form-group col-sm-12" id="dropzoneReefer" style="margin-top: 5px;">
							<div class="preview-container-reefer col-md-12 col-sm-12 col-xs-12"></div>
						</div>
					</div>
					<div class="content-1" id="reeferContainer">
						<div class="form-horizontal mt10 row">
							<div class="form-group col-sm-12 row" style="max-height: 120px;">
								<div class="datagrid-toolbar">
									<table cellspacing="0" cellpadding="0">
										<tr>
										</tr>
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="container-grid" class="hot handsontable htColumnHeaders"></div>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
		<div class="col-sm-12 layui-layer-btn footer" style="z-index: 1000; bottom: 0px;height: 50px;position: fixed;">
			<a class="layui-layer-btn0" onclick="confirm()">Lưu</a>
			<a class="layui-layer-btn1" onclick="closeForm()">Đóng</a>
		</div>

		<!-- </form> -->
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: dropzone-js" />
	<th:block th:include="include :: handsontable-js" />
	<script type="text/javascript" th:inline="javascript">
		/**
		 * Data load from server
		*/
		var containerNo = [[${ containerNo }]];
		var sztp = [[${ sztp }]];
		var shipmentDetailId = [[${ shipmentDetailId }]];
		var shipmentDetail = [[${ shipmentDetail }]];
		var shipmentImage = [[${ shipmentImage }]];
		var shipmentFiles = [[${ shipmentFiles }]];
		var powerDropDate = [[${ powerDropDate }]];
		var reeferInfos = [[${ reeferInfos }]];
		var billPowers = [[${ billPowers }]];
		var oprlistBookingCheck = [[${ oprlistBookingCheck }]];
		var creditFlag = /*[[${creditFlag}]]*/;
	</script>
	<script th:src="@{/eport/js/modules/reeferGroup/extendDrawDate/detail.js?v=20201032}"></script>


	<script type="text/javascript">
		// cont lạnh
		$(document).ready(function () {
			var dangerous = shipmentDetail.dangerous;
			var dangerousIMO = shipmentDetail.dangerousImo;
			var dangerousUNNO = shipmentDetail.dangerousUnno;

			var contsztp = shipmentDetail.sztp;
			var cont = contsztp.substring(2, 3);// lấy mã cont cắt ra 
			var oversizeTop = shipmentDetail.oversizeTop;
			var oversizeRight = shipmentDetail.oversizeRight;
			var oversizeLeft = shipmentDetail.oversizeLeft;
			var oversizeFront = shipmentDetail.oversizeFront;
			var oversizeBack = shipmentDetail.oversizeBack;
		});

	</script>
</body>

</html>