<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('Edit Carrier Group')" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-account-edit" th:object="${carrierGroup}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label is-required">Mã hãng tàu</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="groupCode" th:field="*{groupCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label is-required">Tên hãng tàu</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="groupName" th:field="*{groupName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label is-required">Mã vận hành</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="operateCode" th:field="*{operateCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Email</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="mainEmail" th:field="*{mainEmail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Loại DO:</label>
                <div class="col-sm-10 col-xs-9 col-md-11">
                    <label class="radio-box"> <input type="radio" name="doType" id="do" value="0" />Lệnh giao hàng (DO)</label>
                    <label class="radio-box"> <input type="radio" name="doType" id="edo" value="1" />Lệnh giao hàng điện tử (eDO)</label>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="doFlag" th:field="*{doFlag}" id="doFlag">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Phát hành DO</label>
                <div id="doToggle" class="col-sm-9 col-xs-8 col-md-10">
                    <i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleDoFlag()"></i>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="edoFlag" th:field="*{edoFlag}" id="edoFlag">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Sử dụng eDO</label>
                <div id="edoToggle" class="col-sm-9 col-xs-8 col-md-10">
                    <i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleEdoFlag()"></i>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="consigneeFlag" th:field="*{consigneeFlag}" id="consigneeFlag">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Cập nhật Consignee</label>
                <div id="consignee" class="col-sm-9 col-xs-8 col-md-10">
                    <i class="fa fa-toggle-on text-info fa-2x" onclick="consignee()"></i>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="bookingFlag" th:field="*{bookingFlag}" id="bookingFlag">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Booking Container</label>
                <div id="bookingContainer" class="col-sm-9 col-xs-8 col-md-10">
                    <i class="fa fa-toggle-on text-info fa-2x" onclick="bookingContainer()"></i>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="apiFlag" th:field="*{apiFlag}" id="apiFlag">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">Sử dụng API</label>
                <div id="apiToggle" class="col-sm-9 col-xs-8 col-md-10">
                    <i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleApiFlag()"></i>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-xs-3 col-md-1 control-label">API Key</label>
                <div class="col-sm-10 col-xs-9 col-md-11">
                    <textarea id="apiPrivateKey" name="apiPrivateKey" rows="5" class="form-control" readonly="readonly">[[*{apiPrivateKey}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript" th:inline="javascript">
        var carrierGroup = /*[[${carrierGroup}]]*/ ;
        var prefix = ctx + "carrier/group";
        if (carrierGroup != null) {
            if (carrierGroup.doType == "0") {
                $('#do').prop("checked", true);
            } else {
                $('#edo').prop("checked", true);
            }
        }
        setTimeout(() => {
            if ($("#doFlag").val() == 1) {
                document.getElementById("doToggle").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleDoFlag()"></i>';
            } else {
                document.getElementById("doToggle").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleDoFlag()"></i>';
            }
            if ($("#edoFlag").val() == 1) {
                document.getElementById("edoToggle").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleEdoFlag()"></i>';
            } else { 
                document.getElementById("edoToggle").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleEdoFlag()"></i>';
            }
            if ($("#apiFlag").val() == 1) {
                document.getElementById("apiToggle").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleApiFlag()"></i>';
            } else {
                document.getElementById("apiToggle").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleApiFlag()"></i>';
            }
            if ($("#bookingFlag").val() == 1) {
                document.getElementById("bookingContainer").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="bookingContainer()"></i>';
            } else {
                document.getElementById("bookingContainer").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="bookingContainer()"></i>';
            }
            if ($("#consigneeFlag").val() == 1) {
                document.getElementById("consignee").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="consignee()"></i>';
            } else {
                document.getElementById("consignee").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="consignee()"></i>';
            }
        }, 200);

        $("#form-account-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-account-edit').serialize());
            }
        }

        function clickToggleDoFlag() {
            if ($("#doFlag").val() == 1) {
                document.getElementById("doToggle").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleDoFlag()"></span>';
                $("#doFlag").val(0);
            } else {
                document.getElementById("doToggle").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleDoFlag()"></span>';
                $("#doFlag").val(1);
            }
        }

        function clickToggleEdoFlag() {
            if ($("#edoFlag").val() == 1) {
                document.getElementById("edoToggle").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleEdoFlag()"></span>';
                $("#edoFlag").val(0);
            } else {
                document.getElementById("edoToggle").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleEdoFlag()"></span>';
                $("#edoFlag").val(1);
            }
        }

        function clickToggleApiFlag() {
            if ($("#apiFlag").val() == 1) {
                document.getElementById("apiToggle").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleApiFlag()"></span>';
                $("#apiFlag").val(0);
            } else {
                document.getElementById("apiToggle").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleApiFlag()"></span>';
                $("#apiFlag").val(1);
            }
        }

        function bookingContainer() {
            if ($("#bookingFlag").val() == 1) {
                document.getElementById("bookingContainer").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="bookingContainer()"></span>';
                $("#bookingFlag").val(0);
            } else {
                document.getElementById("bookingContainer").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="bookingContainer()"></span>';
                $("#bookingFlag").val(1);
            }
        }
        function consignee() {
            if ($("#consigneeFlag").val() == 1) {
                document.getElementById("consignee").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="consignee()"></span>';
                $("#consigneeFlag").val(0);
            } else {
                document.getElementById("consignee").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="consignee()"></span>';
                $("#consigneeFlag").val(1);
            }
        }
    </script>
</body>

</html>