@mixin d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin vertical-align-height ($height) {
  height: $height;
  line-height: $height;
}
$black: #000000;

.page-verification {
  .content-body {
    margin-bottom: 60px;
    .header {
      .checkbox-inline {
        padding-left: 0;
      }
    }
    .content {
      max-height: 200px;
    }
    .content-bottom {
      .panel-body {
        max-height: 200px;
        overflow-y: scroll;
      }
    }
  }
}

h4 {
  label {
    width: 100px;
  }
  margin-right: 20px;
  display: inline-block;
}

.page-payment {
  .content {
    margin-bottom: 60px;
    .clone-zone {
      &:first-child {
        display: none;
      }
      &:last-child {
        border-color: transparent;
      }
      overflow-x: hidden;
      border-bottom: 1px solid $black;
      .content__footer {
        @include d-flex-space-between;
        .price-label {
          @include vertical-align-height(34px);
        }
      }
    }
  }
}

.page-driver, .page-receiveDO, .page-payment, .page-custom, .page-verification {
  .footer {
    background-color: #f0f4f7;
    height: 55px;
    padding: 10px 30px 12px 15px !important;
    overflow: unset;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
