<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="include :: header('Xac Thuc OTP')" />
<link th:href="@{/css/logistic/verify-otp.css}" rel="stylesheet" />
</head>
<body>
	<div class="container row" style="display: flex; align-items: stretch;">
		<div class="col-xs-3" style="border-right: 1px solid #cccccc;">
			<div class="infor text-center">
				<h3 class="text-black" style="margin-top: 20px;">
					<b>Mã lô</b>
				</h3>
				<h3 class="text-black" id="sid"></h3>
			</div>
			<div class="tools text-center">
				<p>OTP hết hạn trong</p>
				<p class="text-danger" id="timer">
					<b>05:00</b>
				</p>
				<button class="btn btn-success" onclick="getOtp()">Gửi
					lại OTP</button>
			</div>
		</div>
		<div class="col-xs-9 text-center">
			<h2 class="text-black">
				<b>Xác nhận làm lệnh</b>
			</h2>
			<p id="p1"></p>
			<p class="text-black">Xin vui lòng nhập mã OTP và bấm
				"Xác Nhận" để thực hiện làm lệnh"</p>
			<div class="row"
				style="display: flex; justify-content: space-between; align-items: center;">
				<span class="col-xs-3 text-black"><b>Nhập mã OTP</b></span> <input
					type="number" id="otpInput" class="form-control col-xs-3"
					style="width: 100px" placeholder="123456">
				<button class="btn btn-success col-xs-3" onclick="confirm()">Xác
					nhận</button>
				<button class="btn btn-default col-xs-3" onclick="closeForm()">Hủy</button>
			</div>
			<span style="color: #cccccc; margin-top: 5px; text-align: left;"><i>*
					Bằng việc xác nhận mã OTP tôi đồng ý thực hiện
					giao dịch với Cảng và cam kết các thông tin khai báo
					là chính xác.</i></span>
		</div>
	</div>
</body>
<th:block th:include="include :: footer" />
<th:block th:include="include :: easyui-js" />
<script type="text/javascript" th:inline="javascript">
    var shipmentDetailIds = /*[[${shipmentDetailIds}]]*/;
    var numberPhone = /*[[${numberPhone}]]*/;
    var sid = /*[[${shipmentId}]]*/;
    var creditFlag = /*[[${creditFlag}]]*/;
    var isSendContEmpty = /*[[${isSendContEmpty}]]*/;
    var taxCode = /*[[${taxCode}]]*/;
</script>
<script th:src="@{/js/logistic/unloadingCargo/verifyOtp.js}"></script>

</html>