.small-text {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.pd0{
  padding: 0px!important;
}

.small-text-2{
  font-size: 12px;
}

.error-input {
  background-color: #fbe2e2;
  border-color: #c66161;
  color: #c00;
}