<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    
    <link
    th:href="@{/handsontable-6.2.2/dist/handsontable.full.min.css}"
    rel="stylesheet"
    media="screen"
    />
   
</head>

<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>Số lệnh：</label>
                                <input type="text" name="orderNumber"/>
                            </li>
                            <li>
                                <label>So bill：</label>
                                <input type="text" name="billOfLading"/>
                            </li>
                            <li>
                                <label>Chủ hàng：</label>
                                <input type="text" name="consignee"/>
                            </li>
                            <li>
                                <label>Số cont：</label>
                                <input type="text" name="containerNumber"/>
                            </li>
                            <!-- <li class="select-time">
                                <label>Hạn lệnh：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="Start Time" name="params[beginExpiredDem]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="End Time" name="params[endExpiredDem]"/>
                            </li> -->
                            <li>
                                <label>Nơi hạ rỗng：</label>
                                <input type="text" name="emptyContainerDepot"/>
                            </li>
                            <li>
                                <label>Số ngày miễn lưu vỏ：</label>
                                <input type="text" name="detFreeTime"/>
                            </li>
                            <!-- <li class="select-time">
                                <label>Ngay Release：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="Start Time" name="params[beginReleaseDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="End Time" name="params[endReleaseDate]"/>
                            </li> -->
                            <li>
                                <label>Tàu：</label>
                                <input type="text" name="vessel"/>
                            </li>
                            <li>
                                <label>Chuyến：</label>
                                <input type="text" name="voyNo"/>
                            </li>
                            <!-- <li>
                                <label>DO Status：</label>
                                <select name="status">
                                    <option value="">All</option>
                                </select>
                            </li>
                            <li>
                                <label>Process Status：</label>
                                <select name="processStatus">
                                    <option value="">All</option>
                                </select>
                            </li> -->
                            <li>
                                <button type="submit"  class="btn btn-primary btn-rounded btn-sm" onclick="search()"><i class="fa fa-search"></i>&nbsp;Search</button>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group" >
                <a class="btn btn-success" onclick="$.operate.add()" style="margin-top: 10px">
                    <i class="fa fa-plus"></i> Add
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" style="margin-top: 10px">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"style="margin-top: 10px" >
                    <i class="fa fa-remove"></i> Delete
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" style="margin-top: 10px">
                    <i class="fa fa-download"></i> Export
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <div id="example" class="hot handsontable htColumnHeaders"></div>
                <nav aria-label="..." style="float: right;">
                    <ul class="pagination">
                      <li class="page-item">
                        <button type="submit" class="btn btn-primary" id="prevPage" onclick="prevPage()">Previous</button>
                      </li>
                      <li>
                        <button type="submit" id="nextPage" class="btn btn-primary" onclick="nextPage()">Next</button>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">

    </script>
    <script
        th:src="@{/handsontable-6.2.2/dist/handsontable.full.min.js}"
    ></script>
 
    <script>
        var hot;
        var currentPage = 0;
        var prefix = "/carrier/do";
        var dataObj;
        var config;
        document.addEventListener("DOMContentLoaded", function () {
            $(document).ready(function() {
                $.ajax({
                    url: prefix + "/list",
                    method: "POST",
                    data: {
                        page: currentPage,
                    }
                }).success(function(result) {
                    dataObj = result.rows;
                    var example = document.getElementById("example");
                    //loadData
                    // hooks = Handsontable.hooks.getRegistered();
                    // hooks.forEach(function (hook) {
                    // config[hook] = function () {
                    //     if (hook == "afterChange") {
                    //     log_events(hook, arguments);
                    //     }
                    // };
                    // });
                    hot = new Handsontable(example, {
                        data: dataObj,
                        stretchH: 'all',
                        width: '100%',
                        colHeaders: [
                        "Mã hãng tàu<br>Carrier",
                        "Số lệnh<br> OrderNumber",
                        "Số vận đơn<br> Bill No",
                        "Số container<br>Container No",
                        "Tên khách hàng<br>Consignee",
                        "Hạn lệnh<br> Valid to date",
                        "Nơi hạ vỏ<br> Empty depot",
                        "Số ngày miễn lưu vỏ<br> DET freetime",
                        "Tên tàu<br>Vessel",
                        "Chuyến<br>Voyage",
                        "Trạng thái<br>DO status",
                        "Ghi chú<br>Note"],
                        filter: "true",
                        licenseKey: "non-commercial-and-evaluation",
                        columns: [
                        {
                            data: 'carrierCode',
                            type: 'text'
                        },
                        {
                            data: 'orderNumber',
                            type: 'text'
                        },
                        {
                            data: 'billOfLading',
                            type: 'text'
                        },
                        {
                            data: 'containerNumber',
                            type: 'text'
                        },
                        {
                            data: 'consignee',
                            type: 'text'
                        },
                        {
                            data: 'expired_dem',
                            type: 'date',
                            dateFormat: 'MM/DD/YYYY'
                        },
                        {
                            data: 'emptyContainerDepot',
                            type: 'text'
                        },
                        {
                            data: 'detFreeTime',
                            type: 'numeric',
                        },
                        {
                            data: 'vessel',
                            type: 'numeric',
                        },
                        {
                            data: 'voy_no',
                            type: 'numeric',
                        },
                        {
                            data: 'status',
                            type: 'numeric',
                        },
                        {
                            data: 'remark',
                            type: 'text',
                        }
                        ],
                    });
                    });
                });
            });
            // Next Page
            function nextPage(){
                currentPage++;
                $("#formId").append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                var form = $("#formId");
                $.ajax({
                    url: prefix + "/list",
                    method: "POST",
                    data : form.serialize(),
                }).success(function(result) {
                    dataObj = result.rows;
                    console.log(currentPage);
                    hot.loadData(dataObj);
                    if(dataObj == '')
                    {
                        $("#nextPage").attr("disabled", true);
                    }
                    hot.render();
                })
                console.log(dataObj);
                
                if(currentPage > 0)
                {
                    $("#prevPage").attr("disabled", false);
                }
                $( "#pageSet" ).remove();
            }
            if(currentPage == 0)
            {
                $("#prevPage").attr("disabled", true);
            }
            // Prev Page
            function prevPage(){
                currentPage--;
                console.log("page",currentPage)
                if(currentPage == 0)
                {
                    $("#prevPage").attr("disabled", true);
                }else {
                    $("#prevPage").attr("disabled", false);
                }
                $("#formId").append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                var form = $("#formId");
                $.ajax({
                    url: prefix + "/list",
                    method: "POST",
                    data : form.serialize(),
                }).success(function(result) {
                    dataObj = result.rows;
                    hot.loadData(dataObj);
                    hot.render();
                })
                if(dataObj != '')
                {
                    $("#nextPage").attr("disabled", false);
                }
                $( "#pageSet" ).remove();
            }

            //Search
            function search(){
                $("#formId").submit(function(e) {
                    $(this).append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                    e.preventDefault();
                    var form = $("#formId");
                    $.ajax({
                        url: prefix + "/list",
                        type: "POST",
                        data: form.serialize(),
                        success: function(rs)
                        {
                            dataObj = rs.rows;
                            hot.loadData(dataObj);
                            hot.render();
                        }
                        });
                });
                $( "#pageSet" ).remove();
            }

           
            
      </script>
</body>
</html>