<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: datetimepicker-css" />
    <link th:href="@{/css/jquery.toast.min.css}" rel="stylesheet" />
  </head>
  <style>
    .clickable {
      cursor: pointer;
    }

    #container-details table tbody,
    #container-details table thead {
      display: block;
    }

    #container-details table tbody {
      overflow: auto;
      height: auto;
      max-height: 400px;
    }

    .modal-dialog {
      width: 700px;
    }

    #searchForm {
      height: 0;
      overflow: hidden;
      transition: height 0.5s ease-in-out;
      -moz-transition: height 0.5s ease-in-out;
      -webkit-transition: height 0.5s ease-in-out;
      -o-transition: height 0.5s ease-in-out;
    }
    /* table {
        width: 350px; /* can be dynamic */

    /* th
    {
        width: 75px;
    } */
  </style>
  <body class="gray-bg">
    <div
      class="modal fade"
      id="modalSubscriptionForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title w-100 font-weight-bold">
              Thay đổi hạn lệnh của container
            </h3>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <label>Danh sách container đang chọn:</label>
              <div id="container-details"></div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-3">
                <label
                  data-error="wrong"
                  data-success="right"
                  for="form2"
                  style="line-height: 34px; height: 34px;"
                >
                  Hạn lệnh mới
                </label>
              </div>
              <div class="col-md-4 input-group date" id="datetimepicker2">
                <input
                  type="text"
                  class="form-control time-input"
                  id="datetimepicker"
                  autocomplete="off"
                />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary" onclick="submit()">
              Xác nhận
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 select-table" style="margin-top: 0px;">
        <!-- Search form -->
        <div class="col-sm-12" id="searchForm">
          <form id="formId">
            <div class="select-list">
              <ul>
                <li>
                  <input
                    type="date"
                    name="fromDate"
                    id="fromDate"
                    placeholder="Từ ngày"
                  />
                </li>
                <li>
                  <input
                    type="date"
                    name="toDate"
                    id="toDate"
                    placeholder="Đến ngày"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="voyageNo"
                    id="voyageNo"
                    placeholder="Chuyến tàu"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="contNo"
                    id="contNo"
                    placeholder="Số Cont"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    name="BlNo"
                    id="blNo"
                    placeholder="Vận đơn/BL No"
                  />
                </li>
                <li>
                  <a
                    class="btn btn-primary btn-rounded btn-sm"
                    onclick="searchDo()"
                    id="searchBtn"
                    ><i class="glyphicon glyphicon-search"></i> Tìm Kiếm</a
                  >
                </li>
              </ul>
            </div>
          </form>
        </div>
        <!-- Table toolbar -->
        <div class="col-sm-12 fixed-table-toolbar">
          <div class="bs-bars pull-left" style="margin-bottom: 5px;">
            <div class="btn-group-sm" id="toolbar" role="group">
              <a class="btn btn-success" onclick="$.operate.addFullDo()">
                <i class="fa fa-plus"></i> Thêm DO
              </a>
              <a
                class="btn btn-primary single disabled"
                onclick="getSelectedRow();"
                id="itCloseToTheDeadlineeeeeeeeeeeeeeee"
                data-toggle="modal"
                data-target="#modalSubscriptionForm"
              >
                <i class="fa fa-edit"></i> Đổi Hạn Lệnh
              </a>
            </div>
          </div>
          <div
            class="columns columns-right btn-group pull-right"
            style="margin-bottom: 5px;"
          >
            <button
              class="btn btn-default btn-outline"
              type="button"
              name="showSearch"
              title="Tìm kiếm"
              onclick="collapse()"
            >
              <i class="glyphicon glyphicon-search"></i>
            </button>
            <button
              class="btn btn-default btn-outline"
              type="button"
              name="refresh"
              title="Làm mới dữ liệu"
              onclick="load()"
            >
              <i class="glyphicon glyphicon-refresh icon-refresh"></i>
            </button>
          </div>
        </div>
        <!-- /table toolbar -->
        <div class="col-sm-12 table-container">
          <table
            id="dg"
            style="width: 100%; height: 500px;"
            pageList="[20,50,100,150,200]"
          >
            <thead>
              <tr>
                <th data-options="field:'id',checkbox:true"></th>
                <th
                  data-options="field:'carrierCode',halign:'center',resizable:true"
                  width="80"
                >
                  Hãng tàu <br />Carrier
                </th>
                <th
                  data-options="field:'billOfLading',halign:'center',"
                  sortable="true"
                  width="110"
                >
                  Số vận đơn<br />B/L No
                </th>
                <th
                  data-options="field:'containerNumber',halign:'center',"
                  sortable="true"
                  width="110"
                >
                  Số cont<br />Container Number
                </th>
                <th
                  data-options="field:'consignee',halign:'center'"
                  width="250"
                >
                  Khách hàng<br />Consignee
                </th>
                <th
                  data-options="field:'expiredDem',halign:'center',align:'right'"
                  sortable="true"
                  width="110"
                >
                  Hạn lệnh<br />Expired Date
                </th>
                <th
                  data-options="field:'emptyContainerDepot',halign:'center'"
                  width="200"
                >
                  Nơi hạ rỗng<br />Empty Depot
                </th>
                <th
                  data-options="field:'detFreeTime',halign:'center',align:'right'"
                  width="80"
                >
                  Ngày miễn<br />DET free
                </th>
                <th data-options="field:'vessel',align:'center'" width="10%">
                  Tên tàu<br />Vessel
                </th>
                <th data-options="field:'voyNo',align:'center'" width="10%">
                  Chuyến tàu<br />Voyage No
                </th>
                <th data-options="field:'status',align:'center'" width="10%">
                  Trạng thái
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <!-- Jquery toast -->
    <script th:src="@{/js/jquery.toast.min.js}"></script>
    <script type="text/javascript">
      // open add layer iframe
      //**********************************
      var prefix = ctx + "carrier/do";
      $(function () {
        var options = {
          url: prefix + "/list",
          createUrl: prefix + "/add",
          modalName: "DO",
          // width: '1000'
        };
        $.table.init(options);
      });
      //**********************************
      $("#searchForm").css({height:40});
      load();
      function load() {
        var dg = $("#dg").datagrid({
          url: ctx + "carrier/do/list",
          singleSelection: true,
          clientPaging: false,
          pagination: true,
          rownumbers: true,
          pageSize: 50,
          loader: function (param, success, error) {
            var opts = $(this).datagrid("options");
            if (!opts.url) return false;
            $.ajax({
              type: opts.method,
              url: opts.url,
              data: {
                pageNum: param.page,
                pageSize: param.rows,
                orderByColumn: param.sort,
                isAsc: param.order,
              },
              dataType: "json",
              success: function (data) {
                console.log(data);
                success(data);
              },
              error: function () {
                error.apply(this, arguments);
              },
            });
          },
        });
      }

      //Handle click checkbox event
      $(document).on(
        "click",
        ".datagrid-row, .datagrid-header-check",
        function () {
          var checked = $("input:checkbox:checked").length - 1;
          if (checked < 0) {
            $("#itCloseToTheDeadlineeeeeeeeeeeeeeee").addClass("disabled");
          } else {
            $("#itCloseToTheDeadlineeeeeeeeeeeeeeee").removeClass("disabled");
          }
        }
      );

      // collapse search form
      function collapse() {
        
        if ($("#searchForm").height() == 1) {
          $("#searchForm").css({
            height:40,
          });
        }
        else {
          $("#searchForm").css({
            height: 0,
          });
        }
      }

      var selectedRow;
      var selectedContainer;
      $(".datagrid-header-check input").click(function () {
        setTimeout(function () {
          var checked = $("input:checkbox:checked").length;
          if (!checked) {
            $("#itCloseToTheDeadlineeeeeeeeeeeeeeee").addClass("disabled");
          } else {
            $("#itCloseToTheDeadlineeeeeeeeeeeeeeee").removeClass("disabled");
          }
        }, 200);
      });

      //Get selected row of table
      function getSelectedRow() {
        selectedRow = $(".datagrid-cell-check input[name='id']:checked")
          .map(function () {
            return this.value;
          })
          .get();
        //var jsson = JSON.stringify(selectedRow);
        $.ajax({
          url: "/carrier/do/getContainer",
          method: "get",
          data: {
            containerId: selectedRow,
          },
          success: function (result) {
            var text = "<table class='table'><thead><tr>";
            text += "<th width='50px'>STT<br><small>#</small></th>";
            text +=
              "<th width='150px'>Số vận đơn<br><small>B/L No</small></th>";
            text +=
              "<th width='200px'>Số cont<br><small>Container No</small></th>";
            text += "<th width='150px'>Tên tàu<br> <small>Vessel</small></th>";
            text +=
              "<th width='150px'>Hạn lệnh hiện tại<br><small> Current Expired Date</small></th>";
            text += "</tr></thead><tbody >";
            var i = 0;
            result.forEach((element) => {
              i++;
              var date = new Date(element.expiredDem);
              const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(date);
              const mo = new Intl.DateTimeFormat('en', { month: 'numeric' }).format(date);
              const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(date);

              text += "<tr><td width='50px'>" + i + "</td>";
              text += "<td width='150px'>" + element.billOfLading + "</td>";
              text += "<td width='200px'>" + element.containerNumber + "</td>";
              text += "<td width='150px'>" + element.vessel + "</td>";
              text += "<td width='150px'>" + `${da}-${mo}-${ye}` + "</td></tr>";
            });
            text += "</tbody></table>";
            $("#container-details").html(text);
          },
        });
      }

      //Resolve update action
      function submit() {
        var date = $("#datetimepicker").val();
        $.ajax({
          url: "/carrier/do/updateExpire",
          method: "post",
          data: {
            containerId: selectedRow,
            newDate: date,
          },
          success: function (result) {
            $.toast({
              heading: "Thành công",
              text: "Cập nhật hạn lệnh mới thành công ！",
              showHideTransition: "fade",
              icon: "success",
              position: "top-right",
            });
            $("#container-details").html("");
            $("#datetimepicker").val("");
            $(".modal").modal("toggle");
            load();
          },
        });
      }
      
      function searchDo() {
        var dg = $("#dg").datagrid({
          url: ctx + "carrier/do/list",
          singleSelection: true,
          clientPaging: false,
          pagination: true,
          rownumbers: true,
          pageSize: 50,
          loader: function (param, success, error) {
            var opts = $(this).datagrid("options");
            if (!opts.url) return false;
            $.ajax({
              type: opts.method,
              url: opts.url,
              data: {
                pageNum: param.page,
                pageSize: param.rows,
                orderByColumn: param.sort,
                isAsc: param.order,
                fromDate : $("#fromDate").val()==null?"":$("#fromDate").val(),
                toDate : $("#toDate").val()==null?"":$("#toDate").val(),
                voyageNo : $("#voyageNo").val()==null?"":$("#voyageNo").val(),
                contNo : $("#contNo").val()==null?"":$("#contNo").val(),
                blNo : $("#blNo").val()==null?"":$("#blNo").val(),
              },
              dataType: "json",
              success: function (data) {
                success(data);
              },
              error: function () {
                error.apply(this, arguments);
              },
            });
          },
        });
      }
      document.getElementById("voyageNo").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            $("#searchBtn").click();
        }
      });
      document.getElementById("contNo").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            $("#searchBtn").click();
        }
      });
      document.getElementById("blNo").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            $("#searchBtn").click();
        }
      });
      function reload() {
        window.location.reload();
      }
    </script>
  </body>
</html>
