<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    
    <link
    th:href="@{/handsontable-6.2.2/dist/handsontable.full.min.css}"
    rel="stylesheet"
    media="screen"
    />
    <link th:href="@{/bootstrap-4.4.1/bootstrap.min.css}" rel="stylesheet" />
</head>
<style>
  body {
    padding: 0;
    margin: 0;
    background: #ffffff;
  }

  th,
  td {
    font: 12px sans-serif;
  }

  .handsontable th {
    background: #63aeff;
    color: #fff;
    /* font-weight: 300; */
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 2;
    padding: 5px 2px !important;
    font-family: inherit;
  }

  .handsontable tbody th {
    height: 32px !important;
  }

  .handsontable thead th.ht__highlight {
    background: #63aeff;
  }

  .handsontable td.above-fifty {
    color: #33691e;
    background: #dcedc8;
  }

  /* .handsontable td.not-date {
    background: #fefefe;
  } */

  .handsontable td.current {
    background-color: #dcedc8;
    color: #000;
  }

  .handsontable .htDimmed {
    background-color: #fff !important;
    color: #000 !important;
  }

  /* Validate fail */
  .handsontable td.htInvalid {
    color: #fff;
  }

  .hot-container {
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-add {
    display: flex;
    justify-content: flex-end;
  }

  .red {
    color: red !important;
    text-transform: none;
  }

  .pagination-div{
    display: flex;
    justify-content: flex-end;
  }
</style>
<body class="gray-bg container">
     <div class="container-div">
        <div class="row" style="height: auto;">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>Số lệnh：</label>
                                <input type="text" id="order_Number" name="orderNumber"/>
                            </li>
                            <li>
                                <label>So bill：</label>
                                <input type="text" id="bill_Of_Lading" name="billOfLading"/>
                            </li>
                            <li>
                                <label>Mã hãng tàu：</label>
                                <input type="text" id="carrier_Code" name="carrierCode"/>
                            </li>
                            <li>
                                <label>Số cont：</label>
                                <input type="text" id="container_Number" name="containerNumber"/>
                            </li>
                            <!-- <li class="select-time">
                                <label>Hạn lệnh：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="Start Time" name="params[beginExpiredDem]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="End Time" name="params[endExpiredDem]"/>
                            </li> -->
                            <li>
                                <label>Nơi hạ rỗng：</label>
                                <input type="text" id="empty_Container_Depot" name="emptyContainerDepot"/>
                            </li>
                            <li>
                                <label>Số ngày miễn lưu vỏ：</label>
                                <input type="number" id="det_Free_Time" name="detFreeTime"/>
                            </li>
                            <!-- <li class="select-time">
                                <label>Ngay Release：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="Start Time" name="params[beginReleaseDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="End Time" name="params[endReleaseDate]"/>
                            </li> -->
                            <li>
                                <label>Tàu：</label>
                                <input type="text" id="vessel" name="vessel"/>
                            </li>
                            <li>
                                <label>Chuyến：</label>
                                <input type="text" id="voyNo" name="voyNo"/>
                            </li>
                            <!-- <li>
                                <label>DO Status：</label>
                                <select name="status">
                                    <option value="">All</option>
                                </select>
                            </li>
                            <li>
                                <label>Process Status：</label>
                                <select name="processStatus">
                                    <option value="">All</option>
                                </select>
                            </li> -->
                            
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-md" role="group" style="height: 50px;">
                <a class="btn btn-success" onclick="$.operate.add()" style="margin-top: 10px">
                    <i class="fa fa-plus"></i> Add
                </a>
                <!-- <a class="btn btn-primary single disabled" onclick="$.operate.edit()" style="margin-top: 10px">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"style="margin-top: 10px" >
                    <i class="fa fa-remove"></i> Delete
                </a> -->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" style="margin-top: 10px">
                    <i class="fa fa-download"></i> Export
                </a>
            </div>
            <div class="container">
                <div id="example" class="hot handsontable htColumnHeaders"></div>
                <div class="pagination-div">
                  <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item">
                            <button style="margin-right: 15px;" class="btn btn-primary"  onclick="update()">Lưu</button>
                          </li>
                      <li class="page-item">
                        <button type="submit" style="margin-right: 5px;" class="btn btn-primary" id="prevPage" onclick="prevPage()">Previous</button>
                      </li>
                      <li>
                        <button type="submit"  id="nextPage" class="btn btn-primary" onclick="nextPage()">Next</button>
                      </li>
                    </ul>
                  </nav>
                </div>
                
            </div>
        </div>
    </div>
    <!-- <th:block th:include="include :: footer" /> -->
    <!-- Jquery -->
    <script
      th:src="@{/bootstrap-4.4.1/jquery-3.4.1.min.js}"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- Boostrap -->
    <script th:src="@{/bootstrap-4.4.1/bootstrap.min.js}"></script>
    <!-- Handsondtable -->
    <script
      th:src="@{/handsontable-6.2.2/dist/handsontable.full.min.js}"
    ></script>
 
    <script>
        var hot;
        var currentPage = 0;
        var prefix = "/carrier/do";
        var dataObj;
        var config;
        document.addEventListener("DOMContentLoaded", function () {
            $(document).ready(function() {
                $.ajax({
                    url: prefix + "/list",
                    method: "POST",
                    data: {
                        page: currentPage,
                    }
                }).done(function(result) {
                    dataObj = result.rows;
                    var example = document.getElementById("example");
                    //loadData
                    // hooks = Handsontable.hooks.getRegistered();
                    // hooks.forEach(function (hook) {
                    // config[hook] = function () {
                    //     if (hook == "afterChange") {
                    //     log_events(hook, arguments);
                    //     }
                    // };
                    // });
                    hot = new Handsontable(example, {
                        data: dataObj,
                        stretchH: 'all',
                        width: '100%',
                        colHeaders: [
                        "ID<br>id",
                        "Mã hãng tàu<br>Carrier",
                        "Số lệnh<br> OrderNumber",
                        "Số vận đơn<br> Bill No",
                        "Số container<br>Container No",
                        "Tên khách hàng<br>Consignee",
                        "Hạn lệnh<br> Valid to date",
                        "Nơi hạ vỏ<br> Empty depot",
                        "Số ngày miễn lưu vỏ<br> DET freetime",
                        "Tên tàu<br>Vessel",
                        "Chuyến<br>Voyage",
                        "Trạng thái<br>DO status",
                        "Ghi chú<br>Note"],
                        filter: "true",
                        licenseKey: "non-commercial-and-evaluation",
                        columns: [
                        {
                            data: 'id',
                            hidden: true
                        },
                        {
                            data: 'carrierCode',
                            type: 'text',
                            readOnly: true
                        },
                        {
                            data: 'orderNumber',
                            type: 'text',
                            readOnly: true
                        },
                        {
                            data: 'billOfLading',
                            type: 'text',
                            readOnly: true
                        },
                        {
                            data: 'containerNumber',
                            type: 'text',
                            readOnly: true
                        },
                        {
                            data: 'consignee',
                            type: 'text',
                            readOnly: true
                        },
                        {
                            data: 'expired_dem',
                            type: 'date',
                            dateFormat: 'MM/DD/YYYY',
                            
                        },
                        {
                            data: 'emptyContainerDepot',
                            type: 'text',
                            readOnly: true
                        },
                        {
                            data: 'detFreeTime',
                            type: 'numeric',
                            
                        },
                        {
                            data: 'vessel',
                            type: 'numeric',
                            readOnly: true
                        },
                        {
                            data: 'voy_no',
                            type: 'numeric',
                            readOnly: true
                        },
                        {
                            data: 'status',
                            type: 'numeric',
                        },
                        {
                            data: 'remark',
                            type: 'text',
                            readOnly: true
                        }
                        ],
                    });
                    });
                });
            });
            // Next Page
            function nextPage(){
                currentPage++;
                $("#formId").append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                var form = $("#formId");
                $.ajax({
                    url: prefix + "/list",
                    method: "POST",
                    data : form.serialize(),
                }).done(function(result) {
                    dataObj = result.rows;
                    console.log(currentPage);
                    hot.loadData(dataObj);
                    if(dataObj == '')
                    {
                        $("#nextPage").attr("disabled", true);
                    }
                    hot.render();
                })
                console.log(dataObj);
                
                if(currentPage > 0)
                {
                    $("#prevPage").attr("disabled", false);
                }
                $( "#pageSet" ).remove();
            }
            if(currentPage == 0)
            {
                $("#prevPage").attr("disabled", true);
            }
            // Prev Page
            function prevPage(){
                currentPage--;
                console.log("page",currentPage)
                if(currentPage == 0)
                {
                    $("#prevPage").attr("disabled", true);
                }else {
                    $("#prevPage").attr("disabled", false);
                }
                $("#formId").append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                var form = $("#formId");
                $.ajax({
                    url: prefix + "/list",
                    method: "POST",
                    data : form.serialize(),
                }).done(function(result) {
                    dataObj = result.rows;
                    hot.loadData(dataObj);
                    hot.render();
                })
                if(dataObj != '')
                {
                    $("#nextPage").attr("disabled", false);
                }
                $( "#pageSet" ).remove();
            }

            //Search
            function search(){
                $("#formId").submit(function(e) {
                    $(this).append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                    e.preventDefault();
                    var form = $("#formId");
                    $.ajax({
                        url: prefix + "/list",
                        type: "POST",
                        data: form.serialize(),
                        done: function(rs)
                        {
                            dataObj = rs.rows;
                            hot.loadData(dataObj);
                            hot.render();
                        }
                        });
                });
                console.log("sss");
                $( "#pageSet" ).remove();
            }

        
            $("#order_Number").change(function (e){
                searchEven();
            });
            $("#carrier_Code").change(function (e){
                searchEven();
            });
            $("#bill_Of_Lading").change(function (e){
                searchEven();
            });
            $("#container_Number").change(function (e){
                searchEven();
            });
            $("#empty_Container_Depot").change(function (e){
                searchEven();
            });
            $("#det_Free_Time").change(function (e){
                searchEven();
            });
            $("#vessel").change(function (e){
                searchEven();
            });
            $("#voyNo").change(function (e){
                searchEven();
            });
            function searchEven()
            {
                $("#formId").append('<input type="hidden" id="pageSet" name="page" value="'+currentPage+'" /> ');
                    var form = $("#formId");
                    $.ajax({
                    url: prefix + "/list",
                    type: "POST",
                    data: form.serialize(),
                    success: function(rs)
                    {
                        dataObj = rs.rows;
                        hot.loadData(dataObj);
                        hot.render();
                    }
                });
                $( "#pageSet" ).remove();
            }

        //update form
        function update() {
        // Get the data in the cells
        var myTableData = hot.getData();
        // If the last row is empty, remove it before validation
        if (myTableData.length > 1 && hot.isEmptyRow(myTableData.length - 1)) {
          // hot.updateSettings({minSpareRows: 0});

          // Remove the last row if it's empty
          hot.alter(
            "remove_row",
            parseInt(myTableData.length - 1),
            (keepEmptyRows = false)
          );
        }
        var cleanedGridData = [];
        $.each(myTableData, function (rowKey, object) {
          if (!hot.isEmptyRow(rowKey)) {
            cleanedGridData.push(object);
          }
        });
        $.each(cleanedGridData, function (key, object) {
          for (var i = 0; i <= 12; i++) {
            if (object[i] == null) {
              object[i] = null;
            }
          }
        });
        
            var jsonData = JSON.stringify(cleanedGridData);
            console.log(jsonData);
            $.ajax({
                url: "/carrier/do/update",
                method: "post",
                data: {
                equipmentDo: jsonData,
                },
            }).done(function (result) {
                alert("Lưu thành công! ");
                searchEven()
            });
        }

      </script>
</body>
</html>