<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link th:href="@{/eport/css/generalSupport/style.css}" rel="stylesheet" />
  </head>
  <body class="container-fluid generalSupport">
    <section class="search-wrapper">
      <div class="form-inline mt10 mb10">
        <div class="form-group">
          <label class="sr-only" for="Logistic">Logistic</label>
          <div class="input-group">
            <select class="c-search-opr-code">
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="">Loại lệnh </label>
          <div class="input-group width150" style="width: 110px;">
            <select class="c-search-box-vessel">
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Mã lô" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Số lệnh" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Từ khóa" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Trạng thái lệnh" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="fromDate">Từ ngày</label>
          <div class="input-group">
            <input class="form-control time-input" id="fromDate" name="fromDate" placeholder="Từ ngày" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="toDate">Đến ngày</label>
          <div class="input-group">
            <input class="form-control time-input" id="toDate" name="toDate" placeholder="Đến ngày" />
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
        </div>
      </div>
    </section>
    <section class="content d-flex">
      <div class="left">
        <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
        <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
        <table id="dg" style="width: 99%;" pageList="[20, 50, 100, 150, 200]">
          <thead>
            <tr>
              <th data-options="field: 'id', halign: 'center', align: 'left', resizable: true, fixed: 'true'" width="1" sortable="true"></th>
              <th data-options="field: 'logisticName', halign: 'center', align: 'left', resizable: true, formatter: formatLogistic" width="150" sortable="true">Logistics</th>
              <th data-options="field: 'blNo', halign: 'center', align:'center', resizable:true, formatter: formatBlBooking" width="150" sortable="true">Bill/Booking No.</th>
              <th data-options="field: 'serviceType', halign: 'center', align:'left', resizable: true, fixed:'true', formatter: formatServiceType" width="100" sortable="true">Hình Thức</th>
              <th data-options="field: 'taxCode', halign: 'center', align: 'center', resizable: true, fixed: 'true'" width="150" sortable="true">Mã Số Thuế</th>
              <th data-options="field: 'containerAmount', halign: 'center', align: 'right', resizable: true, fixed: 'true'" width="110" sortable="true">Số Container</th>
              <th data-options="field: 'createTime', halign: 'center', align: 'center', resizable: true, fixed: 'true', formatter: formatDate" width="150" sortable="true">Ngày Tạo</th>
              <th data-options="field: 'remark', halign: 'center', align: 'left', resizable: true, fixed: 'true', formatter: formatText" width="150" sortable="true">Ghi Chú</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="right ml10">
        <table id="dg-right" style="width: 100%;" title="DataGrid - SubGrid" singleSelect="true" fitColumns="true">
          <thead>
            <tr>
              <th field="id" width="80">Item ID</th>
              <th field="logisticName" width="100">Product ID</th>
              <th field="blNo" align="right" width="80">List Price</th>
              <th field="serviceType" align="right" width="80">Unit Cost</th>
              <th field="containerAmount" width="220">Attribute</th>
              <th field="taxCode" width="60" align="center">Status</th>
            </tr>
          </thead>
        </table>
      </div>
    </section>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-detailview.js"></script>
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
    <script th:src="@{/eport/js/modules/om/generalSupport/generalSupport.js}"></script>
  </body>
</html>
