<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: notification-header('Notification')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/css/notification/notification.css}" rel="stylesheet" />
  </head>
  <body class="white-bg container-fluid pl-2 pr-2 mb-5">
    <section class="header mt-3">
      <div class="section-header container">
        <span class="font-weight-bold">Chọn nhóm người gửi: </span>
        <span class="error-text text-danger receiver-error">(*) Vui lòng chọn người nhận</span>
      </div>
      <div class="section-content row text-center border pt-3">
        <div class="form-group col-md-3 col-sm-3 col-xs-3">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="all"
              value="0"/>
            <label class="custom-control-label" for="all">Tất cả</label>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-3">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="logistic"
              value="1"/>
            <label class="custom-control-label" for="logistic">Logistic</label>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-3">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="driver"
              value="2"/>
            <label class="custom-control-label" for="driver">Tài xế</label>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-3">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="staff"
              value="3"/>
            <label class="custom-control-label" for="staff">Nhân viên</label>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="section-header container mt-5">
        <div class="form-group">
          <label for="title">Nhập tiêu đề thông báo</label>
          <span class="error-text text-danger title-error">(*) Tiêu đề không được trống</span>
          <input type="text" class="form-control" name="title" autocomplete="none">
        </div>
        <div class="form-group">
          <label for="content">Nội dung</label>
          <span class="error-text text-danger content-error">(*) Nội dung không được trống</span>
          <textarea name="content" class="noti-content"></textarea>
        </div>
      </div>
      <div class="section-footer container mt-2 clearfix">
        <button class="btn btn-primary float-right btn-send">Gửi</button>
      </div>
      <div></div>
    </section>
  </body>
  <th:block th:include="include :: notification-footer" />
  <th:block th:include="include :: easyui-js" />
  <th:block th:include="include :: select2-js" />
  <script th:src="@{/eport/js/modules/notification/script.js}"></script>
</html>
