<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Chỉ định xe')" />
    <th:block th:include="include :: select2-css" />
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: cornflowerblue !important;
        }
    </style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-logistic-account-assignTruck" th:object="${truckIds}">
            <input name="id" type="hidden" th:field="*{driverId}"/>
            <div class="form-group">
                <label class="col-sm-3 control-label"style="text-align: right;">Chỉ định xe:</label>
                <div class="col-sm-8 col-xs-8 col-md-10">
                    <input type="hidden" name="truckIds" th:field="*{truckIds}" id="truckIds">
                    <select class="truckList" id="truckList"></select>
                </div>
            </div>
		</form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
    var truckIdArray = [];
        $('.truckList').select2({
            ajax: {
                url: '/logistic/truck/searchPlaceNumberByKeyword',
                method: 'get',
                delay: 250,
                data: function (params) {
                    return {
                        keyword: params.term == null ? "" : params.term,
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Chọn xe chỉ định',
            minimumInputLength: 0,
            multiple: true,
        });
        // when select option truckId
        $('.truckList').change(function () {
            truckIdArray = $(".truckList").val();
            let str = "";
            if (truckIdArray != null) {
                for (var i = 0; i < truckIdArray.length; i++) {
                    str += truckIdArray[i] + ",";
                }
                str = str.substring(0, str.length - 1);
                $('#truckIds').val(str);
            }
        });
        function submitHandler() {
            console.log
	        if ($.validate.form()) {
	        	$.operate.save(ctx + "logistic/transport/truckAssign", $('#form-logistic-account-assignTruck').serialize());
	        }
	    }
    </script>
</body>
</html>