<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Chỉ định xe')" />
    <th:block th:include="include :: select2-css" />
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: cornflowerblue !important;
        }
    </style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-logistic-account-assignTruck">
            <input name="id" type="hidden" />
            <div class="form-group">
                <label class="col-sm-3 control-label"style="text-align: right;">Chỉ định xe đầu kéo:</label>
                <div class="col-sm-8 col-xs-8 col-md-10">
                    <!-- <input type="hidden" name="tractorId" id="tractorId"> -->
                    <select class="tractorList" id="tractorList"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"style="text-align: right;">Chỉ định xe rơ mooc:</label>
                <div class="col-sm-8 col-xs-8 col-md-10">
                    <!-- <input type="hidden" name="trailerId" id="trailerId"> -->
                    <select class="trailerList" id="trailerList"></select>
                </div>
            </div>
		</form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript" th:inline="javascript">
    var tractorList = /*[[${tractorList}]]*/;
    var trailerList = /*[[${trailerList}]]*/;
    var driverId = /*[[${driverId}]]*/;
    var tractorIdArray = [];
    var trailerIdArray = [];
    $(document).ready(function(){         
        $('.tractorList').select2({
            ajax: {
                url: '/logistic/logisticTruck/searchTractorByKeyword',
                method: 'get',
                delay: 250,
                data: function (params) {
                    return {
                        keyword: params.term == null ? "" : params.term
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Chọn xe đầu kéo',
            minimumInputLength: 0,
            multiple: true,
        });

        $('.trailerList').select2({
            ajax: {
                url: '/logistic/logisticTruck/searchTrailerByKeyword',
                method: 'get',
                delay: 250,
                data: function (params) {
                    return {
                        keyword: params.term == null ? "" : params.term
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Chọn xe rơ mooc',
            minimumInputLength: 0,
            multiple: true,
        });
    })                 
    setTimeout(() => {
        // Init truckIds select 2
        for (let i=0; i < tractorList.length; i++) {
            let $option = $("<option selected></option>").val(tractorList[i].truckId).text(tractorList[i].logisticTruck.plateNumber);
            $('.tractorList').append($option).trigger('change');
        }
        for (let i=0; i < trailerList.length; i++) {
            let $option = $("<option selected></option>").val(trailerList[i].truckId).text(trailerList[i].logisticTruck.plateNumber);
            $('.trailerList').append($option).trigger('change');
        }
    }, 200);
    // when select option truckId
    $('.tractorList').change(function () {
        tractorIdArray = $(".tractorList").val();
    });
    $('.trailerList').change(function () {
        trailerIdArray = $(".trailerList").val();
    });
    function submitHandler() {
        if ($.validate.form()) {
            //$.operate.save(ctx + "logistic/transport/truckAssign", $('#form-logistic-account-assignTruck').serialize());
            let truckIds = [];
            if(tractorIdArray != null){
                for (var i=0; i<tractorIdArray.length; i++) {
                    truckIds.push(tractorIdArray[i])
                }
            }
            if(trailerIdArray != null){
                for (var i=0; i<trailerIdArray.length; i++) {
                truckIds.push(trailerIdArray[i])
                }
            }
            $.ajax({
                url: ctx + "logistic/transport/truckAssign",
                type: 'POST',
                data: {
                    truckIds: truckIds,
                    driverId: driverId
                }
            }).done(function(rs) {
                if(rs.code  == 0){
                    $.modal.msgSuccess(rs.msg);
                }
                else{
                    $.modal.msgError(rs.msg)
                }
            });
        }
    }
    </script>
</body>
</html>