<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Chỉ định xe')" />
    <th:block th:include="include :: select2-css" />
    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            background-color: cornflowerblue !important;
        }
    </style>
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-logistic-account-assignTruck">
            <input name="id" type="hidden" />
            <div class="form-group">
                <label class="col-sm-3 control-label"style="text-align: right;">Chỉ định xe đầu kéo:</label>
                <div class="col-sm-8 col-xs-8 col-md-10">
                    <input type="hidden" name="tractorId" id="tractorId">
                    <select class="tractorList" id="tractorList"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"style="text-align: right;">Chỉ định xe rơ mooc:</label>
                <div class="col-sm-8 col-xs-8 col-md-10">
                    <input type="hidden" name="trailerId" id="trailerId">
                    <select class="trailerList" id="trailerList"></select>
                </div>
            </div>
		</form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
    var tractorIdArray = [];
    var trailerIdArray = [];
    $(document).ready(function(){
        $('.tractorList').select2({
            ajax: {
                url: '/logistic/truck/searchTractorByKeyword',
                method: 'get',
                delay: 250,
                data: function (params) {
                    return {
                        keyword: params.term == null ? "" : params.term,
                        tractorIdArray:tractorIdArray
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Chọn xe đầu kéo',
            minimumInputLength: 0,
            multiple: true,
        });

        $('.trailerList').select2({
            ajax: {
                url: '/logistic/truck/searchTrailerByKeyword',
                method: 'get',
                delay: 250,
                data: function (params) {
                    return {
                        keyword: params.term == null ? "" : params.term,
                        trailerIdArray:trailerIdArray
                    }
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    }
                }
            },
            placeholder: 'Chọn xe rơ mooc',
            minimumInputLength: 0,
            multiple: true,
        });
    })
    setTimeout(() => {
            // Init truckIds select 2
            let tractorIds = $('#tractorId').val().split(",");
            for (var i=0; i<tractorIds.length; i++) {
                let $option = $("<option selected></option>").val(tractorIds[i]).text(tractorIds[i]);
                $('.tractorList').append($option).trigger('change');
            }
            let trailerIds = $('#trailerId').val().split(",");
            for (var i=0; i<trailerIds.length; i++) {
                let $option = $("<option selected></option>").val(trailerIds[i]).text(trailerIds[i]);
                $('.trailerList').append($option).trigger('change');
            }                  
        }, 200);
    
    // when select option truckId
    $('.tractorList').change(function () {
        tractorIdArray = $(".tractorList").val();
        var str = [];
        if (tractorIdArray != null) {
            for (var i = 0; i < tractorIdArray.length; i++) {
                str.push(tractorIdArray[i]);
            }
            $('#tractorId').val(str);
        }
    });
    $('.trailerList').change(function () {
        trailerIdArray = $(".trailerList").val();
        var str = "";
        if (trailerIdArray != null) {
            for (var i = 0; i < trailerIdArray.length; i++) {
                str += trailerIdArray[i] + ",";
            }
            str = str.substring(0, str.length - 1);
            $('#trailerId').val(str);
        }
    });
    function submitHandler() {
        console.log
        if ($.validate.form()) {
            $.operate.save(ctx + "logistic/transport/truckAssign", $('#form-logistic-account-assignTruck').serialize());
        }
    }
    </script>
</body>
</html>