<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:include="include :: header('Quản lý đội xe')" />
    <th:block th:include="include :: easyui-css" />
  </head>
  <body>
  <div id="wrapper">
    <div class="row">
      <div class="col-sm-12 select-table" style="margin-top: 0px; padding-bottom:5px">
        <!-- Table toolbar -->
        <div class="col-sm-12 fixed-table-toolbar">
          <div class="bs-bars pull-left" style="margin-bottom: 5px;margin-top:0px">
            <div class="btn-group-sm" id="toolbar" role="group">
              <a class="btn btn-success" onclick="addTransport()">
                <i class="fa fa-plus"></i> Thêm mới
              </a>
            </div>
          </div>
          <div class="columns columns-right btn-group pull-right" style="margin-bottom: 0px;margin-top:0px">

            <div class="select-list">
              <ul>
                <li>
                  <input class="time-input" id="fromDate" name="fromDate" placeholder="Từ ngày" />
                </li>
                <li>
                  <input class="time-input" id="toDate" name="toDate" placeholder="Đến ngày" />
                </li>
                <li>
                  <input type="text" name="vessel" id="vessel" placeholder="Tên tàu" />
                </li>
                <li>
                  <input type="text" name="BlNo" id="blNo" placeholder="Vận đơn/BL No" />
                </li>
                <li>
                  <a class="btn btn-primary btn-rounded btn-sm" onclick="searchDo()" id="searchBtn"><i
                      class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
                </li>
                <li>
                  <a class="btn btn-info btn-rounded btn-sm" onclick="reset()" id="resethBtn"><i
                      class="glyphicon glyphicon-refresh"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /table toolbar -->
        <div class="col-sm-12 table-container">
          <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]">
            <thead>
              <tr>
                <th data-options="field:'id',align:'right',halign:'center'" width ="5%">
                  ID
                </th>
                <th data-options="field:'logisticGroup',halign:'center',resizable:true,formatter: formatGroup" width="10%">
                  Nhóm logistic
                </th>
                <th data-options="field:'fullName',halign:'center',resizable:true" width="10%">
                  Tên tài xế
                </th>
                <th data-options="field:'plateNumber',halign:'center'" sortable="true" width="10%">
                  Biển số xe
                </th>
                <th data-options="field:'mobileNumber',align:'right',halign:'center'" width="15%">
                  Số điện thoại
                </th>
                <th data-options="field:'createTime',align:'center',formatter: formatDate" sortable="true" width="15%">
                  Ngày tạo
                </th>
                <th data-options="field:'validDate',halign:'center',align:'center', formatter: formatDate" sortable="true" width="15%">
                  Ngày hiệu lực
                </th>
                <th data-options="field:'status',align:'center',formatter: formatStatus" sortable="true" width="5%">
                  Trạng thái
                </th>
                <th data-options="field:'value' ,align:'center',formatter: formatAction" width ="15%" >
                  Action
                </th> 
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/js/logistic/transport/index.js}"></script>
  </body>
</html>
