<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:include="include :: header('Quản lý tài xế')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/eport/css/common/style.css?v=0916}" rel="stylesheet" />
  </head>
  <body class="grey-background">
    <div class="main-body">
      <span class="btn-collapse collapse"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
      <span class="btn-collapse uncollapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
      <div class="main-body__search-wrapper mb-2">
        <div class="main-body__search-wrapper--container justify-content-between align-items-center w-100">
          <div class="flex__left w-20">
            <h3 class="mt-10">Quản lý tài xế</h3>
          </div>
          <div class="flex__right w-80 justify-content-start align-items-center d-flex">
            <div id="ff">
              <div class="d-inline">
                <input class="easyui-textbox" name="name" id="fullName" data-options="prompt: 'Tên tài xế' " />
              </div>
              <div class="d-inline">
                <input class="easyui-textbox" name="name" id="mobileNumber" data-options="prompt: 'Số điện thoại' " />
              </div>
              <div class="d-inline">
                <button class="btn btn-success btn-customs" onclick="loadTable()" id="searchBtn">Tìm kiếm</button>
              </div>
              <div class="d-inline">
                <button class="btn btn-success btn-outline btn-customs" onclick="refresh()" id="resethBtn">Làm mới</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-body__table-wrapper">
        <table id="dg" style="width: 100%" pageList="[20,50,100,150,200]">
          <thead>
            <tr>
              <th data-options="field:'fullName',halign:'center',resizable:true" sortable="true" width="20%">Tên tài xế</th>

              <th data-options="field:'mobileNumber',align:'right',halign:'center'" sortable="true" width="15%">Số điện thoại</th>
              <th data-options="field:'createTime',align:'center',formatter: formatDate" sortable="true" width="20%">Ngày tạo</th>

              <th data-options="field:'status',align:'center',formatter: formatStatus" sortable="true" width="15%">Khóa tài khoản</th>
              <th data-options="field:'value' ,align:'center',formatter: formatAction" width="25%">Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: easyui-js" />
    <script type="text/javascript" th:inline="javascript">
      $(".main-body").height($(document).height() - 10);
      $(".easyui-layout").height($(".main-body").height() - 40);
    </script>
    <script th:src="@{/js/logistic/transport/layout.js}"></script>
    <script th:src="@{/js/logistic/transport/index.js?v=1}"></script>
  </body>
</html>
