<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List Container Infomation')" />
    <th:block th:include="include :: easyui-css" />
</head>
<body class="gray-bg">
    <div id="wrapper">
      <div class="row">
        <div class="col-sm-12 select-table" style="margin-top: 0px; padding-bottom:5px">
          <!-- Table toolbar -->
          <div class="col-sm-12 fixed-table-toolbar">
            <div class="bs-bars pull-left" style="margin-bottom: 5px;margin-top:0px">
              <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="exportExcel()">
                  <i class="fa fa-download"></i> Xuất excel
                </a>
              </div>
            </div>
            <div class="columns columns-right btn-group pull-right" style="margin-bottom: 0px;margin-top:0px">
  
              <div class="select-list">
                <ul>
                    <li>
                        <span>GET-IN</span>
                    </li>
                  <li>
                    <input class="time-input" id="getInFromDate" name="getInFromDate" placeholder="Từ ngày" />
                  </li>
                  <li>
                    <input class="time-input" id="getInToDate" name="getInToDate" placeholder="Đến ngày" />
                  </li>
                  <li>
                    <span>GET-OUT</span>
                        </li>
                    <li>
                        <input class="time-input" id="getOutFromDate" name="getOutFromDate" placeholder="Từ ngày" />
                    </li>
                    <li>
                        <input class="time-input" id="getOutToDate" name="getOutToDate" placeholder="Đến ngày" />
                    </li>
                    <li>
                        <input type="text" name="ptnrCode" id="ptnrCode" placeholder="Loại ORP" />
                    </li>
                  <li>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="searchContainer()" id="searchBtn"><i
                        class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
                  </li>
                  <li>
                    <a class="btn btn-info btn-rounded btn-sm" onclick="reset()" id="resethBtn"><i
                        class="glyphicon glyphicon-refresh"></i> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            <!-- <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="carrier:cont:export">
                    <i class="fa fa-download"></i> Export
                </a>
            </div> -->
            <div class="col-sm-12 table-container">
                <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]">
                  <thead>
                    <tr>
                      <!-- <th data-options="field:'id',checkbox:true"></th> -->
                      <th data-options="field:'cntrNo',align:'center',resizable:true" width="120">
                        Số<br />Container
                      </th>
                      <th data-options="field:'sztp2',align:'center'" sortable="true" width="110">
                        Size/type
                      </th>
                      <th data-options="field:'fe',align:'right',align:'center'" width="50">
                        F/E
                      </th>
                      <th data-options="field:'ptnrCode',align:'right',align:'center'" width="100">
                        Operator
                      </th>
                      <th data-options="field:'block',align:'right',align:'center'" width="50">
                        Block
                      </th>
                      <th data-options="field:'bay',align:'right',align:'center'" width="50">
                        Bay
                      </th>
                      <th data-options="field:'row',align:'right',align:'center'" width="50">
                        Row
                      </th>
                      <th data-options="field:'tier',align:'right',align:'center'" width="50">
                        Tier
                      </th>
                      <th data-options="field:'wgt',align:'right',align:'center'" width="90">
                        Weight
                      </th>
                      <th data-options="field:'consignee',halign:'center'" width="250">
                        Consignee
                      </th>
                      <th data-options="field:'bookingNo',halign:'center',align:'center'"
                        sortable="true" width="120">
                        Booking Number
                      </th>
                      <th data-options="field:'blNo',halign:'center'" width="120">
                        BL number
                      </th>
                      <th data-options="field:'sealNo1',halign:'center',align:'right'" width="120">
                        Seal Number
                      </th>
                      <th data-options="field:'dispatchMode',align:'center'" width="100">
                        Gate mode for <br/> terminal in
                      </th>
                      <th data-options="field:'dispatchMode2',align:'center'" width="100">
                        Gate mode for <br/> terminal out
                      </th>
                      <th data-options="field:'inDate',align:'center', formatter: formatDate" width="100">
                        Gate In Date
                      </th>
                      <th data-options="field:'outDate',align:'center', formatter: formatDate" width="100">
                        Gate Out Date
                      </th>
                      <th data-options="field:'vgm',align:'center'" sortable="true" width="60">
                        VGM
                      </th>
                      <th data-options="field:'cntrState',align:'center'" sortable="true"
                        width="115">
                        Container State <br/>(S,D)
                      </th>
                      <th data-options="field:'remark'" width="150">
                        Remark
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script th:inline="javascript">
        var prefix = ctx + "carrier/cont";
        $(function () {
            $("#dg").datagrid({
                url: prefix + "/list",
                height: heightInfo,
                singleSelect: true,
                collapsible: true,
                clientPaging: false,
                pagination: true,
                rownumbers: true,
                pageSize: 50,
                nowrap: false,
                striped: true,
                loadMsg: " Đang xử lý...",
                loader: function (param, success, error) {
                var opts = $(this).datagrid("options");
                if (!opts.url) return false;
                $.ajax({
                    type: opts.method,
                    url: opts.url,
                    data: {
                    pageNum: param.page,
                    pageSize: param.rows,
                    orderByColumn: param.sort,
                    isAsc: param.order,
                    },
                    dataType: "json",
                    success: function (data) {
                    success(data);
                    },
                    error: function () {
                    error.apply(this, arguments);
                    },
                });
                },
            });
            });


            function searchContainer() {
                //convert time GET - IN
                var getInFromDate = $("#getInFromDate").val() == null ? "" : $("#getInFromDate").val()
                getInFromDate = formatDateForSearch(getInFromDate);
                var getInToDate = $("#getInToDate").val() == null ? "" : $("#getInToDate").val()
                getInToDate = formatDateForSearch(getInToDate);
                //convert time GET - OUT
                var getOutFromDate = $("#getOutFromDate").val() == null ? "" : $("#getOutFromDate").val()
                getOutFromDate = formatDateForSearch(getOutFromDate);
                var getOutToDate = $("#getOutToDate").val() == null ? "" : $("#getOutToDate").val()
                getOutToDate = formatDateForSearch(getOutToDate);
                var dg = $("#dg").datagrid({
                url: prefix + "/list",
                singleSelection: true,
                clientPaging: false,
                pagination: true,
                rownumbers: true,
                pageSize: 50,
                loader: function (param, success, error) {
                var opts = $(this).datagrid("options");
                if (!opts.url) return false;
                $.ajax({
                    type: opts.method,
                    url: opts.url,
                    data: {
                    pageNum: param.page,
                    pageSize: param.rows,
                    orderByColumn: param.sort,
                    isAsc: param.order,
                      getInFromDate: getInFromDate,
                      getInToDate: getInToDate,
                      getOutFromDate: getOutFromDate,
                      getOutToDate: getOutToDate,
                      ptnrCode: $("#ptnrCode").val() == null ? "" : $("#ptnrCode").val(),
                    },
                    dataType: "json",
                    success: function (data) {
                    success(data);
                    },
                    error: function () {
                    error.apply(this, arguments);
                    },
                });
                },
            });
            }
            function formatDateForSearch(value) {
                if (value == null) {
                    return;
                }
                var newdate = value.split("/").reverse();
                var date = new Date(newdate)
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var month = date.getMonth() + 1;
                var monthText = month < 10 ? "0" + month : month;
                return date.getFullYear() + "-" + monthText + "-" + day;
            }
            function formatDate(value) {
                if (value == null) {
                    return;
                }
                var date = new Date(value);
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var month = date.getMonth() + 1;
                var monthText = month < 10 ? "0" + month : month;
                return day + "/" + monthText + "/" + date.getFullYear();
            }
            function exportExcel() {
                    var getInFromDate = $("#getInFromDate").val() == null ? "" : $("#getInFromDate").val()
                    getInFromDate = formatDateForSearch(getInFromDate);
                    var getInToDate = $("#getInToDate").val() == null ? "" : $("#getInToDate").val()
                    getInToDate = formatDateForSearch(getInToDate);
                    var getOutFromDate = $("#getOutFromDate").val() == null ? "" : $("#getOutFromDate").val()
                    getOutFromDate = formatDateForSearch(getOutFromDate);
                    var getOutToDate = $("#getOutToDate").val() == null ? "" : $("#getOutToDate").val()
                    getOutToDate = formatDateForSearch(getOutToDate);
                    $.ajax({
                    type: "POST",
                    url: prefix + "/export",
                    data: {
                            getInFromDate: getInFromDate,
                            getInToDate: getInToDate,
                            getOutFromDate: getOutFromDate,
                            getOutToDate: getOutToDate,
                            ptnrCode: $("#ptnrCode").val() == null ? "" : $("#ptnrCode").val(),
                        },
                        success: function (result) {
                            if (result.code == web_status.SUCCESS) {
                                window.location.href = ctx + "common/download?fileName=" + encodeURI(result.msg) + "&delete=" + true;
                            } else if (result.code == web_status.WARNING) {
                                $.modal.alertWarning(result.msg)
                            } else {
                                $.modal.alertError(result.msg);
                            }
                            $.modal.closeLoading();
                        },
                    })
            }
    </script>
</body>
</html>