<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: header('Payment History')" />
    <th:block th:include="include :: easyui-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link th:href="@{/eport/css/om/paymentHistory/paymentHistory.css}" rel="stylesheet" />
  </head>
  <body class="container-fluid white-bg page-list">
    <section class="filter mb20 mt10">
      <div class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="searchBox">Tìm kiếm</label>
          <div class="input-group">
            <input type="text" class="form-control" id="searchBox" placeholder="Tìm kiếm" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="logisticName">Logistic</label>
          <div class="input-group">
            <select class="form-control" id="logistic">
              <option th:each="logistic, iterator : ${logisticsGroups}" th:value=${logistic.id} th:text=${logistic.groupName}>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="serviceType">Loại lệnh</label>
          <div class="input-group">
            <select class="form-control" id="serviceType" onchange="changeServiceType()">
              <option value="" selected disabled>Chọn loại lệnh</option>
              <option value="">Tất cả</option>
              <option value="1">Bốc Hàng</option>
              <option value="2">Hạ Rỗng</option>
              <option value="3">Bốc Rỗng</option>
              <option value="4">Hạ Hàng</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="fromDate">Từ ngày</label>
          <div class="input-group">
            <input class="form-control time-input" id="fromDate" name="fromDate" placeholder="Từ ngày" readonly/>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="toDate">Đến ngày</label>
          <div class="input-group">
            <input class="form-control time-input" id="toDate" name="toDate" placeholder="Đến ngày" readonly/>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="loadTable()"><i class="fa fa-search"></i>&nbsp;Search</button>
      </div>
    </section>
    <section class="content">
      <table id="dg"  pageList="[20, 50, 100, 150, 200]" fitcolumns="true">
        <thead>
          <tr>
            <th data-options="field: 'id', halign: 'center', align: 'left', resizable: true, fixed: 'true'" width="1" sortable="true"></th>
            <th data-options="field: 'logisticName', halign: 'center', align: 'left', resizable: true, formatter: formatLogistic" width="150" sortable="true">Logistics</th>
            <th data-options="field: 'blNo', halign: 'center', align:'center', resizable:true, formatter: formatBlBooking" width="170" sortable="true">Bill/Booking No.</th>
            <th data-options="field: 'serviceType', halign: 'center', align:'left', resizable: true, fixed:'true', formatter: formatServiceType" width="100" sortable="true">Hình Thức</th>
            <th data-options="field: 'orderId', halign: 'center', align:'center', resizable:true" width="200" sortable="true">Order No.</th>
            <th data-options="field:'amount', halign:'center', align:'right', formatter: formatMoney" width="150" sortable="true">Tổng Tiền (VND)</th>
            <th data-options="field: 'status', halign: 'center', align: 'center', resizable: true, formatter: formatStatus" width="130" sortable="true">Trạng Thái</th>
            <th data-options="field: 'createTime', halign: 'center', align: 'center', resizable: true, fixed: 'true', formatter: formatDate" width="150" sortable="true">Ngày Tạo</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/eport/js/modules/om/paymentHistory/paymentHistory.js}"></script>
  </body>
</html>
