<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link rel="stylesheet" th:href="@{/css/edo/style.css}" />
  
  </head>

  <body class="white-bg container-fluid wrapper">
    <section class="left">
      <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
      <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
      <div class="form-inline mt10 mb10">
        <div class="form-group searchBill">
          <label class="sr-only" for="searchBillNo">Tìm kiếm</label>
          <div class="input-group">
            <input type="text" class="form-control" name="searchBillNo" id="searchBillNo" placeholder="Tìm kiếm Bill No" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="voyNo">Vessel</label>
          <div class="input-group width150" style="width: 120%;">
            <select class="col-md-12 c-search-box-vessel"> 
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="voyNo">Vessel Code</label>
          <div class="input-group width150" style="width: 200%;">
            <select class="col-md-12 c-search-box-vessel-code"> 
              <option selected="selected"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="voyNo">Voy No</label>
          <div class="input-group width150" style="width: 150%;">
            <select class="col-md-12 c-search-box-voy-no"> 
              <option selected="selected"></option>
            </select>
          </div>
        </div>
      </div>
      <table id="dg">
        <thead>
          <tr>
            <th data-options="field:'billOfLading',align:'left'" width="130">
              BILL OF LADING
            </th>
             <th data-options="field:'vessel',align:'left'" width="110">
              VESSEL
            </th>
            <th data-options="field:'vesselNo',align:'left'" width="110">
              VESSEL NO
            </th>
            <th data-options="field:'voyNo',align:'left'" width="110">
              VOY NO
            </th>
            <th data-options="field:'numberContainer',align:'center'" width="90">
              NUMBER <br />
              CONTAINER
            </th>
            <th data-options="field:'createTime',align:'left'" width="130">
              CREATE TIME
            </th>
          </tr>
        </thead>
      </table>
    </section>
    <section class="right">
      <div class="form-inline mt10 mb10 form-right">
        <div class="form-group">
          <label class="sr-only">Tìm kiếm</label>
          <div class="input-group">
            <button class="btn btn-success btn-sm" id="updateEdo" onclick="multiUpdateEdo() "><i class="fa fa-pencil-square-o"></i> Cập Nhật</button>
          </div>
        </div>
        <div>
          <div class="form-group">
            <label class="sr-only" for="voyNo">OPR Code</label>
            <div class="input-group">
              <input class="form-control" type="text" name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="voyNo">OPR Code</label>
            <div class="input-group">
              <input class="form-control time-input" id="fromDate" name="fromDate" onchange="changeFromDate()" placeholder="Từ ngày" />
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="voyNo">OPR Code</label>
            <div class="input-group">
              <input class="form-control time-input" id="toDate" name="toDate" onchange="changeToDate()" placeholder="Đến ngày" />
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="voyNo">OPR Code</label>
            <div class="input-group">
              <a class="btn btn-primary btn-rounded btn-sm" onclick="searchInfoEdo()" id="searchInfoEdo"><i class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
            </div>
          </div>
        </div>
      </div>
      <table id="dgContainer" style="width: auto;" fitColumns="true">
        <thead data-options="frozen:true">
          <tr>
            <th data-options="field:'id',checkbox:true"></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th data-options="field:'containerNumber',align:'left'" width="120">
              CONTAINER NO
            </th>
            <!-- <th data-options="field:'sztp',align:'left'" width="50">
              SZTP
            </th> -->
            <th data-options="field:'businessUnit',align:'center'" width="90">
              OPR <br />
              CODE
            </th>
            <th data-options="field:'consignee',align:'left'" width="250">
              CONSIGNEE
            </th>
            <th data-options="field:'expiredDem',align:'left',formatter:formatToYDMHMS" width="110">
              EXPIRED <br />
              DEM
            </th>
            <th data-options="field:'detFreeTime',align:'center'" width="80">
              DET FREE <br />
              TIME
            </th>
            <th data-options="field:'emptyContainerDepot',align:'left'" width="150">
              EMPTY CONTAINER <br />
              DEPOT
            </th>
            <th data-options="field:'vessel',align:'left'" width="110">
              VESSEL
            </th>
            <th data-options="field:'vesselNo',align:'left'" width="110">
              VESSEL NO
            </th>
            <th data-options="field:'voyNo',align:'left'" width="110">
              VOY NO
            </th>
            <th data-options="field:'status',align:'left',formatter:formatStatus" width="80">
              STATUS
            </th>
            <th data-options="field:'createTime',align:'center',formatter:formatToYDMHMS" width="110">
              CREATE TIME
            </th>
            <th data-options="field:'action',align:'center',formatter: formatAction" fixed:true width="150">
              ACTION
            </th>
          </tr>
        </thead>
      </table>
    </section>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script th:src="@{/eport/js/modules/edo/edo.js}"></script>
  </body>
</html>
