<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <th:block th:include="include :: header('DNP ePort: Danh Sách eDO')" />
  <th:block th:include="include :: easyui-css" />
  <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet" />
  <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
  <link rel="stylesheet" th:href="@{/css/edo/style.css}" />
  <link rel="stylesheet" th:href="@{/eport/css/edo.css}" />
</head>

<body class="white-bg container-fluid ">
  <div class="col-sm-12 wrapper">
    <div class="form-inline mt10 mb10">
      
      <div class="form-group">
        <label class="sr-only col-md-12" for="Vessel">Vessel </label>
        <div class="input-group width150" style="width: 170px;">
          <select class="c-search-box-vessel">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="voyNo">Voy No </label>
        <div class="input-group width150" style="width: 170px;">
          <select class="c-search-box-voy-no">
          </select>
        </div>
      </div>
      <div class="form-group searchBill" style="width: 170px;">
        <label class="sr-only" for="searchBillNo">Tìm kiếm</label>
        <div class="input-group">
          <input type="text" class="form-control" name="searchBillNo" id="searchBillNo"
          placeholder="Tìm kiếm Bill No" />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" name="searchContNo" id="searchContNo" placeholder="Tìm kiếm Container" />
        </div>
      </div>
      <div class="form-group width100px">
        <label class="sr-only" for="fromDate">From Date</label>
        <div class="input-group">
          <input class="form-control time-input" id="fromDate" name="fromDate" onchange="changeFromDate()"
            placeholder="Từ ngày" />
        </div>
      </div>
      <div class="form-group width100px">
        <label class="sr-only" for="toDate">To Date</label>
        <div class="input-group">
          <input class="form-control time-input" id="toDate" name="toDate" onchange="changeToDate()"
            placeholder="Đến ngày" />
        </div>
      </div>
      <div class="form-group ">
        <div class="input-group">
          <a class="btn btn-primary btn-rounded btn-sm" onclick="searchDo()" id="searchInfoEdo"><i
              class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
        </div>
      </div>
      <div class="form-group ">
        <a class="btn btn-warning btn-rounded btn-sm margin-botton-5" id="btnRefresh"><i class="fa fa-refresh"> Làm
            mới</i>&nbsp;</a>
      </div>
      <div class="form-group margin-input">
        <label class="sr-only">Cập Nhật</label>
        <div class="input-group">
          <button class="btn btn-success btn-sm" id="updateEdo" onclick="multiUpdateEdo() "><i
              class="fa fa-pencil-square-o"></i> Cập Nhật eDO</button>
        </div>
      </div>
      <div class="form-group margin-input" style="margin-bottom: 6px;">
        <label class="sr-only"> Xóa eDO</label>
        <div class="input-group">
          <button class="btn btn-sm btn-danger" id="delEdo" onclick="delEdo()"><i class="fa fa-times text-primary"></i> Xóa eDO</button>
        </div>
      </div>
      <div class="form-group margin-input" style="margin-bottom: 6px;">
        <label class="sr-only">Phát hành DO</label>
        <div class="input-group">
          <button class="btn btn-sm btn-success" id="delEdo" onclick="addEdo()"><i class="fa fa-check-circle"></i> Phát hành DO</button>
        </div>
      </div>
    </div> <!-- //end form -->
  </div>
  <div class="col-sm-12 container-fluid wrapper">
  <section class="left" style="height: auto !important;">
    <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
    <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
    <table id="dg">
        <thead>
          <tr>
            <th data-options="field:'billOfLading',align:'left'" width="130">
              BILL OF LADING
            </th>
            <th data-options="field:'vessel',align:'left'" width="110">
              VESSEL
            </th>
            <th data-options="field:'voyNo',align:'left'" width="110">
              VOY NO
            </th>
            <th data-options="field:'numberContainer',align:'center'" width="90">
              NUMBER <br />
              CONTAINER
            </th>
            <th data-options="field:'createTime',align:'left'" width="130">
              RECEIVE TIME
            </th>
          </tr>
        </thead>
      </table>
    </section>
  <section class="right" style="height: auto !important;">
    <table id="dgContainer">
      <thead data-options="frozen:true">
        <tr>
          <th data-options="field:'id',checkbox:true"></th>
          <th data-options="field:'containerNumber',align:'left'" width="120">
            CONTAINER NO
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th data-options="field:'sztp',align:'left'" width="50">
            SZTP
          </th>
          <th data-options="field:'carrierCode',align:'center'" width="90">
            OPR <br />
            CODE
          </th>
          <th data-options="field:'orderNumber',align:'left'" width="120">
            ORDER <br> NUMBER
          </th>
          <th data-options="field:'consignee',align:'left'" width="250">
            CONSIGNEE
          </th>
          <th data-options="field:'expiredDem',align:'left',formatter:formatToYDMHMS" width="110">
            EXPIRED <br />
            DEM
          </th>
          <th data-options="field:'detFreeTime',align:'center'" width="80">
            DET FREE <br />
            TIME
          </th>
          <th data-options="field:'emptyContainerDepot',align:'left'" width="150">
            EMPTY CONTAINER <br />
            DEPOT
          </th>
          <th data-options="field:'vessel',align:'left'" width="110">
            VESSEL
          </th>
          <th data-options="field:'voyNo',align:'left'" width="90">
            VOY NO
          </th>
          <th data-options="field:'pol',align:'left'" width="110">
            POL
          </th>
          <th data-options="field:'pod',align:'left'" width="110">
            POD
          </th>
          <th data-options="field:'status',align:'left',formatter:formatStatus" width="91">
            STATUS
          </th>
          <th data-options="field:'fileCreateTime',align:'center',formatter:formatToYDMHMS" width="110">
            CREATE TIME
          </th>
          <th data-options="field:'createTime',align:'left',formatter:formatToYDMHMS" width="115">
            RECEIVE TIME
          </th>
          <th data-options="field:'action',align:'center',formatter: formatAction" fixed:true width="150">
            ACTION
          </th>
        </tr>
      </thead>
    </table>
  </section>
  </div>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <th:block th:include="include :: datetimepicker-js" />
  <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
  <script th:src="@{/eport/js/modules/edo/edo.js}"></script>
</body>

</html>