<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/eport/css/history.css}" rel="stylesheet" />
  </head>

  <body class="white-bg">
    <div id="wrapper">
      <div class="row">
        <div class="col-sm-12 select-table title-table">
          <div class="col-sm-12 table-container">
            <h1 class="title-content-history">Lịch sử thay đổi</h1>
            <table id="dg" style="width: auto;">
              <thead>
                <tr>
                  <th data-options="field:'seqNo',align:'center'" width="90">
                    SEG
                  </th>
                  <th data-options="field:'createTime',align:'left'" width="200">
                    CHANGE DATE
                  </th>
                  <th data-options="field:'fieldName',align:'center'" width="110">
                    DATA FIELD
                  </th>
                  <th data-options="field:'oldValue',align:'center'" width="110">
                    OLD VALUE
                  </th>
                  <th data-options="field:'newValue',align:'center'" width="110">
                    NEW VALUE
                  </th>
                  <th data-options="field:'carrierCode',align:'center'" width="120">
                    SAFF NAME
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript" th:inline="javascript">
      var edoId = /*[[${edoId}]]*/ ;
    </script>
    <script th:src="@{/eport/js/modules/edo/history.js}"></script>
  </body>
</html>
