<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/eport/css/history.css}" rel="stylesheet" />
    
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content ">
        <th:block th:each="edoHistories: ${edoHistories}">
        <form class="form-horizontal m-t box-content" >
            <div class="form-group" >
                <label class="col-sm-3 control-label title-table">Container Number：</label>
                <div class="form-control-static" th:text="${edoHistories.containerNumber}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label title-table">Bill Of Landing：</label>
                <div class="form-control-static" th:text="${edoHistories.billOfLading}">
                </div>       
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label title-table">Action:</label>
                <div class="form-control-static" th:text="${edoHistories.action}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label title-table">Create Source：</label>
                <div class="form-control-static" th:text="${edoHistories.createSource}">
                </div>       
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label title-table">File name：</label>
                <div class="form-control-static" th:text="${edoHistories.fileName}">
                </div>       
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label title-table">File Content:</label>
                <div class="form-control-static pre-content"><pre th:text="${edoHistories.ediContent}"></pre>
                </div>
            </div>
            </form>
        </th:block>
        </div>
        <th:block th:include="include :: footer" />
        <th:block th:include="include :: easyui-js" />
        <th:block th:include="include :: datetimepicker-js" />
        <script>
        </script>
</body>


</html>