<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
  <th:block th:include="include :: header('Danh sách DO')" />
  <th:block th:include="include :: easyui-css" />
  <th:block th:include="include :: datetimepicker-css" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/eport/css/report.css}" />
</head>

<body class="white-bg container-fluid wrapper">
  <div id="wrapper">
    <div class="row">
      <div class="col-md-12 select-table" style="margin-top: 0px; padding-bottom:5px">
        <!-- Table toolbar -->
        <div class="col-md-12" style="height: 44px;">
          <div class="bs-bars pull-left" style="margin-bottom: 5px;margin-top:0px">
            <!-- <div class="btn-group-sm" id="toolbar" role="group">
              <a class="btn btn-success" onclick="exportExcel()">
                <i class="fa fa-download"></i> Xuất excel
              </a>
            </div> -->
          </div>
          <div class="columns columns-right btn-group pull-right" style="margin-bottom: 0px;margin-top:0px">
            <div class="select-list">
              <ul>
                <li>
                    <div class="form-group">
                      <select class="col-md-12 c-search-box-vessel width150"> 
                        <option selected="selected"></option>
                      </select>
                    </div>
                </li>
                <li>
                  <div class="form-group">
                    <select class="col-md-12 c-search-box-vessel-code width150"> 
                      <option selected="selected"></option>
                    </select>
                  </div>
              </li>
              <li>
                <div class="form-group">
                  <select class="col-md-12 c-search-box-voy-no width150"> 
                    <option selected="selected"></option>
                  </select>
                </div>
            </li>
                <li>
                  <input class="form-control" type="text" name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
                </li>
                <li>
                  <input class="time-input" id="fromDate" name="fromDate" onchange="changeFromDate()" placeholder="Từ ngày" />
                </li>
                <li>
                  <input class="time-input" id="toDate" name="toDate" onchange="changeToDate()" placeholder="Đến ngày" />
                </li>
                <a class="btn btn-primary btn-rounded btn-sm" onclick="searchInfoEdo()" id="searchInfoEdo"><i
                    class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 table-container">
          <table id="dg" style="width: auto;" fitColumns="true">
            <thead>
              <tr>
                <th data-options="field:'containerNumber',align:'left'" width="120">
                  CONTAINER NO
                </th>
                <th data-options="field:'carrierCode',align:'center'" width="90">
                  OPR <br />
                  CODE
                </th>
                <th data-options="field:'consignee',align:'left'" width="220">
                  CONSIGNEE
                </th>
                <th data-options="field:'expiredDem',align:'left'" width="110">
                  EXPIRED <br />
                  DEM
                </th>
                <th data-options="field:'detFreeTime',align:'center'" width="80">
                  DET FREE <br />
                  TIME
                </th>
                <th data-options="field:'emptyContainerDepot',align:'left'" width="150">
                  EMPTY CONTAINER <br />
                  DEPOT
                </th>
                <th data-options="field:'vessel',align:'left'" width="110">
                  VESSEL
                </th>
                <th data-options="field:'vesselNo',align:'left'" width="110">
                  VESSEL NO
                </th>
                <th data-options="field:'voyNo',align:'left'" width="110">
                  VOY NO
                </th>
                <th data-options="field:'status',align:'left',formatter:formatStatus" width="80">
                  STATUS
                </th>
                <th data-options="field:'createTime',align:'center'" width="110">
                  CREATE TIME
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
     <script th:src="@{/eport/js/modules/edo/report.js}"></script>
</body>

</html>