<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:include="include :: header('Cập nhật thông tin container')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/eport/css/update.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <!-- <div class="col-sm-12 table-container">
          <h3 class="title-content-history">Cập nhật Container <span id="containerNumber"></span></h3>
        </div> -->

        <form class="form-horizontal m">
          <div class="form-group">
            <label class="col-sm-5 col-xs-5 col-md-5 label-style">Số container : <br> (Container No) : </label>
            <div class="col-sm-7 col-xs-7 col-md-7">
              <input class="form-control" id="containerNumber" disabled />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-xs-5 col-md-5 label-style">Hạn lệnh : <br> (Expired Dem) :</label>
            <div class="col-sm-7 col-xs-7 col-md-7">
              <input class="form-control time-input" id="expiredDem" name="fromDate" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-xs-5 col-md-5 label-style">Ngày miễn lưu vỏ : <br> (Det Free Time) : </label>
            <div class="col-sm-7 col-xs-7 col-md-7">
              <input name="detFreeTime" id="detFreeTime" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-xs-5 col-md-5 label-style">Nơi hạ rỗng : <br> (Empty Container Depot) : </label>
            <div class="col-sm-7 col-xs-7 col-md-7">
              <select class="form-control select-emptyContainerDeport" id="emptyContainerDepot"> 
                <option selected="selected" th:text="${edo.emptyContainerDepot}"></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 col-xs-5 col-md-5 label-style">Khách hàng : <br> (Consignee) : </label>
            <div class="col-sm-7 col-xs-7 col-md-7">
              <input type="text" name="consignee"  id="consignee" class="form-control" disabled/>
            </div>
          </div>
        </form>
        <div class="layui-layer-btn footer">
          <a class="layui-layer-btn0" onclick="confirm()">Xác nhận</a>
          <a class="layui-layer-btn1" onclick="closeForm()">Hủy</a>
        </div>
      </div>
    </div>
  </body>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  
  <th:block th:include="include :: datetimepicker-js" />
  <script type="text/javascript" th:inline="javascript"></script>
  <script type="text/javascript" th:inline="javascript">
    var id = /*[[${id}]]*/ ;
    var containerNumber = /*[[${edo.containerNumber}]]*/ ;
    var expiredDem = /*[[${edo.expiredDem}]]*/ ;
    var detFreeTime = /*[[${edo.detFreeTime}]]*/ ;
    var emptyContainerDepot = /*[[${edo.emptyContainerDepot}]]*/ ;
    var billOfLading = /*[[${edo.billOfLading}]]*/ ;
    var consignee = /*[[${edo.consignee}]]*/ ;
    var hasConsigneeUpdatePermission = /*[[${hasConsigneeUpdatePermission}]]*/ ;
  </script>
  <script th:src="@{/eport/js/modules/edo/update.js?v=1012}"></script>
</html>
