<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update DO</title>
    <th:block th:include="include :: header('Xem Thông Tin DO')" />
    <th:block th:include="include :: handsontable-css" />
    <script th:src="@{/ajax/libs/dropzone/dropzone.min.js}"></script>
    <link th:href="@{/ajax/libs/dropzone/dropzone.min.css}" rel="stylesheet" />
    <link th:href="@{/eport/css/uploadFile.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div id="wrapper">
        <div class="row">
          <div class="col-sm-12 select-table" style="margin-top: 0px; padding-bottom:5px">
                <div class="container-fluid">
                    <div class="panel panel-default" id="fileupload_main_panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="bannarzone" class="dropzone" style="min-height: 120px"></div>
                                    <button id="submitFile" type="submit" class="btn btn-primary">Gửi file </button>
                                    <div id="viewEdi"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: handsontable-js" />
    <script th:src="@{/eport/js/modules/edo/update.js}"></script>
</body>

</html>