<!DOCTYPE html>
<html lang="vi">

<head>
    <th:block th:include="include :: header('Left and right selection components')" />
    <th:block th:include="include :: bootstrap-duallistbox-css" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Double list box <small>https://github.com/istvan-ujjmeszaros/bootstrap-duallistbox</small></h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            Bootstrap Dual Listbox is for Twitter Bootstrap has optimized the responsive dual list box.It is suitable for all modern browsers and touch devices.
                        </p>

                        <form id="form" action="#" class="wizard-big">
                            <select class="form-control dual_select" multiple>
                                <option value="1">Ruoyi1</option>
                                <option value="2">Ruoyi2</option>
                                <option value="3">Ruoyi3</option>
                                <option selected value="4">Ruoyi4</option>
                                <option selected value="5">Ruoyi5</option>
                                <option value="6">Ruoyi6</option>
                                <option value="7">Ruoyi7</option>
                                <option value="8">Ruoyi8</option>
                                <option value="9">Ruoyi9</option>
                                <option value="10">Ruoyi10</option>
                                <option value="11">Ruoyi11</option>
                                <option value="12">Ruoyi12</option>
                            </select>
                        </form>
                        <hr>
                        <div class="form-group">
                            <label class="font-noraml">Related parameter details</label>
                            <div><a href="http://doc.idock.vip/idock/document/zjwd.html#bootstrap-duallistbox" target="_blank">http://doc.idock.vip/idock/document/zjwd.html#bootstrap-duallistbox</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-duallistbox-js" />
    <script type="text/javascript">
        $('.dual_select').bootstrapDualListbox({
            nonSelectedListLabel: 'There is no user',
            selectedListLabel: 'Existing user',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false, // A shear appears, indicating that one can be selected at a time
            filterTextClear: 'Show all',
            moveSelectedLabel: "Add",
            moveAllLabel: 'Add all',
            removeSelectedLabel: "Remove",
            removeAllLabel: 'Remove all',
            infoText: 'Total {0} items',
            showFilterInputs: false, // whether to search
            selectorMinimalHeight: 160
        });
    </script>
</body>

</html>
