<!DOCTYPE html>
<html lang="zh">

<head>
    <th:block th:include="include :: header('Drag sort')" />
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Task list</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag the task panel between the lists</p>
                        <div class="input-group">
                            <input type="text" placeholder="添加新任务" class="input input-sm form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> add</button>                                </span>
                        </div>

                        <ul class="sortable-list connectList agile-list">
                            <li class="warning-element">
                                Strengthen process management, make statistics on the use of education funds in a timely manner, and make the code clear,
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                Support the continued training of accounting personnel.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                Cooperate with the Teaching Office to do a good job of grants and reduction of textbook fees.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="danger-element">
                                Accountants and cashiers are required to strictly implement the financial system, abide by post duties, and report various materials on time.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.06.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Do a good job of public medical care for employees, and pay outpatient fees on time.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Review the textbook three to five times in a planned manner.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Look at a high-quality high school grammar book
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                Choose a better English newspaper and improve your English learning through reading.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Ongoing</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag the task panel between the lists</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="success-element">
                                Comprehensively and deeply grasp the functions, features and advantages of our "products" and apply them freely.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                Based on the information he had previously known and searched from other sources, 150 customer profiles were entered.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="warning-element">
                                Lock 20 interested customers.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Strive to complete sales targets.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="info-element">
                                Advance in summary and groping.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Continuously learn industry knowledge and product knowledge to bring practical introduction content to customers
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="danger-element">
                                First friend, second order: develop good friendship with customers, change the role of salesperson, and think about customers everywhere
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.11.04
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Completed</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag the task panel between the lists</p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="info-element">
                                Work schedule
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Insist on making 40 effective calls every day to tap potential customers
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Before visiting customers, make a comprehensive understanding of the customer (customer's potential needs, positions, permissions, and personal personality and hobbies)
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Improve your telemarketing skills and communicate with customers flexibly and professionally
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">OK</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Through the telephone sales process, understand the use and purchase of equipment and instruments and related important trackers in Shengcheng
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <script>
        $(document).ready(function() {
            $(".sortable-list").sortable({
                connectWith: ".connectList"
            }).disableSelection()
        });
    </script>
</body>

</html>
