<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Thông Tin cập nhật DO</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Kính gửi: Các bên liên quan,</p>
    <b style="font-style: italic; padding-left: 73px;">Whom it may concern,</b>
    <br><br>
    <p>Hệ thống cổng thông tin trao đổi lệnh giao hàng DO Cảng Đà Nẵng đã ghi nhận nội dung cập nhật như sau:</p>
    <i>The DNP’s web portal has been updated as follows</i>
    <p>- Ngày cập nhật: <span th:text="${updateTime}"></span></p>
    <i>  Update time</i>
    <p>- Hãng tàu: <span th:text="${carrierCode}"></span></p>
    <i>  Carrier</i>
    <p>- Số B/L: <span th:text="${billOfLading}"></span></p>
    <i>  B/L number</i>
    <p>- Số container: <span th:text="${containerNumber}"></span></p>
    <i>  Container number</i>
    <p>- Tên Khách hàng: <span th:text="${consignee}"></span></p>
    <i>  Consignee</i>
    <p>- Hạn lệnh: <span th:text="${expiredDem}"></span></p>
    <i>  Valid to date</i>
    <p>- Nơi hạ vỏ: <span th:text="${emptyContainerDepot}"></span></p>
    <i>  Empty container depot</i>
    <p>- Số ngày miễn lưu vỏ: <span th:text="${detFreeTime}"></span></p>
    <i>  DET free time</i>
    <p>- Tên tàu: <span th:text="${vessel}"></span></p>
    <i>  Vessel</i>
    <p>- Chuyến: <span th:text="${voyNo}"></span></p>
    <i>  Voyage</i>
    <p>- Ghi chú: <span th:text="${remark}"></span></p>
    <i>  Remark</i>
    <br><br>
    <p>Trận trọng,</p>
    <i>Best Regards,</i>
    <br><br>
    <div style="color:#464e5f;font-family:Tahoma;font-size:10pt">Danang Port – web portal DO.</div>
    <div style="color:#464e5f;font-family:Tahoma;font-size:10pt">Add: 26 Bach Dang street, Hai Chau district, Danang city, VietNam</div>
    <a href="Website: www.danangport.com">Website: www.danangport.com</a>
</body>