<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Thông Tin Tài Khoản</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="left">
   <tbody>
   <tr>
    <td>
     <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody><tr>
       <td style="width:45px">
        <br>
       </td>
       <td>
        <div>
         <div style="font-weight:bold;font-family:Tahoma;font-size:10pt">Kính gửi Quý khách hàng,</div><br/>
         <div style="padding-bottom:5px;font-family:Tahoma;font-size:10pt">
            Cảng Đà Nẵng trân trọng thông báo<br>
            Thông tin tài khoản đăng nhập tra cứu hóa đơn điện tử của Quý công ty là:
         </div>
         <br>
         <div style="padding-bottom:5px">
          <table>
            <tr>
              <td style="font-weight:bold;font-family:Tahoma;font-size:10pt;padding-right: 10pt">Tên đăng nhập:</td>
              <td><span style="font-family:Tahoma;font-size:10pt" th:text="${username}">Username</span></td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Tahoma;font-size:10pt;padding-right: 10pt">Mật khẩu:</td>
              <td><span style="font-family:Tahoma;font-size:10pt" th:text="${password}">Password</span></td>
            </tr>
            <tr>
              <td style="font-weight:bold;font-family:Tahoma;font-size:10pt;padding-right: 10pt">Địa chỉ tra cứu:</td>
              <td><a style="font-family:Tahoma;font-size:10pt" href="http://hoadon.danangport.com" target="_blank">http://hoadon.danangport.com</a></td>
            </tr>
          </table>
         </div>
         <br>
         <div style="color:#646567;font-family:Tahoma;font-size:10pt">Trân trọng cảm ơn,</div>
         <div style="color:#646567;font-weight:bold;font-family:Tahoma;font-size:10pt">Cảng Đà Nẵng</div>
         <div>
          <hr style="color:#015198;border:0;height:2px;background-color:#015198">
         </div>
        </div>
        <div align="left" style="padding-bottom:15px;color:#58585a;font-family:Tahoma;font-size:9pt;vertical-align:top;height:220px">
         <div>Thư này được gửi tự động từ địa chỉ của hệ thống. Xin Quý khách vui lòng không gửi lại vào địa chỉ này!</div>
         <div>Mọi thông tin cần hỗ trợ, Quý khách vui lòng liên hệ:</div>
         <div><b>Trung tâm dịch vụ khách hàng - Bộ phận kế toán XN cảng Tiên Sa:</b> <span> 02363. 925971, 02363. 848303</span></div>
         <div><b>Phòng kinh doanh:</b> <span>02363. 822163</span></div>
         <div><b>Phòng khai thác:</b> <span>02363. 823173</span></div>
         <div><b>Phòng hành chính:</b> <span>02363. 822513</span></div>
         <br>
         <div>Hoặc gửi email tới 
          <a href="mailto:cangdn@danangport.com" target="_blank">
           <span style="color:#2e3192">cangdn@danangport.com</span>
          </a>để được giải đáp.
         </div>
        </div>
       </td>
       <td style="width:45px">
        <br>
       </td>
      </tr>
     </tbody></table>
    </td>
   </tr>
  </tbody></table>
</body>