<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List Equipment attached document')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>File Name：</label>
                                <input type="text" name="fileName"/>
                            </li>
                            <li>
                                <label>Original File Name：</label>
                                <input type="text" name="originalFileName"/>
                            </li>
                            <li>
                                <label>File Path：</label>
                                <input type="text" name="filePath"/>
                            </li>
                            <li>
                                <label>Mime Type：</label>
                                <select name="mimeType" th:with="type=${@dict.getType('')}">
                                    <option value="">All</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="edo:document:add">
                    <i class="fa fa-plus"></i> Add
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="edo:document:edit">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="edo:document:remove">
                    <i class="fa fa-remove"></i> Delete
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="edo:document:export">
                    <i class="fa fa-download"></i> Export
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('edo:document:edit')}]];
        var removeFlag = [[${@permission.hasPermi('edo:document:remove')}]];
        var prefix = ctx + "edo/document";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "Equipment attached document",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'fileName', 
                    title: 'File Name'
                },
                {
                    field: 'originalFileName', 
                    title: 'Original File Name'
                },
                {
                    field: 'filePath', 
                    title: 'File Path'
                },
                {
                    field: 'mimeType', 
                    title: 'Mime Type'
                },
                {
                    title: 'Action',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>Edit</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>Delete</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>