<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Khai báo chung</title>
  <th:block th:include="include :: header('Khai báo chung')" />
  <th:block th:include="include :: datetimepicker-css" />
  <th:block th:include="include :: dropzone-css" />
  <th:block th:include="include :: handsontable-css" />
  <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
  <link rel="stylesheet" th:href="@{/eport/css/supportRequest/detail.css}" />
  <style>
    img {
      max-width: 40px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <!--  <form id="form-detail-add" class="form-horizontal"> -->
    <div class="form-horizontal mt10">
      <div class="form-group col-sm-6">
        <label class="control-label col-sm-4 col-xs-6" for="cont"><b class="text-black">Số
            container:</b></label>
        <div class="col-sm-8 col-xs-6">
          <input type="text" class="form-control" id="numberContainer" readonly />
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="control-label col-sm-4 col-xs-6" for="size"><b class="text-black">Kích thước:</b></label>
        <div class="col-sm-8 col-xs-6">
          <input type="text" class="form-control" id="sizeCont" readonly />
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-black">
      <!-- checked="checked" -->
      <section class="tabs" style="margin: 0;padding: 0;">
        <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" />
        <label for="tab-1" class="tab-label-1" style="display: none;">Cont lạnh</label>
        <div class="clear"></div>
        <div class="content">

          <!--////////////// start cont lạnh ///////////////start cont lạnh-->

          <div class="content-1" id="reeferContainer">
            <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
              <div class="form-group col-sm-12 row">
                <span class="control-label col-sm-2 col-xs-2" style="text-align: left"><b class="text-black">Nhiệt độ
                    (C):</b></span>
                <div class="col-sm-2 col-xs-2">
                  <input type="text" class="form-control" id="temperature" name="temperature" readonly />
                </div>

                <span class="control-label col-sm-2 col-xs-2" style="text-align: left"><b class="text-black">Độ ẩm
                    (%):</b></span>
                <div class="col-sm-2 col-xs-2">
                  <input type="text" class="form-control" id="humidity" name="humidity" readonly />
                </div>

                <span class="control-label col-sm-2 col-xs-2" style="text-align: left"><b class="text-black">Thông gió
                    (%):</b></span>
                <div class="col-sm-2 col-xs-2">
                  <input type="text" class="form-control" id="ventilation" name="ventilation" readonly />
                </div>
              </div>
            </div>
            <div class="form-horizontal mt10 row">

              <div class="form-group col-sm-6 row">
                <span class="control-label col-sm-4 col-xs-6" style="text-align: left">
                  <b class="text-black">Ngày cắm:</b>
                </span>
                <div class="input-group date col-sm-8 col-xs-6" id="datetimepickerSet">
                  <input type="text" class="form-control" name="daySetupTemperature" id="daySetupTemperature"
                    readonly />
                  <!-- <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span> -->
                </div>
              </div>

              <div class="form-group col-sm-6 row">
                <span class="control-label col-sm-4 col-xs-6" style="text-align: left">
                  <b class="text-black">Ngày rút:</b>
                </span>
                <div class="input-group date col-sm-8 col-xs-6" id="datetimepickerGet">
                  <input type="text" class="form-control" name="powerDrawDate" id="powerDrawDate" readonly />
                  <!-- <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span> -->
                </div>
              </div>

            </div>


            <div class="form-horizontal mt10 row">
              <div class="form-group col-sm-6 row">
                <span class="control-label col-sm-4 col-xs-6" style="text-align: left">
                  <b class="text-black">Số giờ (h):</b>
                </span>
                <div class="input-group date col-sm-8 col-xs-6">
                  <input type="text" class="form-control" id="numberHours" name="numberHours" readonly />
                </div>
              </div>

              <div class="form-group col-sm-6 row">
                <span class="control-label col-sm-4 col-xs-6" style="text-align: left">
                  <b class="text-black">Thành tiền (vnd):</b>
                </span>
                <div class="input-group date col-sm-8 col-xs-6">
                  <input type="text" class="form-control" id="moneyNumber" name="paymentPerson" readonly />
                </div>
              </div>
            </div>

            <div class="form-horizontal mt10 row">
              <div class="form-group col-sm-6 row" id="extendPowerDrawDateContainer">
                <span class="control-label col-sm-4 col-xs-6" style="text-align: left">
                  <b class="text-black">Đối tượng thanh toán:</b>
                </span>
                <span class="input-group date col-sm-8 col-xs-6" style="float: left;">
                  <select class="form-control" id="slPaymentInformation">
                  </select>
                </span>
              </div>
            </div>

            <div class="form-horizontal mt10 row">
              <div class="form-group col-sm-12" id="dropzoneReefer" style="margin-top: 5px;">
                <div class="preview-container-reefer col-md-12 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>
          <!--////////////////start cont quá khổ -->
          <div class="content-2" id="oversizeContainer">
            <div class="form-horizontal mt10 row">
              <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Bên trên
                      (cm):</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="oversizeTop" name="oversizeTop" readonly />
                  </div>
                </div>
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Bên phải
                      (cm):</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="oversizeRight" name="oversizeRight" readonly />
                  </div>
                </div>
              </div>

              <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Bên trái
                      (cm):</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="oversizeLeft" name="oversizeLeft" readonly />
                  </div>
                </div>
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Trọng
                      lượng (kg):</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="wgtQK" name="wgtQK" readonly />
                  </div>
                </div>
              </div>
              <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Biển số
                      xe đầu kéo:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="truckNo" name="truckNo" />
                  </div>
                </div>
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Biển số
                      xe rơ móc:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="chassisNo" name="chassisNo" />
                  </div>
                </div>
              </div>
              <!-- //////////// add tệp cont quá khổ///////-->
              <div class="form-group col-sm-12" id="dropzoneQK">
                <div class="col-sm-12 col-xs-12">
                  <button type="button" id="attachButtonQK" class="btn btn-sm btn-default">
                    <i class="fa fa-paperclip text-primary"></i> Đính kèm tệp
                  </button>
                </div>
                <div class="preview-containerQK col-md-12 col-sm-12 col-xs-12"></div>
              </div>
            </div>
          </div>

          <!--////////////// start cont nguy hiểm -->

          <div class="content-3">
            <div class="form-horizontal mt10 row">

              <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b
                      class="text-black">SealNo:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="sealNoNH" name="sealNoNH" readonly />
                  </div>
                </div>
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Trọng
                      lượng (kg):</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="wgtNH" name="wgtNH" readonly />
                  </div>
                </div>
              </div>


              <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b
                      class="text-black">IMO:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="dangerousImo" name="dangerousImo" readonly />
                  </div>
                </div>
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b
                      class="text-black">UNNO:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="dangerousUnno" name="dangerousUnno" readonly />
                  </div>
                </div>
              </div>

              <div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Tên hàng
                      hóa:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="dangerousNameProduct" name="dangerousNameProduct"
                      readonly />
                  </div>
                </div>
                <div class="form-group col-sm-6 row">
                  <span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b class="text-black">Quy cách
                      đóng gói:</b></span>
                  <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="dangerousPacking" name="dangerousPacking" readonly />
                  </div>
                </div>
              </div>
              <!-- //////////// add tệp cont nguy hiểm ///////-->
              <div class="form-group col-sm-12" id="dropzoneNH" style="display: none">
                <div class="col-sm-12 col-xs-12">
                  <button type="button" id="attachButtonNH" class="btn btn-sm btn-default">
                    <i class="fa fa-paperclip text-primary"></i> Đính kèm tệp
                  </button>
                </div>
                <div class="preview-containerNH col-md-12 col-sm-12 col-xs-12"></div>
              </div>

            </div>
          </div>
        </div>

      </section>
    </div>
    <div class="col-sm-12 layui-layer-btn footer" style="z-index: 1000; bottom: 0px;height: 50px;">
      <a class="layui-layer-btn0" onclick="confirm()">Lưu</a>
      <a class="layui-layer-btn1" onclick="closeForm()">Đóng</a>
    </div>

    <!-- </form> -->
  </div>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: datetimepicker-js" />
  <th:block th:include="include :: dropzone-js" />
  <th:block th:include="include :: handsontable-js" />
  <script type="text/javascript" th:inline="javascript">
    /**
     * Data load from server
    */
    var containerNo = [[${ containerNo }]];
    var shipmentDetail = [[${ shipmentDetail }]];

    var contCargoTypes = [[${ contCargoTypes }]];
    var contDangerousImos = [[${ contDangerousImos }]];
    var contDangerousUnnos = [[${ contDangerousUnnos }]];

    var sztp = [[${ sztp }]];
    var shipmentDetailId = /*[[${shipmentDetailId}]]*/;
    var shipmentFiles = [[${ shipmentFiles }]];
    var powerDropDate = [[${ powerDropDate }]];

    var reeferInfos = [[${ reeferInfos }]];
    var billPowers = [[${ billPowers }]];
    var oprlistBookingCheck = [[${ oprlistBookingCheck }]];
    var creditFlag = /*[[${creditFlag}]]*/;

    $(document).ready(function () {
      var dangerous = shipmentDetail.dangerous;
      var dangerousIMO = shipmentDetail.dangerousImo;
      var dangerousUNNO = shipmentDetail.dangerousUnno;


      var contsztp = shipmentDetail.sztp;
      var cont = contsztp.substring(2, 3);// lấy mã cont cắt ra 
      var oversizeTop = shipmentDetail.oversizeTop;
      var oversizeRight = shipmentDetail.oversizeRight;
      var oversizeLeft = shipmentDetail.oversizeLeft;
      var oversizeFront = shipmentDetail.oversizeFront;
      var oversizeBack = shipmentDetail.oversizeBack;
    });
  </script>
  <script th:src="@{/eport/js/modules/supportRequest/reefer/detail.js?v=20201030}"></script>
</body>

</html>