<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.equipment.mapper.EquipmentDoMapper">
    
    <resultMap type="EquipmentDo" id="EquipmentDoResult">
        <result property="id"    column="id"    />
        <result property="carrierId"    column="carrier_id"    />
        <result property="carrierCode"    column="carrier_code"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="billOfLading"    column="bill_of_lading"    />
        <result property="businessUnit"    column="business_unit"    />
        <result property="consignee"    column="consignee"    />
        <result property="containerNumber"    column="container_number"    />
        <result property="expiredDem"    column="expired_dem"    />
        <result property="emptyContainerDepot"    column="empty_container_depot"    />
        <result property="detFreeTime"    column="det_free_time"    />
        <result property="secureCode"    column="secure_code"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="vessel"    column="vessel"    />
        <result property="voyNo"    column="voy_no"    />
        <result property="doType"    column="do_type"    />
        <result property="status"    column="status"    />
        <result property="processStatus"    column="process_status"    />
        <result property="documentStatus"    column="document_status"    />
        <result property="documentReceiptDate"    column="document_receipt_date"    />
        <result property="releaseStatus"    column="release_status"    />
        <result property="createSource"    column="create_source"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="String" id="ContainerNumberListResult">
        <result property="containerNumber"    column="container_number"    />
    </resultMap>

    <sql id="selectEquipmentDoVo">
        select id, carrier_id, carrier_code, order_number, bill_of_lading, business_unit, consignee, container_number, expired_dem, empty_container_depot, det_free_time, secure_code, release_date, vessel, voy_no, do_type, status, process_status, document_status, document_receipt_date, release_status, create_source, remark, create_by, create_time, update_by, update_time from equipment_do
    </sql>
    <select id="selectEquipmentDoListPagingAdmin" parameterType="equipmentDo" resultMap="EquipmentDoResult">
        <include refid="selectEquipmentDoVo"/>
        <where>  
            <if test="expiredDemStartDay != null"> and expired_dem = #{expiredDemStartDay} OR expired_dem > #{expiredDemStartDay}</if>
            <if test="expiredDemEndDay != null"> and expired_dem = #{expiredDemEndDay} OR expired_dem &lt; #{expiredDemEndDay}</if>
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading = #{billOfLading}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code like concat('%', #{carrierCode}, '%')</if>
            <if test="consignee != null  and consignee != ''"> and consignee like concat('%', #{consignee}, '%')</if>
            <if test="containerNumber != null  and containerNumber != ''"> and container_number like concat('%', #{containerNumber}, '%')</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no like concat('%', #{voyNo}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="detFreeTime != null  and detFreeTime != ''"> and det_free_time = #{detFreeTime}</if>
            <if test="documentReceiptDate != null "> and document_receipt_date = #{documentReceiptDate}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="documentStatus != null  and documentStatus != ''"> and document_status = #{documentStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="vessel != null  and vessel != ''"> and vessel like concat('%', #{vessel}, '%')</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no like concat('%', #{voyNo}, '%')</if>
            <if test="expiredDemStartDay != null and expiredDemEndDay != null"> and expired_dem BETWEEN #{expiredDemStartDay} AND #{expiredDemEndDay}</if>
        </where>
        ORDER BY id DESC  
        LIMIT 15
        OFFSET #{page};
    </select>
    <select id="selectEquipmentDoListPagingCarrier" parameterType="equipmentDo" resultMap="EquipmentDoResult">
        <include refid="selectEquipmentDoVo"/>
        <where> 
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading = #{billOfLading}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="containerNumber != null  and containerNumber != ''"> and container_number = #{containerNumber}</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="expiredDem != null and expiredDem != ''"> and expired_dem = #{expiredDem}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="detFreeTime != null  and detFreeTime != ''"> and det_free_time = #{detFreeTime}</if>
            <if test="documentReceiptDate != null "> and document_receipt_date = #{documentReceiptDate}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="vessel != null  and vessel != ''"> and vessel = #{vessel}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
        </where>
        ORDER BY id DESC  
        LIMIT 10
        OFFSET #{page};
    </select>
    <select id="selectEquipmentDoDetails" parameterType="EquipmentDo"  resultMap="EquipmentDoResult">
        <include refid="selectEquipmentDoVo"/>
        <where>
            <if test="fromDate != null and toDate != null"> and expired_dem between #{fromDate} and #{toDate}</if>
            <if test="fromDate != null"> and expired_dem = #{fromDate} OR expired_dem > #{fromDate}</if>
            <if test="toDate != null"> and expired_dem = #{toDate} OR expired_dem &lt; #{toDate}</if> 
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading = #{billOfLading}</if>  
            <if test="carrierId != null  and carrierId != ''"> and carrier_id = #{carrierId}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="containerNumber != null  and containerNumber != ''"> and lower(container_number) like concat('%', #{containerNumber}, '%')</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="expiredDem != null "> and expired_dem = #{expiredDem}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="detFreeTime != null  and detFreeTime != ''"> and det_free_time = #{detFreeTime}</if>
            <if test="documentReceiptDate != null "> and document_receipt_date = #{documentReceiptDate}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="vessel != null  and vessel != ''"> and vessel = #{vessel}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no like concat('%', #{voyNo}, '%')</if>
        </where>
        ORDER BY id DESC  
    </select>
    <select id="selectEquipmentDoList" parameterType="EquipmentDo"  resultMap="EquipmentDoResult">
        <include refid="selectEquipmentDoVo"/>
        <where>
            <if test="fromDate != null and toDate != null"> and expired_dem between #{fromDate} and #{toDate}</if>
            <if test="fromDate != null"> and expired_dem = #{fromDate} OR expired_dem > #{fromDate}</if>
            <if test="toDate != null"> and expired_dem = #{toDate} OR expired_dem &lt; #{toDate}</if> 
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading like concat('%', #{billOfLading}, '%')</if>  
            <if test="carrierId != null  and carrierId != ''"> and carrier_id = #{carrierId}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="containerNumber != null  and containerNumber != ''"> and container_number like concat('%', #{containerNumber}, '%')</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="expiredDem != null "> and expired_dem = #{expiredDem}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="detFreeTime != null  and detFreeTime != ''"> and det_free_time = #{detFreeTime}</if>
            <if test="documentReceiptDate != null "> and document_receipt_date = #{documentReceiptDate}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_Unit = #{businessUnit}</if>
            <if test="vessel != null  and vessel != ''"> and vessel = #{vessel}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no like concat('%', #{voyNo}, '%')</if>
        </where>
        ORDER BY id DESC  
    </select>
    <select id="selectEquipmentDoListExclusiveBill" parameterType="EquipmentDo"  resultMap="EquipmentDoResult">
        select id, carrier_id, carrier_code, order_number, bill_of_lading, business_unit, consignee, count(container_number) as container_number, expired_dem, empty_container_depot, det_free_time, secure_code, release_date, vessel, voy_no, do_type, status, process_status, document_status, document_receipt_date, release_status, create_source, remark, create_by, create_time, update_by, update_time 
        from equipment_do
        <where>
            
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading like concat('%', #{billOfLading}, '%')</if>  
            <if test="carrierId != null  and carrierId != ''"> and carrier_id = #{carrierId}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="containerNumber != null  and containerNumber != ''"> and container_number like concat('%', #{containerNumber}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="documentStatus != null  and documentStatus != ''"> and document_status = #{documentStatus}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="vessel != null  and vessel != ''"> and vessel like concat('%', #{vessel}, '%')</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no like concat('%', #{voyNo}, '%')</if>
            <if test="fromDate != null and toDate != null"> and expired_dem between #{fromDate} and #{toDate}</if>
            <if test="fromDate != null"> and expired_dem = #{fromDate} OR expired_dem > #{fromDate}</if>
            <if test="toDate != null"> and expired_dem = #{toDate} OR expired_dem &lt; #{toDate}</if> 
        </where>
        group by bill_of_lading
        ORDER BY id DESC 
    </select>
    <select id="selectEquipmentDoListAdmin" parameterType="int" resultMap="EquipmentDoResult">
        <include refid="selectEquipmentDoVo"/>   
        ORDER BY id DESC  
        LIMIT #{page.offset} , ${10};
    </select>
    <select id="selectEquipmentDoById" parameterType="Long" resultMap="EquipmentDoResult">
        <include refid="selectEquipmentDoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEquipmentDo" parameterType="EquipmentDo" useGeneratedKeys="true" keyProperty="id">
        insert into equipment_do
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carrierId != null ">carrier_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="orderNumber != null  and orderNumber != ''">order_number,</if>
            <if test="billOfLading != null  and billOfLading != ''">bill_of_lading,</if>
            <if test="businessUnit != null  and businessUnit != ''">business_unit,</if>
            <if test="consignee != null  and consignee != ''">consignee,</if>
            <if test="containerNumber != null  and containerNumber != ''">container_number,</if>
            <if test="expiredDem != null ">expired_dem,</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot,</if>
            <if test="detFreeTime != null ">det_free_time,</if>
            <if test="secureCode != null  and secureCode != ''">secure_code,</if>
            <if test="releaseDate != null ">release_date,</if>
            <if test="vessel != null  and vessel != ''">vessel,</if>
            <if test="voyNo != null  and voyNo != ''">voy_no,</if>
            <if test="doType != null  and doType != ''">do_type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="processStatus != null  and processStatus != ''">process_status,</if>
            <if test="documentStatus != null  and documentStatus != ''">document_status,</if>
            <if test="documentReceiptDate != null ">document_receipt_date,</if>
            <if test="releaseStatus != null  and releaseStatus != ''">release_status,</if>
            <if test="createSource != null  and createSource != ''">create_source,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carrierId != null ">#{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="orderNumber != null  and orderNumber != ''">#{orderNumber},</if>
            <if test="billOfLading != null  and billOfLading != ''">#{billOfLading},</if>
            <if test="businessUnit != null  and businessUnit != ''">#{businessUnit},</if>
            <if test="consignee != null  and consignee != ''">#{consignee},</if>
            <if test="containerNumber != null  and containerNumber != ''">#{containerNumber},</if>
            <if test="expiredDem != null ">#{expiredDem},</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">#{emptyContainerDepot},</if>
            <if test="detFreeTime != null ">#{detFreeTime},</if>
            <if test="secureCode != null  and secureCode != ''">#{secureCode},</if>
            <if test="releaseDate != null ">#{releaseDate},</if>
            <if test="vessel != null  and vessel != ''">#{vessel},</if>
            <if test="voyNo != null  and voyNo != ''">#{voyNo},</if>
            <if test="doType != null  and doType != ''">#{doType},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="processStatus != null  and processStatus != ''">#{processStatus},</if>
            <if test="documentStatus != null  and documentStatus != ''">#{documentStatus},</if>
            <if test="documentReceiptDate != null ">#{documentReceiptDate},</if>
            <if test="releaseStatus != null  and releaseStatus != ''">#{releaseStatus},</if>
            <if test="createSource != null  and createSource != ''">#{createSource},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEquipmentDo" parameterType="EquipmentDo">
        update equipment_do
        <trim prefix="SET" suffixOverrides=",">
            <if test="carrierId != null ">carrier_id = #{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="orderNumber != null  and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="billOfLading != null  and billOfLading != ''">bill_of_lading = #{billOfLading},</if>
            <if test="businessUnit != null  and businessUnit != ''">business_unit = #{businessUnit},</if>
            <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
            <if test="containerNumber != null  and containerNumber != ''">container_number = #{containerNumber},</if>
            <if test="expiredDem != null ">expired_dem = #{expiredDem},</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot = #{emptyContainerDepot},</if>
            <if test="detFreeTime != null ">det_free_time = #{detFreeTime},</if>
            <if test="secureCode != null  and secureCode != ''">secure_code = #{secureCode},</if>
            <if test="releaseDate != null ">release_date = #{releaseDate},</if>
            <if test="vessel != null  and vessel != ''">vessel = #{vessel},</if>
            <if test="voyNo != null  and voyNo != ''">voy_no = #{voyNo},</if>
            <if test="doType != null  and doType != ''">do_type = #{doType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="processStatus != null  and processStatus != ''">process_status = #{processStatus},</if>
            <if test="documentStatus != null  and documentStatus != ''">document_status = #{documentStatus},</if>
            <choose>
            <when test="documentReceiptDate != null ">
              document_receipt_date = #{documentReceiptDate},
            </when>
            <otherwise>
                document_receipt_date = NULL,
            </otherwise>
            </choose>
            <if test="releaseStatus != null  and releaseStatus != ''">release_status = #{releaseStatus},</if>
            <if test="createSource != null  and createSource != ''">create_source = #{createSource},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="updateBillOfLading" parameterType="EquipmentDo">
        update equipment_do
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="processStatus != null  and processStatus != ''">process_status = #{processStatus},</if>
            <if test="documentStatus != null  and documentStatus != ''">document_status = #{documentStatus},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <choose>
            <when test="documentReceiptDate != null ">
              document_receipt_date = #{documentReceiptDate},
            </when>
            <otherwise>
                document_receipt_date = NULL,
            </otherwise>
            </choose>
        </trim>
        where bill_of_lading = #{billOfLading}
    </update>

    <update id="updateEquipmentDoExpiredDem" parameterType="EquipmentDo">
        update equipment_do
        <trim prefix="SET" suffixOverrides=",">
            <if test="carrierId != null ">carrier_id = #{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="orderNumber != null  and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="billOfLading != null  and billOfLading != ''">bill_of_lading = #{billOfLading},</if>
            <if test="businessUnit != null  and businessUnit != ''">business_unit = #{businessUnit},</if>
            <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
            <if test="containerNumber != null  and containerNumber != ''">container_number = #{containerNumber},</if>
            <if test="expiredDem != null ">expired_dem = #{expiredDem},</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot = #{emptyContainerDepot},</if>
            <if test="detFreeTime != null ">det_free_time = #{detFreeTime},</if>
            <if test="secureCode != null  and secureCode != ''">secure_code = #{secureCode},</if>
            <if test="releaseDate != null ">release_date = #{releaseDate},</if>
            <if test="vessel != null  and vessel != ''">vessel = #{vessel},</if>
            <if test="voyNo != null  and voyNo != ''">voy_no = #{voyNo},</if>
            <if test="doType != null  and doType != ''">do_type = #{doType},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="processStatus != null  and processStatus != ''">process_status = #{processStatus},</if>
            <if test="documentStatus != null  and documentStatus != ''">document_status = #{documentStatus},</if>
            <choose>
            <when test="documentReceiptDate != null ">
              document_receipt_date = #{documentReceiptDate},
            </when>
            <otherwise>
                document_receipt_date = NULL,
            </otherwise>
            </choose>
            <if test="releaseStatus != null  and releaseStatus != ''">release_status = #{releaseStatus},</if>
            <if test="createSource != null  and createSource != ''">create_source = #{createSource},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where bill_of_lading = #{billOfLading}
    </update>
    
    <delete id="deleteEquipmentDoById" parameterType="Long">
        delete from equipment_do where id = #{id}
    </delete>

    <delete id="deleteEquipmentDoByIds" parameterType="String">
        delete from equipment_do where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="getContainerNumberById" parameterType="Long" resultType="String">
      select container_number from equipment_do where id = #{id}
    </select>

    <select id="getContainerNumberListByIds" parameterType="String" resultMap="ContainerNumberListResult">
      select container_number from equipment_do where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
      </foreach>
    </select>
    <select id="getDocumentReceiptDate" parameterType="Long" resultType="Date">
        select document_receipt_date from equipment_do where id = #{id}
    </select>
    
    <select id="getStatus" parameterType="Long" resultType="String">
        select status from equipment_do where id = #{id}
    </select>
    <select id="getContainerListByIds" parameterType="String" resultMap="EquipmentDoResult">
      select bill_of_lading, container_number, vessel, expired_dem from equipment_do where id in
      <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
      </foreach>
    </select>
     <select id="getTotalPagesCont" parameterType="String" resultType="Long">
		select count(*) from equipment_do where bill_of_lading=#{billOfLading}
	</select>
    <select id="countContainerNumber" parameterType="String" resultType="String">
		select count(*) from equipment_do where bill_of_lading=#{billOfLading}
	</select>
	
	<select id="getReportByCarrierGroup" parameterType="String" resultType="hashmap">
		SELECT 
			(SELECT COUNT(DISTINCT bill_of_lading) FROM equipment_do where carrier_code in 
		        <foreach item="id" collection="array" open="(" separator="," close=")">
		            #{id}
		        </foreach>
        		) AS totalBl,
			(SELECT COUNT(container_number) FROM equipment_do where carrier_code in 
		        <foreach item="id" collection="array" open="(" separator="," close=")">
		            #{id}
		        </foreach>
		        ) AS totalCont,
			(SELECT COUNT(DISTINCT bill_of_lading) FROM equipment_do  where carrier_code in 
		        <foreach item="id" collection="array" open="(" separator="," close=")">
		            #{id}
		        </foreach>
		        AND process_status = 0) AS waitingBl,
			(SELECT COUNT(DISTINCT bill_of_lading) FROM equipment_do where carrier_code in 
		        <foreach item="id" collection="array" open="(" separator="," close=")">
		            #{id}
		        </foreach>
		        AND process_status = 1) AS completedBl
	</select>

    <select id="countDOStatus" parameterType="String" resultType="int">
            select count(*) from equipment_do where bill_of_lading=#{billOfLading} AND status = 1
    </select>
    <select id="countDocmentStatus" parameterType="String" resultType="int">
            select count(*) from equipment_do where bill_of_lading=#{billOfLading} AND document_status = 1
    </select>
</mapper>