<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('Notification bulletin list')" />
	<th:block th:include="include :: easyui-css" />
	<link th:href="@{/eport/css/common/style.css}" rel="stylesheet" />
</head>
<body class="grey-background">
	<span class="btn-collapse collapse"><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
	<span class="btn-collapse uncollapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
	<div class="main-body">
		<div class="main-body__search-wrapper mb-2">
			<div class="main-body__search-wrapper--container justify-content-between align-items-center w-100">
				<div class="flex__left w-20">
					<h3 class="mt-10">Quản Lý Bản Tin</h3>
				</div>
				<div class="flex__right w-80">
					<div class="justify-content-around align-items-center" id="ff">
						<div class="d-inline">
							<input class="easyui-textbox" id="noticeTitle" data-options="prompt:'Tiêu đề'" />
						</div>
						<div class="d-inline">
							<select id="active" class="easyui-combobox" panelHeight="auto" editable="false"
								style="width: 130px">
								<option value="" selected>Tất Cả</option>
								<option value="0">Nháp</option>
								<option value="1">Phát hành</option>
							</select>
						</div>
						<div class="d-inline">
							<input id="fromDate" class="easyui-datebox" style="width: 100px"
								data-options="prompt:'Từ Ngày', formatter:dateformatter, parser:dateparser" />
						</div>
						<div class="d-inline">
							<input id="toDate" class="easyui-datebox" style="width: 100px"
								data-options="prompt:'Đến Ngày', formatter:dateformatter, parser:dateparser" />
						</div>
						<div class="d-inline">
							<button class="btn btn-success btn-customs" onclick="search()" style="margin-bottom: 5px">Tìm
								kiếm</button>
						</div>
						<div class="d-inline">
							<button class="btn btn-success btn-outline btn-customs" onclick="clearInput()"
								style="margin-bottom: 5px">Làm mới</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-body__table-wrapper">
			<div class="easyui-layout" id="main-layout" style="width: 100%">
				<table id="dg" style="width: 100%" pageList="[20,50,100,150,200]" fitColumn="true">
					<thead>
						<tr>
							<th field="ck" checkbox="true"></th>
							<th data-options="field:'noticeTitle', align:'left', halign:'center', resizable:true, fixed:true"
								width="300">Tiêu Đề</th>
							<th data-options="field:'active', align:'center', halign:'center', resizable:true, fixed:true, formatter: formatActive"
								width="150">Trạng thái</th>
							<th data-options="field:'dateStart', align:'center', halign:'center', resizable:true, fixed:true, formatter: formatDate"
								width="150" sortable="true">Ngày Bắt Đầu</th>
							<th data-options="field:'dateFinish', align:'center', halign:'center', resizable:true, fixed:true, formatter: formatDate"
								width="150" sortable="true">Ngày Kết Thúc</th>
							<th data-options="field:'createTime', align:'center', halign:'center', resizable:true, fixed:true, formatter: formatDate"
								width="150" sortable="true">Ngày Tạo</th>
							<th data-options="field:'action', align:'center', halign:'center', resizable:true, formatter: formatActionBtn"
								width="150">Hành Động</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: easyui-js" />
    <script th:inline="javascript">
        $(".main-body").height($(document).height() - 10);
      	$(".easyui-layout").height($('.main-body').height() - 40);
	</script>
	<script th:src="@{/eport/js/modules/notice/notice.js?v=20201113}"></script>
</body>
</html>