<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <th:block th:include="include :: header('Giám sát')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/css/logistic/test/style.css}" rel="stylesheet" />
    <link th:href="@{/eport/css/common/style.css}" rel="stylesheet" />
  </head>
  <body class="grey-background">
    <div class="main-body">
      <div class="main-body__table-wrapper">
        <div class="easyui-layout" id="main-layout" style="width: 100%">
          <div class="left-side" data-options="region:'west',split:true, collapsible:false" title="Danh sách xe" style="width: 30%">
            <span class="left-side__collapse"><i class="fa fa-chevron-left"></i></span>
            <div class="right-side__toolbar">
              <div class="datagrid-toolbar">
                <table cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="padding: 0 5px">
                        <input class="easyui-textbox" name="search" id="search" data-options="prompt: 'Tìm kiếm' " />
                      </td>
                      <td style="padding: 0 5px">
                        <select class="easyui-combobox" name="Status" panelHeight="auto" editable="false" prompt="Trạng thái:" style="width: 100px">
                          <option value="ar">Offline</option>
                          <option value="bg">Online</option>
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-success" style="height: 30px; margin-bottom: 5px">Tìm kiếm</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <table id="dg-left" style="width: 100%" pageList="[20,50,100,150,200]">
              <thead>
                <tr>
                  <th data-options="field:'truckNo',halign:'center',resizable:true" sortable="true" width="100">BS Xe</th>
                  <th data-options="field:'chassisNo',halign:'center',resizable:true" sortable="true" width="100">BS Xe Đầu Kéo</th>
                  <th data-options="field:'driver',align:'center',halign:'center',formatter: getFullName" sortable="true" width="150">Tên tài xế</th>
                  <th data-options="field:'containerNo',align:'center'" sortable="true" width="100">Container</th>
                  <th data-options="field:'receiptDate',align:'center'" sortable="true" width="70">Cập nhật lúc</th>
                </tr>
              </thead>
            </table>
          </div>
          <div data-options="region:'center'" style="width: 100%">
            <div id="c-map"></div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <script>
      $(".main-body").height($(document).height() - 10);
      $(".easyui-layout").height($(".main-body").height() - 50);
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcB5jZhTfANWzYViExPpf7NeEl_jq0T3Q&libraries=places&&language=vi&callback=initMap" async defer></script>
    <th:block th:include="include :: monitor-view" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: easyui-js" />
    <script type="text/javascript">
      const PREFIX = ctx + "logistic/transportMonitor";
      // "use strict";
      var locations = [];
      var map;
      var pickupHistory = new Object();
      var listTruckDriver = [];
      $(function() {
        tableListDriver();
        $("#search").textbox('textbox').bind('keydown', function (e) {
        // enter key
        if (e.keyCode == 13) {
          pickupHistory.containerNo = $("#search").textbox('getText').toUpperCase();
          pickupHistory.truckNo = $("#search").textbox('getText').toUpperCase();
          pickupHistory.chassisNo = $("#search").textbox('getText').toUpperCase();
          pickupHistory.driverName = $("#search").textbox('getText').toUpperCase();
          pickupHistory.driverPhoneNumber = $("#search").textbox('getText').toUpperCase();
          tableListDriver();
        }
      });
      })
      function initMap() {
        map = new google.maps.Map(document.getElementById("c-map"), {
          center: { lat: Number(16.047079), lng: Number(108.20623) },
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          zoom: 13,
        });
        let image = {
          url: ctx + "img/truck32x32.png",
          size: new google.maps.Size(32, 32),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(16, 16),
        };

        let shape = {
          coords: [1, 1, 1, 25, 20, 25, 20, 1],
          type: "poly",
        };
        let currentDriverId, contNo, location, driverName, mobileNumber, truckNo, chassisNo;
        if (locations.length > 0) {
          currentDriverId = locations[0].driverId;
          contNo = "";
          location = new google.maps.LatLng(locations[0].x, locations[0].y);
          driverName = locations[0].driver.fullName;
          mobileNumber = locations[0].driver.mobileNumber;
          truckNo = locations[0].truckNo;
          chassisNo = locations[0].chassisNo;
        }
        for (let i = 0; i < locations.length; i++) {
          if (currentDriverId != locations[i].driverId) {
            var marker = new google.maps.Marker({
              position: location,
              map: map,
              icon: image,
              shape: shape,
              animation: google.maps.Animation.DROP,
              title: truckNo,
              html:
                "    <div>\n" +
                "		<h2>Thông tin chi tiết</h2>" +
                '        <table class="table table-striped">\n' +
                "			<tr>" +
                "			<td>Tài xế: " +
                "</td>" +
                "			<td>" +
                driverName +
                "</td></tr>" +
                "			<tr><td>Biển số đầu kéo: " +
                "</td>" +
                "			<td>" +
                mobileNumber +
                "</td></tr>" +
                "			<tr><td>Biển số đầu kéo: " +
                "</td>" +
                "			<td>" +
                truckNo +
                "</td></tr>" +
                "			</tr>" +
                "            <tr>\n" +
                "                <td>Biển số xe rơ moóc:</td>\n" +
                "                <td> " +
                chassisNo +
                "</td></tr>" +
                "			<tr><td>Container: " +
                "</td>" +
                "			<td>" +
                contNo.substring(0, contNo.length - 1) +
                " </td></tr>\n" +
                "        </table>\n" +
                "    </div>",
            });
            bindMarkerinfo(marker);
            contNo = locations[i] + ",";
            location = new google.maps.LatLng(locations[i].x, locations[i].y);
            driverName = locations[i].driver.fullName;
            mobileNumber = locations[i].driver.mobileNumber;
            truckNo = locations[i].truckNo;
            chassisNo = locations[i].chassisNo;
          } else {
            contNo += locations[i].containerNo + ",";
          }
        }
        if (locations.length > 0) {
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: image,
            shape: shape,
            animation: google.maps.Animation.DROP,
            title: truckNo,
            html:
              "    <div>\n" +
              "		<h2>Thông tin chi tiết</h2>" +
              '        <table class="table table-striped">\n' +
              "			<tr>" +
              "			<td>Tài xế: " +
              "</td>" +
              "			<td>" +
              driverName +
              "</td></tr>" +
              "			<tr><td>Số điện thoại: " +
              "</td>" +
              "			<td>" +
              mobileNumber +
              "</td></tr>" +
              "			<tr><td>Biển số đầu kéo: " +
              "</td>" +
              "			<td>" +
              truckNo +
              "</td></tr>" +
              "			</tr>" +
              "            <tr>\n" +
              "                <td>Biển số xe rơ moóc:</td>\n" +
              "                <td> " +
              chassisNo +
              "</td></tr>" +
              "			<tr><td>Container: " +
              "</td>" +
              "			<td>" +
              contNo.substring(0, contNo.length - 1) +
              " </td></tr>\n" +
              "        </table>\n" +
              "    </div>",
          });
          bindMarkerinfo(marker);
        }
      }

      $(document).ready(function () {
        $(".main-body").layout();
        $(".left-side__collapse").click(function () {
          $("#main-layout").layout("collapse", "west");
        });
        $.ajax({
          url: PREFIX + "/list",
          method: "get",
        }).done(function (res) {
          if (res.code == 0) {
            locations = res.pickupHistories.sort(compareDriverId);
            for (let i = 0; i < locations.length; i++) {
              if ((locations[i].serviceType % 2 == 0 && locations[i].status == 1) || (locations[i].serviceType % 2 == 1 && locations[i].status == 0)) {
                locations.splice(i, 1);
                i--;
              }
            }
            initMap();
            loadListDriver();
          }
        });
        // setInterval(function () {
        //   $.ajax({
        //     url: PREFIX + "/list",
        //     method: "get"
        //   }).done(function(res){
        //     if (res.code == 0) {
        //       locations = res.pickupHistories.sort(compareDriverId);
        //       for (let i=0; i<locations.length; i++) {
        //         if ((locations[i].serviceType%2 == 0 && locations[i].status == 1) || (locations[i].serviceType%2 == 1 && locations[i].staus == 0)) {
        //           locations.splice(i, 1);
        //           i--;
        //         }
        //       }
        //       initMap();
        //       loadListDriver();
        //     }
        //   });
        // }, 120000);

        $("#c-map").height($(window).height() - 70);
        $(".c-search-box").select2({
          placeholder: "Nhập biển số xe",
          allowClear: true,
          minimumInputLength: 2,
          ajax: {
            url: ctx + "/logistic/transportMonitor/searchTruck",
            dataType: "json",
            method: "GET",
            data: function (params) {
              return {
                keyWord: params.term,
              };
            },
            processResults: function (data) {
              /* 
              Data return must be
              results = [
                {
                  "id": 1,
                  "text": "label display"
                },
                 {
                  "id": 2,
                  "text": "label display"
                }
              ]
            */
              let results = [
                {
                  id: 1,
                  text: "hello I'm result one",
                },
              ];
              return {
                results: results,
              };
            },
          },
        });
      });

      var bindMarkerinfo = function (marker) {
        google.maps.event.addListener(marker, "click", function (point) {
          let infowindow = new google.maps.InfoWindow();
          infowindow.setContent(marker.html);
          infowindow.open(map, marker);
        });
      };
      function setCenterMap(lat, lng) {
        if (lat == null || lng == null) {
          $.modal.alertError("Không thể lấy ví trí của tài xế này!");
        } else {
          let location = new google.maps.LatLng(lat, lng);
          map.setZoom(16);
          map.panTo(location);
        }
      }

      function loadListDriver() {
        let str = "";
        let currentDriverId, x, y, name, truckNo;
        if (locations.length > 0) {
          currentDriverId = locations[0].driverId;
          x = locations[0].x;
          y = locations[0].y;
          name = locations[0].driver.fullName;
          truckNo = locations[0].truckNo;
        }
        for (let i = 0; i < locations.length; i++) {
          if (currentDriverId != locations[i].driverId) {
            str += '<div class="c-item col-md-12" onclick="setCenterMap(' + x + ", " + y + ')">';
            str += '<div class="col-md-4"><span>Tên tài xế:</span></div>';
            str += '<div class="col-md-8"><span>' + name + "</span></div>";
            str += '<div class="col-md-4"><span>Biển số xe đầu kéo:</span></div>';
            str += '<div class="col-md-8"><span>' + truckNo + "</span></div>";
            str += "</div>";
            currentDriverId = locations[i].driverId;
            x = locations[i].x;
            y = locations[i].y;
            name = locations[i].driver.fullName;
            truckNo = locations[i].truckNo;
          }
        }
        if (locations.length > 0) {
          str += '<div class="c-item col-md-12" onclick="setCenterMap(' + x + ", " + y + ')">';
          str += '<div class="col-md-4"><span>Tên tài xế:</span></div>';
          str += '<div class="col-md-8"><span>' + name + "</span></div>";
          str += '<div class="col-md-4"><span>Biển số xe đầu kéo:</span></div>';
          str += '<div class="col-md-8"><span>' + truckNo + "</span></div>";
          str += "</div>";
        }
        $("#list").html(str);
      }

      function compareDriverId(a, b) {
        // Use toUpperCase() to ignore character casing
        const driverA = a.driverId;
        const driverB = b.driverId;

        let comparison = 0;
        if (driverA > driverB) {
          comparison = 1;
        } else if (driverA < driverB) {
          comparison = -1;
        }
        return comparison;
      }

      

      function tableListDriver()
      {
        $("#dg-left").datagrid({
        url: PREFIX + "/tableList",
        method: "POST",
        singleSelect: true,
        height: $(document).height() - $(".main-body__search-wrapper").height() - 135,
        clientPaging: true,
        collapsible: true,
        pagination: true,
        pageSize: 20,
        onClickRow: function () {
          getSelectedRow();
        },
        nowrap: false,
        striped: true,
        rownumbers: true,
        loader: function (param, success, error) {
          var opts = $(this).datagrid("options");
          if (!opts.url) return false;
          $.ajax({
            type: opts.method,
            url: opts.url,
            contentType: "application/json",
            accept: "text/plain",
            dataType: "text",
            data: JSON.stringify({
              pageNum: param.page,
              pageSize: param.rows,
              orderByColumn: param.sort,
              isAsc: param.order,
              data: pickupHistory,
            }),
            dataType: "json",
            success: function (data) {
            console.log("TCL: data", data)
              sortData(data);
              success(listTruckDriver);
            },
            error: function () {
              error.apply(this, arguments);
            },
          });
        },
      });
      }
      function getFullName(row)
      {
        if(row != null)
        {
          return row.fullName;
        }
      }

      function getSelectedRow()
      {
        var row = $("#dg-left").datagrid("getSelected");
        if(row.x == null || row.y == null)
        {
            $.modal.alertWarning('Tài xế chưa bật app <br> Thông tin tài xế : ' + row.driver.fullName + '<br> Đầu kéo : ' + row.truckNo + '<br> Rơ móoc : ' + row.chassisNo)
        }else {
          getMap(row);
        }
      }

      function sortData(data)
      {
        let truckNoCheck; 
        let chassisNoCheck;
        for(let i = 0;i < data.rows.length ; i++)
        {
            if(data.rows[i].truckNo == truckNoCheck && data.rows[i].chassisNo == chassisNoCheck)
            {
                listTruckDriver[i-1].containerNo += ',<br>'+ data.rows[i].containerNo;
            }else {
              listTruckDriver.push(data.rows[i]);
            }
            truckNoCheck = data.rows[i].truckNo;
            chassisNoCheck = data.rows[i].chassisNo;
            
        }
      }

      function getMap(row)
      {
        let myCenter=new google.maps.LatLng(row.x, row.y);
        map = new google.maps.Map(document.getElementById("c-map"), {
          center: { lat: Number(row.x), lng: Number(row.y) },
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          zoom: 18,
        });
        let image = {
          url: ctx + "img/truck32x32.png",
          size: new google.maps.Size(32, 32),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(16, 16),
        };

        let shape = {
          coords: [1, 1, 1, 25, 20, 25, 20, 1],
          type: "poly",
        };
        var marker = new google.maps.Marker({
            position: myCenter,
            map: map,
            icon: image,
            shape: shape,
            animation: google.maps.Animation.DROP,
            title: row.truckNo,
            html:
              "    <div>\n" +
              "		<h2>Thông tin chi tiết</h2>" +
              '        <table class="table table-striped">\n' +
              "			<tr>" +
              "			<td>Tài xế: " +
              "</td>" +
              "			<td>" +
                row.driver.fullName +
              "</td></tr>" +
              "			<tr><td>Số điện thoại: " +
              "</td>" +
              "			<td>" +
                row.driver.mobileNumber +
              "</td></tr>" +
              "			<tr><td>Biển số đầu kéo: " +
              "</td>" +
              "			<td>" +
                row.truckNo +
              "</td></tr>" +
              "			</tr>" +
              "            <tr>\n" +
              "                <td>Biển số xe rơ moóc:</td>\n" +
              "                <td> " +
                row.chassisNo +
              "</td></tr>" +
              "			<tr><td>Container: " +
              "</td>" +
              "			<td>" +
                row.containerNo +
              " </td></tr>\n" +
              "        </table>\n" +
              "    </div>",
          });
          bindMarkerinfo(marker);
      }
    </script>
  </body>
</html>
