<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <th:block th:include="include :: header('Giám sát')" />
    <th:block th:include="include :: select2-css" />
    <link th:href="@{/css/logistic/monitor/style.css}" rel="stylesheet" />
  </head>
  <body class="bg-white">
    <div class="p-main-div">
      <div class="p-list-items row">
        <div class="c-search-zone col-md-12">
          <div class="input-group">
            <select class="form-control c-search-box">
              <option></option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-default c-btn-search" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        <div id="list">

        </div>
        <!-- <div class="c-item col-md-12" onclick="setCenterMap(16.077450, 108.212149)">
          <div class="col-md-4"><span>Tên tài xế:</span></div>
          <div class="col-md-8"><span id="name"></span></div>
          <div class="col-md-4"><span>Biển số xe đầu kéo:</span></div>
          <div class="col-md-8"><span id="truckNo"></span></div>
          <div class="col-md-4"><span>Container:</span></div>
          <div class="col-md-8"><span id="containerNo"></span></div>
        </div> -->

        <div class="col-md-12 text-center">
          <span class="c-loadmore"><i class="fa fa-angle-double-down" aria-hidden="true"></i>&nbsp;Thêm</span>
        </div>
      </div>
      <div id="c-map"></div>
    </div>
    <th:block th:include="include :: footer" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcB5jZhTfANWzYViExPpf7NeEl_jq0T3Q&libraries=places&&language=vi&callback=initMap" async defer></script>
    <th:block th:include="include :: monitor-view" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
    const PREFIX = ctx + "logistic/transportMonitor"
      // "use strict";
      var locations = [];
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("c-map"), {
          center: { lat: Number(16.047079), lng: Number(108.20623) },
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          zoom: 13,
        });
        let image = {
          url: "/img/truck32x32.png",
          size: new google.maps.Size(32, 32),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(16, 16),
        };

        let shape = {
          coords: [1, 1, 1, 25, 20, 25, 20, 1],
          type: "poly",
        };
        let currentDriverId, contNo, location, driverName, mobileNumber, truckNo, chassisNo;
        if (locations.length > 0) {
          currentDriverId = locations[0].driverId; 
          contNo = '';
          location = new google.maps.LatLng(locations[0].x, locations[0].y);
          driverName = locations[0].driver.fullName;
          mobileNumber = locations[0].driver.mobileNumber;
          truckNo = locations[0].truckNo;
          chassisNo = locations[0].chassisNo;
        }
        for (let i = 0; i < locations.length; i++) {
          if (currentDriverId != locations[i].driverId) {
            var marker = new google.maps.Marker({
              position: location,
              map: map,
              icon: image,
              shape: shape,
              animation: google.maps.Animation.DROP,
              title: truckNo,
              html:
                "    <div>\n" +
                "		<h2>Thông tin chi tiết</h2>" +
                '        <table class="table table-striped">\n' +
                "			<tr>" +
                "			<td>Tài xế: " +
                "</td>" +
                "			<td>" +
                driverName +
                "</td></tr>" +
                "			<tr><td>Biển số đầu kéo: " +
                "</td>" +
                "			<td>" +
                mobileNumber +
                "</td></tr>" +
                "			<tr><td>Biển số đầu kéo: " +
                "</td>" +
                "			<td>" +
                truckNo +
                "</td></tr>" +
                "			</tr>" +
                "            <tr>\n" +
                "                <td>Biển số xe rơ moóc:</td>\n" +
                "                <td> " +
                chassisNo +
                  "</td></tr>" +
                "			<tr><td>Container: " +
                "</td>" +
                "			<td>" +
                contNo.substring(0, contNo.length-1) +
                " </td></tr>\n" +
                "        </table>\n" +
                "    </div>",
            });
            bindMarkerinfo(marker);
            contNo = locations[i] + ',';
            location = new google.maps.LatLng(locations[i].x, locations[i].y);
            driverName = locations[i].driver.fullName;
            mobileNumber = locations[i].driver.mobileNumber;
            truckNo = locations[i].truckNo;
            chassisNo = locations[i].chassisNo;
          } else {
            contNo += locations[i].containerNo + ',';
          }
        }
        if (locations.length > 0) {
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: image,
            shape: shape,
            animation: google.maps.Animation.DROP,
            title: truckNo,
            html:
              "    <div>\n" +
              "		<h2>Thông tin chi tiết</h2>" +
              '        <table class="table table-striped">\n' +
              "			<tr>" +
              "			<td>Tài xế: " +
              "</td>" +
              "			<td>" +
              driverName +
              "</td></tr>" +
              "			<tr><td>Số điện thoại: " +
              "</td>" +
              "			<td>" +
              mobileNumber +
              "</td></tr>" +
              "			<tr><td>Biển số đầu kéo: " +
              "</td>" +
              "			<td>" +
              truckNo +
              "</td></tr>" +
              "			</tr>" +
              "            <tr>\n" +
              "                <td>Biển số xe rơ moóc:</td>\n" +
              "                <td> " +
              chassisNo +
                "</td></tr>" +
              "			<tr><td>Container: " +
              "</td>" +
              "			<td>" +
              contNo.substring(0, contNo.length-1) +
              " </td></tr>\n" +
              "        </table>\n" +
              "    </div>",
          });
          bindMarkerinfo(marker);
        }
      }

      $(document).ready(function () {
        $.ajax({
          url: PREFIX + "/list",
          method: "get"
        }).done(function(res){
          if (res.code == 0) {
            locations = res.pickupHistories.sort(compareDriverId);
            for (let i=0; i<locations.length; i++) {
              if ((locations[i].serviceType%2 == 0 && locations[i].status == 1) || (locations[i].serviceType%2 == 1 && locations[i].status == 0)) {
                locations.splice(i, 1);
                i--;
              }
            }
            initMap();
            loadListDriver();
          }
        });
        setInterval(function () {
          $.ajax({
            url: PREFIX + "/list",
            method: "get"
          }).done(function(res){
            if (res.code == 0) {
              locations = res.pickupHistories.sort(compareDriverId);
              for (let i=0; i<locations.length; i++) {
                if ((locations[i].serviceType%2 == 0 && locations[i].status == 1) || (locations[i].serviceType%2 == 1 && locations[i].staus == 0)) {
                  locations.splice(i, 1);
                  i--;
                }
              }
              initMap();
              loadListDriver();
            }
          });
        }, 120000);

        $("#c-map").height($(window).height() - 70);
        $(".c-search-box").select2({
          placeholder: "Nhập biển số xe",
          allowClear: true,
          minimumInputLength: 2,
          ajax: {
            url: "/logistic/transportMonitor/searchTruck",
            dataType: "json",
            method: "GET",
            data: function (params) {
              return {
                keyWord: params.term,
              };
            },
            processResults: function (data) {
              /* 
              Data return must be
              results = [
                {
                  "id": 1,
                  "text": "label display"
                },
                 {
                  "id": 2,
                  "text": "label display"
                }
              ]
            */
              let results = [
                {
                  id: 1,
                  text: "hello I'm result one",
                },
              ];
              return {
                results: results,
              };
            },
          },
        });
      });
      


      var bindMarkerinfo = function (marker) {
        google.maps.event.addListener(marker, "click", function (point) {
          let infowindow = new google.maps.InfoWindow();
          infowindow.setContent(marker.html);
          infowindow.open(map, marker);
        });
      };
      function setCenterMap(lat, lng) {
        if (lat == null || lng == null) {
          $.modal.alertError("Không thể lấy ví trí của tài xế này!");
        } else {
          let location = new google.maps.LatLng(lat, lng);
          map.setZoom(16);
          map.panTo(location);
        }
      }

      function loadListDriver() {
        let str = '';
        let currentDriverId, x, y, name, truckNo;
        if (locations.length > 0) {
          currentDriverId = locations[0].driverId; 
          x = locations[0].x;
          y = locations[0].y;
          name = locations[0].driver.fullName;
          truckNo = locations[0].truckNo;
        }
        for (let i=0; i<locations.length; i++) {
          if (currentDriverId != locations[i].driverId) {
            str += '<div class="c-item col-md-12" onclick="setCenterMap('+ x +', '+ y +')">';
            str += '<div class="col-md-4"><span>Tên tài xế:</span></div>';
            str += '<div class="col-md-8"><span>'+ name +'</span></div>';
            str += '<div class="col-md-4"><span>Biển số xe đầu kéo:</span></div>';
            str += '<div class="col-md-8"><span>'+ truckNo +'</span></div>';
            str += '</div>';
            currentDriverId = locations[i].driverId; 
            x = locations[i].x;
            y = locations[i].y;
            name = locations[i].driver.fullName;
            truckNo = locations[i].truckNo;
          }
        }
        if (locations.length > 0) {
          str += '<div class="c-item col-md-12" onclick="setCenterMap('+ x +', '+ y +')">';
          str += '<div class="col-md-4"><span>Tên tài xế:</span></div>';
          str += '<div class="col-md-8"><span>'+ name +'</span></div>';
          str += '<div class="col-md-4"><span>Biển số xe đầu kéo:</span></div>';
          str += '<div class="col-md-8"><span>'+ truckNo +'</span></div>';
          str += '</div>';
        }
        $('#list').html(str);
      }

      function compareDriverId(a, b) {
        // Use toUpperCase() to ignore character casing
        const driverA = a.driverId;
        const driverB = b.driverId;

        let comparison = 0;
        if (driverA > driverB) {
          comparison = 1;
        } else if (driverA < driverB) {
          comparison = -1;
        }
        return comparison;
      }
    </script>
  </body>
</html>
