<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Thông Tin Tài Khoản</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="left">
   <tbody>
   <tr>
    <td>
     <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody><tr>
       <td style="width:45px">
        <br>
       </td>
       <td>
        <div>
         <div style="font-weight:bold;font-family:Tahoma;font-size:10pt">Kính gửi <span th:text="${username}"></span><span>,</span></div><br/>
         <div style="padding-bottom:5px;font-family:Tahoma;font-size:10pt">
            Cảng Đà Nẵng trân trọng thông báo<br>
            Tài khoản <span th:text="${email}"></span> đã được đặt lại mật khẩu!<br>
            Mật khẩu mới của quý khách là: <b th:text="${password}"></b><br>
            Để đảm bảo an toàn, quý khách vui lòng truy cập vào: <a style="font-family:Tahoma;font-size:10pt" th:href="${link}" target="_blank" th:text="${link}"></a>
         </div>
         <div style="color:#646567;font-family:Tahoma;font-size:10pt">Trân trọng cảm ơn,</div>
         <div style="color:#646567;font-weight:bold;font-family:Tahoma;font-size:10pt">Cảng Đà Nẵng</div>
         <div>
          <hr style="color:#015198;border:0;height:2px;background-color:#015198">
         </div>
        </div>
       </td>
       <td style="width:45px">
        <br>
       </td>
      </tr>
     </tbody></table>
    </td>
   </tr>
  </tbody></table>
</body>