<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>File Upload</title>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/ajax/libs/dropzone/dropzone.min.js}"></script>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/ajax/libs/dropzone/dropzone.min.css}" rel="stylesheet" />
  <script th:src="@{/ajax/libs/handsontable/handsontable.full.min.js}"></script>
  <link th:href="@{/ajax/libs/handsontable/handsontable.full.min.css}" rel="stylesheet" media="screen" />

</head>

<body>
  <div class="container-fluid">
    <div class="panel panel-default" id="fileupload_main_panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div id="bannarzone" class="dropzone" style="min-height: 120px"></div>
           
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="viewEdi"></div>

  <script>
    var hot;
    var statusTable = false;
    var dataObj;
    var myAvatarzone = new Dropzone("#bannarzone", {
      url: "/edi/file",
      method: "post", 
      paramName: "file", 
      maxFiles: 5,
      maxFilesize: 2, //MB
      acceptedFiles: ".txt",
      addRemoveLinks: true,
      //parallelUploads: 1,//Maxfile upload
      //previewsContainer:"#viewEdi",// previews Content
      dictDefaultMessage: 'KÉO THẢ FILE, HOẶC NHẤP VÀO ĐÂY ĐỂ NHẬP EDI',
     // dictMaxFilesExceeded: "You can upload only one!",
      dictResponseError: 'Upload error!',
      dictInvalidFileType: "Invalid EDI file. Please upload txt file only.",
      // dictFallbackMessage: "Browser not support",
      dictFileTooBig: "File max size!",
      init: function () {
        this.on("addedfile", function (file) {

        });
        this.on("success", function (data) {
          if (data != "") {
            var rs = JSON.parse(data.xhr.response);
            console.log(rs);
            if (dataObj == null) {
              dataObj = rs;
              dataObj.forEach(element => {
                  element["file"] = data.upload.uuid; 
              });
              //console.log(dataObj);
            }else {
              rs.forEach(element => {
                // add file-id to element
                  //element.push("fid", data.upload.uuid);
                  element["file"] = data.upload.uuid;
                  dataObj.push(element);
                  console.log(dataObj);
              });
            }
           }
            if(statusTable == true)
            {
              hot.render();
              return;
            }
            loadView();
        });
        this.on("error", function (file, data) {

            console.log("error", data, file);
        });
        this.on("removedfile", function (file) { 
              var fileId = file.upload.uuid;
              console.log(fileId);
              var i = 0;
              for(i; i<dataObj.length;i++)
              {
                  if(dataObj[i].file == fileId)
                  {
                    dataObj.splice(i,1);
                    i--;
                  }
              }
              console.log("i",i); 
              hot.render();
        });
      }
    });
  </script>
  <script>
    function loadView()
    {
         var container = document.getElementById('viewEdi');
            hot = new Handsontable(container, {
            data: dataObj,
            columns: [{
                data: 'contNo',
                type: 'text'
              },
              {
                data: 'buildNo',
                type: 'text'
              },
              {
                data: 'businessUnit',
                type: 'text'
              },
              {
                data: 'orderNo',
                type: 'text'
              },
              {
                data: 'releaseTo',
                type: 'text'
              },
              {
                data: 'validToDay',
                type: 'date',
                dateFormat: 'MM/DD/YYYY'
              },
              {
                data: 'emptyContDepot',
                type: 'text'
              },
              {
                data: 'haulage',
                type: 'numeric',
              }
            ],
            rowHeaders: true,
            colHeaders: [
              'Số Cont',
              'Số Bill',
              'Chủ khai thác',
              'Order Number',
              'Người nhận hàng',
              'Ngày hết hạn lưu cont',
              'Nơi hạ rỗng',
              'Số ngày miễn lưu vỏ'
            ],
          });
          statusTable = true;
        }
  </script>
</body>

</html>