<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>File Upload</title>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/dropzone/dropzone.min.js}"></script>


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/dropzone/dropzone.min.css}" rel="stylesheet"/>

</head>
<body>
	<div class="container-fluid">
		<div class="panel panel-default" id="fileupload_main_panel">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div id="bannarzone" class="dropzone" style="min-height: 120px"></div>
						<!--<form enctype="multipart/form-data" action="/edi/file" method="POST" id="ediDrop">
						</form>-->
					</div>
				</div>
			</div>
		</div>
    </div>
    

	<script>
		var myAvatarzone = new Dropzone("#bannarzone", {
        url: "/edi/file",//文件提交地址
        method: "post",  //也可用put
        paramName: "file", //默认为file
//        maxFiles: 1,//一次性上传的文件数量上限
//        maxFilesize: 2, //文件大小，单位：MB
        acceptedFiles: ".txt", //上传的类型
        addRemoveLinks: true,
//        parallelUploads: 1,//一次上传的文件数量
        //previewsContainer:"#preview",//上传图片的预览窗口
        dictDefaultMessage: 'KÉO FILE VÀO ĐÂY ĐỂ INPORT',
        dictMaxFilesExceeded: "您最多只能上传1个文件！",
        dictResponseError: 'Upload error!',
        dictInvalidFileType: "Invalid EDI file. Please upload txt file only.",
        dictFallbackMessage: "浏览器不受支持",
        dictFileTooBig: "文件过大上传文件最大支持.",
        dictRemoveLinks: "删除",
        dictCancelUpload: "取消",
        init: function () {
            this.on("addedfile", function (file) {
				//上传文件时触发的事件
				//console.log("File added" + file);
                // console.log("Success: " + file);
            });
            this.on("success", function (data) {
                //上传成功触发的事件
                if (data != "") {
					// $("#avatarImgId").val(data.data);
					console.log(data.xhr.response);
                }
 
            });
            this.on("error", function (file, data) {
				//上传失败触发的事件
				console.log("error", data, file);
            });
            this.on("removedfile", function (file) {//删除文件触发结果
                //console.log(file);
				// $("#avatarImgId").val("");
				// console.log("Remove", file);
            });
        }
    });
	</script>
</body>
</html>
