<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('List 【请填写功能名称】')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>Mã cont：</label>
                                <input type="text" name="contNo"/>
                            </li>
                            <li>
                                <label>Số bill：</label>
                                <input type="text" name="buildNo"/>
                            </li>
                            <li>
                                <label>Order Number：</label>
                                <input type="text" name="orderNo"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:edi:add">
                    <i class="fa fa-plus"></i> Add
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:edi:edit">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:edi:remove">
                    <i class="fa fa-remove"></i> Delete
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:edi:export">
                    <i class="fa fa-download"></i> Export
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:edi:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:edi:remove')}]];
        var prefix = ctx + "EDI";

        $(function() {
            var options = {
                url: prefix + "/datalist",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'ediId', 
                    title: '${comment}',
                    visible: false
                },
                {
                    field: 'userId', 
                    title: 'Mã nhân viên'
                },
                {
                    field: 'contNo', 
                    title: 'Số cont'
                },
                {
                    field: 'buildNo', 
                    title: 'Số bill'
                },
                {
                    field: 'businessUnit', 
                    title: 'Chủ khai thác hàng'
                },
                {
                    field: 'orderNo', 
                    title: 'Order Number'
                },
                {
                    field: 'releaseTo', 
                    title: 'Người nhận hàng'
                },
                {
                    field: 'validtoDay', 
                    title: 'Ngày hết hạn lưu cont'
                },
                {
                    field: 'emptycontDepot', 
                    title: 'Nơi hạ rỗng'
                },
                {
                    field: 'haulage', 
                    title: 'Số ngày miễn lưu vỏ'
                },
                {
                    title: 'Action',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.ediId + '\')"><i class="fa fa-edit"></i>Edit</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.ediId + '\')"><i class="fa fa-remove"></i>Delete</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>