<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}"/>
    <link th:href="@{/eport/css/edo/manage/index.css}" rel="stylesheet" />
  </head>
  <body class="gray-bg container-fluid">
    <div id="wrapper">
      <div class="row">
        <div class="col-sm-12 select-table mt0 pr5">
          <div class="col-sm-12 fixed-table-toolbar">
            <div class="bs-bars pull-left mb5 mt0"></div>
            <div class="columns columns-right btn-group pull-right mb0 mt0">
              <div class="select-list">
                <ul>
                  
                  <li>
                    <input class="form-control" type="text" name="searchBillNo" id="searchBillNo" placeholder="Tìm kiếm Bill No" />
                  </li>
                  <li>
                    <span class="textTitle" id="showBillNo"></span>
                  </li>
                  <li>
                      <span class="textTitle" id="countContainer"></span>
                  </li>
                  <!-- <li>
                    <div class="form-group">
                      <select class="form-control" id="carrierCode">
                        <option value="" selected disabled>Chọn Hãng tàu</option>
                      </select>
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <select class="form-control" id="carrierCode">
                        <option value="" selected disabled>Chọn Carrier Code</option>
                      </select>
                    </div>
                  </li> -->
                  <li>
                    <input class="form-control" type="text" name="searchAll" id="searchAll" placeholder="Tìm kiếm" />
                  </li>
                  <li>
                    <input class="time-input" id="fromDate" name="fromDate" placeholder="Từ ngày" />
                  </li>
                  <li>
                    <input class="time-input" id="toDate" name="toDate" placeholder="Đến ngày" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3 table-container table-left">
            <table id="dg">
              <thead>
                <tr>
                  <th data-options="field:'billOfLading',align:'left'">
                    BILL OF LADING
                  </th>
                  <th data-options="field:'businessUnit',align:'center'" width="90">
                    OPE <br />
                    CODE
                  </th>
                  <th data-options="field:'id',align:'center'" width="110">
                    CREATE TIME
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="col-sm-9 table-container">
            <table id="dgContainer">
              <thead>
                <tr>
                  <th data-options="field:'containerNumber',align:'left'" width="120">
                    CONTAINER NO
                  </th>
                  <th data-options="field:'businessUnit',align:'center'" width="90">
                    OPE <br />
                    CODE
                  </th>
                  <th data-options="field:'consignee',align:'left'" width="300">
                    CONSIGNEE
                  </th>
                  <th data-options="field:'expiredDem',align:'left',formatter:formatToYDMHMS" width="110">
                    EXPIRE <br />
                    DEM
                  </th>
                  <th data-options="field:'detFreeTime',align:'left'" width="80">
                    DET FREE <br />
                    TIME
                  </th>
                  <th data-options="field:'vessel',align:'left'" width="80">
                    VESSEL
                  </th>
                  <th data-options="field:'voyNo',align:'left'" width="80">
                    VOY NO
                  </th>
                  <th data-options="field:'status',align:'left'" width="60">
                    STATUS
                  </th>
                  <th data-options="field:'createTime',align:'center',formatter:formatToYDMHMS" width="110">
                    CREATE TIME
                  </th>
                  <th data-options="field:'id',align:'center',formatter: formatAction" width="110">
                    ACTION
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
  </body>
  <script th:src="@{/eport/js/modules/edo/manage/index.js}"></script>
</html>
