<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.DriverAccountMapper">
    
    <resultMap type="DriverAccount" id="DriverAccountResult">
        <result property="id"    column="id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="mobileNumber"    column="mobile_number"    />
        <result property="fullName"    column="full_name"    />
        <result property="identifyCardNo"    column="identify_card_no"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="validDate"    column="valid_date"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="logisticGroup"    column="logistic_group_id" javaType="LogisticGroup" resultMap="logisticGroupResult" />
    </resultMap>
    <resultMap type="LogisticGroup" id="logisticGroupResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
    </resultMap>
    <sql id="selectDriverAccountVo">
        select id, logistic_group_id, mobile_number, full_name, identify_card_no, password, salt, status, del_flag, valid_date, remark, create_by, create_time, update_by, update_time from driver_account
    </sql>

    <select id="selectDriverAccountList" parameterType="DriverAccount" resultMap="DriverAccountResult">
        select c.id, c.logistic_group_id, c.mobile_number, c.full_name, c.identify_card_no, c.password, c.salt, c.status, c.del_flag, c.valid_date, c.remark, c.create_by, c.create_time, c.update_by, c.update_time, g.group_name 
        from driver_account c left join logistic_group g on c.logistic_group_id = g.id
        <where>  
            <if test="logisticGroup.groupName != null and logisticGroup.groupName !=''"> <bind name="groupNamePattern" value="'%' + logisticGroup.groupName + '%'"/> and lower(g.group_name) like #{groupNamePattern}</if>
            <if test="mobileNumber != null  and mobileNumber != ''"> and c.mobile_number like concat('%', #{mobileNumber}, '%')</if>
            <if test="fullName != null  and fullName != ''"> and lower(c.full_name) like concat('%', #{fullName}, '%')</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''"> and identify_card_no = #{identifyCardNo}</if>
            <if test="validDate != null ">and c.valid_date &lt;= #{validDate}</if>
            <if test="delFlag != null"> and c.del_flag = #{delFlag}</if>
            <if test="logisticGroupId != null"> and logistic_group_id = #{logisticGroupId}</if>
        </where>
    </select>
    
    <select id="selectDriverAccountById" parameterType="Long" resultMap="DriverAccountResult">
        <include refid="selectDriverAccountVo"/>
        where id = #{id}
    </select>
    
    <select id="selectDriverAccountByMobileNumber" parameterType="String" resultMap="DriverAccountResult">
        <include refid="selectDriverAccountVo"/>
        where mobile_number = #{mobileNumber}
    </select>
        
    <insert id="insertDriverAccount" parameterType="DriverAccount" useGeneratedKeys="true" keyProperty="id">
        insert into driver_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="mobileNumber != null  and mobileNumber != ''">mobile_number,</if>
            <if test="fullName != null  and fullName != ''">full_name,</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''">identify_card_no,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="salt != null  and salt != ''">salt,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="validDate != null ">valid_date,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="mobileNumber != null  and mobileNumber != ''">#{mobileNumber},</if>
            <if test="fullName != null  and fullName != ''">#{fullName},</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''">#{identifyCardNo},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="salt != null  and salt != ''">#{salt},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="validDate != null ">#{validDate},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDriverAccount" parameterType="DriverAccount">
        update driver_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="mobileNumber != null  and mobileNumber != ''">mobile_number = #{mobileNumber},</if>
            <if test="fullName != null  and fullName != ''">full_name = #{fullName},</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''">identify_card_no = #{identifyCardNo},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="salt != null  and salt != ''">salt = #{salt},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="validDate != null ">valid_date = #{validDate},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDriverAccountById" parameterType="Long">
        update driver_account set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteDriverAccountByIds" parameterType="String">
        delete from driver_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="checkPhoneUnique" parameterType="String" resultType="int">
		select count(1) from driver_account where lower(mobile_number)=#{mobile_number}
	</select>
    
</mapper>