<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.EdoHouseBillMapper">
    
    <resultMap type="EdoHouseBill" id="EdoHouseBillResult">
        <result property="id"    column="id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="logisticAccountId"    column="logistic_account_id"    />
        <result property="edoId"    column="edo_id"    />
        <result property="billOfLading"    column="bill_of_lading"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="masterBillNo"    column="master_bill_no"    />
        <result property="consignee"    column="consignee"    />
        <result property="houseBillNo"    column="house_bill_no"    />
        <result property="houseBillNo2"    column="house_bill_no2"    />
        <result property="consignee2"    column="consignee2"    />
        <result property="containerNumber"    column="container_number"    />
        <result property="sztp"    column="sztp"    />
        <result property="opr"    column="opr"    />
        <result property="vessel"    column="vessel"    />
        <result property="voyNo"    column="voy_no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEdoHouseBillVo">
        select id, logistic_group_id, logistic_account_id, edo_id, bill_of_lading, order_number, master_bill_no, consignee, house_bill_no, house_bill_no2, consignee2, container_number, sztp, opr, vessel, voy_no, create_by, create_time, update_by, update_time from edo_house_bill
    </sql>

    <select id="selectEdoHouseBillList" parameterType="EdoHouseBill" resultMap="EdoHouseBillResult">
        <include refid="selectEdoHouseBillVo"/>
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="logisticAccountId != null "> and logistic_account_id = #{logisticAccountId}</if>
            <if test="edoId != null "> and edo_id = #{edoId}</if>
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading = #{billOfLading}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
        </where>
    </select>
    
    <select id="selectEdoHouseBillById" parameterType="Long" resultMap="EdoHouseBillResult">
        <include refid="selectEdoHouseBillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEdoHouseBill" parameterType="EdoHouseBill">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_edo_house_bill.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into edo_house_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="logisticGroupId != null">logistic_group_id,</if>
            <if test="logisticAccountId != null">logistic_account_id,</if>
            <if test="edoId != null">edo_id,</if>
            <if test="billOfLading != null">bill_of_lading,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="masterBillNo != null and masterBillNo != ''">master_bill_no,</if>
            <if test="consignee != null and consignee != ''">consignee,</if>
            <if test="houseBillNo != null and houseBillNo != ''">house_bill_no,</if>
            <if test="houseBillNo2 != null">house_bill_no2,</if>
            <if test="consignee2 != null and consignee2 != ''">consignee2,</if>
            <if test="containerNumber != null and containerNumber != ''">container_number,</if>
            <if test="sztp != null and sztp != ''">sztp,</if>
            <if test="opr != null and opr != ''">opr,</if>
            <if test="vessel != null and vessel != ''">vessel,</if>
            <if test="voyNo != null and voyNo != ''">voy_no,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="logisticGroupId != null">#{logisticGroupId},</if>
            <if test="logisticAccountId != null">#{logisticAccountId},</if>
            <if test="edoId != null">#{edoId},</if>
            <if test="billOfLading != null">#{billOfLading},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="masterBillNo != null and masterBillNo != ''">#{masterBillNo},</if>
            <if test="consignee != null and consignee != ''">#{consignee},</if>
            <if test="houseBillNo != null and houseBillNo != ''">#{houseBillNo},</if>
            <if test="houseBillNo2 != null">#{houseBillNo2},</if>
            <if test="consignee2 != null and consignee2 != ''">#{consignee2},</if>
            <if test="containerNumber != null and containerNumber != ''">#{containerNumber},</if>
            <if test="sztp != null and sztp != ''">#{sztp},</if>
            <if test="opr != null and opr != ''">#{opr},</if>
            <if test="vessel != null and vessel != ''">#{vessel},</if>
            <if test="voyNo != null and voyNo != ''">#{voyNo},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEdoHouseBill" parameterType="EdoHouseBill">
        update edo_house_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticGroupId != null">logistic_group_id = #{logisticGroupId},</if>
            <if test="logisticAccountId != null">logistic_account_id = #{logisticAccountId},</if>
            <if test="edoId != null">edo_id = #{edoId},</if>
            <if test="billOfLading != null">bill_of_lading = #{billOfLading},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="masterBillNo != null and masterBillNo != ''">master_bill_no = #{masterBillNo},</if>
            <if test="consignee != null and consignee != ''">consignee = #{consignee},</if>
            <if test="houseBillNo != null and houseBillNo != ''">house_bill_no = #{houseBillNo},</if>
            <if test="houseBillNo2 != null">house_bill_no2 = #{houseBillNo2},</if>
            <if test="consignee2 != null and consignee2 != ''">consignee2 = #{consignee2},</if>
            <if test="containerNumber != null and containerNumber != ''">container_number = #{containerNumber},</if>
            <if test="sztp != null and sztp != ''">sztp = #{sztp},</if>
            <if test="opr != null and opr != ''">opr = #{opr},</if>
            <if test="vessel != null and vessel != ''">vessel = #{vessel},</if>
            <if test="voyNo != null and voyNo != ''">voy_no = #{voyNo},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEdoHouseBillById" parameterType="Long">
        delete from edo_house_bill where id = #{id}
    </delete>

    <delete id="deleteEdoHouseBillByIds" parameterType="String">
        delete from edo_house_bill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>