<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.LogisticTruckMapper">
    
    <resultMap type="LogisticTruck" id="LogisticTruckResult">
        <result property="id"    column="id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="plateNumber"    column="plate_number"    />
        <result property="type"    column="type"    />
        <result property="wgt"    column="wgt"    />
        <result property="registryExpiryDate"    column="registry_expiry_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLogisticTruckVo">
        select id, logistic_group_id, plate_number, type, wgt, registry_expiry_date, del_flag, remark, create_by, create_time, update_by, update_time from logistic_truck
    </sql>

    <select id="selectLogisticTruckList" parameterType="LogisticTruck" resultMap="LogisticTruckResult">
        <include refid="selectLogisticTruckVo"/>
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="delFlag != null"> and del_flag = #{delFlag}</if>
            <if test="plateNumber != null  and plateNumber != ''"> and plate_number like concat('%', #{plateNumber}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="wgt != null "> and wgt = #{wgt}</if>
            <if test="registryExpiryDate != null "> and registry_expiry_date = #{registryExpiryDate}</if>
        </where>
        ORDER BY create_Time DESC
    </select>
    
    <select id="selectLogisticTruckById" parameterType="Long" resultMap="LogisticTruckResult">
        <include refid="selectLogisticTruckVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLogisticTruck" parameterType="LogisticTruck" useGeneratedKeys="true" keyProperty="id">
        insert into logistic_truck
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="plateNumber != null  and plateNumber != ''">plate_number,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="wgt != null ">wgt,</if>
            <if test="registryExpiryDate != null ">registry_expiry_date,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="plateNumber != null  and plateNumber != ''">#{plateNumber},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="wgt != null ">#{wgt},</if>
            <if test="registryExpiryDate != null ">#{registryExpiryDate},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLogisticTruck" parameterType="LogisticTruck">
        update logistic_truck
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="plateNumber != null  and plateNumber != ''">plate_number = #{plateNumber},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="wgt != null ">wgt = #{wgt},</if>
            <if test="registryExpiryDate != null ">registry_expiry_date = #{registryExpiryDate},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateDelFlagByIds" parameterType="String">
    	update logistic_truck
    	set del_flag = 1
    	where id in
    	<foreach item="id" collection="array" open="(" separator="," close=")">
    		#{id}
    	</foreach>
    </update>
    <delete id="deleteLogisticTruckById" parameterType="Long">
        delete from logistic_truck where id = #{id}
    </delete>

    <delete id="deleteLogisticTruckByIds" parameterType="String">
        delete from logistic_truck where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="checkPlateNumberUnique" parameterType="String" resultType="int">
		select count(1) from logistic_truck where lower(plate_number)=#{plateNumber}
	</select>
    
</mapper>