<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.LogisticGroupMapper">
    
    <resultMap type="LogisticGroup" id="LogisticGroupResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
        <result property="address"    column="address"    />
        <result property="mst"    column="mst"    />
        <result property="phone"    column="phone"    />
        <result property="mobilePhone"    column="mobile_phone"    />
        <result property="creditFlag"    column="credit_flag"    />
        <result property="fax"    column="fax"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="businessRegistrationCertificate"    column="business_registration_certificate"    />
        <result property="dateOfIssueRegistration"    column="date_of_issue_registration"    />
        <result property="placeOfIssueRegistration"    column="place_of_issue_registration"    />
        <result property="authorizedRepresentative"    column="authorized_representative"    />
        <result property="representativePosition"    column="representative_position"    />
        <result property="followingAuthorizationFormNo"    column="following_authorization_form_no"    />
        <result property="signDate"    column="sign_date"    />
        <result property="owned"    column="owned"    />
        <result property="identifyCardNo"    column="identify_card_no"    />
        <result property="dateOfIssueIdentify"    column="date_of_issue_identify"    />
        <result property="placeOfIssueIdentify"    column="place_of_issue_identify"    />
        <result property="email"    column="email"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLogisticGroupVo">
        select id, group_name, address, mst, phone, mobile_phone, credit_flag,fax, del_flag, business_registration_certificate, date_of_issue_registration, place_of_issue_registration, authorized_representative, representative_position, following_authorization_form_no, sign_date, owned, identify_card_no, date_of_issue_identify, place_of_issue_identify, email, create_by, create_time, update_by, update_time from logistic_group
    </sql>

    <select id="selectLogisticGroupList" parameterType="LogisticGroup" resultMap="LogisticGroupResult">
        <include refid="selectLogisticGroupVo"/>
        <where>  
            <if test="groupName != null  and groupName != ''"> and lower(group_name) like concat(concat('%', #{groupName}), '%')</if>
            <if test="mst != null  and mst != ''"> and mst like concat(concat('%', #{mst}),'%')</if>
            <if test="delFlag != null"> and del_flag = #{delFlag}</if>
            <if test="email != null  and email != ''"> and lower(email) like concat(concat('%', #{email}),'%')</if>
        </where>
    </select>
    <select id="selectLogisticGroupListByName" parameterType="LogisticGroup" resultMap="LogisticGroupResult">
        <include refid="selectLogisticGroupVo"/>
        <where>  
            <if test="groupName != null  and groupName != ''"> and lower(group_name) like concat(concat('%', #{groupName}), '%')</if>
            <if test="delFlag != null"> and del_flag = #{delFlag}</if>
        </where>
    </select>
    <select id="selectLogisticGroupById" parameterType="Long" resultMap="LogisticGroupResult">
        <include refid="selectLogisticGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLogisticGroup" parameterType="LogisticGroup" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_logistic_group.nextval as id from DUAL
		</selectKey>
        insert into logistic_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="groupName != null  and groupName != ''">group_name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="mst != null  and mst != ''">mst,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="mobilePhone != null  and mobilePhone != ''">mobile_phone,</if>
            <if test="creditFlag != null  and creditFlag != ''">credit_flag,</if>
            <if test="fax != null  and fax != ''">fax,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="businessRegistrationCertificate != null  and businessRegistrationCertificate != ''">business_registration_certificate,</if>
            <if test="dateOfIssueRegistration != null">date_of_issue_registration,</if>
            <if test="placeOfIssueRegistration != null  and placeOfIssueRegistration != ''">place_of_issue_registration,</if>
            <if test="authorizedRepresentative != null  and authorizedRepresentative != ''">authorized_representative,</if>
            <if test="representativePosition != null  and representativePosition != ''">representative_position,</if>
            <if test="followingAuthorizationFormNo != null  and followingAuthorizationFormNo != ''">following_authorization_form_no,</if>
            <if test="signDate != null">sign_date,</if>
            <if test="owned != null  and owned != ''">owned,</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''">identify_card_no,</if>
            <if test="dateOfIssueIdentify != null">date_of_issue_identify,</if>
            <if test="placeOfIssueIdentify != null  and placeOfIssueIdentify != ''">place_of_issue_identify,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="groupName != null  and groupName != ''">#{groupName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="mst != null  and mst != ''">#{mst},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="mobilePhone != null  and mobilePhone != ''">#{mobilePhone},</if>
            <if test="creditFlag != null  and creditFlag != ''">#{creditFlag},</if>
            <if test="fax != null  and fax != ''">#{fax},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="businessRegistrationCertificate != null  and businessRegistrationCertificate != ''">#{businessRegistrationCertificate},</if>
            <if test="dateOfIssueRegistration != null">#{dateOfIssueRegistration},</if>
            <if test="placeOfIssueRegistration != null  and placeOfIssueRegistration != ''">#{placeOfIssueRegistration},</if>
            <if test="authorizedRepresentative != null  and authorizedRepresentative != ''">#{authorizedRepresentative},</if>
            <if test="representativePosition != null  and representativePosition != ''">#{representativePosition},</if>
            <if test="followingAuthorizationFormNo != null  and followingAuthorizationFormNo != ''">#{followingAuthorizationFormNo},</if>
            <if test="signDate != null">#{signDate},</if>
            <if test="owned != null  and owned != ''">#{owned},</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''">#{identifyCardNo},</if>
            <if test="dateOfIssueIdentify != null">#{dateOfIssueIdentify},</if>
            <if test="placeOfIssueIdentify != null  and placeOfIssueIdentify != ''">#{placeOfIssueIdentify},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateLogisticGroup" parameterType="LogisticGroup">
        update logistic_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupName != null  and groupName != ''">group_name = #{groupName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="mst != null  and mst != ''">mst = #{mst},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="mobilePhone != null  and mobilePhone != ''">mobile_phone = #{mobilePhone},</if>
            <if test="creditFlag != null  and creditFlag != ''">credit_flag = #{creditFlag},</if>
            <if test="fax != null  and fax != ''">fax = #{fax},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="businessRegistrationCertificate != null  and businessRegistrationCertificate != ''">business_registration_certificate = #{businessRegistrationCertificate},</if>
            <if test="dateOfIssueRegistration != null">date_of_issue_registration = #{dateOfIssueRegistration},</if>
            <if test="placeOfIssueRegistration != null  and placeOfIssueRegistration != ''">place_of_issue_registration = #{placeOfIssueRegistration},</if>
            <if test="authorizedRepresentative != null  and authorizedRepresentative != ''">authorized_representative = #{authorizedRepresentative},</if>
            <if test="representativePosition != null  and representativePosition != ''">representative_position = #{representativePosition},</if>
            <if test="followingAuthorizationFormNo != null  and followingAuthorizationFormNo != ''">following_authorization_form_no = #{followingAuthorizationFormNo},</if>
            <if test="signDate != null">sign_date = #{signDate},</if>
            <if test="owned != null  and owned != ''">owned = #{owned},</if>
            <if test="identifyCardNo != null  and identifyCardNo != ''">identify_card_no = #{identifyCardNo},</if>
            <if test="dateOfIssueIdentify != null">date_of_issue_identify = #{dateOfIssueIdentify},</if>
            <if test="placeOfIssueIdentify != null  and placeOfIssueIdentify != ''">place_of_issue_identify = #{placeOfIssueIdentify},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLogisticGroupById" parameterType="Long">
        delete from logistic_group where id = #{id}
    </delete>

    <delete id="deleteLogisticGroupByIds" parameterType="String">
        delete from logistic_group where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateDelFlagLogisticGroupByIds" parameterType="String">
        update logistic_group set del_flag = 1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
    <select id="checkDelegatePermission" resultType="int">
        select count(*) from logistic_group g
        left join logistic_delegated d on g.id = d.logistic_group_id
        where  
            g.mst = #{consigneeTaxCode}
            and d.delegate_tax_code = #{logisticTaxCode}
            and d.valid_flg = 1
            and d.valid_from &lt;= sysdate
            and d.valid_until &gt;= sysdate
            and del_flg = 0 
            and g.del_flag = '0'
    </select>
</mapper>