<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.LogisticDelegatedMapper">
    
    <resultMap type="LogisticDelegated" id="LogisticDelegatedResult">
        <result property="id"    column="id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="delegateTaxCode"    column="delegate_tax_code"    />
        <result property="delegateCompany"    column="delegate_company"    />
        <result property="validFrom"    column="valid_from"    />
        <result property="validUntil"    column="valid_until"    />
        <result property="validFlg"    column="valid_flg"    />
        <result property="delFlg"    column="del_flg"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLogisticDelegatedVo">
        select id, logistic_group_id, delegate_tax_code, delegate_company, valid_from, valid_until, valid_flg, del_flg, create_by, create_time, update_by, update_time from logistic_delegated
    </sql>

    <select id="selectLogisticDelegatedList" parameterType="LogisticDelegated" resultMap="LogisticDelegatedResult">
        <include refid="selectLogisticDelegatedVo"/>
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="delegateTaxCode != null  and delegateTaxCode != ''"> and delegate_tax_code = #{delegateTaxCode}</if>
            <if test="delegateCompany != null  and delegateCompany != ''"> and delegate_company = #{delegateCompany}</if>
            <if test="validFrom != null "> and valid_from = #{validFrom}</if>
            <if test="validUntil != null "> and valid_until = #{validUntil}</if>
            <if test="validFlg != null "> and valid_flg = #{validFlg}</if>
            <if test="delFlg != null "> and del_flg = #{delFlg}</if>
        </where>
    </select>
    
    <select id="selectLogisticDelegatedById" parameterType="Long" resultMap="LogisticDelegatedResult">
        <include refid="selectLogisticDelegatedVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLogisticDelegated" parameterType="LogisticDelegated">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_logistic_delegated.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into logistic_delegated
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="logisticGroupId != null">logistic_group_id,</if>
            <if test="delegateTaxCode != null and delegateTaxCode != ''">delegate_tax_code,</if>
            <if test="delegateCompany != null and delegateCompany != ''">delegate_company,</if>
            <if test="validFrom != null">valid_from,</if>
            <if test="validUntil != null">valid_until,</if>
            <if test="validFlg != null">valid_flg,</if>
            <if test="delFlg != null">del_flg,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="logisticGroupId != null">#{logisticGroupId},</if>
            <if test="delegateTaxCode != null and delegateTaxCode != ''">#{delegateTaxCode},</if>
            <if test="delegateCompany != null and delegateCompany != ''">#{delegateCompany},</if>
            <if test="validFrom != null">#{validFrom},</if>
            <if test="validUntil != null">#{validUntil},</if>
            <if test="validFlg != null">#{validFlg},</if>
            <if test="delFlg != null">#{delFlg},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateLogisticDelegated" parameterType="LogisticDelegated">
        update logistic_delegated
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticGroupId != null">logistic_group_id = #{logisticGroupId},</if>
            <if test="delegateTaxCode != null and delegateTaxCode != ''">delegate_tax_code = #{delegateTaxCode},</if>
            <if test="delegateCompany != null and delegateCompany != ''">delegate_company = #{delegateCompany},</if>
            <if test="validFrom != null">valid_from = #{validFrom},</if>
            <if test="validUntil != null">valid_until = #{validUntil},</if>
            <if test="validFlg != null">valid_flg = #{validFlg},</if>
            <if test="delFlg != null">del_flg = #{delFlg},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLogisticDelegatedById" parameterType="Long">
        delete from logistic_delegated where id = #{id}
    </delete>

    <delete id="deleteLogisticDelegatedByIds" parameterType="String">
        delete from logistic_delegated where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>