<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.OtpCodeMapper">
    
   <resultMap type="SysOtp" id="SysOtpResult">
        <result property="id"    column="id"    />
        <result property="optCode"    column="opt_code"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="otpType"    column="otp_type"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="msgStatus"    column="msg_status"    />
        <result property="verifyStatus"    column="verify_status"    />
        <result property="expiredTime"    column="expired_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysOtpVo">
        select id, opt_code, transaction_id, otp_type, phone_number, msg_status, verify_status, expired_time, create_by, create_time, update_by, update_time from sys_otp
    </sql>

    <select id="selectSysOtpList" parameterType="SysOtp" resultMap="SysOtpResult">
        <include refid="selectSysOtpVo"/>
        <where>  
            <if test="optCode != null  and optCode != ''"> and opt_code = #{optCode}</if>
            <if test="transactionId != null  and transactionId != ''"> and transaction_id = #{transactionId}</if>
            <if test="otpType != null  and otpType != ''"> and otp_type = #{otpType}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="msgStatus != null  and msgStatus != ''"> and msg_status = #{msgStatus}</if>
            <if test="verifyStatus != null  and verifyStatus != ''"> and verify_status = #{verifyStatus}</if>
            <if test="expiredTime != null "> and expired_time = #{expiredTime}</if>
        </where>
    </select>
    
    <select id="selectSysOtpById" parameterType="Long" resultMap="SysOtpResult">
        <include refid="selectSysOtpVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysOtp" parameterType="SysOtp" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_sys_otp.nextval as id from DUAL
		</selectKey>
        insert into sys_otp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="optCode != null  and optCode != ''">opt_code,</if>
            <if test="transactionId != null  and transactionId != ''">transaction_id,</if>
            <if test="otpType != null  and otpType != ''">otp_type,</if>
            <if test="phoneNumber != null  and phoneNumber != ''">phone_number,</if>
            <if test="msgStatus != null  and msgStatus != ''">msg_status,</if>
            <if test="verifyStatus != null  and verifyStatus != ''">verify_status,</if>
            <if test="expiredTime != null ">expired_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="optCode != null  and optCode != ''">#{optCode},</if>
            <if test="transactionId != null  and transactionId != ''">#{transactionId},</if>
            <if test="otpType != null  and otpType != ''">#{otpType},</if>
            <if test="phoneNumber != null  and phoneNumber != ''">#{phoneNumber},</if>
            <if test="msgStatus != null  and msgStatus != ''">#{msgStatus},</if>
            <if test="verifyStatus != null  and verifyStatus != ''">#{verifyStatus},</if>
            <if test="expiredTime != null ">#{expiredTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateSysOtp" parameterType="SysOtp">
        update sys_otp
        <trim prefix="SET" suffixOverrides=",">
            <if test="optCode != null  and optCode != ''">opt_code = #{optCode},</if>
            <if test="transactionId != null  and transactionId != ''">transaction_id = #{transactionId},</if>
            <if test="otpType != null  and otpType != ''">otp_type = #{otpType},</if>
            <if test="phoneNumber != null  and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="msgStatus != null  and msgStatus != ''">msg_status = #{msgStatus},</if>
            <if test="verifyStatus != null  and verifyStatus != ''">verify_status = #{verifyStatus},</if>
            <if test="expiredTime != null ">expired_time = #{expiredTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysOtpById" parameterType="Long">
        delete from sys_otp where id = #{id}
    </delete>

    <delete id="deleteSysOtpByIds" parameterType="String">
        delete from sys_otp where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="verifyOtpCodeAvailable" parameterType="OtpCode" resultType="int">
        select count(*) from sys_otp
        where opt_code = #{optCode} 
        and transaction_id = #{transactionId}
        and (create_time = #{createTime} or create_time > #{createTime})
    </select>
    
    <delete id="deleteOtpCodeByShipmentDetailIds" parameterType="String">
        delete from sys_otp where transaction_id = #{transactionId}
    </delete>
</mapper>