<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.PickupAssignMapper">
    
    <resultMap type="PickupAssign" id="PickupAssignResult">
        <result property="id"    column="id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="shipmentId"    column="shipment_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="shipmentDetailId"    column="shipment_detail_id"    />
        <result property="externalFlg"    column="external_flg"    />
        <result property="externalSecretCode"    column="external_secret_code"    />
        <result property="driverOwner"    column="driver_owner"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="fullName"    column="full_name"    />
        <result property="truckNo"    column="truck_no"    />
        <result property="chassisNo"    column="chassis_no"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    <sql id="selectPickupAssignVo">
        select id, logistic_group_id, shipment_id, driver_id, shipment_detail_id, external_flg, external_secret_code, driver_owner, phone_number, full_name, truck_no, chassis_no, remark, create_by, create_time, update_by, update_time from pickup_assign
    </sql>

    <select id="selectPickupAssignList" parameterType="PickupAssign" resultMap="PickupAssignResult">
        <include refid="selectPickupAssignVo"/>
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
            <if test="externalFlg != null "> and external_flg = #{externalFlg}</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''"> and external_secret_code = #{externalSecretCode}</if>
            <if test="driverOwner != null  and driverOwner != ''"> and driver_owner = #{driverOwner}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat(concat('%', #{fullName}), '%')</if>
            <if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
            <if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
        </where>
    </select>
    
    <select id="selectPickupAssignById" parameterType="Long" resultMap="PickupAssignResult">
        <include refid="selectPickupAssignVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPickupAssign" parameterType="PickupAssign" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_pickup_assign.nextval as id from DUAL
		</selectKey>
        insert into pickup_assign
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="shipmentId != null ">shipment_id,</if>
            <if test="driverId != null ">driver_id,</if>
            <if test="shipmentDetailId != null ">shipment_detail_id,</if>
            <if test="externalFlg != null ">external_flg,</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''">external_secret_code,</if>
            <if test="driverOwner != null  and driverOwner != ''">driver_owner,</if>
            <if test="phoneNumber != null  and phoneNumber != ''">phone_number,</if>
            <if test="fullName != null  and fullName != ''">full_name,</if>
            <if test="truckNo != null  and truckNo != ''">truck_no,</if>
            <if test="chassisNo != null  and chassisNo != ''">chassis_no,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="shipmentId != null ">#{shipmentId},</if>
            <if test="driverId != null ">#{driverId},</if>
            <if test="shipmentDetailId != null ">#{shipmentDetailId},</if>
            <if test="externalFlg != null ">#{externalFlg},</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''">#{externalSecretCode},</if>
            <if test="driverOwner != null  and driverOwner != ''">#{driverOwner},</if>
            <if test="phoneNumber != null  and phoneNumber != ''">#{phoneNumber},</if>
            <if test="fullName != null  and fullName != ''">#{fullName},</if>
            <if test="truckNo != null  and truckNo != ''">#{truckNo},</if>
            <if test="chassisNo != null  and chassisNo != ''">#{chassisNo},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updatePickupAssign" parameterType="PickupAssign">
        update pickup_assign
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="shipmentId != null ">shipment_id = #{shipmentId},</if>
            <if test="driverId != null ">driver_id = #{driverId},</if>
            <if test="shipmentDetailId != null ">shipment_detail_id = #{shipmentDetailId},</if>
            <if test="externalFlg != null ">external_flg = #{externalFlg},</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''">external_secret_code = #{externalSecretCode},</if>
            <if test="driverOwner != null  and driverOwner != ''">driver_owner = #{driverOwner},</if>
            <if test="phoneNumber != null  and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="fullName != null  and fullName != ''">full_name = #{fullName},</if>
            <if test="truckNo != null  and truckNo != ''">truck_no = #{truckNo},</if>
            <if test="chassisNo != null  and chassisNo != ''">chassis_no = #{chassisNo},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePickupAssignById" parameterType="Long">
        delete from pickup_assign where id = #{id}
    </delete>

    <delete id="deletePickupAssignByIds" parameterType="String">
        delete from pickup_assign where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getDriverOwners" parameterType="PickupAssign" resultType="String">
        select driver_owner from pickup_assign
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
            <if test="externalFlg != null "> and external_flg = #{externalFlg}</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''"> and external_secret_code = #{externalSecretCode}</if>
            <if test="driverOwner != null  and driverOwner != ''"> and driver_owner = #{driverOwner}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat(concat('%', #{fullName}), '%')</if>
            <if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
            <if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
        </where>
        group by driver_owner
    </select>
    <select id="getPhoneNumbersByDriverOwner" parameterType="PickupAssign" resultType="String">
        select phone_number from pickup_assign
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
            <if test="externalFlg != null "> and external_flg = #{externalFlg}</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''"> and external_secret_code = #{externalSecretCode}</if>
            <if test="driverOwner != null  and driverOwner != ''"> and driver_owner = #{driverOwner}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat(concat('%', #{fullName}), '%')</if>
            <if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
            <if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
        </where>
        group by phone_number
    </select>
    <select id="getInforOutSourceByPhoneNumber" parameterType="PickupAssign" resultMap="PickupAssignResult">
        <include refid="selectPickupAssignVo"/>
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
            <if test="externalFlg != null "> and external_flg = #{externalFlg}</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''"> and external_secret_code = #{externalSecretCode}</if>
            <if test="driverOwner != null  and driverOwner != ''"> and driver_owner = #{driverOwner}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat(concat('%', #{fullName}), '%')</if>
            <if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
            <if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
        </where>
        ORDER BY create_Time DESC
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
    </select>

    <select id="selectPickupAssignListByDriverId" resultType="vn.com.irtech.eport.logistic.form.PickupAssignForm">
        select a.id as pickupAssignId, sh.container_no as containerNo, sh.wgt as wgt, sh.sztp as sztp
        from pickup_assign a
        left join shipment_detail sh on a.shipment_detail_id = sh.id
        left join pickup_history p on a.id = p.pickup_assign_id
        where 
            p.pickup_assign_id is null
            and a.driver_id = #{driverId}
            and sh.shipment_id = #{shipmentId}
        group by a.id, a.create_time, sh.container_no, sh.wgt, sh.sztp
        order by a.create_time desc
    </select>

    <select id ="getRemarkFollowBatchByShipmentId" parameterType="PickupAssign" resultType="String">
        select remark
        from pickup_assign
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="externalFlg != null "> and external_flg = #{externalFlg}</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''"> and external_secret_code = #{externalSecretCode}</if>
            <if test="driverOwner != null  and driverOwner != ''"> and driver_owner = #{driverOwner}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat(concat('%', #{fullName}), '%')</if>
            <if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
            <if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
            and shipment_detail_id is null
        </where>
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
    </select>

    <select id ="getRemarkFollowContainerByShipmentDetailId" parameterType="PickupAssign" resultType="String">
        select remark
        from pickup_assign
        <where>  
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
            <if test="externalFlg != null "> and external_flg = #{externalFlg}</if>
            <if test="externalSecretCode != null  and externalSecretCode != ''"> and external_secret_code = #{externalSecretCode}</if>
            <if test="driverOwner != null  and driverOwner != ''"> and driver_owner = #{driverOwner}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="fullName != null  and fullName != ''"> and full_name like concat(concat('%', #{fullName}), '%')</if>
            <if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
            <if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
        </where>
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
    </select>
    
</mapper>