<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="vn.com.irtech.eport.logistic.mapper.PickupHistoryMapper">

	<resultMap type="PickupHistory" id="PickupHistoryResult">
		<result property="id" column="id" />
		<result property="logisticGroupId" column="logistic_group_id" />
		<result property="shipmentId" column="shipment_id" />
		<result property="shipmentDetailId" column="shipment_detail_id" />
		<result property="driverId" column="driver_id" />
		<result property="pickupAssignId" column="pickup_assign_id" />
		<result property="containerNo" column="container_no" />
		<result property="truckNo" column="truck_no" />
		<result property="chassisNo" column="chassis_no" />
		<result property="area" column="area" />
		<result property="bay" column="bay" />
		<result property="block" column="block" />
		<result property="line" column="line" />
		<result property="tier" column="tier" />
		<result property="status" column="status" />
		<result property="receiptDate" column="receipt_date" />
		<result property="gateinDate" column="gatein_date" />
		<result property="gateoutDate" column="gateout_date" />
		<result property="cancelDeceiptDate" column="cancel_receipt_date" />
		<result property="planningDate" column="planning_date" />
		<result property="processOrderId" column="process_order_id" />
		<result property="gatePass" column="gate_pass" />
		<result property="jobOrderNo" column="job_order_no" />
		<result property="jobOrderFlg" column="job_order_flg" />
		<result property="loadableWgt" column="loadable_wgt" />
		<result property="sztp" column="sztp" />
		<result property="distance" column="distance" />
		<result property="updateLocationTime" column="update_location_time" />
		<result property="remark" column="remark" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<association property="shipment" column="shipment_id" javaType="Shipment" select="selectShipment" />
		<association property="shipmentDetail" column="shipment_detail_id" javaType="ShipmentDetail" select="selectShipmentDetail" />
		<association property="logisticGroup" column="logistic_group_id" javaType="LogisticGroup" select="selectLogisticGroup" />
		<association property="driver" column="driver_id" javaType="DriverAccount" select="selectDriverAccount" />
		<association property="pickupAssign" column="pickup_assign_id" javaType="PickupAssign" select="selectPickupAssign" />
	</resultMap>

	<sql id="selectPickupHistoryVo">
		select *
		from pickup_history
	</sql>

	<select id="selectPickupHistoryList" parameterType="PickupHistory" resultMap="PickupHistoryResult">
		<include refid="selectPickupHistoryVo" />
		<where>
			<if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
			<if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
			<if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
			<if test="driverId != null "> and driver_id = #{driverId}</if>
			<if test="pickupAssignId != null "> and pickup_assign_id = #{pickupAssignId}</if>
			<if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
			<if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
			<if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
			<if test="area != null  and area != ''"> and area = #{area}</if>
			<if test="bay != null  and bay != ''"> and bay = #{bay}</if>
			<if test="block != null  and block != ''"> and block = #{block}</if>
			<if test="line != null  and line != ''"> and line = #{line}</if>
			<if test="tier != null  and tier != ''"> and tier = #{tier}</if>
			<if test="status != null "> and status = #{status}</if>
			<if test="receiptDate != null "> and receipt_date = #{receiptDate}</if>
			<if test="gateinDate != null "> and gatein_date = #{gateinDate}</if>
			<if test="gateoutDate != null "> and gateout_date = #{gateoutDate}</if>
			<if test="cancelDeceiptDate != null "> and cancel_receipt_date = #{cancelDeceiptDate}</if>
			<if test="planningDate != null "> and planning_date = #{planningDate}</if>
            <if test="fromDate != null ">and (gatein_date = #{fromDate} OR gatein_date > #{fromDate})</if>
            <if test="toDate != null ">and (gatein_date = #{toDate} OR gatein_date &lt; #{toDate})</if>
            <if test="processOrderId != null ">and process_order_id = #{processOrderId}</if>
		</where>
	</select>
	
		<sql id="search">
		<if test="searchParams.beginTime != null  and searchParams.beginTime != ''"> and DATE_FORMAT(planning_date, "%Y-%m-%d") >= #{searchParams.beginTime}</if>
		<if test="searchParams.endTime != null  and searchParams.endTime != ''"> and DATE_FORMAT(planning_date, "%Y-%m-%d") &lt;= #{searchParams.endTime}</if>
		<if test="searchParams.serviceType == null  or searchParams.serviceType == ''"> and s.service_type in (2, 4)</if>
		<if test="searchParams.serviceType != null  and searchParams.serviceType != ''"> and s.service_type = #{searchParams.serviceType}</if>
		<if test="searchParams.contNo != null  and searchParams.contNo != ''">
			<bind name="contNoPattern" value="'%' + searchParams.contNo + '%'"/> and p.container_no like #{contNoPattern}
		</if>
		<if test="searchParams.sztp != null  and searchParams.sztp != ''">
		 	<bind name="sztpPattern" value="'%' + searchParams.sztp + '%'"/> and sd.sztp like #{sztpPattern}
		 </if>
		<if test="searchParams.vslNm != null  and searchParams.vslNm != ''">
		 	<bind name="vslNmPattern" value="'%' + searchParams.vslNm + '%'"/> and sd.vsl_nm like #{vslNmPattern}
		 </if>
		<if test="searchParams.voyNo != null  and searchParams.voyNo != ''">
		 	<bind name="voyNoPattern" value="'%' + searchParams.voyNo + '%'"/> and sd.voy_no like #{voyNoPattern}
		 </if>
		<if test="searchParams.dischargePort != null  and searchParams.dischargePort != ''"> 
			<bind name="dischargePortPattern" value="'%' + searchParams.dischargePort + '%'"/> and sd.discharge_port like #{dischargePortPattern}
		</if>
		<if test="searchParams.consignee != null  and searchParams.consignee != ''"> 
			<bind name="consigneePattern" value="'%' + searchParams.consignee + '%'"/> and sd.consignee like #{consigneePattern}
		</if>
		<if test="searchParams.opeCode != null  and searchParams.opeCode != ''">
		 	<bind name="opeCodePattern" value="'%' + searchParams.opeCode + '%'"/> and sd.ope_code like #{opeCodePattern}
		 </if>
	</sql>

	<select id="selectPickupHistoryWithoutYardPostion"
		resultMap="PickupHistoryResult" parameterType="Map">
		SELECT
		p.*
		FROM
		pickup_history p left join shipment s
		on
		p.shipment_id = s.id
		left join shipment_detail sd 
		on p.shipment_detail_id = sd.id
		WHERE 
		p.area is null and p.block is null and p.bay is null and p.line is null and p.tier is null
		<include refid="search" />
	</select>
	
	<select id="selectPickupHistoryHasYardPostion"
		resultMap="PickupHistoryResult" parameterType="Map">
		SELECT
		p.*
		FROM
		pickup_history p left join shipment s
		on
		p.shipment_id = s.id
		left join shipment_detail sd 
		on p.shipment_detail_id = sd.id
		WHERE p.area is not null 
		or (p.block is not null and p.bay is not null and p.line is not null and p.tier is not null)
		<include refid="search" />
		ORDER BY planning_date desc
	</select>
	

	<select id="selectPickupHistoryById" parameterType="Long"
		resultMap="PickupHistoryResult">
		<include refid="selectPickupHistoryVo" />
		where id = #{id}
	</select>

	<insert id="insertPickupHistory" parameterType="PickupHistory" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_pickup_history.nextval as id from DUAL
		</selectKey>
		insert into pickup_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
			<if test="logisticGroupId != null ">logistic_group_id,</if>
			<if test="shipmentId != null ">shipment_id,</if>
			<if test="shipmentDetailId != null ">shipment_detail_id,</if>
			<if test="driverId != null ">driver_id,</if>
			<if test="pickupAssignId != null ">pickup_assign_id,</if>
			<if test="containerNo != null  and containerNo != ''">container_no,</if>
			<if test="truckNo != null  and truckNo != ''">truck_no,</if>
			<if test="chassisNo != null  and chassisNo != ''">chassis_no,</if>
			<if test="area != null  and area != ''">area,</if>
			<if test="bay != null  and bay != ''">bay,</if>
			<if test="block != null  and block != ''">block,</if>
			<if test="line != null  and line != ''">line,</if>
			<if test="tier != null  and tier != ''">tier,</if>
			<if test="status != null ">status,</if>
			<if test="receiptDate != null ">receipt_date,</if>
			<if test="gateinDate != null ">gatein_date,</if>
			<if test="gateoutDate != null ">gateout_date,</if>
			<if test="cancelDeceiptDate != null ">cancel_receipt_date,</if>
			<if test="planningDate != null ">planning_date,</if>
			<if test="processOrderId != null ">process_order_id,</if>
			<if test="gatePass != null and gatePass != ''">gate_pass,</if>
			<if test="jobOrderNo != null and jobOrderNo != ''">job_order_no,</if>
			<if test="jobOrderFlg != null">job_order_flg,</if>
			<if test="loadableWgt != null">loadable_wgt,</if>
			<if test="sztp != null and sztp != ''">sztp,</if>
			<if test="distance != null">distance,</if>
			<if test="updateLocationTime != null">update_location_time,</if>
			<if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
			<if test="logisticGroupId != null ">#{logisticGroupId},</if>
			<if test="shipmentId != null ">#{shipmentId},</if>
			<if test="shipmentDetailId != null ">#{shipmentDetailId},</if>
			<if test="driverId != null ">#{driverId},</if>
			<if test="pickupAssignId != null ">#{pickupAssignId},</if>
			<if test="containerNo != null  and containerNo != ''">#{containerNo},</if>
			<if test="truckNo != null  and truckNo != ''">#{truckNo},</if>
			<if test="chassisNo != null  and chassisNo != ''">#{chassisNo},</if>
			<if test="area != null  and area != ''">#{area},</if>
			<if test="bay != null  and bay != ''">#{bay},</if>
			<if test="block != null  and block != ''">#{block},</if>
			<if test="line != null  and line != ''">#{line},</if>
			<if test="tier != null  and tier != ''">#{tier},</if>
			<if test="status != null ">#{status},</if>
			<if test="receiptDate != null ">#{receiptDate},</if>
			<if test="gateinDate != null ">#{gateinDate},</if>
			<if test="gateoutDate != null ">#{gateoutDate},</if>
			<if test="cancelDeceiptDate != null ">#{cancelDeceiptDate},</if>
			<if test="planningDate != null ">#{planningDate},</if>
			<if test="processOrderId != null ">#{processOrderId},</if>
			<if test="gatePass != null and gatePass != ''">#{gatePass},</if>
			<if test="jobOrderNo != null and jobOrderNo != ''">#{jobOrderNo},</if>
			<if test="jobOrderFlg != null">#{jobOrderFlg},</if>
			<if test="loadableWgt != null">#{loadableWgt},</if>
			<if test="sztp != null and sztp != ''">#{sztp},</if>
			<if test="distance != null">#{distance},</if>
			<if test="updateLocationTime != null">#{update_location_time},</if>
			<if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
		</trim>
	</insert>

	<update id="updatePickupHistory" parameterType="PickupHistory">
		update pickup_history
		<trim prefix="SET" suffixOverrides=",">
			<if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
			<if test="shipmentId != null ">shipment_id = #{shipmentId},</if>
			<if test="shipmentDetailId != null ">shipment_detail_id = #{shipmentDetailId},</if>
			<if test="driverId != null ">driver_id = #{driverId},</if>
			<if test="pickupAssignId != null ">pickup_assign_id = #{pickupAssignId},</if>
			<if test="containerNo != null  and containerNo != ''">container_no = #{containerNo},</if>
			<if test="truckNo != null  and truckNo != ''">truck_no = #{truckNo},</if>
			<if test="chassisNo != null  and chassisNo != ''">chassis_no = #{chassisNo},</if>
			<if test="area != null  and area != ''">area = #{area},</if>
			<if test="bay != null  and bay != ''">bay = #{bay},</if>
			<if test="block != null  and block != ''">block = #{block},</if>
			<if test="line != null  and line != ''">line = #{line},</if>
			<if test="tier != null  and tier != ''">tier = #{tier},</if>
			<if test="status != null ">status = #{status},</if>
			<if test="receiptDate != null ">receipt_date = #{receiptDate},</if>
			<if test="gateinDate != null ">gatein_date = #{gateinDate},</if>
			<if test="gateoutDate != null ">gateout_date = #{gateoutDate},</if>
			<if test="cancelDeceiptDate != null ">cancel_receipt_date = #{cancelDeceiptDate},</if>
			<if test="planningDate != null ">planning_date = #{planningDate},</if>
			<if test="processOrderId != null ">process_order_id = #{processOrderId},</if>
			<if test="gatePass != null and gatePass">gate_pass = #{gatePass},</if>
			<if test="jobOrderNo != null and jobOrderNo != ''">job_order_no = #{jobOrderNo},</if>
			<if test="jobOrderFlg != null">job_order_flg = #{jobOrderFlg},</if>
			<if test="loadableWgt != null">loadable_wgt = #{loadableWgt},</if>
			<if test="sztp != null and sztp != ''">sztp = #{sztp},</if>
			<if test="distance != null">distance = #{distance},</if>
			<if test="updateLocationTime != null">update_location_time = #{updateLocationTime},</if>
			<if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
		</trim>
		where id = #{id}
	</update>

	<delete id="deletePickupHistoryById" parameterType="Long">
		delete from
		pickup_history where id = #{id}
	</delete>

	<delete id="deletePickupHistoryByIds" parameterType="String">
		delete from pickup_history where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="selectShipmentDetail"
		resultMap="ShipmentDetailResult">
		select * from shipment_detail where id = #{id}
	</select>

	<resultMap type="ShipmentDetail" id="ShipmentDetailResult">
		<result property="id" column="id" />
		<result property="shipmentId" column="shipment_id" />
		<result property="logisticGroupId" column="logistic_group_id" />
		<result property="processOrderId" column="process_order_id" />
		<result property="registerNo" column="register_no" />
		<result property="containerNo" column="container_no" />
		<result property="containerStatus" column="container_status" />
		<result property="sztp" column="sztp" />
		<result property="fe" column="fe" />
		<result property="bookingNo" column="booking_no" />
		<result property="blNo" column="bl_no" />
		<result property="sealNo" column="seal_no" />
		<result property="consignee" column="consignee" />
		<result property="expiredDem" column="expired_dem" />
		<result property="wgt" column="wgt" />
		<result property="vslNm" column="vsl_nm" />
		<result property="voyNo" column="voy_no" />
		<result property="opeCode" column="ope_code" />
		<result property="loadingPort" column="loading_port" />
		<result property="dischargePort" column="discharge_port" />
		<result property="transportType" column="transport_type" />
		<result property="emptyDepot" column="empty_depot" />
		<result property="cargoType" column="cargo_type" />
		<result property="vgmChk" column="vgm_chk" />
		<result property="vgm" column="vgm" />
		<result property="vgmPersonInfo" column="vgm_person_info" />
		<result property="preorderPickup" column="preorder_pickup" />
		<result property="shiftingContNumber" column="shifting_cont_number" />
		<result property="customStatus" column="custom_status" />
		<result property="paymentStatus" column="payment_status" />
		<result property="processStatus" column="process_status" />
		<result property="doStatus" column="do_status" />
		<result property="doReceivedTime" column="do_received_time" />
		<result property="userVerifyStatus" column="user_verify_status" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<select id="selectShipment" resultMap="ShipmentResult">
		select * from shipment
		where id = #{id}
	</select>

	<resultMap type="Shipment" id="ShipmentResult">
		<result property="id" column="id" />
		<result property="serviceType" column="service_type" />
		<result property="blNo" column="bl_no" />
		<result property="bookingNo" column="booking_no" />
		<result property="taxCode" column="tax_code" />
	</resultMap>

	<select id="selectLogisticGroup" resultMap="LogisticGroupResult">
		select * from
		logistic_group where id = #{id}
	</select>

	<resultMap type="LogisticGroup" id="LogisticGroupResult">
		<result property="id" column="id" />
		<result property="groupName" column="group_name" />
		<result property="emailAddress" column="email_address" />
		<result property="address" column="address" />
		<result property="mst" column="mst" />
		<result property="phone" column="phone" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="creditFlag" column="credit_flag" />
		<result property="email" column="email" />
	</resultMap>

	<select id="selectDriverAccount" resultMap="DriverAccountResult">
		select * from
		driver_account where id = #{id}
	</select>

	<resultMap type="DriverAccount" id="DriverAccountResult">
		<result property="id" column="id" />
		<result property="mobileNumber" column="mobile_number" />
		<result property="fullName" column="full_name" />
	</resultMap>

	<select id="selectPickupAssign" resultMap="DriverAccountResult">
		select * from
		driver_account where id = #{id}
	</select>

	<resultMap type="PickupAssign" id="PickupAssignResult">
		<result property="id" column="id" />
		<result property="phoneNumber" column="phone_number" />
		<result property="fullName" column="full_name" />
		<result property="externalFlg" column="external_flg" />
		<result property="externalSecretCode" column="external_secret_code" />
	</resultMap>

	<select id="selectPickupHistoryListForReport" resultMap="PickupHistoryResult">
		SELECT p.id, p.logistic_group_id, p.shipment_id, p.shipment_detail_id, p.status, p.gatein_date, p.container_no, p.truck_no, p.chassis_no,
		s.service_type, sh.bl_no, sh.booking_no, sh.sztp, sh.vsl_nm, sh.voy_no, sh.create_time
		FROM pickup_history p 
		left join shipment s on p.shipment_id = s.id
		left join shipment_detail sh on p.shipment_detail_id = sh.id
		<where>
			<if test="logisticGroupId != null "> and p.logistic_group_id = #{logisticGroupId}</if>
			<if test="status != null "> and p.status = #{status}</if>
			<if test="serviceType != null "> and s.service_type = #{serviceType}</if>
            <if test="fromDate != null ">and (p.gatein_date &gt;= #{fromDate})</if>
            <if test="toDate != null ">and (p.gatein_date &lt;= #{toDate})</if>
			<if test="containerNo != null  and containerNo != ''"> and ( upper(p.container_no) like concat(concat('%', #{containerNo}), '%')</if>
			<if test="truckNo != null  and truckNo != ''"> or upper(p.truck_no) like concat(concat('%', #{truckNo}), '%')</if>
			<if test="chassisNo != null  and chassisNo != ''"> or upper(p.chassis_no) like concat(concat('%', #{chassisNo}), '%')</if>
			<if test="blNo != null  and blNo != ''"> or upper(sh.bl_no) like concat (concat('%', #{blNo}), '%')</if>
			<if test="bookingNo != null  and bookingNo != ''"> or upper(sh.booking_no) like concat(concat('%', #{bookingNo}), '%')</if>
			<if test="sztp != null  and sztp != ''"> or upper(sh.sztp) like concat(concat('%', #{sztp}), '%')</if>
			<if test="vslNm != null  and vslNm != ''"> or upper(sh.vsl_nm) like concat(concat('%', #{vslNm}), '%')</if>
			<if test="voyNo != null  and voyNo != ''"> or upper(sh.voy_no) like concat(concat('%', #{voyNo}), '%'))</if>
		</where>
		group by p.id, p.logistic_group_id, p.shipment_id, p.shipment_detail_id, p.status, p.gatein_date, p.container_no, p.truck_no, p.chassis_no,
		s.service_type, sh.bl_no, sh.booking_no, sh.sztp, sh.vsl_nm, sh.voy_no, sh.create_time
		order by sh.create_time desc
	</select>

	<select id="selectPickupHistoryListForHistory" resultMap="PickupHistoryResult">
		SELECT p.id, p.logistic_group_id, p.shipment_id, p.shipment_detail_id, p.driver_id, p.container_no, p.truck_no, p.chassis_no, p.gatein_date, p.create_time,
		s.service_type, s.bl_no, s.booking_no, d.full_name, d.mobile_number
		FROM pickup_history p 
		left join shipment s on p.shipment_id = s.id
		left join driver_account d on p.driver_id = d.id
		left join logistic_group l on l.id = p.logistic_group_id
		<where>
			<if test="logisticGroupId != null "> and p.logistic_group_id = #{logisticGroupId}</if>
			<if test="status != null "> and p.status = #{status}</if>
			<if test="serviceType != null "> and s.service_type = #{serviceType}</if>
            <if test="fromDate != null ">and p.gatein_date &gt;= #{fromDate}</if>
            <if test="toDate != null ">and p.gatein_date &lt;= #{toDate}</if>
			<if test="containerNo != null  and containerNo != ''"> and (upper(p.container_no) like concat(concat('%', #{containerNo}), '%')</if>
			<if test="truckNo != null  and truckNo != ''"> or upper(p.truck_no) like concat(concat('%', #{truckNo}), '%')</if>
			<if test="chassisNo != null  and chassisNo != ''"> or upper(p.chassis_no) like concat(concat('%', #{chassisNo}), '%')</if>
			<if test="driverName != null  and driverName != ''"> or upper(d.full_name) like concat(concat('%', #{driverName}), '%')</if>
			<if test="driverPhoneNumber != null  and driverPhoneNumber != ''"> or upper(d.mobile_number) like concat(concat('%', #{driverPhoneNumber}), '%')</if>
			<if test="logisticGroupName != null  and logisticGroupName != ''"> or upper(l.group_name) like concat(concat('%', #{logisticGroupName}), '%')</if>
			<if test="blNo != null  and blNo != ''"> or upper(s.bl_no) like concat (concat('%', #{blNo}), '%')</if>
			<if test="bookingNo != null  and bookingNo != ''"> or upper(s.booking_no) like concat(concat('%', #{bookingNo}), '%'))</if>
		</where>
		group by p.id, p.logistic_group_id, p.shipment_id, p.shipment_detail_id, p.driver_id, p.container_no, p.truck_no, p.chassis_no, p.gatein_date, p.create_time,
		s.service_type, s.bl_no, s.booking_no, d.full_name, d.mobile_number
		order by p.create_time desc
	</select>

	<select id="selectPickupHistoryListForOmSupport" resultMap="PickupHistoryResult">
		SELECT *
			FROM pickup_history p 
			left join pickup_assign a on p.pickup_assign_id = a.id
			left join shipment_detail sh on p.shipment_detail_id = sh.id
		<where>
			<if test="shipmentId != null "> and p.shipment_id = #{shipmentId}</if>
		</where>
	</select>

	<select id="selectPickupHistoryForDriver" parameterType="Long" resultType="vn.com.irtech.eport.logistic.form.PickupHistoryForm">
		select id as pickupHistoryId, container_no as containerNo, gatein_date as gateInDate
		from pickup_history
		where driver_id = #{userId} and status = 2
		order by gatein_date desc
	</select>

	<select id="selectPickupListByDriverId" parameterType="Long" resultType="vn.com.irtech.eport.logistic.form.Pickup">
		select p.id as pickupId, p.container_no as containerNo, p.shipment_id as batchCode, p.truck_no as truckNo, p.sztp as sztp,
		p.status as status, p.chassis_no as chassisNo, p.block, p.bay, p.line, p.tier, p.area, s.service_type as serviceType
		from pickup_history p
		left join shipment s on p.shipment_id = s.id
		left join shipment_detail sh on p.shipment_detail_id = sh.id
		where p.driver_id = #{driverId}
		and p.status != 2
		order by s.service_type desc
	</select>

	<select id="checkPickupHistoryExists" resultType="int">
		select count(*) from pickup_history 
		where
			shipment_id = #{shipmentId}
			and shipment_detail_id = #{shipmentDetailId}
	</select>

	<select id="selectPickupHistoryDetailById" resultType="vn.com.irtech.eport.logistic.form.PickupHistoryDetail">
		select p.id as pickupHistoryId, p.container_no as containerNo, P.gate_pass as gatePass, p.gatein_date as gateInDate, p.shipment_id as batchId, p.truck_no as truckNo, 
		p.status as status, p.chassis_no as chassisNo, p.sztp as sztp, sh.consignee as consignee, concat(concat(concat(p.block, concat('-', p.bay)), concat('-', p.line)), concat('-', p.tier)) as yardPosition,
		sh.wgt as wgt, sh.cargo_type as cargoType, sh.delivery_address as address, sh.delivery_mobile as mobileNumber, sh.delivery_remark as remark
		from pickup_history p
		left join shipment s on p.shipment_id = s.id
		left join shipment_detail sh on p.shipment_detail_id = sh.id
		where 
		p.id = #{pickupId}
		and p.driver_id = #{driverId}
		group by p.id, p.container_no, p.gate_pass, p.gatein_date, p.shipment_id, p.truck_no, 
		p.status, p.chassis_no, p.sztp, sh.consignee, p.block, p.bay, p.line, p.tier, sh.wgt, sh.cargo_type, 
		sh.delivery_address, sh.delivery_mobile, sh.delivery_remark
	</select>

	<select id="selectDeliveringDriverInfo" parameterType="PickupHistory" resultMap="PickupHistoryResult">
		select p.id, p.logistic_group_id, p.shipment_id, p.shipment_detail_id, p.driver_id, p.pickup_assign_id, 
		p.container_no, p.truck_no, p.chassis_no, p.status, p.gatein_date, d.mobile_number, d.full_name
		from pickup_history p
		left join driver_account d on p.driver_id = d.id
		<where>
			p.status != 2
			<if test="logisticGroupId != null "> and p.logistic_group_id = #{logisticGroupId}</if>
		</where>
		group by p.id, p.logistic_group_id, p.shipment_id, p.shipment_detail_id, p.driver_id, p.pickup_assign_id, 
		p.container_no, p.truck_no, p.chassis_no, p.status, p.gatein_date, d.mobile_number, d.full_name
	</select>

	<select id="checkPlateNumberIsUnavailable" parameterType="PickupHistory" resultType="int">
		select count(*) from pickup_history
		where driver_id != #{driverId}
		and truck_no = #{truckNo}
		and chassis_no = #{chassisNo}
		and status != 2
	</select>

	<select id="selectVesselVoyageList" parameterType="PickupHistory" resultType="vn.com.irtech.eport.logistic.form.VesselVoyageMc">
		select vsl_nm as vslNm, voy_no as voyNo, sztp as sztp, discharge_port as dischargePort, container_amount as containerAmount
		from 
			(select sh.vsl_nm, sh.voy_no, sh.sztp, sh.discharge_port,
				(
					select count(*) from pickup_history p2 left join shipment_detail sh2 on p2.shipment_detail_id = sh2.id
					where 
						sh2.vsl_nm = sh.vsl_nm 
						and sh2.voy_no = sh.voy_no 
						and sh2.sztp = sh.sztp 
						and sh2.discharge_port = sh.discharge_port 
						and p2.shipment_detail_id is not null
						and p2.status = 0
				) as container_amount
			from pickup_history p left join shipment_detail sh on p.shipment_detail_id = sh.id
			<where>
					sh.vsl_nm is not null
					and sh.voy_no is not null
					and sh.sztp is not null
					and  p.shipment_detail_id is not null
					and p.status = 0
				<if test="params.vslNm != null and params.vslNm != ''"> and sh.vsl_nm = #{vslNm}</if>
				<if test="params.voyNo != null and params.voyNo != ''"> and sh.voyNo = #{voyNo}</if>
				<if test="params.blBookingNo != null and params.blBookingNo != ''">
					and (sh.bl_no like concat('%', concat(#{params.blBookingNo}, '%')) or sh.booking_no like concat('%', concat(#{params.blBookingNo}, '%')))
				</if>
			</where>)
		group by vsl_nm, voy_no, sztp, discharge_port, container_amount
	</select>

	<select id="selectPickupListForMcPlan" parameterType="PickupHistory" resultType="vn.com.irtech.eport.logistic.form.PickupPlanForm">
		select distance as distance, container_no as containerNo, vsl_Nm_Voy_No as vslNmVoyNo, sztp as sztp, discharge_port as dischargePort, 
			truck_no as truckNo, gate_pass as gatePass, update_location_time as updateLocationTime, logistic_name as logisticName
		from
			(select p.distance, sh.container_no, concat(sh.vsl_nm, concat(' - ', sh.voy_no)) as vsl_Nm_Voy_No, sh.sztp, 
				sh.discharge_port, p.truck_no, p.gate_pass, p.update_location_time,
				(select l.group_name from logistic_group l where l.id = p.logistic_group_id FETCH NEXT 1 ROWS ONLY) as logistic_name
			from pickup_history p left join shipment_detail sh on p.shipment_detail_id = sh.id
			<where>
					sh.vsl_nm is not null
					and sh.voy_no is not null
					and sh.sztp is not null
					and  p.shipment_detail_id is not null
					and p.status = 0
				<if test="params.vslNms != null">
					and sh.vsl_nm in
					<foreach item="vslNm" collection="params.vslNms" open="(" separator="," close=")">
						#{vslNm}
					</foreach>
				</if>
				<if test="params.voyNos != null">
					and sh.voy_no in
					<foreach item="voyNo" collection="params.voyNos" open="(" separator="," close=")">
						#{voyNo}
					</foreach>
				</if>
				<if test="params.sztps != null">
					and sh.sztp in
					<foreach item="sztp" collection="params.sztps" open="(" separator="," close=")">
						#{sztp}
					</foreach>
				</if>
				<if test="params.vslNm != null and params.vslNm != ''"> and sh.vsl_nm = #{vslNm}</if>
				<if test="params.voyNo != null and params.voyNo != ''"> and sh.voyNo = #{voyNo}</if>
				<if test="params.blBookingNo != null and params.blBookingNo != ''">
					and (sh.bl_no like concat('%', concat(#{params.blBookingNo}, '%')) or sh.booking_no like concat('%', concat(#{params.blBookingNo}, '%')))
				</if>
			</where>)
		order by distance asc
	</select>

	<select id="countPickupHistoryList" parameterType="PickupHistory" resultType="int">
		select count(*) from pickup_history
		<where>
			<if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
			<if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
			<if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
			<if test="driverId != null "> and driver_id = #{driverId}</if>
			<if test="pickupAssignId != null "> and pickup_assign_id = #{pickupAssignId}</if>
			<if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
			<if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
			<if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
			<if test="area != null  and area != ''"> and area = #{area}</if>
			<if test="bay != null  and bay != ''"> and bay = #{bay}</if>
			<if test="block != null  and block != ''"> and block = #{block}</if>
			<if test="line != null  and line != ''"> and line = #{line}</if>
			<if test="tier != null  and tier != ''"> and tier = #{tier}</if>
			<if test="status != null "> and status = #{status}</if>
			<if test="receiptDate != null "> and receipt_date = #{receiptDate}</if>
			<if test="gateinDate != null "> and gatein_date = #{gateinDate}</if>
			<if test="gateoutDate != null "> and gateout_date = #{gateoutDate}</if>
			<if test="cancelDeceiptDate != null "> and cancel_receipt_date = #{cancelDeceiptDate}</if>
			<if test="planningDate != null "> and planning_date = #{planningDate}</if>
            <if test="fromDate != null ">and (gatein_date = #{fromDate} OR gatein_date > #{fromDate})</if>
            <if test="toDate != null ">and (gatein_date = #{toDate} OR gatein_date &lt; #{toDate})</if>
            <if test="processOrderId != null ">and process_order_id = #{processOrderId}</if>
		</where>
	</select>

	<delete id="deletePickupHistoryByCondition" parameterType="PickupHistory">
		delete from pickup_history
		<where>
			<if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
			<if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
			<if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
			<if test="driverId != null "> and driver_id = #{driverId}</if>
			<if test="pickupAssignId != null "> and pickup_assign_id = #{pickupAssignId}</if>
			<if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
			<if test="truckNo != null  and truckNo != ''"> and truck_no = #{truckNo}</if>
			<if test="chassisNo != null  and chassisNo != ''"> and chassis_no = #{chassisNo}</if>
			<if test="area != null  and area != ''"> and area = #{area}</if>
			<if test="bay != null  and bay != ''"> and bay = #{bay}</if>
			<if test="block != null  and block != ''"> and block = #{block}</if>
			<if test="line != null  and line != ''"> and line = #{line}</if>
			<if test="tier != null  and tier != ''"> and tier = #{tier}</if>
			<if test="status != null "> and status = #{status}</if>
			<if test="receiptDate != null "> and receipt_date = #{receiptDate}</if>
			<if test="gateinDate != null "> and gatein_date = #{gateinDate}</if>
			<if test="gateoutDate != null "> and gateout_date = #{gateoutDate}</if>
			<if test="cancelDeceiptDate != null "> and cancel_receipt_date = #{cancelDeceiptDate}</if>
			<if test="planningDate != null "> and planning_date = #{planningDate}</if>
            <if test="fromDate != null ">and (gatein_date = #{fromDate} OR gatein_date > #{fromDate})</if>
            <if test="toDate != null ">and (gatein_date = #{toDate} OR gatein_date &lt; #{toDate})</if>
            <if test="processOrderId != null ">and process_order_id = #{processOrderId}</if>
			<if test="params.shipmentDetailIds != null">
                and shipment_detail_id in
                <foreach item="shipmentDetailId" collection="params.shipmentDetailIds" open="(" separator="," close=")">
                    #{shipmentDetailId}
                </foreach>
            </if>
		</where>
	</delete>
</mapper>