<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ProcessBillMapper">
    
    <resultMap type="ProcessBill" id="ProcessBillResult">
        <result property="id"    column="id"    />
        <result property="shipmentId"    column="shipment_id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="processOrderId"    column="process_order_id"    />
        <result property="serviceType"    column="service_type"    />
        <result property="payType"    column="pay_type"    />
        <result property="paymentStatus"    column="payment_status"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="referenceNo"    column="reference_no"    />
        <result property="sztp"    column="sztp"    />
        <result property="exchangeFee"    column="exchange_fee"    />
        <result property="vatRate"    column="vat_rate"    />
        <result property="vatAfterFee"    column="vat_after_fee"    />
        <result property="containerNo"    column="container_no"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="processOrder"    column="process_order_id" javaType="ProcessOrder" resultMap="processOrderResult" />
    </resultMap>

    <resultMap type="ProcessOrder" id="processOrderResult">
        <result property="id"    column="id"    />
        <result property="taxCode"    column="tax_code"    />
        <result property="blNo"    column="bl_no"    />
        <result property="bookingNo"    column="booking_no"    />
        <result property="vessel"    column="vessel"    />
        <result property="voyage"    column="voyage"    />
    </resultMap>

    <sql id="selectProcessBillVo">
        select id, shipment_id, logistic_group_id, process_order_id, service_type, pay_type, payment_status, payment_time, reference_no, sztp, exchange_fee, vat_rate, vat_after_fee, container_no, remark, create_by, create_time, update_by, update_time from process_bill
    </sql>

    <sql id="selectBillReport">
        select b.id, b.shipment_id, b.logistic_group_id, b.process_order_id, b.service_type, b.pay_type, b.payment_status, b.payment_time, b.reference_no, b.sztp, b.exchange_fee, b.vat_rate, b.vat_after_fee, b.container_no, 
        b.remark, b.create_by, b.create_time, b.update_by, b.update_time, o.tax_code, o.bl_no, o.booking_no, o.vessel, o.voyage
        from process_bill b left join process_order o on b.process_order_id = o.id
    </sql>

    <select id="selectProcessBillList" parameterType="ProcessBill" resultMap="ProcessBillResult">
        <include refid="selectProcessBillVo"/>
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="processOrderId != null "> and process_order_id = #{processOrderId}</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
            <if test="referenceNo != null  and referenceNo != ''"> and reference_no = #{referenceNo}</if>
            <if test="sztp != null  and sztp != ''"> and sztp = #{sztp}</if>
            <if test="exchangeFee != null "> and exchange_fee = #{exchangeFee}</if>
            <if test="vatRate != null "> and vat_rate = #{vatRate}</if>
            <if test="vatAfterFee != null "> and vat_after_fee = #{vatAfterFee}</if>
            <if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
        </where>
        order by process_order_id asc
    </select>
    
    <select id="selectProcessBillById" parameterType="Long" resultMap="ProcessBillResult">
        <include refid="selectProcessBillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProcessBill" parameterType="ProcessBill" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_process_bill.nextval as id from DUAL
		</selectKey>
        insert into process_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="shipmentId != null ">shipment_id,</if>
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="processOrderId != null ">process_order_id,</if>
            <if test="serviceType != null ">service_type,</if>
            <if test="payType != null  and payType != ''">pay_type,</if>
            <if test="paymentStatus != null  and paymentStatus != ''">payment_status,</if>
            <if test="referenceNo != null  and referenceNo != ''">reference_no,</if>
            <if test="sztp != null  and sztp != ''">sztp,</if>
            <if test="exchangeFee != null ">exchange_fee,</if>
            <if test="vatRate != null ">vat_rate,</if>
            <if test="vatAfterFee != null ">vat_after_fee,</if>
            <if test="containerNo != null  and containerNo != ''">container_no,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="shipmentId != null ">#{shipmentId},</if>
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="processOrderId != null ">#{processOrderId},</if>
            <if test="serviceType != null ">#{serviceType},</if>
            <if test="payType != null  and payType != ''">#{payType},</if>
            <if test="paymentStatus != null  and paymentStatus != ''">#{paymentStatus},</if>
            <if test="referenceNo != null  and referenceNo != ''">#{referenceNo},</if>
            <if test="sztp != null  and sztp != ''">#{sztp},</if>
            <if test="exchangeFee != null ">#{exchangeFee},</if>
            <if test="vatRate != null ">#{vatRate},</if>
            <if test="vatAfterFee != null ">#{vatAfterFee},</if>
            <if test="containerNo != null  and containerNo != ''">#{containerNo},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateProcessBill" parameterType="ProcessBill">
        update process_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipmentId != null ">shipment_id = #{shipmentId},</if>
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="processOrderId != null ">process_order_id = #{processOrderId},</if>
            <if test="serviceType != null ">service_type = #{serviceType},</if>
            <if test="payType != null  and payType != ''">pay_type = #{payType},</if>
            <if test="paymentStatus != null  and paymentStatus != ''">payment_status = #{paymentStatus},</if>
            <if test="referenceNo != null  and referenceNo != ''">reference_no = #{referenceNo},</if>
            <if test="sztp != null  and sztp != ''">sztp = #{sztp},</if>
            <if test="exchangeFee != null ">exchange_fee = #{exchangeFee},</if>
            <if test="vatRate != null ">vat_rate = #{vatRate},</if>
            <if test="vatAfterFee != null ">vat_after_fee = #{vatAfterFee},</if>
            <if test="containerNo != null  and containerNo != ''">container_no = #{containerNo},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProcessBillById" parameterType="Long">
        delete from process_bill where id = #{id}
    </delete>

    <delete id="deleteProcessBillByIds" parameterType="String">
        delete from process_bill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectProcessBillListByProcessOrderIds" parameterType="String" resultMap="ProcessBillResult">
        <include refid="selectProcessBillVo"/>
        where process_order_id in 
        <foreach item="processOrderId" collection="array" open="(" separator="," close=")">
            #{processOrderId}
        </foreach>
    </select>

    <select id="selectBillReportList" parameterType="ProcessBill" resultMap="ProcessBillResult">
        <include refid="selectBillReport"/>
        <where>  
            <if test="logisticGroupId != null "> and b.logistic_group_id = #{logisticGroupId}</if>
            <if test="serviceType != null "> and b.service_type = #{serviceType}</if>
            <if test="payType != null  and payType != ''"> and b.pay_type = #{payType}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and b.payment_status = #{paymentStatus}</if>
            <!-- <if test="fromDate != null ">and b.payment_time &gt;= #{fromDate}</if>
            <if test="toDate != null ">and b.payment_time &lt;= #{toDate}</if> -->
            <if test="fromDate != null">and b.create_time &gt;= #{fromDate}</if>
            <if test="toDate != null">and b.create_time &lt;= #{toDate}</if>
            <if test="taxCode != null  and taxCode != ''"> and ( upper(o.tax_code) like concat(concat('%', #{taxCode}), '%')</if>
            <if test="blNo != null  and blNo != ''"> or upper(o.bl_no) like concat(concat('%', #{blNo}), '%')</if>
            <if test="bookingNo != null  and bookingNo != ''"> or upper(o.booking_no) like concat(concat('%', #{bookingNo}), '%')</if>
            <if test="referenceNo != null  and referenceNo != ''"> or upper(b.reference_no) like concat(concat('%', #{referenceNo}), '%')</if>
            <if test="sztp != null  and sztp != ''"> or upper(b.sztp) like concat(concat('%', #{sztp}), '%')</if>
            <if test="containerNo != null  and containerNo != ''"> or upper(b.container_no) like concat(concat('%', #{containerNo}), '%'))</if>
        </where>
    </select>
    
    <select id="sumOfBillList" parameterType="ProcessBill" resultType="Long">
        select sum(b.vat_after_fee) from process_bill b left join process_order o on b.process_order_id = o.id
        <where>  
            <if test="logisticGroupId != null "> and b.logistic_group_id = #{logisticGroupId}</if>
            <if test="serviceType != null "> and b.service_type = #{serviceType}</if>
            <if test="payType != null  and payType != ''"> and b.pay_type = #{payType}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and b.payment_status = #{paymentStatus}</if>
            <if test="fromDate != null ">and b.payment_time &gt;= #{fromDate}</if>
            <if test="toDate != null ">and b.payment_time &lt;= #{toDate}</if>
            <if test="taxCode != null  and taxCode != ''"> and ( upper(o.tax_code) like concat(concat('%', #{taxCode}), '%')</if>
            <if test="blNo != null  and blNo != ''"> or upper(o.bl_no) like concat(concat('%', #{blNo}), '%')</if>
            <if test="bookingNo != null  and bookingNo != ''"> or upper(o.booking_no) like concat(concat('%', #{bookingNo}), '%')</if>
            <if test="referenceNo != null  and referenceNo != ''"> or upper(b.reference_no) like concat(concat('%', #{referenceNo}), '%')</if>
            <if test="sztp != null  and sztp != ''"> or upper(b.sztp) like concat(concat('%', #{sztp}), '%')</if>
            <if test="containerNo != null  and containerNo != ''"> or upper(b.container_no) like concat(concat('%', #{containerNo}), '%'))</if>
        </where>
    </select>

    <select id="getBillListByShipmentId" parameterType="Long" resultMap="ProcessBillResult">
        <include refid="selectBillReport"/>
        where b.shipment_id = #{shipmentId} order by b.process_order_id asc
    </select>

    <update id="updateBillList" parameterType="ProcessBill">
        update process_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="paymentStatus != null  and paymentStatus != ''">payment_status = #{paymentStatus},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            payment_time = sysdate,
            update_time = sysdate
        </trim>
        <where>  
            <if test="processOrderId != null "> and process_order_id = #{processOrderId}</if>
        </where>
    </update>

    <update id="updateBillListByProcessOrderIds" parameterType="String">
        update process_bill
        <trim prefix="SET" suffixOverrides=",">
            payment_status = 'Y',
            payment_time = sysdate,
            update_time = sysdate
        </trim>
        where process_order_id in 
        <foreach item="processOrderId" collection="array" open="(" separator="," close=")">
            #{processOrderId}
        </foreach>
    </update>

    <select id="getSumOfTotalBillList" parameterType="String" resultType="Long">
        select sum(vat_after_fee) from process_bill
        where process_order_id in 
        <foreach item="processOrderId" collection="array" open="(" separator="," close=")">
            #{processOrderId}
        </foreach>
    </select>

    <select id="getBillShiftingContByShipmentId" resultMap="ProcessBillResult">
        <include refid="selectProcessBillVo"/>
        where service_type = 5
        and shipment_id = #{shipmentId}
        and logistic_group_id = #{logisticGroupId}
        order by process_order_id asc
    </select>
</mapper>