<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ProcessOrderMapper">
    
    <resultMap type="ProcessOrder" id="ProcessOrderResult">
        <result property="id"    column="id"    />
        <result property="shipmentId"    column="shipment_id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="serviceType"    column="service_type"    />
        <result property="invoiceNo"    column="invoice_no"    />
        <result property="payType"    column="pay_type"    />
        <result property="sztp"    column="sztp"    />
        <result property="modee"    column="modee"    />
        <result property="consignee"    column="consignee"    />
        <result property="truckCo"    column="truck_co"    />
        <result property="taxCode"    column="tax_code"    />
        <result property="blNo"    column="bl_no"    />
        <result property="bookingNo"    column="booking_no"    />
        <result property="pickupDate"    column="pickup_date"    />
        <result property="vessel"    column="vessel"    />
        <result property="voyage"    column="voyage"    />
        <result property="beforeAfter"    column="before_after"    />
        <result property="year"    column="year"    />
        <result property="contNumber"    column="cont_number"    />
        <result property="status"    column="status"    />
        <result property="result"    column="result"    />
        <result property="data"    column="data"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="robotUuid"    column="robot_uuid"    />
        <result property="ssrCode"    column="ssr_code"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="postProcessId"    column="post_process_id"    />
        <result property="runnable"    column="runnable"    />
        <result property="orderNo"    column="order_no"    />
        <result property="processData"    column="process_data"    />
        <result property="groupName"    column="group_name"    />
        <result property="paymentStatus"    column="payment_status"    />
        <result property="doStatus"    column="do_status"    />
        <association property="shipmentDetail"    column="id" javaType="ShipmentDetail" resultMap="ShipmentDetailResult" />
    </resultMap>

    <resultMap type="ShipmentDetail" id="ShipmentDetailResult">
        <result property="processOrderId"    column="process_order_id"    />
        <result property="containerNo"    column="container_no"    />
        <result property="sztp"    column="sztp"    />
        <result property="fe"    column="fe"    />
        <result property="wgt"    column="wgt"    />
        <result property="opeCode"    column="ope_code"    />
        <result property="dischargePort"    column="discharge_port"    />
        <result property="consignee"    column="consignee"    />
        <result property="cargoType"    column="cargo_type"    />
    </resultMap>

    <sql id="selectProcessOrderVo">
        select id, shipment_id, logistic_group_id, service_type, invoice_no, pay_type, sztp, modee, consignee, truck_co, 
        tax_code, bl_no, booking_no, pickup_date, vessel, voyage, before_after, year, cont_number, status, 
        result, data, create_by, create_time, update_by, update_time, robot_uuid, ssr_code, sys_user_id, post_process_id, runnable, order_no, process_data from process_order
    </sql>

    <select id="selectProcessOrderList" parameterType="ProcessOrder" resultMap="ProcessOrderResult">
        <include refid="selectProcessOrderVo"/>
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="invoiceNo != null  and invoiceNo != ''"> and invoice_no = #{invoiceNo}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="sztp != null  and sztp != ''"> and sztp = #{sztp}</if>
            <if test="modee != null  and modee != ''"> and modee = #{modee}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="truckCo != null  and truckCo != ''"> and truck_co = #{truckCo}</if>
            <if test="taxCode != null  and taxCode != ''"> and tax_code = #{taxCode}</if>
            <if test="blNo != null  and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="bookingNo != null  and bookingNo != ''"> and booking_no = #{bookingNo}</if>
            <if test="pickupDate != null "> and pickup_date = #{pickupDate}</if>
            <if test="vessel != null  and vessel != ''"> and vessel = #{vessel}</if>
            <if test="voyage != null  and voyage != ''"> and voyage = #{voyage}</if>
            <if test="beforeAfter != null  and beforeAfter != ''"> and before_after = #{beforeAfter}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="contNumber != null "> and cont_number = #{contNumber}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="data != null  and data != ''"> and data = #{data}</if>
            <if test="robotUuid != null  and robotUuid != ''"> and robot_uuid = #{robotUuid}</if>
            <if test="ssrCode != null  and ssrCode != ''"> and ssr_code = #{ssrCode}</if>
            <if test="sysUserId != null"> and sys_user_id = #{sysUserId}</if>
            <if test="postProcessId != null"> and post_process_id = #{postProcessId}</if>
            <if test="runnable != null"> and runnable = #{runnable}</if>
        </where>
    </select>
    
    <select id="selectProcessOrderById" parameterType="Long" resultMap="ProcessOrderResult">
        <include refid="selectProcessOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProcessOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="ProcessOrder">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_process_order.nextval as id from DUAL
		</selectKey>
        insert into process_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="shipmentId != null ">shipment_id,</if>
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="serviceType != null ">service_type,</if>
            <if test="invoiceNo != null  and invoiceNo != ''">invoice_no,</if>
            <if test="payType != null  and payType != ''">pay_type,</if>
            <if test="sztp != null  and sztp != ''">sztp,</if>
            <if test="modee != null  and modee != ''">modee,</if>
            <if test="consignee != null  and consignee != ''">consignee,</if>
            <if test="truckCo != null  and truckCo != ''">truck_co,</if>
            <if test="taxCode != null  and taxCode != ''">tax_code,</if>
            <if test="blNo != null  and blNo != ''">bl_no,</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no,</if>
            <if test="pickupDate != null ">pickup_date,</if>
            <if test="vessel != null  and vessel != ''">vessel,</if>
            <if test="voyage != null  and voyage != ''">voyage,</if>
            <if test="beforeAfter != null  and beforeAfter != ''">before_after,</if>
            <if test="year != null  and year != ''">year,</if>
            <if test="contNumber != null ">cont_number,</if>
            <if test="status != null ">status,</if>
            <if test="result != null  and result != ''">result,</if>
            <if test="data != null  and data != ''">data,</if>
            <if test="robotUuid != null  and robotUuid != ''">robot_uuid,</if>
            <if test="ssrCode != null  and ssrCode != ''">ssr_code,</if>
            <if test="sysUserId != null">sys_user_id,</if>
            <if test="postProcessId != null">post_process_id,</if>
            <if test="runnable != null">runnable,</if>
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="processData != null and processData != ''">process_data,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="shipmentId != null ">#{shipmentId},</if>
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="serviceType != null ">#{serviceType},</if>
            <if test="invoiceNo != null  and invoiceNo != ''">#{invoiceNo},</if>
            <if test="payType != null  and payType != ''">#{payType},</if>
            <if test="sztp != null  and sztp != ''">#{sztp},</if>
            <if test="modee != null  and modee != ''">#{modee},</if>
            <if test="consignee != null  and consignee != ''">#{consignee},</if>
            <if test="truckCo != null  and truckCo != ''">#{truckCo},</if>
            <if test="taxCode != null  and taxCode != ''">#{taxCode},</if>
            <if test="blNo != null  and blNo != ''">#{blNo},</if>
            <if test="bookingNo != null  and bookingNo != ''">#{bookingNo},</if>
            <if test="pickupDate != null ">#{pickupDate},</if>
            <if test="vessel != null  and vessel != ''">#{vessel},</if>
            <if test="voyage != null  and voyage != ''">#{voyage},</if>
            <if test="beforeAfter != null  and beforeAfter != ''">#{beforeAfter},</if>
            <if test="year != null  and year != ''">#{year},</if>
            <if test="contNumber != null ">#{contNumber},</if>
            <if test="status != null ">#{status},</if>
            <if test="result != null  and result != ''">#{result},</if>
            <if test="data != null  and data != ''">#{data},</if>
            <if test="robotUuid != null  and robotUuid != ''">#{robotUuid},</if>
            <if test="ssrCode != null  and ssrCode != ''">#{ssrCode},</if>
            <if test="sysUserId != null">#{sysUserId},</if>
            <if test="postProcessId != null">#{postProcessId},</if>
            <if test="runnable != null">#{runnable},</if>
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="processData != null and processData != ''">#{processData},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateProcessOrder" parameterType="ProcessOrder">
        update process_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipmentId != null ">shipment_id = #{shipmentId},</if>
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="serviceType != null ">service_type = #{serviceType},</if>
            <if test="invoiceNo != null  and invoiceNo != ''">invoice_no = #{invoiceNo},</if>
            <if test="payType != null  and payType != ''">pay_type = #{payType},</if>
            <if test="sztp != null  and sztp != ''">sztp = #{sztp},</if>
            <if test="modee != null  and modee != ''">modee = #{modee},</if>
            <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
            <if test="truckCo != null  and truckCo != ''">truck_co = #{truckCo},</if>
            <if test="taxCode != null  and taxCode != ''">tax_code = #{taxCode},</if>
            <if test="blNo != null  and blNo != ''">bl_no = #{blNo},</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no = #{bookingNo},</if>
            <if test="pickupDate != null ">pickup_date = #{pickupDate},</if>
            <if test="vessel != null  and vessel != ''">vessel = #{vessel},</if>
            <if test="voyage != null  and voyage != ''">voyage = #{voyage},</if>
            <if test="beforeAfter != null  and beforeAfter != ''">before_after = #{beforeAfter},</if>
            <if test="year != null  and year != ''">year = #{year},</if>
            <if test="contNumber != null ">cont_number = #{contNumber},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="result != null  and result != ''">result = #{result},</if>
            <if test="data != null  and data != ''">data = #{data},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="robotUuid != null  and robotUuid != ''">robot_uuid = #{robotUuid},</if>
            <if test="ssrCode != null  and ssrCode != ''">ssr_code = #{ssrCode},</if>
            <if test="sysUserId != null">sys_user_id = #{sysUserId},</if>
            <if test="postProcessId != null">post_process_id = #{postProcessId},</if>
            <if test="runnable != null">runnable = #{runnable},</if>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="processData != null and processData != ''">process_data = #{processData},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProcessOrderById" parameterType="Long">
        delete from process_order where id = #{id}
    </delete>

    <delete id="deleteProcessOrderByIds" parameterType="String">
        delete from process_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOrderListForOmSupport" parameterType="ProcessOrder" resultMap="ProcessOrderResult">
        select p.id, p.shipment_id, p.logistic_group_id, p.service_type, p.pay_type, p.tax_code, p.bl_no, p.booking_no, p.pickup_date, p.robot_uuid,
        p.vessel, p.voyage, p.cont_number, p.status, p.result, p.invoice_no, l.group_name as group_name
        from process_order p
        right join shipment_detail s on p.id = s.process_order_id
        left join logistic_group l on p.logistic_group_id = l.id
        <where>
            <if test="runnable != null"> and p.runnable = #{runnable}</if>
            <if test="sysUserId != null"> and p.sys_user_id = #{sysUserId}</if>
            <if test="shipmentId != null "> and p.shipment_id = #{shipmentId}</if>
            <if test="id != null "> and s.process_order_id = #{id}</if>
            <if test="status != null "> and (p.status = #{status}</if>
            <if test="result != null  and result != ''"> or p.result = #{result})</if>
        </where>
    </select>

    <select id="countProcessOrderDoing" parameterType="String" resultType="int">
        select count(*) from process_order
        where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        and status = 0
    </select>

    <update id="updateDoingProcessOrder" parameterType="String">
        update process_order
        set status = 1
        where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        and status = 0
    </update>

    <update id="updateCancelingProcessOrder" parameterType="String">
        update process_order
        set status = 0
        where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        and status = 1
    </update>

    <select id="selectProcessOrderListForOmManagement" parameterType="ProcessOrder" resultMap="ProcessOrderResult">
        <include refid="selectProcessOrderVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="sysUserId != null "> and sys_user_id = #{sysUserId}</if>
            <if test="runnable != null "> and runnable = #{runnable}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="robotUuid != null and robotUuid != ''"> and robot_uuid is not null</if>
            <if test="robotUuid == null or robotUuid == ''"> and (robot_uuid is null or status != 0)</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="taxCode != null  and taxCode != ''"> and (upper(tax_code) like concat(concat('%', #{taxCode}), '%')</if>
            <if test="vessel != null  and vessel != ''"> or upper(vessel) like concat(concat('%', #{vessel}), '%')</if>
            <if test="voyage != null  and voyage != ''"> or upper(voyage) like concat(concat('%', #{voyage}), '%'))</if>
        </where>
    </select>
    
    <select id="checkLogisticOwnedProcessOrder" resultType="int">
        select count(*) from process_order
        where logistic_group_id = #{logisticGroupId}
        and status = 2
        and id in
        <foreach item="id" collection="processOrderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    
    <select id="getShipmentIdByProcessOrderId" resultType="Long" parameterType="Long">
        select shipment_id from process_order
        where id = #{id}
    </select>

    <select id="getProcessOrderByUuid" resultType="ProcessOrder" parameterType="String">
        <include refid="selectProcessOrderVo"/>
        where robot_uuid = #{uuid} 
        and sys_user_id is null
        and status = 1
    </select>

    <select id="findProcessOrderForRobot" resultMap="ProcessOrderResult" parameterType="String">
        <include refid="selectProcessOrderVo"/>
        where robot_uuid is null 
        and status = 0 
        and runnable = 1 
        and service_type in
        <foreach item="serviceType" collection="array" open="(" separator="," close=")">
            #{serviceType}
        </foreach>
        order by create_time desc FETCH NEXT 1 ROWS ONLY
    </select>

    <select id="selectOrdersByShipmentId" resultMap="ProcessOrderResult" parameterType="ProcessOrder">
        select p.id, p.shipment_id, p.logistic_group_id, p.service_type, p.order_no, p.invoice_no, p.cont_number, p.status, p.pay_type, p.create_time, p.robot_uuid,
        (select sh.payment_status from shipment_detail sh where sh.process_order_id = p.id FETCH NEXT 1 ROWS ONLY) as payment_status, 
        (select sh.do_status from shipment_detail sh where sh.process_order_id = p.id FETCH NEXT 1 ROWS ONLY) as do_status
        from process_order p
        <where>
            p.service_type in (1, 2, 3, 4)
            <if test="runnable != null"> and p.runnable = #{runnable}</if>
            <if test="shipmentId != null"> and p.shipment_id = #{shipmentId}</if>
            <if test="robotUuid != null and robotUuid != ''"> and p.robot_uuid is not null</if>
            <if test="robotUuid == ''"> and (p.robot_uuid is null or p.status != 0)</if>
            <if test="status != null "> and p.status = #{status}</if>
        </where>
    </select>
</mapper>