<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ProcessHistoryMapper">
    
    <resultMap type="ProcessHistory" id="ProcessHistoryResult">
        <result property="id"    column="id"    />
        <result property="processOrderId"    column="process_order_id"    />
        <result property="sysUserId"    column="sys_user_id"    />
        <result property="robotUuid"    column="robot_uuid"    />
        <result property="result"    column="result"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="processOrder"    column="process_order_id" javaType="ProcessOrder" resultMap="processOrderResult" />
    </resultMap>

    <resultMap type="ProcessOrder" id="processOrderResult">
		<result property="id" column="id" />
		<result property="serviceType" column="service_type" />
	</resultMap>

    <sql id="selectProcessHistoryVo">
        select id, process_order_id, sys_user_id, robot_uuid, result, status, remark, create_by, create_time, update_by, update_time from process_history
    </sql>

    <select id="selectProcessHistoryList" parameterType="ProcessHistory" resultMap="ProcessHistoryResult">
        <include refid="selectProcessHistoryVo"/>
        <where>  
            <if test="processOrderId != null "> and process_order_id = #{processOrderId}</if>
            <if test="sysUserId != null "> and sys_user_id = #{sysUserId}</if>
            <if test="robotUuid != null  and robotUuid != ''"> and robot_uuid = #{robotUuid}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectProcessHistoryById" parameterType="Long" resultMap="ProcessHistoryResult">
        <include refid="selectProcessHistoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProcessHistory" parameterType="ProcessHistory" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_process_history.nextval as id from DUAL
		</selectKey>
        insert into process_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="processOrderId != null ">process_order_id,</if>
            <if test="sysUserId != null ">sys_user_id,</if>
            <if test="robotUuid != null  and robotUuid != ''">robot_uuid,</if>
            <if test="result != null  and result != ''">result,</if>
            <if test="status != null">status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="processOrderId != null ">#{processOrderId},</if>
            <if test="sysUserId != null ">#{sysUserId},</if>
            <if test="robotUuid != null  and robotUuid != ''">#{robotUuid},</if>
            <if test="result != null  and result != ''">#{result},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateProcessHistory" parameterType="ProcessHistory">
        update process_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="processOrderId != null ">process_order_id = #{processOrderId},</if>
            <if test="sysUserId != null ">sys_user_id = #{sysUserId},</if>
            <if test="robotUuid != null  and robotUuid != ''">robot_uuid = #{robotUuid},</if>
            <if test="result != null  and result != ''">result = #{result},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProcessHistoryById" parameterType="Long">
        delete from process_history where id = #{id}
    </delete>

    <delete id="deleteProcessHistoryByIds" parameterType="String">
        delete from process_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <sql id="selectRobotHistoryVo">
        select h.id, h.process_order_id, h.robot_uuid, h.result, h.status, h.remark, h.create_by, h.create_time, h.update_by, h.update_time, p.id, p.service_type 
        from process_history as h 
        left join process_order as p on h.process_order_id = p.id
    </sql>

    <select id="selectRobotHistory" parameterType="ProcessHistory" resultMap="ProcessHistoryResult">
        <include refid="selectRobotHistoryVo"/>
        <where>
            <if test="robotUuid == null  or robotUuid == ''"> and h.robot_uuid is not null</if>
            <if test="serviceType != null  and serviceType != ''"> and p.service_type = #{serviceType}</if>
            <if test="result != null  and result != ''"> and h.result = #{result}</if>
            <if test="fromDate != null ">and h.create_time &gt;= #{fromDate}</if>
            <if test="toDate != null ">and h.create_time &lt;= #{toDate}</if>
            <if test="robotUuid != null  and robotUuid != ''"> and upper(h.robot_uuid) like concat(concat('%', #{robotUuid}), '%')</if>
        </where>
    </select>
    
</mapper>