<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ShipmentCommentMapper">
    
    <resultMap type="ShipmentComment" id="ShipmentCommentResult">
        <result property="id"    column="id"    />
        <result property="shipmentId"    column="shipment_id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userType"    column="user_type"    />
        <result property="userName"    column="user_name"    />
        <result property="userAlias"    column="user_alias"    />
        <result property="commentTime"    column="comment_time"    />
        <result property="topic"    column="topic"    />
        <result property="content"    column="content"    />
        <result property="serviceType"    column="service_type"    />
        <result property="seenFlg"    column="seen_flg"    />
        <result property="resolvedFlg"    column="resolved_flg"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectShipmentCommentVo">
        select id, shipment_id, logistic_group_id, user_id, user_type, user_name, user_alias, comment_time, topic, content, service_type, seen_flg, resolved_flg, create_time, create_by, update_time, update_by from shipment_comment
    </sql>

    <select id="selectShipmentCommentList" parameterType="ShipmentComment" resultMap="ShipmentCommentResult">
        <include refid="selectShipmentCommentVo"/>
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat(concat('%', #{userName}), '%')</if>
            <if test="userAlias != null  and userAlias != ''"> and user_alias = #{userAlias}</if>
            <if test="commentTime != null "> and comment_time = #{commentTime}</if>
            <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="serviceType != null"> and service_type = #{serviceType}</if>
            <if test="seenFlg != null"> and seen_flg = #{seenFlg}</if>
            <if test="resolvedFlg != null"> and resolved_flg = #{resolvedFlg}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectShipmentCommentById" parameterType="Long" resultMap="ShipmentCommentResult">
        <include refid="selectShipmentCommentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShipmentComment" parameterType="ShipmentComment">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT seq_shipment_comment.NEXTVAL as id FROM DUAL
        </selectKey>
        insert into shipment_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="shipmentId != null">shipment_id,</if>
            <if test="logisticGroupId != null">logistic_group_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userType != null">user_type,</if>
            <if test="userName != null">user_name,</if>
            <if test="userAlias != null and userAlias != ''">user_alias,</if>
            <if test="commentTime != null">comment_time,</if>
            <if test="topic != null">topic,</if>
            <if test="content != null">content,</if>
            <if test="serviceType != null">service_type,</if>
            <if test="seenFlg != null">seen_flg,</if>
            <if test="resolvedFlg != null">resolved_flg,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="shipmentId != null">#{shipmentId},</if>
            <if test="logisticGroupId != null">#{logisticGroupId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userType != null">#{userType},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userAlias != null and userAlias != ''">#{userAlias},</if>
            <if test="commentTime != null">#{commentTime},</if>
            <if test="topic != null">#{topic},</if>
            <if test="content != null">#{content},</if>
            <if test="serviceType != null">#{serviceType},</if>
            <if test="seenFlg != null">#{seenFlg},</if>
            <if test="resolvedFlg != null">#{resolvedFlg},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateShipmentComment" parameterType="ShipmentComment">
        update shipment_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipmentId != null">shipment_id = #{shipmentId},</if>
            <if test="logisticGroupId != null">logistic_group_id = #{logisticGroupId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userAlias != null and userAlias != ''">user_alias = #{userAlias},</if>
            <if test="commentTime != null">comment_time = #{commentTime},</if>
            <if test="topic != null">topic = #{topic},</if>
            <if test="content != null">content = #{content},</if>
            <if test="serviceType != null">service_type = #{serviceType},</if>
            <if test="seenFlg != null">seen_flg = #{seenFlg},</if>
            <if test="resolvedFlg != null">resolved_flg = #{resolvedFlg},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShipmentCommentById" parameterType="Long">
        delete from shipment_comment where id = #{id}
    </delete>

    <delete id="deleteShipmentCommentByIds" parameterType="String">
        delete from shipment_comment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectShipmentCommentListCustom" parameterType="ShipmentComment" resultMap="ShipmentCommentResult">
        <include refid="selectShipmentCommentVo"/>
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat(concat('%', #{userName}), '%')</if>
            <if test="userAlias != null  and userAlias != ''"> and user_alias = #{userAlias}</if>
            <if test="commentTime != null "> and comment_time = #{commentTime}</if>
            <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="serviceType != null"> and service_type = #{serviceType}</if>
            <if test="seenFlg != null"> and service_type = #{seenFlg}</if>
            <if test="resolvedFlg != null"> and resolved_flg = #{resolvedFlg}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
        order by create_time asc
    </select>

    <update id="updateFlgShipmentComment" parameterType="ShipmentComment">
        update shipment_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="seenFlg != null">seen_flg = #{seenFlg},</if>
            <if test="resolvedFlg != null">resolved_flg = #{resolvedFlg},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        <where>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat(concat('%', #{userName}), '%')</if>
            <if test="userAlias != null  and userAlias != ''"> and user_alias = #{userAlias}</if>
            <if test="commentTime != null "> and comment_time = #{commentTime}</if>
            <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="serviceType != null"> and service_type = #{serviceType}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </update>

    <select id="selectCountCommentListUnSeen" parameterType="ShipmentComment" resultType="int">
        select count(*) from shipment_comment
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat(concat('%', #{userName}), '%')</if>
            <if test="userAlias != null  and userAlias != ''"> and user_alias = #{userAlias}</if>
            <if test="commentTime != null "> and comment_time = #{commentTime}</if>
            <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="serviceType != null"> and service_type = #{serviceType}</if>
            <if test="seenFlg != null"> and service_type = #{seenFlg}</if>
            <if test="resolvedFlg != null"> and resolved_flg = #{resolvedFlg}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>

    <select id="selectShipmentCommentListForNotification" parameterType="ShipmentComment" resultMap="ShipmentCommentResult">
        <include refid="selectShipmentCommentVo"/>
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat(concat('%', #{userName}), '%')</if>
            <if test="userAlias != null  and userAlias != ''"> and user_alias = #{userAlias}</if>
            <if test="commentTime != null "> and comment_time = #{commentTime}</if>
            <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="serviceType != null"> and service_type = #{serviceType}</if>
            <if test="seenFlg != null"> and seen_flg = #{seenFlg}</if>
            <if test="resolvedFlg != null"> and resolved_flg = #{resolvedFlg}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
        order by create_time desc
    </select>
</mapper>