<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ShipmentDetailMapper">
    
    <resultMap type="ShipmentDetail" id="ShipmentDetailResult">
        <result property="id"    column="id"    />
        <result property="shipmentId"    column="shipment_id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="processOrderId"    column="process_order_id"    />
        <result property="registerNo"    column="register_no"    />
        <result property="containerNo"    column="container_no"    />
        <result property="containerStatus"    column="container_status"    />
        <result property="sztp"    column="sztp"    />
        <result property="fe"    column="fe"    />
        <result property="bookingNo"    column="booking_no"    />
        <result property="blNo"    column="bl_no"    />
        <result property="sealNo"    column="seal_no"    />
        <result property="consignee"    column="consignee"    />
        <result property="expiredDem"    column="expired_dem"    />
        <result property="wgt"    column="wgt"    />
        <result property="vslName"    column="vsl_name"    />
        <result property="vslNm"    column="vsl_nm"    />
        <result property="voyNo"    column="voy_no"    />
        <result property="opeCode"    column="ope_code"    />
        <result property="loadingPort"    column="loading_port"    />
        <result property="dischargePort"    column="discharge_port"    />
        <result property="transportType"    column="transport_type"    />
        <result property="emptyDepot"    column="empty_depot"    />
        <result property="cargoType"    column="cargo_type"    />
        <result property="vgmChk"    column="vgm_chk"    />
        <result property="vgm"    column="vgm"    />
        <result property="vgmPersonInfo"    column="vgm_person_info"    />
        <result property="preorderPickup"    column="preorder_pickup"    />
        <result property="shiftingContNumber"    column="shifting_cont_number"    />
        <result property="customStatus"    column="custom_status"    />
        <result property="paymentStatus"    column="payment_status"    />
        <result property="processStatus"    column="process_status"    />
        <result property="doStatus"    column="do_status"    />
        <result property="doReceivedTime"    column="do_received_time"    />
        <result property="userVerifyStatus"    column="user_verify_status"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="payType"    column="pay_type"   />
        <result property="assignNumber"    column="assign_number"   />
        <result property="serviceType"    column="service_type"   />
    </resultMap>

    <sql id="selectShipmentDetailVo">
        select id, shipment_id, logistic_group_id, process_order_id, register_no, container_no, container_status, sztp, fe, booking_no, bl_no, seal_no, consignee, expired_dem, wgt, vsl_name, vsl_nm, voy_no, ope_code, loading_port, discharge_port, transport_type, empty_depot, cargo_type, vgm_chk, vgm, vgm_person_info, preorder_pickup, shifting_cont_number, custom_status, payment_status, process_status, do_status, do_received_time, user_verify_status, status, remark, create_by, create_time, update_by, update_time from shipment_detail
    </sql>
     <select id="countShipmentDetailList" parameterType="ShipmentDetail" resultType="Long">
        select count(*) from shipment_detail
         <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="processOrderId != null  and processOrderId != ''"> and process_order_id = #{processOrderId}</if>
            <if test="registerNo != null  and registerNo != ''"> and register_no = #{registerNo}</if>
            <if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
            <if test="containerStatus != null  and containerStatus != ''"> and container_status = #{containerStatus}</if>
            <if test="sztp != null  and sztp != ''"> and sztp = #{sztp}</if>
            <if test="fe != null  and fe != ''"> and fe = #{fe}</if>
            <if test="bookingNo != null  and bookingNo != ''"> and booking_no = #{bookingNo}</if>
            <if test="blNo != null  and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="sealNo != null  and sealNo != ''"> and seal_no = #{sealNo}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="expiredDem != null "> and expired_dem = #{expiredDem}</if>
            <if test="wgt != null "> and wgt = #{wgt}</if>
            <if test="vslName != null  and vslName != ''"> and vsl_name = #{vslName}</if>
            <if test="vslNm != null  and vslNm != ''"> and vsl_nm = #{vslNm}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="opeCode != null  and opeCode != ''"> and ope_code = #{opeCode}</if>
            <if test="loadingPort != null  and loadingPort != ''"> and loading_port = #{loadingPort}</if>
            <if test="dischargePort != null  and dischargePort != ''"> and discharge_port = #{dischargePort}</if>
            <if test="transportType != null  and transportType != ''"> and transport_type = #{transportType}</if>
            <if test="emptyDepot != null  and emptyDepot != ''"> and empty_depot = #{emptyDepot}</if>
            <if test="cargoType != null  and cargoType != ''"> and cargo_type = #{cargoType}</if>
            <if test="vgmChk != null "> and vgm_chk = #{vgmChk}</if>
            <if test="vgm != null  and vgm != ''"> and vgm = #{vgm}</if>
            <if test="vgmPersonInfo != null  and vgmPersonInfo != ''"> and vgm_person_info = #{vgmPersonInfo}</if>
            <if test="preorderPickup != null  and preorderPickup != ''"> and preorder_pickup = #{preorderPickup}</if>
            <if test="shiftingContNumber != null"> and shifting_cont_number = #{shiftingContNumber}</if>
            <if test="customStatus != null  and customStatus != ''"> and custom_status = #{customStatus}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="doStatus != null  and doStatus != ''"> and do_status = #{doStatus}</if>
            <if test="doReceivedTime != null  and doReceivedTime != ''"> and do_received_time = #{doReceivedTime}</if>
            <if test="userVerifyStatus != null  and userVerifyStatus != ''"> and user_verify_status = #{userVerifyStatus}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    <select id="selectShipmentDetailList" parameterType="ShipmentDetail" resultMap="ShipmentDetailResult">
        <include refid="selectShipmentDetailVo"/>
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="processOrderId != null  and processOrderId != ''"> and process_order_id = #{processOrderId}</if>
            <if test="registerNo != null  and registerNo != ''"> and register_no = #{registerNo}</if>
            <if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
            <if test="containerStatus != null  and containerStatus != ''"> and container_status = #{containerStatus}</if>
            <if test="sztp != null  and sztp != ''"> and sztp = #{sztp}</if>
            <if test="fe != null  and fe != ''"> and fe = #{fe}</if>
            <if test="bookingNo != null  and bookingNo != ''"> and booking_no = #{bookingNo}</if>
            <if test="blNo != null  and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="sealNo != null  and sealNo != ''"> and seal_no = #{sealNo}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="expiredDem != null "> and expired_dem = #{expiredDem}</if>
            <if test="wgt != null "> and wgt = #{wgt}</if>
            <if test="vslName != null  and vslName != ''"> and vsl_name = #{vslName}</if>
            <if test="vslNm != null  and vslNm != ''"> and vsl_nm = #{vslNm}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="opeCode != null  and opeCode != ''"> and ope_code = #{opeCode}</if>
            <if test="loadingPort != null  and loadingPort != ''"> and loading_port = #{loadingPort}</if>
            <if test="dischargePort != null  and dischargePort != ''"> and discharge_port = #{dischargePort}</if>
            <if test="transportType != null  and transportType != ''"> and transport_type = #{transportType}</if>
            <if test="emptyDepot != null  and emptyDepot != ''"> and empty_depot = #{emptyDepot}</if>
            <if test="cargoType != null  and cargoType != ''"> and cargo_type = #{cargoType}</if>
            <if test="vgmChk != null "> and vgm_chk = #{vgmChk}</if>
            <if test="vgm != null  and vgm != ''"> and vgm = #{vgm}</if>
            <if test="vgmPersonInfo != null  and vgmPersonInfo != ''"> and vgm_person_info = #{vgmPersonInfo}</if>
            <if test="preorderPickup != null  and preorderPickup != ''"> and preorder_pickup = #{preorderPickup}</if>
            <if test="shiftingContNumber != null"> and shifting_cont_number = #{shiftingContNumber}</if>
            <if test="customStatus != null  and customStatus != ''"> and custom_status = #{customStatus}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="doStatus != null  and doStatus != ''"> and do_status = #{doStatus}</if>
            <if test="doReceivedTime != null  and doReceivedTime != ''"> and do_received_time = #{doReceivedTime}</if>
            <if test="userVerifyStatus != null  and userVerifyStatus != ''"> and user_verify_status = #{userVerifyStatus}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
       
    </select>
    
    <select id="selectShipmentDetailById" parameterType="Long" resultMap="ShipmentDetailResult">
        <include refid="selectShipmentDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShipmentDetail" parameterType="ShipmentDetail" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_shipment_detail.nextval as id from DUAL
		</selectKey>
        insert into shipment_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="shipmentId != null ">shipment_id,</if>
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="processOrderId != null  and processOrderId != ''">process_order_id,</if>
            <if test="registerNo != null  and registerNo != ''">register_no,</if>
            <if test="containerNo != null  and containerNo != ''">container_no,</if>
            <if test="containerStatus != null  and containerStatus != ''">container_status,</if>
            <if test="sztp != null  and sztp != ''">sztp,</if>
            <if test="fe != null  and fe != ''">fe,</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no,</if>
            <if test="blNo != null  and blNo != ''">bl_no,</if>
            <if test="sealNo != null  and sealNo != ''">seal_no,</if>
            <if test="consignee != null  and consignee != ''">consignee,</if>
            <if test="expiredDem != null ">expired_dem,</if>
            <if test="wgt != null ">wgt,</if>
            <if test="vslName != null  and vslName != ''">vsl_name,</if>
            <if test="vslNm != null  and vslNm != ''">vsl_nm,</if>
            <if test="voyNo != null  and voyNo != ''">voy_no,</if>
            <if test="opeCode != null  and opeCode != ''">ope_code,</if>
            <if test="loadingPort != null  and loadingPort != ''">loading_port,</if>
            <if test="dischargePort != null  and dischargePort != ''">discharge_port,</if>
            <if test="transportType != null  and transportType != ''">transport_type,</if>
            <if test="emptyDepot != null  and emptyDepot != ''">empty_depot,</if>
            <if test="cargoType != null  and cargoType != ''">cargo_type,</if>
            <if test="vgmChk != null ">vgm_chk,</if>
            <if test="vgm != null  and vgm != ''">vgm,</if>
            <if test="vgmPersonInfo != null  and vgmPersonInfo != ''">vgm_person_info,</if>
            <if test="preorderPickup != null  and preorderPickup != ''">preorder_pickup,</if>
            <if test="shiftingContNumber != null">shifting_cont_number,</if>
            <if test="customStatus != null  and customStatus != ''">custom_status,</if>
            <if test="paymentStatus != null  and paymentStatus != ''">payment_status,</if>
            <if test="processStatus != null  and processStatus != ''">process_status,</if>
            <if test="doStatus != null  and doStatus != ''">do_status,</if>
            <if test="doReceivedTime != null  and doReceivedTime != ''">do_received_time,</if>
            <if test="userVerifyStatus != null  and userVerifyStatus != ''">user_verify_status,</if>
            <if test="status != null ">status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="shipmentId != null ">#{shipmentId},</if>
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="processOrderId != null  and processOrderId != ''">#{processOrderId},</if>
            <if test="registerNo != null  and registerNo != ''">#{registerNo},</if>
            <if test="containerNo != null  and containerNo != ''">#{containerNo},</if>
            <if test="containerStatus != null  and containerStatus != ''">#{containerStatus},</if>
            <if test="sztp != null  and sztp != ''">#{sztp},</if>
            <if test="fe != null  and fe != ''">#{fe},</if>
            <if test="bookingNo != null  and bookingNo != ''">#{bookingNo},</if>
            <if test="blNo != null  and blNo != ''">#{blNo},</if>
            <if test="sealNo != null  and sealNo != ''">#{sealNo},</if>
            <if test="consignee != null  and consignee != ''">#{consignee},</if>
            <if test="expiredDem != null ">#{expiredDem},</if>
            <if test="wgt != null ">#{wgt},</if>
            <if test="vslName != null  and vslName != ''">#{vslName},</if>
            <if test="vslNm != null  and vslNm != ''">#{vslNm},</if>
            <if test="voyNo != null  and voyNo != ''">#{voyNo},</if>
            <if test="opeCode != null  and opeCode != ''">#{opeCode},</if>
            <if test="loadingPort != null  and loadingPort != ''">#{loadingPort},</if>
            <if test="dischargePort != null  and dischargePort != ''">#{dischargePort},</if>
            <if test="transportType != null  and transportType != ''">#{transportType},</if>
            <if test="emptyDepot != null  and emptyDepot != ''">#{emptyDepot},</if>
            <if test="cargoType != null  and cargoType != ''">#{cargoType},</if>
            <if test="vgmChk != null ">#{vgmChk},</if>
            <if test="vgm != null  and vgm != ''">#{vgm},</if>
            <if test="vgmPersonInfo != null  and vgmPersonInfo != ''">#{vgmPersonInfo},</if>
            <if test="preorderPickup != null  and preorderPickup != ''">#{preorderPickup},</if>
            <if test="shiftingContNumber != null">#{shiftingContNumber},</if>
            <if test="customStatus != null  and customStatus != ''">#{customStatus},</if>
            <if test="paymentStatus != null  and paymentStatus != ''">#{paymentStatus},</if>
            <if test="processStatus != null  and processStatus != ''">#{processStatus},</if>
            <if test="doStatus != null  and doStatus != ''">#{doStatus},</if>
            <if test="doReceivedTime != null  and doReceivedTime != ''">#{doReceivedTime},</if>
            <if test="userVerifyStatus != null  and userVerifyStatus != ''">#{userVerifyStatus},</if>
            <if test="status != null ">#{status},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateShipmentDetail" parameterType="ShipmentDetail">
        update shipment_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipmentId != null ">shipment_id = #{shipmentId},</if>
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="processOrderId != null  and processOrderId != ''">process_order_id = #{processOrderId},</if>
            <if test="registerNo != null  and registerNo != ''">register_no = #{registerNo},</if>
            <if test="containerNo != null  and containerNo != ''">container_no = #{containerNo},</if>
            <if test="containerStatus != null  and containerStatus != ''">container_status = #{containerStatus},</if>
            <if test="sztp != null  and sztp != ''">sztp = #{sztp},</if>
            <if test="fe != null  and fe != ''">fe = #{fe},</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no = #{bookingNo},</if>
            <if test="blNo != null  and blNo != ''">bl_no = #{blNo},</if>
            <if test="sealNo != null  and sealNo != ''">seal_no = #{sealNo},</if>
            <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
            <if test="expiredDem != null ">expired_dem = #{expiredDem},</if>
            <if test="wgt != null ">wgt = #{wgt},</if>
            <if test="vslName != null  and vslName != ''">vsl_name = #{vslName},</if>
            <if test="vslNm != null  and vslNm != ''">vsl_nm = #{vslNm},</if>
            <if test="voyNo != null  and voyNo != ''">voy_no = #{voyNo},</if>
            <if test="opeCode != null  and opeCode != ''">ope_code = #{opeCode},</if>
            <if test="loadingPort != null  and loadingPort != ''">loading_port = #{loadingPort},</if>
            <if test="dischargePort != null  and dischargePort != ''">discharge_port = #{dischargePort},</if>
            <if test="transportType != null  and transportType != ''">transport_type = #{transportType},</if>
            <if test="emptyDepot != null  and emptyDepot != ''">empty_depot = #{emptyDepot},</if>
            <if test="cargoType != null  and cargoType != ''">cargo_type = #{cargoType},</if>
            <if test="vgmChk != null ">vgm_chk = #{vgmChk},</if>
            <if test="vgm != null  and vgm != ''">vgm = #{vgm},</if>
            <if test="vgmPersonInfo != null  and vgmPersonInfo != ''">vgm_person_info = #{vgmPersonInfo},</if>
            <if test="preorderPickup != null  and preorderPickup != ''">preorder_pickup = #{preorderPickup},</if>
            <if test="shiftingContNumber != null">shifting_cont_number = #{shiftingContNumber},</if>
            <if test="customStatus != null  and customStatus != ''">custom_status = #{customStatus},</if>
            <if test="paymentStatus != null  and paymentStatus != ''">payment_status = #{paymentStatus},</if>
            <if test="processStatus != null  and processStatus != ''">process_status = #{processStatus},</if>
            <if test="doStatus != null  and doStatus != ''">do_status = #{doStatus},</if>
            <if test="doReceivedTime != null">do_received_time = #{doReceivedTime},</if>
            <if test="userVerifyStatus != null  and userVerifyStatus != ''">user_verify_status = #{userVerifyStatus},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteShipmentDetailById" parameterType="Long">
        delete from shipment_detail where id = #{id}
    </delete>

    <delete id="deleteShipmentDetailByIds" parameterType="String">
        delete from shipment_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectShipmentDetailByIds" parameterType="String" resultMap="ShipmentDetailResult">
        <include refid="selectShipmentDetailVo"/>
        where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectShipmentDetailByBlno" parameterType="String" resultMap="ShipmentDetailResult">
        <include refid="selectShipmentDetailVo"/>
        where bl_no #{Blno} 
        
    </select>

    <select id="getBlListByDoStatus" parameterType="String" resultType="String">
        select distinct bl_no from shipment_detail
        where do_status = 'N' and bl_no like concat(concat('%', #{keyString}), '%') limit 5
    </select>
    <select id="getBlListByPaymentStatus" parameterType="String" resultType="String">
        select distinct bl_no from shipment_detail
        where payment_status = 'N' and bl_no like concat(concat('%', #{keyString}), '%') limit 5
    </select>
    <select id="getBlLists" parameterType="String" resultType="String">
        select distinct bl_no from shipment_detail
        where bl_no like concat(concat('%', #{keyString}), '%') limit 5
    </select> 
    
    <resultMap id="ShipmentWaitExecResult" type="vn.com.irtech.eport.logistic.dto.ShipmentWaitExec">
    	<result property="processStatus"    column="process_status"    />
  		<collection property="shipmentDetailIds" javaType="ArrayList" 
  			column="{shipmentId=shipment_id,processStatus=process_status}" ofType="java.lang.Long" 
  			select="selectListShipmentDetailWaitExec"/>
	</resultMap>
    
    <select id="selectListShipmentDetailWaitExec" resultType="java.lang.Long">
	  select id
	  from shipment_detail
	  where shipment_id=#{shipmentId} and process_status=#{processStatus}
	</select>

    <select id="selectListShipmentWaitExec" resultMap="ShipmentWaitExecResult">
    	SELECT
			DISTINCT(CONCAT(shipment_id,process_status)),
			shipment_id,
		    process_status
		FROM
		 	shipment_detail
		WHERE user_verify_status = "Y"
			AND (process_status = "E" or process_status = "N")
		ORDER BY process_status
    </select>

    <select id="selectShipmentDetailByProcessIds" resultMap="ShipmentDetailResult">
        <include refid="selectShipmentDetailVo"/>
        where process_order_id in
        <foreach item="processOrderId" collection="array" open="(" separator="," close=")">
            #{processOrderId}
        </foreach>
    </select>

    <!-- <select id="selectSendEmptyShipmentDetailByListCont" resultMap="ShipmentDetailResult">
        <include refid="selectShipmentDetailVo"/>
        where container_no in
        <foreach item="containerNo" collection="array" open="(" separator="," close=")">
            #{containerNo}
        </foreach>
    </select> -->
    <select id="getShipmentDetailListForAssign" parameterType="ShipmentDetail" resultType="ShipmentDetail">
        select id,
        shipment_id as shipmentId,
        logistic_group_id as logisticGroupId,
        process_order_id as processOrderId,
        register_no as registerNo,
        container_no as containerNo,
        container_status as containerNo,
        sztp,
        fe,
        booking_no as bookingNo,
        bl_no as blNo,
        seal_no as sealNo,
        consignee,
        expired_dem as expiredDem,
        wgt,
        vsl_name as vslName,
        vsl_nm as vslNm,
        voy_no as voyNo,
        ope_code as opeCode,
        loading_port as loadingPort,
        discharge_port as dischargePort,
        transport_type as transportType,
        empty_depot emptyDepot,
        cargo_type cargoType,
        vgm_chk as vgmChk,
        vgm,
        vgm_person_info as vgmPersonInfo,
        preorder_pickup as preorderPickup,
        shifting_cont_number as shiftingContNumber,
        custom_status as customStatus,
        payment_status as paymentStatus, 
        process_status as processStatus, 
        do_status as doStatus, 
        do_received_time as doReceivedTime,
        user_verify_status as userVerifyStatus, 
        status,
        (select remark from pickup_assign where shipment_detail_id = s.id and rownum = 1) as remark,
        create_by as createBy,
        create_time as createTime,
        update_by as updateBy,
        update_time as updateTime,
        (select count(*) from pickup_assign p where p.shipment_detail_id = s.id)as driverAmount
        from shipment_detail s
        <where>  
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="processOrderId != null  and processOrderId != ''"> and process_order_id = #{processOrderId}</if>
            <if test="registerNo != null  and registerNo != ''"> and register_no = #{registerNo}</if>
            <if test="containerNo != null  and containerNo != ''"> and container_no = #{containerNo}</if>
            <if test="containerStatus != null  and containerStatus != ''"> and container_status = #{containerStatus}</if>
            <if test="sztp != null  and sztp != ''"> and sztp = #{sztp}</if>
            <if test="fe != null  and fe != ''"> and fe = #{fe}</if>
            <if test="bookingNo != null  and bookingNo != ''"> and booking_no = #{bookingNo}</if>
            <if test="blNo != null  and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="sealNo != null  and sealNo != ''"> and seal_no = #{sealNo}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="expiredDem != null "> and expired_dem = #{expiredDem}</if>
            <if test="wgt != null "> and wgt = #{wgt}</if>
            <if test="vslName != null  and vslName != ''"> and vsl_name = #{vslName}</if>
            <if test="vslNm != null  and vslNm != ''"> and vsl_nm = #{vslNm}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="opeCode != null  and opeCode != ''"> and ope_code = #{opeCode}</if>
            <if test="loadingPort != null  and loadingPort != ''"> and loading_port = #{loadingPort}</if>
            <if test="dischargePort != null  and dischargePort != ''"> and discharge_port = #{dischargePort}</if>
            <if test="transportType != null  and transportType != ''"> and transport_type = #{transportType}</if>
            <if test="emptyDepot != null  and emptyDepot != ''"> and empty_depot = #{emptyDepot}</if>
            <if test="cargoType != null  and cargoType != ''"> and cargo_type = #{cargoType}</if>
            <if test="vgmChk != null "> and vgm_chk = #{vgmChk}</if>
            <if test="vgm != null  and vgm != ''"> and vgm = #{vgm}</if>
            <if test="vgmPersonInfo != null  and vgmPersonInfo != ''"> and vgm_person_info = #{vgmPersonInfo}</if>
            <if test="preorderPickup != null  and preorderPickup != ''"> and preorder_pickup = #{preorderPickup}</if>
            <if test="shiftingContNumber != null"> and shifting_cont_number = #{shiftingContNumber}</if>
            <if test="customStatus != null  and customStatus != ''"> and custom_status = #{customStatus}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
            <if test="processStatus != null  and processStatus != ''"> and process_status = #{processStatus}</if>
            <if test="doStatus != null  and doStatus != ''"> and do_status = #{doStatus}</if>
            <if test="doReceivedTime != null  and doReceivedTime != ''"> and do_received_time = #{doReceivedTime}</if>
            <if test="userVerifyStatus != null  and userVerifyStatus != ''"> and user_verify_status = #{userVerifyStatus}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectContainerStatusList" parameterType="ShipmentDetail" resultMap="ShipmentDetailResult">
        select s.bl_no, s.booking_no, s.sztp, s.vsl_nm, s.voy_no, s.container_no, s.do_status, s.fe, s.payment_status, p.pay_type as pay_type, p.service_type as service_type,
        count(a.shipment_detail_id) as assign_number
        from shipment_detail s
        left join process_order p on s.process_order_id = p.id
        left join pickup_assign a on s.id = a.shipment_detail_id
        <where>  
            <if test="logisticGroupId != null "> and s.logistic_group_id = #{logisticGroupId}</if>
            <if test="customStatus != null and customStatus != ''"> and s.custom_status = #{customStatus}</if>
            <if test="paymentStatus != null and paymentStatus != ''"> and s.payment_status = #{paymentStatus}</if>
            <if test="processStatus != null and processStatus != ''"> and s.process_status = #{processStatus}</if>
            <if test="doStatus != null  and doStatus != ''"> and s.do_status = #{doStatus}</if>
            <if test="serviceType != null"> and p.service_type = #{serviceType}</if>
            <if test="payType != null  and payType != ''"> and p.pay_type = #{payType}</if>
            <if test="containerNo != null  and containerNo != ''"> and (upper(s.container_no) like concat(concat('%', #{containerNo}), '%')</if>
            <if test="sztp != null  and sztp != ''"> or upper(s.sztp) like concat(concat('%', #{sztp}), '%')</if>
            <if test="fe != null  and fe != ''"> or upper(s.fe) like concat(concat('%', #{fe}), '%')</if>
            <if test="bookingNo != null  and bookingNo != ''"> or upper(s.booking_no) like concat(concat('%', #{bookingNo}), '%')</if>
            <if test="blNo != null  and blNo != ''"> or upper(s.bl_no) like concat(concat('%', #{blNo}), '%')</if>
            <if test="vslName != null  and vslName != ''"> or upper(s.vsl_name) like concat(concat('%', #{vslName}), '%')</if>
            <if test="vslNm != null  and vslNm != ''"> or upper(s.vsl_nm) like concat(concat('%', #{vslNm}), '%')</if>
            <if test="voyNo != null  and voyNo != ''"> or upper(s.voy_no) like concat(concat('%', #{voyNo}), '%'))</if>
        </where>
        group by s.bl_no, s.booking_no, s.sztp, s.vsl_nm, s.voy_no, s.container_no, s.do_status, s.fe, s.payment_status, p.pay_type, p.service_type
    </select>

</mapper>