<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ShipmentMapper">
    
    <resultMap type="Shipment" id="ShipmentResult">
        <result property="id"    column="id"    />
        <result property="logisticAccountId"    column="logistic_account_id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="serviceType"    column="service_type"    />
        <result property="blNo"    column="bl_no"    />
        <result property="bookingNo"    column="booking_no"    />
        <result property="opeCode"    column="ope_code"    />
        <result property="taxCode"    column="tax_code"    />
        <result property="groupName"    column="group_name"    />
        <result property="address"    column="address"    />
        <result property="containerAmount"    column="container_amount"    />
        <result property="edoFlg"    column="edo_flg"    />
        <result property="specificContFlg"    column="specific_cont_flg"    />
        <result property="contSupplyStatus"    column="cont_supply_status"    />
        <result property="referenceNo"    column="reference_no"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="logisticName"    column="logistic_name"    />
        <result property="vslNm"    column="vsl_nm"    />
        <result property="voyNo"    column="voy_no"    />
    </resultMap>
    <sql id="selectShipmentVo">
        select id, logistic_account_id, logistic_group_id, service_type, bl_no, booking_no, ope_code, tax_code, group_name, address, container_amount, edo_flg, specific_cont_flg, cont_supply_status, reference_no, status, remark, create_by, create_time, update_by, update_time from shipment
    </sql>

    <select id="selectShipmentList" parameterType="Shipment" resultMap="ShipmentResult">
        <include refid="selectShipmentVo"/>
        <where>  
            <if test="logisticAccountId != null "> and logistic_account_id = #{logisticAccountId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="blNo != null and blNo != ''"> and upper(bl_no) like concat('%', #{blNo}, '%')</if>
            <if test="bookingNo != null and bookingNo != ''"> and upper(booking_no) like concat('%', #{bookingNo}, '%')</if>
            <if test="opeCode != null  and opeCode != ''"> and ope_code = #{opeCode}</if>
            <if test="taxCode != null  and taxCode != ''"> and tax_code = #{taxCode}</if>
            <if test="groupName != null  and groupName != ''"> and group_name like concat(concat('%', #{groupName}), '%')</if>
            <if test="address != null  and address != ''"> and address like concat(concat('%', #{address}), '%')</if>
            <if test="containerAmount != null "> and container_amount = #{containerAmount}</if>
            <if test="edoFlg != null  and edoFlg != ''"> and edo_flg = #{edoFlg}</if>
            <if test="specificContFlg != null"> and specific_cont_flg = #{specificContFlg}</if>
            <if test="contSupplyStatus != null"> and cont_supply_status = #{contSupplyStatus}</if>
            <if test="referenceNo != null  and referenceNo != ''"> and reference_no = #{referenceNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="fromDate != null">and create_time &gt;= #{fromDate}</if>
            <if test="toDate != null">and create_time &lt;= #{toDate}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectShipmentById" parameterType="Long" resultMap="ShipmentResult">
        <include refid="selectShipmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShipment" parameterType="Shipment" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_shipment.nextval as id from DUAL
		</selectKey>
        insert into shipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logisticAccountId != null ">logistic_account_id,</if>
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="serviceType != null ">service_type,</if>
            <if test="blNo != null  and blNo != ''">bl_no,</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no,</if>
            <if test="opeCode != null  and opeCode != ''">ope_code,</if>
            <if test="taxCode != null  and taxCode != ''">tax_code,</if>
            <if test="groupName != null  and groupName != ''">group_name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="containerAmount != null ">container_amount,</if>
            <if test="edoFlg != null  and edoFlg != ''">edo_flg,</if>
            <if test="specificContFlg != null">specific_cont_flg,</if>
            <if test="contSupplyStatus != null">cont_supply_status,</if>
            <if test="referenceNo != null  and referenceNo != ''">reference_no,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logisticAccountId != null ">#{logisticAccountId},</if>
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="serviceType != null ">#{serviceType},</if>
            <if test="blNo != null  and blNo != ''">#{blNo},</if>
            <if test="bookingNo != null  and bookingNo != ''">#{bookingNo},</if>
            <if test="opeCode != null  and opeCode != ''">#{opeCode},</if>
            <if test="taxCode != null  and taxCode != ''">#{taxCode},</if>
            <if test="groupName != null  and groupName != ''">#{groupName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="containerAmount != null ">#{containerAmount},</if>
            <if test="edoFlg != null  and edoFlg != ''">#{edoFlg},</if>
            <if test="specificContFlg != null">#{specificContFlg},</if>
            <if test="contSupplyStatus != null">#{contSupplyStatus},</if>
            <if test="referenceNo != null  and referenceNo != ''">#{referenceNo},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateShipment" parameterType="Shipment">
        update shipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticAccountId != null ">logistic_account_id = #{logisticAccountId},</if>
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="serviceType != null ">service_type = #{serviceType},</if>
            <if test="blNo != null  and blNo != ''">bl_no = #{blNo},</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no = #{bookingNo},</if>
            <if test="opeCode != null  and opeCode != ''">ope_code = #{opeCode},</if>
            <if test="taxCode != null  and taxCode != ''">tax_code = #{taxCode},</if>
            <if test="groupName != null  and groupName != ''">group_name = #{groupName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="containerAmount != null ">container_amount = #{containerAmount},</if>
            <if test="edoFlg != null  and edoFlg != ''">edo_flg = #{edoFlg},</if>
            <if test="specificContFlg != null">specific_cont_flg = #{specificContFlg},</if>
            <if test="contSupplyStatus != null">cont_supply_status = #{contSupplyStatus},</if>
            <if test="referenceNo != null  and referenceNo != ''"> and reference_no = #{referenceNo},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShipmentById" parameterType="Long">
        delete from shipment where id = #{id}
    </delete>

    <delete id="deleteShipmentByIds" parameterType="String">
        delete from shipment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="checkBillBookingNoUnique" parameterType="Shipment" resultType="int">
        select count(*) from shipment
        <where>  
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="blNo != null and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="bookingNo != null and bookingNo != ''"> and booking_no = #{bookingNo}</if>
        </where>
    </select>

    <select id="selectShipmentListForOm" parameterType="Shipment" resultMap="ShipmentResult">
        select s.*, l.group_name as logistic_name, sh.vsl_nm as vsl_nm, sh.voy_no as voy_no
        from shipment s
        left join logistic_group l on s.logistic_group_id = l.id
        left join shipment_detail sh on s.id = sh.shipment_id
        <where>
            sh.shipment_id is not null
            <if test="id != null "> and s.id = #{id}</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="fromDate != null">and s.create_time &gt;= #{fromDate}</if>
            <if test="toDate != null">and s.create_time &lt;= #{toDate}</if>
            <if test="blNo != null and blNo != ''"> and (upper(s.bl_no) like concat(concat('%', #{blNo}), '%')</if>
            <if test="bookingNo != null and bookingNo != ''"> or upper(s.booking_no) like concat(concat('%', #{bookingNo}), '%')</if>
            <if test="vslNm != null and vslNm != ''"> or upper(sh.vsl_nm) like concat(concat('%', #{vslNm}), '%')</if>
            <if test="voyNo != null and voyNo != ''"> or upper(sh.voy_no) like concat(concat('%', #{voyNo}), '%')</if>
            <if test="taxCode != null and taxCode != ''"> or upper(s.tax_code) like concat(concat('%', #{taxCode}), '%'))</if>
        </where>
        GROUP BY sh.shipment_id
    </select>
    <select id="getShipmentListForAssign" parameterType="Shipment" resultMap="ShipmentResult">
        select  id, logistic_account_id, logistic_group_id, service_type, bl_no, booking_no, ope_code, tax_code, group_name, edo_flg, specific_cont_flg, cont_supply_status, reference_no, status, remark, create_by, create_time, update_by, update_time,
                (select count(*) from shipment_detail sh where sh.shipment_id = s.id and sh.process_status = 'Y') as container_amount
        from shipment s
        <where>
            (select count(*) from shipment_detail sh where sh.shipment_id = s.id and sh.process_status = 'Y') > 0
            <if test="containerAmount != null "> and container_amount > 0</if>
            <if test="logisticAccountId != null "> and logistic_account_id = #{logisticAccountId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="blNo != null and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="bookingNo != null and bookingNo != ''"> and booking_no = #{bookingNo}</if>
            <if test="opeCode != null  and opeCode != ''"> and ope_code = #{opeCode}</if>
            <if test="taxCode != null  and taxCode != ''"> and tax_code = #{taxCode}</if>
            <if test="groupName != null  and groupName != ''"> and group_name like concat(concat('%', #{groupName}), '%')</if>
            <if test="edoFlg != null  and edoFlg != ''"> and edo_flg = #{edoFlg}</if>
            <if test="specificContFlg != null"> and specific_cont_flg = #{specificContFlg}</if>
            <if test="contSupplyStatus != null"> and cont_supply_status = #{contSupplyStatus}</if>
            <if test="referenceNo != null  and referenceNo != ''"> and reference_no = #{referenceNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
        order by create_time desc
    </select>

</mapper>