<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.logistic.mapper.ShipmentMapper">
    
    <resultMap type="Shipment" id="ShipmentResult">
        <result property="id"    column="id"    />
        <result property="logisticAccountId"    column="logistic_account_id"    />
        <result property="logisticGroupId"    column="logistic_group_id"    />
        <result property="serviceType"    column="service_type"    />
        <result property="blNo"    column="bl_no"    />
        <result property="bookingNo"    column="booking_no"    />
        <result property="taxCode"    column="tax_code"    />
        <result property="containerAmount"    column="container_amount"    />
        <result property="edoFlg"    column="edo_flg"    />
        <result property="referenceNo"    column="reference_no"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="logisticGroup"    column="logistic_group_id" javaType="LogisticGroup" resultMap="logisticGroupResult" />
    </resultMap>

    <resultMap type="LogisticGroup" id="logisticGroupResult">
        <result property="id"    column="id"    />
        <result property="groupName"    column="group_name"    />
    </resultMap>

    <sql id="selectShipmentVo">
        select id, logistic_account_id, logistic_group_id, service_type, bl_no, booking_no, tax_code, container_amount, edo_flg, reference_no, remark, create_by, create_time, update_by, update_time from shipment
    </sql>

    <select id="selectShipmentList" parameterType="Shipment" resultMap="ShipmentResult">
        <include refid="selectShipmentVo"/>
        <where>  
            <if test="logisticAccountId != null "> and logistic_account_id = #{logisticAccountId}</if>
            <if test="logisticGroupId != null "> and logistic_group_id = #{logisticGroupId}</if>
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="blNo != null and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="bookingNo != null and bookingNo != ''"> and booking_no = #{bookingNo}</if>
            <if test="taxCode != null  and taxCode != ''"> and tax_code = #{taxCode}</if>
            <if test="containerAmount != null "> and container_amount = #{containerAmount}</if>
            <if test="edoFlg != null  and edoFlg != ''"> and edo_flg = #{edoFlg}</if>
            <if test="referenceNo != null  and referenceNo != ''"> and reference_no = #{referenceNo}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectShipmentById" parameterType="Long" resultMap="ShipmentResult">
        <include refid="selectShipmentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShipment" parameterType="Shipment" useGeneratedKeys="true" keyProperty="id">
        insert into shipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logisticAccountId != null ">logistic_account_id,</if>
            <if test="logisticGroupId != null ">logistic_group_id,</if>
            <if test="serviceType != null ">service_type,</if>
            <if test="blNo != null  and blNo != ''">bl_no,</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no,</if>
            <if test="taxCode != null  and taxCode != ''">tax_code,</if>
            <if test="containerAmount != null ">container_amount,</if>
            <if test="edoFlg != null  and edoFlg != ''">edo_flg,</if>
            <if test="referenceNo != null  and referenceNo != ''">reference_no,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logisticAccountId != null ">#{logisticAccountId},</if>
            <if test="logisticGroupId != null ">#{logisticGroupId},</if>
            <if test="serviceType != null ">#{serviceType},</if>
            <if test="blNo != null  and blNo != ''">#{blNo},</if>
            <if test="bookingNo != null  and bookingNo != ''">#{bookingNo},</if>
            <if test="taxCode != null  and taxCode != ''">#{taxCode},</if>
            <if test="containerAmount != null ">#{containerAmount},</if>
            <if test="edoFlg != null  and edoFlg != ''">#{edoFlg},</if>
            <if test="referenceNo != null  and referenceNo != ''">#{referenceNo},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateShipment" parameterType="Shipment">
        update shipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="logisticAccountId != null ">logistic_account_id = #{logisticAccountId},</if>
            <if test="logisticGroupId != null ">logistic_group_id = #{logisticGroupId},</if>
            <if test="serviceType != null ">service_type = #{serviceType},</if>
            <if test="blNo != null  and blNo != ''">bl_no = #{blNo},</if>
            <if test="bookingNo != null  and bookingNo != ''">booking_no = #{bookingNo},</if>
            <if test="taxCode != null  and taxCode != ''">tax_code = #{taxCode},</if>
            <if test="containerAmount != null ">container_amount = #{containerAmount},</if>
            <if test="edoFlg != null  and edoFlg != ''">edo_flg = #{edoFlg},</if>
            <if test="referenceNo != null  and referenceNo != ''"> and reference_no = #{referenceNo},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShipmentById" parameterType="Long">
        delete from shipment where id = #{id}
    </delete>

    <delete id="deleteShipmentByIds" parameterType="String">
        delete from shipment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectShipmentWithGroupById" parameterType="Long" resultMap="ShipmentResult">
        select s.id, s.logistic_account_id, s.logistic_group_id, s.service_type, s.bl_no, s.booking_no ,s.tax_code, s.container_amount, s.edo_flg, s.reference_no, s.remark, s.create_by, s.create_time, s.update_by, s.update_time, g.group_name
        from shipment s left join logistic_group g on s.logistic_group_id = g.id
        where s.id = #{id}
    </select>

    <select id="checkBillBookingNoUnique" parameterType="Shipment" resultType="int">
        select count(*) from shipment
        <where>  
            <if test="serviceType != null "> and service_type = #{serviceType}</if>
            <if test="blNo != null and blNo != ''"> and bl_no = #{blNo}</if>
            <if test="bookingNo != null and bookingNo != ''"> and booking_no = #{bookingNo}</if>
        </where>
    </select>
</mapper>