<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Khai báo chung</title>
	<th:block th:include="include :: header('Khai báo chung')" />
	<th:block th:include="include :: datetimepicker-css" />
	<th:block th:include="include :: dropzone-css" />
	<link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
	<link rel="stylesheet" th:href="@{/eport/css/supportRequest/detail.css}" />
</head>

<body>
	<div class="container-fluid">
		<form id="form-detail-add" class="form-horizontal">
			<div class="form-horizontal mt10">
				<div class="form-group col-sm-6">
					<label class="control-label col-sm-4 col-xs-6" for="cont"><b class="text-black">Số
							container:</b></label>
					<div class="col-sm-8 col-xs-6">
						<input type="text" class="form-control" id="containerNo" readonly />
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label class="control-label col-sm-4 col-xs-6" for="size"><b class="text-black">Kích
							thước:</b></label>
					<div class="col-sm-8 col-xs-6">
						<input type="text" class="form-control" id="sztp" readonly />
					</div>
				</div>
			</div>
			<div class="col-sm-12 text-black" style="min-height: 400px; overflow-y: auto">
				<section class="tabs" style="margin: 0;">
					<input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
					<label for="tab-1" class="tab-label-1">Cont lạnh</label>

					<div class="clear"></div>

					<div class="content">
						<div class="content-1">
							<div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
								<div class="form-group col-sm-6 row">
									<label class="control-label col-sm-4 col-xs-6"><b class="text-black">Nhiệt độ (độ
											C):</b></label>
									<div class="col-sm-8 col-xs-6">
										<input type="text" class="form-control" id="temperature" name="temperature"
											readonly />
									</div>
								</div>
								<div class="form-group col-sm-6 row">
									<label class="control-label col-sm-4 col-xs-6"><b class="text-black">Ngày cài nhiệt
											độ:</b></label>
									<div class="input-group date col-sm-8 col-xs-6" id="datetimepicker1">
										<input type="text" class="form-control" name="daySetupTemperature" readonly />
										<span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"
												readonly></span>
										</span>
									</div>
								</div>
							</div>

							<div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">

								<div class="form-group col-sm-6 row">
									<span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b
											class="text-black">Độ ẩm (%):</b></span>
									<div class="col-sm-8 col-xs-6">
										<input type="text" class="form-control" id="humidity" name="humidity"
											readonly />
									</div>
								</div>
								<div class="form-group col-sm-6 row">
									<label class="control-label col-sm-4 col-xs-6"><b class="text-black">Ngày rút
											điện:</b></label>
									<div class="input-group date col-sm-8 col-xs-6">
										<input type="text" class="form-control" name="powerDrawDate" id="powerDrawDate"
											readonly />
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
							</div>

							<div class="form-horizontal mt10 row" style="border-bottom: 1px dashed #ccc">
								
								<div class="form-group col-sm-6 row">
									<span class="control-label col-sm-4 col-xs-6" style="text-align: left"><b
											class="text-black">Thông gió (%):</b></span>
									<div class="col-sm-8 col-xs-6">
										<input type="text" class="form-control" id="ventilation" name="ventilation"
											readonly />
									</div>
								</div>
							</div>

							<div class="form-group col-sm-12" id="dropzoneIce">
								<div class="preview-container-ice col-md-12 col-sm-12 col-xs-12"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="layui-layer-btn"
				style="float: right; z-index: 999 !important; position: fixed; right: 0; bottom: 0; text-align: right; padding: 10px 15px 12px; background: #f0f4f7; border-top: 1px #c7c7c7 solid; width: 100%;">
				<a class="layui-layer-btn0" onclick="onCloseModel()">Đóng</a>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: dropzone-js" />
	<script type="text/javascript" th:inline="javascript">
		/**
		 * Data load from server
		*/
		var containerNo = [[${ containerNo }]];
		var shipmentDetail = [[${ shipmentDetail }]];

		var contCargoTypes = [[${ contCargoTypes }]];
		var contDangerousImos = [[${ contDangerousImos }]];
		var contDangerousUnnos = [[${ contDangerousUnnos }]];

		var sztp = [[${ sztp }]];
		var shipmentDetailId = /*[[${shipmentDetailId}]]*/;
		var shipmentFiles = [[${ shipmentFiles }]];
	</script>
	<script th:src="@{/eport/js/modules/reeferGroup/dateSetupTemperature/detail.js?v=20201029}"></script>
</body>

</html>