<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.system.mapper.NotificationsMapper">
    
    <resultMap type="Notifications" id="NotificationsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="seenAmount" column="seen_amount"  />
        <result property="totalReceiver" column="total_receiver"  />
        <association property="notificationReceiver"    column="id" javaType="NotificationReceiver" resultMap="notificationReceiverResult" />
    </resultMap>

    <resultMap type="NotificationReceiver" id="notificationReceiverResult">
        <result property="id"    column="id"    />
        <result property="notificationId"    column="notification_id"    />
        <result property="userDeviceId"    column="user_device_id"    />
        <result property="seenFlg"         column="seen_flg" />

    </resultMap>

    <sql id="selectNotificationsVo">
        select id, title, content, create_time, create_by, update_time, update_by from notifications
    </sql>

    <sql id="selectNotificationsDetailVo">
        select n.id, n.title, n.create_time, n.create_by, n.update_time, n.update_by,
            DBMS_LOB.SUBSTR (n.content,4000,1) as "content",
            count(d.notification_id) as "total_receiver", 
            count(case when d.seen_flg = 1 then 1 else null end) as "seen_amount"
        from notifications n 
        left join notification_receiver d 
            on n.id = d.notification_id 
        GROUP BY n.id, n.title, n.create_time, n.create_by, n.update_time, n.update_by, DBMS_LOB.SUBSTR (n.content,4000,1)
    </sql>

    <select id="selectNotificationsList" parameterType="Notifications" resultMap="NotificationsResult">
        <include refid="selectNotificationsVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectNotificationsById" parameterType="Long" resultMap="NotificationsResult">
        <include refid="selectNotificationsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNotifications" parameterType="Notifications" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_notifications.nextval as id from DUAL
		</selectKey>
        insert into notifications
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateNotifications" parameterType="Notifications">
        update notifications
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNotificationsById" parameterType="Long">
        delete from notifications where id = #{id}
    </delete>

    <delete id="deleteNotificationsByIds" parameterType="String">
        delete from notifications where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectNotificationsDetailList" parameterType="Notifications" resultMap="NotificationsResult">
        <include refid="selectNotificationsDetailVo"/>
        <where> 
            <if test="title != null  and title != ''"> and n.title = #{title}</if>
            <if test="content != null  and content != ''"> and to_char(n.content) = #{content}</if>
        </where>
    </select>

</mapper>