<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.system.mapper.NotificationReceiverMapper">
    
    <resultMap type="NotificationReceiver" id="NotificationReceiverResult">
        <result property="id"    column="id"    />
        <result property="notificationId"    column="notification_id"    />
        <result property="userDeviceId"    column="user_device_id"    />
        <result property="seenFlg"         column="seen_flg" />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectNotificationReceiverVo">
        select id, notification_id, user_device_id, seen_flg, create_time, create_by, update_time, update_by from notification_receiver
    </sql>

    <select id="selectNotificationReceiverList" parameterType="NotificationReceiver" resultMap="NotificationReceiverResult">
        <include refid="selectNotificationReceiverVo"/>
        <where>  
            <if test="notificationId != null "> and notification_id = #{notificationId}</if>
            <if test="userDeviceId != null "> and user_device_id = #{userDeviceId}</if>
        </where>
    </select>
    
    <select id="selectNotificationReceiverById" parameterType="Long" resultMap="NotificationReceiverResult">
        <include refid="selectNotificationReceiverVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNotificationReceiver" parameterType="NotificationReceiver" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_notification_receiver.nextval as id from DUAL
		</selectKey>
        insert into notification_receiver
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="notificationId != null ">notification_id,</if>
            <if test="userDeviceId != null ">user_device_id,</if>
            <if test="seenFlg != null">seen_flg,</if>
            <if test="createBy != null ">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="notificationId != null ">#{notificationId},</if>
            <if test="userDeviceId != null ">#{userDeviceId},</if>
            <if test="seenFlg != null">seen_flg</if>
            <if test="createBy != null ">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateNotificationReceiver" parameterType="NotificationReceiver">
        update notification_receiver
        <trim prefix="SET" suffixOverrides=",">
            <if test="notificationId != null ">notification_id = #{notificationId},</if>
            <if test="userDeviceId != null ">user_device_id = #{userDeviceId},</if>
            <if test="seenFlg != null">seen_flg = #{seenFlg}</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNotificationReceiverById" parameterType="Long">
        delete from notification_receiver where id = #{id}
    </delete>

    <delete id="deleteNotificationReceiverByIds" parameterType="String">
        delete from notification_receiver where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>