<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.system.mapper.ShipmentDetailHistMapper">
    
    <resultMap type="ShipmentDetailHist" id="ShipmentDetailHistResult">
        <result property="id"    column="id"    />
        <result property="shipmentDetailId"    column="shipment_detail_id"    />
        <result property="vslCd"    column="vsl_cd"    />
        <result property="dataField"    column="data_field"    />
        <result property="oldValue"    column="old_value"    />
        <result property="newValue"    column="new_value"    />
        <result property="userName"    column="user_name"    />
        <result property="userType"    column="user_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="voyNo"    column="voy_no"    />
        <result property="shipmentId"    column="shipment_id"    />
        <result property="histType"    column="hist_type"    />
    </resultMap>

    <sql id="selectShipmentDetailHistVo">
        select id, shipment_detail_id, vsl_cd, data_field, old_value, new_value, user_name, user_type, create_time, voy_no, shipment_id, hist_type from shipment_detail_hist
    </sql>

    <select id="selectShipmentDetailHistList" parameterType="ShipmentDetailHist" resultMap="ShipmentDetailHistResult">
        <include refid="selectShipmentDetailHistVo"/>
        <where>  
            <if test="shipmentDetailId != null "> and shipment_detail_id = #{shipmentDetailId}</if>
            <if test="vslCd != null  and vslCd != ''"> and vsl_cd = #{vslCd}</if>
            <if test="dataField != null  and dataField != ''"> and data_field = #{dataField}</if>
            <if test="oldValue != null  and oldValue != ''"> and old_value = #{oldValue}</if>
            <if test="newValue != null  and newValue != ''"> and new_value = #{newValue}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat(concat('%', #{userName}), '%')</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="shipmentId != null "> and shipment_id = #{shipmentId}</if>
            <if test="histType != null  and histType != ''"> and hist_type = #{histType}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectShipmentDetailHistById" parameterType="Long" resultMap="ShipmentDetailHistResult">
        <include refid="selectShipmentDetailHistVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShipmentDetailHist" parameterType="ShipmentDetailHist">
    	<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT seq_shipment_detail_hist.NEXTVAL as id FROM DUAL
		</selectKey>
        insert into shipment_detail_hist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="shipmentDetailId != null">shipment_detail_id,</if>
            <if test="vslCd != null">vsl_cd,</if>
            <if test="dataField != null">data_field,</if>
            <if test="oldValue != null">old_value,</if>
            <if test="newValue != null">new_value,</if>
            <if test="userName != null">user_name,</if>
            <if test="userType != null">user_type,</if>
            <if test="voyNo != null">voy_no,</if>
            <if test="shipmentId != null">shipment_id,</if>
            <if test="histType != null">hist_type,</if>
            createTime
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="shipmentDetailId != null">#{shipmentDetailId},</if>
            <if test="vslCd != null">#{vslCd},</if>
            <if test="dataField != null">#{dataField},</if>
            <if test="oldValue != null">#{oldValue},</if>
            <if test="newValue != null">#{newValue},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userType != null">#{userType},</if>
            <if test="voyNo != null">#{voyNo},</if>
            <if test="shipmentId != null">#{shipmentId},</if>
            <if test="histType != null">#{histType},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateShipmentDetailHist" parameterType="ShipmentDetailHist">
        update shipment_detail_hist
        <trim prefix="SET" suffixOverrides=",">
            <if test="shipmentDetailId != null">shipment_detail_id = #{shipmentDetailId},</if>
            <if test="vslCd != null">vsl_cd = #{vslCd},</if>
            <if test="dataField != null">data_field = #{dataField},</if>
            <if test="oldValue != null">old_value = #{oldValue},</if>
            <if test="newValue != null">new_value = #{newValue},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="voyNo != null">voy_no = #{voyNo},</if>
            <if test="shipmentId != null">shipment_id = #{shipmentId},</if>
            <if test="histType != null">hist_type = #{histType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShipmentDetailHistById" parameterType="Long">
        delete from shipment_detail_hist where id = #{id}
    </delete>

    <delete id="deleteShipmentDetailHistByIds" parameterType="String">
        delete from shipment_detail_hist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>