<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.system.mapper.SysRobotMapper">
    
    <resultMap type="SysRobot" id="RobotResult">
        <result property="id"    column="id"    />
        <result property="uuId"    column="uuid"    />
        <result property="status"    column="status"    />
        <result property="isReceiveContFullOrder"    column="is_receive_cont_full_order"    />
        <result property="isReceiveContEmptyOrder"    column="is_receive_cont_empty_order"    />
        <result property="isSendContFullOrder"    column="is_send_cont_full_order"    />
        <result property="isSendContEmptyOrder"    column="is_send_cont_empty_order"    />
        <result property="isGateInOrder"    column="is_gate_in_order"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="isShiftingContOrder"    column="is_shifting_cont_order"    />
        <result property="responseTime"    column="response_time"    />
    </resultMap>

    <sql id="selectRobotVo">
        select id, uuid, status, is_receive_cont_full_order, is_receive_cont_empty_order, is_send_cont_full_order, is_send_cont_empty_order, is_gate_in_order, ip_address, create_by, create_time, update_by, update_time, remark, is_shifting_cont_order, response_time from sys_robot
    </sql>

    <select id="selectRobotList" parameterType="SysRobot" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        <where>  
            <if test="uuId != null  and uuId != ''"> and uuid = #{uuId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isReceiveContFullOrder != null"> and is_receive_cont_full_order = #{isReceiveContFullOrder}</if>
            <if test="isReceiveContEmptyOrder != null"> and is_receive_cont_empty_order = #{isReceiveContEmptyOrder}</if>
            <if test="isSendContFullOrder != null"> and is_send_cont_full_order = #{isSendContFullOrder}</if>
            <if test="isSendContEmptyOrder != null"> and is_send_cont_empty_order = #{isSendContEmptyOrder}</if>
            <if test="isGateInOrder != null"> and is_gate_in_order = #{isGateInOrder}</if>
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if>
            <if test="isShiftingContOrder != null"> and is_shifting_cont_order = #{isShiftingContOrder}</if>
            <if test="responseTime != null"> and response_time = #{responseTime}</if>
        </where>
    </select>
    
    <select id="selectRobotById" parameterType="Long" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        where id = #{id}
    </select>
    
    <select id="selectRobotByUuId" parameterType="String" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        where uuid = #{uuId}
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
    </select>
    
    <select id="findFirstRobot" parameterType="SysRobot" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        <where>  
            <if test="uuId != null  and uuId != ''"> and uuid = #{uuId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="isReceiveContFullOrder != null"> and is_receive_cont_full_order = #{isReceiveContFullOrder}</if>
            <if test="isReceiveContEmptyOrder != null"> and is_receive_cont_empty_order = #{isReceiveContEmptyOrder}</if>
            <if test="isSendContFullOrder != null"> and is_send_cont_full_order = #{isSendContFullOrder}</if>
            <if test="isSendContEmptyOrder != null"> and is_send_cont_empty_order = #{isSendContEmptyOrder}</if>
            <if test="isGateInOrder != null"> and is_gate_in_order = #{isGateInOrder}</if>
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if>
            <if test="isShiftingContOrder != null"> and is_shifting_cont_order = #{isShiftingContOrder}</if>
            <if test="responseTime != null"> and response_time = #{responseTime}</if>
        </where>
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
    </select>
        
    <insert id="insertRobot" parameterType="SysRobot" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_sys_robot.nextval as id from DUAL
		</selectKey>
        insert into sys_robot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="uuId != null  and uuId != ''">uuid,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="isReceiveContFullOrder != null">is_receive_cont_full_order,</if>
            <if test="isReceiveContEmptyOrder != null">is_receive_cont_empty_order,</if>
            <if test="isSendContFullOrder != null">is_send_cont_full_order,</if>
            <if test="isSendContEmptyOrder != null">is_send_cont_empty_order,</if>
            <if test="isGateInOrder != null">is_gate_in_order,</if>
            <if test="ipAddress != null  and ipAddress != ''">ip_address,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="isShiftingContOrder != null">is_shifting_cont_order,</if>
            response_time,
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="uuId != null  and uuId != ''">#{uuId},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="isReceiveContFullOrder != null">#{isReceiveContFullOrder},</if>
            <if test="isReceiveContEmptyOrder != null">#{isReceiveContEmptyOrder},</if>
            <if test="isSendContFullOrder != null">#{isSendContFullOrder},</if>
            <if test="isSendContEmptyOrder != null">#{isSendContEmptyOrder},</if>
            <if test="isGateInOrder != null">#{isGateInOrder},</if>
            <if test="ipAddress != null  and ipAddress != ''">#{ipAddress},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="isShiftingContOrder != null">#{isShiftingContOrder},</if>
            sysdate,
            sysdate
         </trim>
    </insert>

    <update id="updateRobot" parameterType="SysRobot">
        update sys_robot
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuId != null  and uuId != ''">uuid = #{uuId},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="isReceiveContFullOrder != null">is_receive_cont_full_order = #{isReceiveContFullOrder},</if>
            <if test="isReceiveContEmptyOrder != null">is_receive_cont_empty_order = #{isReceiveContEmptyOrder},</if>
            <if test="isSendContFullOrder != null">is_send_cont_full_order = #{isSendContFullOrder},</if>
            <if test="isSendContEmptyOrder != null">is_send_cont_empty_order = #{isSendContEmptyOrder},</if>
            <if test="isGateInOrder != null">is_gate_in_order = #{isGateInOrder},</if>
            <if test="ipAddress != null  and ipAddress != ''">ip_address = #{ipAddress},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="isShiftingContOrder != null">is_shifting_cont_order = #{isShiftingContOrder},</if>
            <if test="responseTime != null"></if>
            response_time = sysdate,
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRobotById" parameterType="Long">
        delete from sys_robot where id = #{id}
    </delete>

    <delete id="deleteRobotByIds" parameterType="String">
        delete from sys_robot where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="checkUuidRobotUnique" parameterType="String" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        where uuid = #{uuId}
        OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
    </select>
    
    <update id="updateRobotStatusByUuId">
        update sys_robot
        set status = #{status}
        where uuid = #{uuId}
    </update>
    
    <update id="updateRobotByUuId" parameterType="SysRobot">
        update sys_robot
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="isReceiveContFullOrder != null">is_receive_cont_full_order = #{isReceiveContFullOrder},</if>
            <if test="isReceiveContEmptyOrder != null">is_receive_cont_empty_order = #{isReceiveContEmptyOrder},</if>
            <if test="isSendContFullOrder != null">is_send_cont_full_order = #{isSendContFullOrder},</if>
            <if test="isSendContEmptyOrder != null">is_send_cont_empty_order = #{isSendContEmptyOrder},</if>
            <if test="isGateInOrder != null">is_gate_in_order = #{isGateInOrder},</if>
            <if test="ipAddress != null  and ipAddress != ''">ip_address = #{ipAddress},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="isShiftingContOrder != null">is_shifting_cont_order = #{isShiftingContOrder},</if>
            response_time = sysdate,
            update_time = sysdate
        </trim>
        where uuid = #{uuId}
    </update>
    
    <delete id="deleteRobotByUuId" parameterType="String">
        delete from sys_robot where uuid = #{uuId}
    </delete>

    <select id="selectRobotListOnline" parameterType="SysRobot" resultMap="RobotResult">
        <include refid="selectRobotVo"/>
        <where>  
            and status != '2'
            <if test="uuId != null  and uuId != ''"> and uuid = #{uuId}</if>
            <if test="isReceiveContFullOrder != null"> and is_receive_cont_full_order = #{isReceiveContFullOrder}</if>
            <if test="isReceiveContEmptyOrder != null"> and is_receive_cont_empty_order = #{isReceiveContEmptyOrder}</if>
            <if test="isSendContFullOrder != null"> and is_send_cont_full_order = #{isSendContFullOrder}</if>
            <if test="isSendContEmptyOrder != null"> and is_send_cont_empty_order = #{isSendContEmptyOrder}</if>
            <if test="isGateInOrder != null"> and is_gate_in_order = #{isGateInOrder}</if>
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if>
            <if test="isShiftingContOrder != null"> and is_shifting_cont_order = #{isShiftingContOrder}</if>
            <if test="responseTime != null"> and response_time = #{responseTime}</if>
        </where>
    </select>
</mapper>