<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.system.mapper.UserDevicesMapper">
    
    <resultMap type="UserDevices" id="UserDevicesResult">
        <result property="id"    column="id"    />
        <result property="userToken"    column="user_token"    />
        <result property="deviceToken"    column="device_token"    />
        <result property="userType"    column="user_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectUserDevicesVo">
        select id, user_token, device_token, user_type, create_time, create_by, update_time, update_by from user_devices
    </sql>

    <select id="selectUserDevicesList" parameterType="UserDevices" resultMap="UserDevicesResult">
        <include refid="selectUserDevicesVo"/>
        <where>  
            <if test="userToken != null  and userToken != ''"> and user_token = #{userToken}</if>
            <if test="deviceToken != null  and deviceToken != ''"> and device_token = #{deviceToken}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
        </where>
    </select>
    
    <select id="selectUserDevicesById" parameterType="Long" resultMap="UserDevicesResult">
        <include refid="selectUserDevicesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserDevices" parameterType="UserDevices" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_user_devices.nextval as id from DUAL
		</selectKey>
        insert into user_devices
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="userToken != null  and userToken != ''">user_token,</if>
            <if test="deviceToken != null  and deviceToken != ''">device_token,</if>
            <if test="userType != null ">user_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="userToken != null  and userToken != ''">#{userToken},</if>
            <if test="deviceToken != null  and deviceToken != ''">#{deviceToken},</if>
            <if test="userType != null ">#{userType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateUserDevices" parameterType="UserDevices">
        update user_devices
        <trim prefix="SET" suffixOverrides=",">
            <if test="userToken != null  and userToken != ''">user_token = #{userToken},</if>
            <if test="deviceToken != null  and deviceToken != ''">device_token = #{deviceToken},</if>
            <if test="userType != null ">user_type = #{userType},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserDevicesById" parameterType="Long">
        delete from user_devices where id = #{id}
    </delete>

    <delete id="deleteUserDevicesByIds" parameterType="String">
        delete from user_devices where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="selectDeviceTokenList" parameterType="String" resultMap="UserDevicesResult">
        select * from user_devices
        where user_type in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteUserDevicesByUserToken" parameterType="String">
        delete from user_devices where user_token = #{token}
    </delete>

</mapper>