<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('Edit Carrier Group')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-account-edit" th:object="${carrierGroup}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Mã hãng tàu</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="groupCode" th:field="*{groupCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Tên hãng tàu</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="groupName" th:field="*{groupName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Mã vận hành</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="operateCode" th:field="*{operateCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 col-xs-4 col-md-2 control-label">Email</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="mainEmail" th:field="*{mainEmail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="doFlag" th:field="*{doFlag}" id="doFlag">
                <label class="col-sm-3 col-xs-4 col-md-2 control-label">Quyền quản lý DO</label>
                <div id="doToggle" class="col-sm-9 col-xs-8 col-md-10">
                    <i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleDoFlag()"></i>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "carrier/group";

        setTimeout(() => {
            if ($("#doFlag").val() == 0) {
                document.getElementById("doToggle").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleDoFlag()"></i>';
            } else {
                document.getElementById("doToggle").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleDoFlag()"></i>';
            }          
        }, 200);

        $("#form-account-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-account-edit').serialize());
            }
        }

        function clickToggleDoFlag() {
            if ($("#doFlag").val() == 0) {
                document.getElementById("doToggle").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="clickToggleDoFlag()"></span>';
                $("#doFlag").val(1);
            } else {
                document.getElementById("doToggle").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="clickToggleDoFlag()"></span>';
                $("#doFlag").val(0);
            }
        }
    </script>
</body>
</html>