<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.carrier.mapper.CarrierAccountMapper">
    
    <resultMap type="CarrierAccount" id="CarrierAccountResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="carrierCode"    column="carrier_code"    />
        <result property="email"    column="email"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="fullName"    column="full_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarrierAccountVo">
        select id, group_id, carrier_code, email, password, salt, full_name, status, del_flag, login_ip, login_date, remark, create_by, create_time, update_by, update_time from carrier_account
    </sql>

    <select id="selectCarrierAccountList" parameterType="CarrierAccount" resultMap="CarrierAccountResult">
        <include refid="selectCarrierAccountVo"/>
        <where>  
            <if test="carrierCode != null  and carrierCode != ''"><bind name="pattern" value="'%' + carrierCode + '%'"/> and carrier_code like #{pattern}</if>
            <if test="email != null  and email != ''"><bind name="pattern" value="'%' + email + '%'"/> and email like #{pattern}</if>
            <!-- <if test="status != null  and status != ''"> and status = #{status}</if> -->
        </where>
    </select>
    
    <select id="selectCarrierAccountById" parameterType="Long" resultMap="CarrierAccountResult">
        <include refid="selectCarrierAccountVo"/>
        where id = #{id}
    </select>
    
    <select id="selectByEmail" parameterType="String" resultMap="CarrierAccountResult">
	    <include refid="selectCarrierAccountVo"/>
		where email = #{email}
	</select>
        
    <insert id="insertCarrierAccount" parameterType="CarrierAccount" useGeneratedKeys="true" keyProperty="id">
        insert into carrier_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null ">group_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="salt != null  and salt != ''">salt,</if>
            <if test="fullName != null  and fullName != ''">full_name,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="loginIp != null  and loginIp != ''">login_ip,</if>
            <if test="loginDate != null ">login_date,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null ">#{groupId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="salt != null  and salt != ''">#{salt},</if>
            <if test="fullName != null  and fullName != ''">#{fullName},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">#{loginIp},</if>
            <if test="loginDate != null ">#{loginDate},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarrierAccount" parameterType="CarrierAccount">
        update carrier_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null ">group_id = #{groupId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="salt != null  and salt != ''">salt = #{salt},</if>
            <if test="fullName != null  and fullName != ''">full_name = #{fullName},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">login_ip = #{loginIp},</if>
            <if test="loginDate != null ">login_date = #{loginDate},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarrierAccountById" parameterType="Long">
        delete from carrier_account where id = #{id}
    </delete>

    <delete id="deleteCarrierAccountByIds" parameterType="String">
        delete from carrier_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="checkEmailUnique" parameterType="String" resultType="int">
		select count(1) from carrier_account where email=#{email}
	</select>
</mapper>