<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.carrier.mapper.CarrierAccountMapper">
    
    <resultMap type="CarrierAccount" id="CarrierAccountResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="carrierCode"    column="carrier_code"    />
        <result property="email"    column="email"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="fullName"    column="full_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="depoFlg"    column="depo_flg"    />
        <result property="edoFlg"    column="edo_flg"    />
        <result property="doFlg"    column="do_flg"    />
        <result property="bookingFlg"    column="booking_flg"    />
        <result property="depotName"    column="depot_name"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="carrierGroup"    column="group_id" javaType="CarrierGroup" resultMap="carrierGroupResult" />
    </resultMap>

    <resultMap type="CarrierGroup" id="carrierGroupResult">
        <result property="id"    column="id"    />
        <result property="groupCode"    column="group_code"    />
        <result property="groupName"    column="group_name"    />
    </resultMap>

    <sql id="selectCarrierAccountVo">
        select id, group_id, carrier_code, email, password, salt, full_name, status, del_flag, login_ip, login_date, depo_flg, edo_flg, do_flg, booking_flg, depot_name, remark, create_by, create_time, update_by, update_time from carrier_account
    </sql>

    <select id="selectCarrierAccountList" parameterType="CarrierAccount" resultMap="CarrierAccountResult">
        select c.id, c.group_id, c.carrier_code, c.email, c.password, c.salt, c.full_name, c.status, c.del_flag
        , c.login_ip, c.login_date, c.remark, c.create_by, c.create_time, c.update_by, c.update_time, g.group_code, g.group_name  
        from carrier_account c left join carrier_group g on c.group_id = g.id
        <where>  
            <if test="carrierGroup.groupName != null  and carrierGroup.groupName != ''"><bind name="groupNamePattern" value="'%' + carrierGroup.groupName + '%'"/> and lower(g.group_name) like #{groupNamePattern}</if>
            <if test="email != null  and email != ''"><bind name="emailPattern" value="'%' + email + '%'"/> and lower(c.email) like #{emailPattern}</if>
            <if test="status != null  and status != ''"> and c.status = #{status}</if>
            <if test="depoFlg != null"> and c.depo_flg = #{depoFlg}</if>
        </where>
    </select>
    
    <select id="selectCarrierAccountById" parameterType="Long" resultMap="CarrierAccountResult">
        <include refid="selectCarrierAccountVo"/>
        where id = #{id}
    </select>
    
    <select id="selectByEmail" parameterType="String" resultMap="CarrierAccountResult">
	    <include refid="selectCarrierAccountVo"/>
		where email = #{email}
	</select>
        
    <insert id="insertCarrierAccount" parameterType="CarrierAccount" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_carrier_account.nextval as id from DUAL
		</selectKey>
        insert into carrier_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="groupId != null ">group_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="salt != null  and salt != ''">salt,</if>
            <if test="fullName != null  and fullName != ''">full_name,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="loginIp != null  and loginIp != ''">login_ip,</if>
            <if test="loginDate != null">login_date,</if>
            <if test="depoFlg != null">depo_flg,</if>
            <if test="edoFlg != null">edo_flg,</if>
            <if test="doFlg != null">do_flg,</if>
            <if test="bookingFlg != null">booking_flg,</if>
            <if test="depotName != null and depotName != ''">depot_name,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="groupId != null ">#{groupId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="salt != null  and salt != ''">#{salt},</if>
            <if test="fullName != null  and fullName != ''">#{fullName},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">#{loginIp},</if>
            <if test="loginDate != null">#{loginDate},</if>
            <if test="depoFlg != null">#{depoFlg},</if>
            <if test="edoFlg != null">#{edoFlg},</if>
            <if test="doFlg != null">#{doFlg},</if>
            <if test="bookingFlg != null">#{bookingFlg},</if>
            <if test="depotName != null and depotName != ''">#{depotName},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateCarrierAccount" parameterType="CarrierAccount">
        update carrier_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null ">group_id = #{groupId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="salt != null  and salt != ''">salt = #{salt},</if>
            <if test="fullName != null  and fullName != ''">full_name = #{fullName},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="depoFlg != null">depo_flg = #{depoFlg},</if>
            <if test="edoFlg != null">edo_flg = #{edoFlg},</if>
            <if test="doFlg != null">do_flg = #{doFlg},</if>
            <if test="bookingFlg != null">booking_flg = #{bookingFlg},</if>
            <if test="depotName != null and depotName != ''">depot_name = #{depotName},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarrierAccountById" parameterType="Long">
        delete from carrier_account where id = #{id}
    </delete>

    <delete id="deleteCarrierAccountByIds" parameterType="String">
        delete from carrier_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="checkEmailUnique" parameterType="String" resultType="int">
		select count(1) from carrier_account where lower(email)=#{email}
	</select>
     
     <select id="selectDepotAccountList" parameterType="CarrierAccount" resultMap="CarrierAccountResult">
     	select *
     	from carrier_account
     	<where>
     		<if test="depoFlg != null">and depo_flg = #{depoFlg}</if>
     		<if test="email != null  and email != ''"><bind name="emailPattern" value="'%' + email + '%'"/> and lower(c.email) like #{emailPattern}</if>
            <if test="status != null  and status != ''"> and c.status = #{status}</if>
     	</where>
     </select>

     <update id="updateCarrierAccountByCondition" parameterType="CarrierAccount">
        update carrier_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null ">group_id = #{groupId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="salt != null  and salt != ''">salt = #{salt},</if>
            <if test="fullName != null  and fullName != ''">full_name = #{fullName},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="loginIp != null  and loginIp != ''">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="depoFlg != null">depo_flg = #{depoFlg},</if>
            <if test="edoFlg != null">edo_flg = #{edoFlg},</if>
            <if test="doFlg != null">do_flg = #{doFlg},</if>
            <if test="bookingFlg != null">booking_flg = #{bookingFlg},</if>
            <if test="depotName != null and depotName != ''">depot_name = #{depotName},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        <where>
     		<if test="groupId != null">and group_id = #{groupId}</if>
     	</where>
    </update>
</mapper>