<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.carrier.mapper.CarrierGroupMapper">

	<resultMap type="CarrierGroup" id="CarrierGroupResult">
		<result property="id" column="id" />
		<result property="groupCode" column="group_code" />
		<result property="groupName" column="group_name" />
		<result property="operateCode" column="operate_code" />
		<result property="mainEmail" column="main_email" />
		<result property="doType" column="do_type" />
		<result property="createBy" column="create_by" />
		<result property="createTime" column="create_time" />
		<result property="updateBy" column="update_by" />
		<result property="updateTime" column="update_time" />
		<result property="doFlag" column="do_flag" />
		<result property="edoFlag" column="edo_flag" />
		<result property="apiPrivateKey" column="api_private_key" />
		<result property="apiPublicKey" column="api_public_key" />
		<result property="pathEdiReceive" column="path_edi_receive" />
		<result property="pathEdiBackup" column="path_edi_backup" />
	</resultMap>

	<sql id="selectCarrierGroupVo">
		select * from carrier_group
	</sql>

	<select id="selectCarrierGroupList" parameterType="CarrierGroup"
		resultMap="CarrierGroupResult">
		<include refid="selectCarrierGroupVo" />
		<where>
			<if test="id != null  and id != ''"> and id = #{id}</if>
			<if test="groupCode != null  and groupCode != ''"> and lower(group_code) like concat(concat('%', #{groupCode}), '%')</if>
			<if test="groupName != null  and groupName != ''"> and lower(group_name) like concat(concat('%', #{groupName}), '%')</if>
			<if test="operateCode != null  and operateCode != ''"> and lower(operate_code) like concat(concat('%', #{operateCode}), '%')</if>
		</where>
	</select>

	<select id="selectCarrierGroupById" parameterType="Long"
		resultMap="CarrierGroupResult">
		<include refid="selectCarrierGroupVo" />
		where id = #{id}
	</select>

	<select id="selectCarrierGroupListByCode"
		parameterType="CarrierGroup" resultMap="CarrierGroupResult">
		<include refid="selectCarrierGroupVo" />
		<where>
			<if test="groupCode != null  and groupCode != ''"> and lower(group_code) like concat(concat'%', #{groupCode}), '%')</if>
		</where>
	</select>

	<select id="selectCarrierGroupListByName"
		parameterType="CarrierGroup" resultMap="CarrierGroupResult">
		<include refid="selectCarrierGroupVo" />
		<where>
			<if test="groupName != null  and groupName != ''"> and lower(group_name) like concat(concat('%', #{groupName}), '%')</if>
		</where>
	</select>

	<insert id="insertCarrierGroup" parameterType="CarrierGroup" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_carrier_group.nextval as id from DUAL
		</selectKey>
		insert into carrier_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
			<if test="groupCode != null  and groupCode != ''">group_code,</if>
			<if test="groupName != null  and groupName != ''">group_name,</if>
			<if test="operateCode != null  and operateCode != ''">operate_code,</if>
			<if test="mainEmail != null  and mainEmail != ''">main_email,</if>
			<if test="doType != null  and doType != ''">do_type,</if>
			<if test="createBy != null  and createBy != ''">create_by,</if>
			<if test="doFlag != null  and doFlag != ''">do_flag,</if>
			<if test="edoFlag != null  and edoFlag != ''">edo_flag,</if>
			<if test="apiPrivateKey != null  and apiPrivateKey != ''">api_private_key,</if>
			<if test="apiPublicKey != null  and apiPublicKey != ''">api_public_key,</if>
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
			<if test="groupCode != null  and groupCode != ''">#{groupCode},</if>
			<if test="groupName != null  and groupName != ''">#{groupName},</if>
			<if test="operateCode != null  and operateCode != ''">#{operateCode},</if>
			<if test="mainEmail != null  and mainEmail != ''">#{mainEmail},</if>
			<if test="doType != null  and doType != ''">#{doType},</if>
			<if test="createBy != null  and createBy != ''">#{createBy},</if>
			<if test="doFlag != null  and doFlag != ''">#{doFlag},</if>
			<if test="edoFlag != null  and edoFlag != ''">#{edoFlag},</if>
			<if test="apiPrivateKey != null  and apiPrivateKey != ''">#{apiPrivateKey},</if>
            <if test="apiPublicKey != null  and apiPublicKey != ''">#{apiPublicKey},</if>
			sysdate
		</trim>
	</insert>

	<update id="updateCarrierGroup" parameterType="CarrierGroup">
		update carrier_group
		<trim prefix="SET" suffixOverrides=",">
			<if test="groupCode != null  and groupCode != ''">group_code = #{groupCode},</if>
			<if test="groupName != null  and groupName != ''">group_name = #{groupName},</if>
			<if test="operateCode != null  and operateCode != ''">operate_code = #{operateCode},</if>
			<if test="mainEmail != null  and mainEmail != ''">main_email = #{mainEmail},</if>
			<if test="doType != null  and doType != ''">do_type = #{doType},</if>
			<if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
			<if test="doFlag != null  and doFlag != ''">do_flag = #{doFlag},</if>
			<if test="edoFlag != null  and edoFlag != ''">edo_flag = #{edoFlag},</if>
			<if test="pathEdiReceive != null  and pathEdiReceive != ''">path_edi_receive = #{pathEdiReceive},</if>
			<if test="pathEdiBackup != null  and pathEdiBackup != ''">path_edi_backup = #{pathEdiBackup},</if>
			<if test="apiPrivateKey != null  and apiPrivateKey != ''">api_private_key = #{apiPrivateKey},</if>
            <if test="apiPublicKey != null  and apiPublicKey != ''">api_public_key = #{apiPublicKey},</if>
			update_time = sysdate
		</trim>
		where id = #{id}
	</update>

	<delete id="deleteCarrierGroupById" parameterType="Long">
		delete from carrier_group where id = #{id}
	</delete>

	<delete id="deleteCarrierGroupByIds" parameterType="String">
		delete from carrier_group where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="checkGroupCodeUnique" parameterType="String"
		resultType="int">
		select count(1) from carrier_group where
		lower(group_code)=#{groupCode}
	</select>

	<select id="checkMainEmailUnique" parameterType="String"
		resultType="int">
		select count(1) from carrier_group where
		lower(main_email)=#{mainEmail}
	</select>
	<select id="getDoTypeByOpeCode" parameterType="String"
		resultType="String">
		select do_type from carrier_group where operate_code like
		concat(concat('%', #{opeCode}), '%')
	</select>

	<select id="selectCarrierGroupByGroupCode"
		parameterType="String" resultMap="CarrierGroupResult">
		<include refid="selectCarrierGroupVo" />
		where group_code = #{groupCode}
	</select>
</mapper>