<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.carrier.mapper.EdoMapper">

  <resultMap type="Edo" id="EdoResult">
    <result property="id" column="id"/>
    <result property="carrierId" column="carrier_id"/>
    <result property="carrierCode" column="carrier_code"/>
    <result property="orderNumber" column="order_number"/>
    <result property="releaseNo" column="release_no"/>
    <result property="billOfLading" column="bill_of_lading"/>
    <result property="businessUnit" column="business_unit"/>
    <result property="consignee" column="consignee"/>
    <result property="containerNumber" column="container_number"/>
    <result property="expiredDem" column="expired_dem"/>
    <result property="emptyContainerDepot" column="empty_container_depot"/>
    <result property="detFreeTime" column="det_free_time"/>
    <result property="secureCode" column="secure_code"/>
    <result property="releaseDate" column="release_date"/>
    <result property="vessel" column="vessel"/>
    <result property="vesselNo" column="vessel_no"/>
    <result property="voyNo" column="voy_no"/>
    <result property="sztp" column="sztp"/>
    <result property="status" column="status"/>
    <result property="releaseStatus" column="release_status"/>
    <result property="createSource" column="create_source"/>
    <result property="transactionId" column="transaction_id"/>
    <result property="remark" column="remark"/>
    <result property="delFlg" column="del_flg"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="fileCreateTime" column="file_create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="numberContainer" column="number_container"/>
    <result property="pol" column="pol"/>
    <result property="pod" column="pod"/>
    <result property="houseBillId" column="house_bill_id"/>
    <result property="taxCode" column="tax_code"/>
    <result property="consigneeByTaxCode" column="consignee_by_tax_code"/>
  </resultMap>

  <sql id="selectEdoVo">
    select id, carrier_id, carrier_code, order_number, release_no, bill_of_lading, business_unit, consignee, container_number,
    expired_dem, empty_container_depot, det_free_time, secure_code, release_date, vessel, vessel_no , voy_no, sztp,
    status, release_status, create_source, remark, del_flg, create_by, file_create_time, create_time, update_by,
    update_time, transaction_id, pol, pod, house_bill_id, consignee_by_tax_code, tax_code from edo
  </sql>


  <select id="selectEdoList" parameterType="Edo" resultMap="EdoResult">
    select distinct e.id, e.carrier_id, e.carrier_code, e.order_number, e.release_no, e.bill_of_lading, e.business_unit, e.consignee, e.container_number,
    e.expired_dem, e.empty_container_depot, e.det_free_time, e.secure_code, e.release_date, e.vessel, e.vessel_no , e.voy_no, e.sztp,
    e.release_status, e.create_source, e.remark, e.del_flg, e.create_by, e.file_create_time, e.create_time, e.update_by,
    e.update_time, e.transaction_id, e.pol, e.pod, e.house_bill_id, e.consignee_by_tax_code, e.tax_code , s.status as status
    from edo e
    left join shipment_detail s on e.bill_of_lading = s.bl_no and e.container_number = s.container_no
    <where>
      <if test="params.groupCode != null">
        and e.carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
      <if test="params.ids != null">
        and e.id in
        <foreach item="id" collection="params.ids" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
      <if test="id != null ">and e.id = #{id}</if>
      <if test="carrierId != null ">and e.carrier_id = #{carrierId}</if>
      <if test="carrierCode != null  and carrierCode != ''">and e.carrier_code = #{carrierCode}</if>
      <if test="orderNumber != null  and orderNumber != ''">and e.order_number = #{orderNumber}</if>
      <if test="releaseNo != null  and releaseNo != ''">and e.release_no = #{releaseNo}</if>
      <if test="billOfLading != null  and billOfLading != ''">and e.bill_of_lading = #{billOfLading}</if>
      <if test="params.containerNumber != null  and params.containerNumber != ''">and e.container_number = #{params.containerNumber}</if>
      <if test="businessUnit != null  and businessUnit != ''">and e.business_unit = #{businessUnit}</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">and e.empty_container_depot = #{emptyContainerDepot}</if>
      <if test="detFreeTime != null ">and e.det_free_time = #{detFreeTime}</if>
      <if test="secureCode != null  and secureCode != ''">and e.secure_code = #{secureCode}</if>
      <if test="releaseDate != null ">and e.release_date = #{releaseDate}</if>
      <if test="status != null  and status != ''">and e.status = #{status}</if>
      <if test="vessel != null  and vessel != ''">and e.vessel like concat(concat('%', #{vessel}), '%')</if>
      <if test="voyNo != null  and voyNo != ''">and e.voy_no like concat(concat('%', #{voyNo}), '%')</if>
      <if test="releaseStatus != null  and releaseStatus != ''">and e.release_status = #{releaseStatus}</if>
      <if test="createSource != null  and createSource != ''">and e.create_source = #{createSource}</if>
      <if test="delFlg != null">and e.del_flg = #{delFlg}</if>
      <if test="fromDate != null ">and (e.create_time = #{fromDate} OR e.create_time > #{fromDate})</if>
      <if test="toDate != null ">and (e.create_time = #{toDate} OR e.create_time &lt; #{toDate})</if>
      <if test="consignee != null  and consignee != ''">and (upper(e.consignee) like concat(concat('%', #{consignee}),'%')</if>
      <if test="sztp != null  and sztp != ''">or upper(e.sztp) like concat(concat('%', #{sztp}), '%'))</if>
      <if test="containerNumber != null  and containerNumber != ''">or upper(e.container_number) like concat(concat('%',#{containerNumber}), '%'))</if>
      <if test="houseBillId != null">and e.house_bill_id = #{houseBillId}</if>
    </where>
    ORDER BY e.create_time DESC
  </select>

   <select id="selectEdoListForReport" parameterType="Edo" resultMap="EdoResult">
    <include refid="selectEdoVo"/>
    <where>
      <if test="params.oprs != null">
        and carrier_code in
        <foreach item="opr" collection="params.oprs" open="(" separator="," close=")">
          #{opr}
        </foreach>
      </if>
      <if test="params.groupCode != null">
        and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
      <if test="carrierId != null ">and carrier_id = #{carrierId}</if>
      <if test="params.blNo != null  and params.blNo != ''">and bill_of_lading = #{params.blNo}</if>
      <if test="params.containerNo != null  and params.containerNo != ''">and container_number = #{params.containerNo}</if>
      <if test="carrierCode != null  and carrierCode != ''">and carrier_code = #{carrierCode}</if>
      <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
      <if test="releaseNo != null  and releaseNo != ''">and release_no = #{releaseNo}</if>
      <if test="businessUnit != null  and businessUnit != ''">and business_unit = #{businessUnit}</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">and empty_container_depot =
        #{emptyContainerDepot}
      </if>
      <if test="detFreeTime != null ">and det_free_time = #{detFreeTime}</if>
      <if test="secureCode != null  and secureCode != ''">and secure_code = #{secureCode}</if>
      <if test="params.billOfLading != null  and params.billOfLading != ''">and upper(bill_of_lading) = #{params.billOfLading}</if>
      <if test="releaseDate != null ">and release_date = #{releaseDate}</if>
      <if test="status != null  and status != ''">and status = #{status}</if>
      <if test="vessel != null  and vessel != ''">and vessel like concat(concat('%', #{vessel}), '%')</if>
      <if test="voyNo != null  and voyNo != ''">and voy_no like concat(concat('%', #{voyNo}), '%')</if>
      <if test="releaseStatus != null  and releaseStatus != ''">and release_status = #{releaseStatus}</if>
      <if test="createSource != null  and createSource != ''">and create_source = #{createSource}</if>
      <if test="delFlg != null  and delFlg != ''">and del_flg = #{delFlg}</if>
      <if test="fromDate != null ">and (create_time = #{fromDate} OR create_time > #{fromDate})</if>
      <if test="toDate != null ">and (create_time = #{toDate} OR create_time &lt; #{toDate})</if>
      <if test="consignee != null  and consignee != ''">and (upper(consignee) like concat(concat('%', #{consignee}),
        '%')
      </if>
      <if test="billOfLading != null  and billOfLading != ''">or upper(bill_of_lading) like concat(concat('%', #{billOfLading}), '%')</if>
      <if test="sztp != null  and sztp != ''">or upper(sztp) like concat(concat('%', #{sztp}), '%'))</if>
      <if test="containerNumber != null  and containerNumber != ''">or upper(container_number) like concat(concat('%',
        #{containerNumber}), '%'))
      </if>
      <if test="houseBillId != null">and house_bill_id = #{houseBillId}</if>
    </where>
    ORDER BY create_time DESC
  </select>

  <select id="selectEdoById" parameterType="Long" resultMap="EdoResult">
    select distinct e.id, e.carrier_id, e.carrier_code, e.order_number, e.release_no, e.bill_of_lading, e.business_unit, e.consignee, e.container_number,
    e.expired_dem, e.empty_container_depot, e.det_free_time, e.secure_code, e.release_date, e.vessel, e.vessel_no , e.voy_no, e.sztp,
    e.release_status, e.create_source, e.remark, e.del_flg, e.create_by, e.file_create_time, e.create_time, e.update_by,
    e.update_time, e.transaction_id, e.pol, e.pod, e.house_bill_id, e.consignee_by_tax_code, e.tax_code , s.status as status
    from edo e
    left join shipment_detail s on e.bill_of_lading = s.bl_no and e.container_number = s.container_no
    where e.id = #{id}
  </select>

  <select id="selectFirstEdo" parameterType="Edo" resultMap="EdoResult">
   <include refid="selectEdoVo"/>
    <where>
      <if test="id != null ">and id = #{id}</if>
      <if test="carrierId != null ">and carrier_id = #{carrierId}</if>
      <if test="params.groupCode != null">
        and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
      <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
      <if test="releaseNo != null  and releaseNo != ''">and release_no = #{releaseNo}</if>
      <if test="billOfLading != null  and billOfLading != ''">and bill_of_lading = #{billOfLading}</if>
      <if test="businessUnit != null  and businessUnit != ''">and business_unit = #{businessUnit}</if>
      <if test="emptyContainerDepot != null ">and empty_container_depot = #{emptyContainerDepot}</if>
      <if test="detFreeTime != null ">and det_free_time = #{detFreeTime}</if>
      <if test="secureCode != null  and secureCode != ''">and secure_code = #{secureCode}</if>
      <if test="releaseDate != null ">and release_date = #{releaseDate}</if>
      <if test="status != null  and status != ''">and status = #{status}</if>
      <if test="releaseStatus != null  and releaseStatus != ''">and release_status = #{releaseStatus}</if>
      <if test="createSource != null  and createSource != ''">and create_source = #{createSource}</if>
      <if test="delFlg != null">and del_flg = #{delFlg}</if>
      <if test="fromDate != null ">and (create_time = #{fromDate} OR create_time > #{fromDate})</if>
      <if test="toDate != null ">and (create_time = #{toDate} OR create_time &lt; #{toDate})</if>
      <if test="consignee != null  and consignee != ''">and consignee = #{consignee}</if>
      <if test="containerNumber != null  and containerNumber != ''">and container_number = #{containerNumber}</if>
      <if test="vessel != null  and vessel != ''">and vessel = #{vessel}</if>
      <if test="vesselNo != null  and vesselNo != ''">and vessel_no = #{vesselNo}</if>
      <if test="voyNo != null  and voyNo != ''">and voy_no = #{voyNo}</if>
      <if test="sztp != null  and sztp != ''">and sztp = #{sztp}</if>
    </where>
    FETCH NEXT 1 ROWS ONLY
  </select>

  <insert id="insertEdo" parameterType="Edo" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="id" order="BEFORE" resultType="Long">
      select seq_edo.nextval as id from DUAL
    </selectKey>
    insert into edo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != 0">id,</if>
      <if test="carrierId != null ">carrier_id,</if>
      <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
      <if test="orderNumber != null  and orderNumber != ''">order_number,</if>
      <if test="releaseNo != null  and releaseNo != ''">release_no,</if>
      <if test="billOfLading != null  and billOfLading != ''">bill_of_lading,</if>
      <if test="businessUnit != null  and businessUnit != ''">business_unit,</if>
      <if test="consignee != null  and consignee != ''">consignee,</if>
      <if test="containerNumber != null  and containerNumber != ''">container_number,</if>
      <if test="expiredDem != null ">expired_dem,</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot,</if>
      <if test="detFreeTime != null and detFreeTime != ''">det_free_time,</if>
      <if test="secureCode != null  and secureCode != ''">secure_code,</if>
      <if test="releaseDate != null ">release_date,</if>
      <if test="vessel != null  and vessel != ''">vessel,</if>
      <if test="vesselNo != null and vesselNo != ''">vessel_no,</if>
      <if test="voyNo != null  and voyNo != ''">voy_no,</if>
      <if test="sztp != null  and sztp != ''">sztp,</if>
      <if test="status != null  and status != ''">status,</if>
      <if test="releaseStatus != null  and releaseStatus != ''">release_status,</if>
      <if test="createSource != null  and createSource != ''">create_source,</if>
      <if test="transactionId != null  and transactionId != ''">transaction_id,</if>
      <if test="remark != null  and remark != ''">remark,</if>
      <if test="delFlg != null ">del_flg,</if>
      <if test="createBy != null  and createBy != ''">create_by,</if>
      <if test="fileCreateTime != null">file_create_time,</if>
      <if test="pol != null  and pol != ''">pol,</if>
      <if test="pod != null  and pod != ''">pod,</if>
      <if test="consigneeByTaxCode != null">consignee_by_tax_code,</if>
      <if test="taxCode != null">tax_code,</if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="carrierId != null ">#{carrierId},</if>
      <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
      <if test="orderNumber != null  and orderNumber != ''">#{orderNumber},</if>
      <if test="releaseNo != null  and releaseNo != ''">#{releaseNo},</if>
      <if test="billOfLading != null  and billOfLading != ''">#{billOfLading},</if>
      <if test="businessUnit != null  and businessUnit != ''">#{businessUnit},</if>
      <if test="consignee != null  and consignee != ''">#{consignee},</if>
      <if test="containerNumber != null  and containerNumber != ''"> UPPER(#{containerNumber}),</if>
      <if test="expiredDem != null ">#{expiredDem},</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">#{emptyContainerDepot},</if>
      <if test="detFreeTime != null and detFreeTime != ''">#{detFreeTime},</if>
      <if test="secureCode != null  and secureCode != ''">#{secureCode},</if>
      <if test="releaseDate != null ">#{releaseDate},</if>
      <if test="vessel != null  and vessel != ''">#{vessel},</if>
      <if test="vesselNo != null  and vesselNo != ''">#{vesselNo},</if>
      <if test="voyNo != null  and voyNo != ''">#{voyNo},</if>
      <if test="sztp != null  and sztp != ''">#{sztp},</if>
      <if test="status != null  and status != ''">#{status},</if>
      <if test="releaseStatus != null  and releaseStatus != ''">#{releaseStatus},</if>
      <if test="createSource != null  and createSource != ''">#{createSource},</if>
      <if test="transactionId != null  and transactionId != ''">#{transactionId},</if>
      <if test="remark != null  and remark != ''">#{remark},</if>
      <if test="delFlg != null ">#{delFlg},</if>
      <if test="createBy != null  and createBy != ''">#{createBy},</if>
      <if test="fileCreateTime != null">#{fileCreateTime},</if>
      <if test="pol != null  and pol != ''">#{pol},</if>
      <if test="pod != null  and pod != ''">#{pod},</if>
      <if test="consigneeByTaxCode != null">#{consigneeByTaxCode},</if>
      <if test="taxCode != null">#{taxCode},</if>
      sysdate
    </trim>
  </insert>

  <update id="updateEdo" parameterType="Edo">
    update edo
    <trim prefix="SET" suffixOverrides=",">
      <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
      <if test="containerNumber != null  and containerNumber != ''">container_number = #{containerNumber},</if>
      <if test="expiredDem != null ">expired_dem = #{expiredDem},</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot =
        #{emptyContainerDepot},
      </if>
      <if test="detFreeTime != null and detFreeTime != ''">det_free_time = #{detFreeTime},</if>
      <if test="secureCode != null  and secureCode != ''">secure_code = #{secureCode},</if>
      <if test="releaseDate != null ">release_date = #{releaseDate},</if>
      <if test="vessel != null  and vessel != ''">vessel = #{vessel},</if>
      <if test="vesselNo != null  and vesselNo != ''">vessel_no = #{vesselNo},</if>
      <if test="voyNo != null  and voyNo != ''">voy_no = #{voyNo},</if>
      <if test="sztp != null  and sztp != ''">sztp = #{sztp},</if>
      <if test="status != null  and status != ''">status = #{status},</if>
      <if test="releaseStatus != null  and releaseStatus != ''">release_status = #{releaseStatus},</if>
      <if test="createSource != null  and createSource != ''">create_source = #{createSource},</if>
      <if test="transactionId != null  and transactionId != ''">transaction_id = #{transactionId},</if>
      <if test="remark != null  and remark != ''">remark = #{remark},</if>
      <if test="delFlg != null ">del_flg = #{delFlg},</if>
      <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
      <if test="houseBillId != null  and houseBillId != ''">house_bill_id = #{houseBillId},</if>
      update_time = sysdate
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteEdoById" parameterType="Long">
    delete from edo where id = #{id}
  </delete>

  <delete id="deleteEdoByIds" parameterType="String">
    delete from edo where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <select id="checkContainerAvailable" resultMap="EdoResult">
    <include refid="selectEdoVo"/>
    where container_number = #{container} and bill_of_lading = #{billNo}
  </select>
  <select id="getOpeCodeByBlNo" parameterType="String" resultType="String">
    select carrier_code
    from edo
    where bill_of_lading = #{blNo} and house_bill_id is null
    group by carrier_code
  </select>
  <select id="getCountContainerAmountByBlNo" parameterType="String" resultType="Long">
    select count(*)
    from edo
    where bill_of_lading = #{blNo}
    group by bill_of_lading
  </select>
  <select id="selectEdoListByBlNo" parameterType="String" resultMap="EdoResult">
    <include refid="selectEdoVo"/>
    where bill_of_lading = #{blNo} and house_bill_id is null
  </select>

  <select id="selectEdoListByBillNo" parameterType="Edo" resultMap="EdoResult">
    SELECT bill_of_lading, carrier_code, vessel, voy_no,(SELECT create_time from edo e2 where
    e1.bill_of_lading = e2.bill_of_lading ORDER BY create_time DESC FETCH NEXT 1 ROWS ONLY ) as create_time, (SELECT
    COUNT(*) FROM edo e2 WHERE e1.bill_of_lading = e2.bill_of_lading and del_flg = 0) AS number_container from edo e1
    <where>
      <if test="params.groupCode != null">
        and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
      <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
      <if test="releaseNo != null  and releaseNo != ''">and release_no = #{releaseNo}</if>
      <if test="billOfLading != null  and billOfLading != ''">and bill_of_lading like concat(concat('%',
        #{billOfLading}), '%')
      </if>
      <if test="carrierCode != null  and carrierCode != ''">and carrier_code = #{carrierCode}</if>
      <if test="carrierId != null">and carrier_id = #{carrierId}</if>
      <if test="businessUnit != null  and businessUnit != ''">and business_unit = #{businessUnit}</if>
      <if test="consignee != null  and consignee != ''">and consignee = #{consignee}</if>
      <if test="containerNumber != null  and containerNumber != ''">and upper(container_number) like upper(concat('%', concat(#{containerNumber}, '%')))</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">and empty_container_depot =
        #{emptyContainerDepot}
      </if>
      <if test="detFreeTime != null ">and det_free_time = #{detFreeTime}</if>
      <if test="secureCode != null  and secureCode != ''">and secure_code = #{secureCode}</if>
      <if test="releaseDate != null ">and release_date = #{releaseDate}</if>
      <if test="vesselNo != null  and vesselNo != ''">and vessel_no = #{vesselNo}</if>
      <if test="vessel != null  and vessel != ''">and vessel like concat(concat('%', #{vessel}), '%')</if>
      <if test="voyNo != null  and voyNo != ''">and voy_no = #{voyNo}</if>
      <if test="status != null  and status != ''">and status = #{status}</if>
      <if test="releaseStatus != null  and releaseStatus != ''">and release_status = #{releaseStatus}</if>
      <if test="createSource != null  and createSource != ''">and create_source = #{createSource}</if>
      <if test="fromDate != null ">and (create_time = #{fromDate} OR create_time > #{fromDate})</if>
      <if test="toDate != null ">and (create_time = #{toDate} OR create_time &lt; #{toDate})</if>
      <if test="params.toDate != null and params.toDate != ''">
        and create_time &lt;= to_date(#{params.toDate}, 'dd/MM/yyyy HH24:mi:ss')
      </if>
      <if test="params.fromDate != null and params.fromDate != ''">
        and create_time &gt;= to_date(#{params.fromDate},'dd/MM/yyyy HH24:mi:ss')
      </if>
    </where>
    GROUP BY bill_of_lading, carrier_code, vessel, voy_no
    ORDER BY create_time DESC
  </select>

  <select id="selectVoyNos" parameterType="Edo" resultMap="EdoResult">
    select distinct voy_no
    from edo
    <where>
      <if test="params.groupCode != null"> 
        and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
      <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
      <if test="vessel != null  and vessel != ''">and vessel like concat(concat('%', #{vessel}), '%')</if>
      <if test="voyNo != null  and voyNo != ''">and voy_no like concat(concat('%', #{voyNo}), '%')</if>
    </where>
  </select>

  <select id="selectOprCode" parameterType="Edo" resultMap="EdoResult">
    select distinct carrier_code
    from edo
    <where>
      <if test="carrierCode != null  and carrierCode != ''">and carrier_code like concat(concat('%', #{carrierCode}),
        '%')
      </if>
    </where>
  </select>

  <select id="selectVesselNo" parameterType="Edo" resultMap="EdoResult">
    select distinct vessel_no
    from edo
    <where>
      <if test="params.groupCode != null">
        and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
      <if test="VesselNo != null  and VesselNo != ''">and vessel_no like concat(concat('%', #{VesselNo}), '%')</if>
    </where>
  </select>

  <select id="selectVessels" parameterType="Edo" resultMap="EdoResult">
    select distinct vessel
    from edo
    <where>
      <if test="params.groupCode != null">
        and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      </if>
       <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
      <if test="vessel != null  and vessel != ''">and vessel like concat(concat('%', #{vessel}), '%')</if>
    </where>
  </select>

  <update id="updateEdoByBlCont" parameterType="Edo">
    update edo
    <trim prefix="SET" suffixOverrides=",">
      <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
      <if test="containerNumber != null  and containerNumber != ''">container_number = #{containerNumber},</if>
      <if test="expiredDem != null ">expired_dem = #{expiredDem},</if>
      <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot =
        #{emptyContainerDepot},
      </if>
      <if test="detFreeTime != null ">det_free_time = #{detFreeTime},</if>
      <if test="secureCode != null  and secureCode != ''">secure_code = #{secureCode},</if>
      <if test="releaseDate != null ">release_date = #{releaseDate},</if>
      <if test="vessel != null  and vessel != ''">vessel = #{vessel},</if>
      <if test="vesselNo != null  and vesselNo != ''">vessel_no = #{vesselNo},</if>
      <if test="voyNo != null  and voyNo != ''">voy_no = #{voyNo},</if>
      <if test="sztp != null  and sztp != ''">sztp = #{sztp},</if>
      <if test="status != null  and status != ''">status = #{status},</if>
      <if test="releaseStatus != null  and releaseStatus != ''">release_status = #{releaseStatus},</if>
      <if test="createSource != null  and createSource != ''">create_source = #{createSource},</if>
      <if test="transactionId != null  and transactionId != ''">transaction_id = #{transactionId},</if>
      <if test="remark != null  and remark != ''">remark = #{remark},</if>
      <if test="delFlg != null ">del_flg = #{delFlg},</if>
      <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
      <if test="consigneeByTaxCode != null">consignee_by_tax_code = #{consigneeByTaxCode},</if>
      <if test="taxCode != null">tax_code = #{taxCode},</if>
      update_time = sysdate
    </trim>
    where bill_of_lading = #{billOfLading} and container_number = #{containerNumber}
  </update>

  <select id="selectListEdoWithoutHouseBillId" parameterType="vn.com.irtech.eport.carrier.dto.EdoWithoutHouseBillReq" resultMap="EdoResult">
    <include refid="selectEdoVo"/>
    WHERE
      house_bill_id is null
      <if test="billOfLading != null  and billOfLading != ''">and bill_of_lading = #{billOfLading}</if>
      <if test="carrierCode != null  and carrierCode != ''">and business_unit = #{carrierCode}</if>
      <if test="expiredDem != null and expiredDem != ''">and TO_CHAR(expired_dem, 'DD/MM/YYYY') = #{expiredDem}</if>
      <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
    ORDER BY create_time DESC
  </select>

  <select id="getContainerAmountWithOrderNumber" resultType="int">
    select count(*) from edo
    where bill_of_lading = #{blNo} and order_number = #{orderNumber} and house_bill_id is null
  </select>

  <select id="getBlNoByHouseBillId" parameterType="Long" resultType="String">
    select bill_of_lading from edo
    where house_bill_id = #{id}
    FETCH NEXT 1 ROWS ONLY
  </select>

  <select id="selectListEdoWithHouseBill" parameterType="vn.com.irtech.eport.carrier.dto.EdoWithoutHouseBillReq" resultMap="EdoResult">
    select e.id, e.carrier_id, e.carrier_code, e.order_number, b.house_bill_no as bill_of_lading, e.business_unit, e.consignee, e.container_number,
    e.expired_dem, e.empty_container_depot, e.det_free_time, e.secure_code, e.release_date, e.vessel, e.vessel_no , e.voy_no, e.sztp,
    e.status, e.release_status, e.create_source, e.remark, e.del_flg, e.create_by, e.file_create_time, e.create_time, e.update_by,
    e.update_time, e.transaction_id, e.pol, e.pod, e.house_bill_id, e.consignee_by_tax_code, e.tax_code from edo e
    right join edo_house_bill b on e.house_bill_id = b.id
    WHERE
      b.house_bill_no = #{billOfLading}
      and e.business_unit = #{carrierCode}
      and TO_CHAR(e.expired_dem, 'DD/MM/YYYY') = #{expiredDem}
      and b.order_number = #{orderNumber}
    ORDER BY e.create_time DESC
  </select>
   

   <select id="getReportByCarrierGroup" parameterType="String" resultType="hashmap">
    SELECT 
			(SELECT COUNT(DISTINCT bill_of_lading) FROM edo where carrier_code in 
		        <foreach item="carrier_code" collection="array" open="(" separator="," close=")">
		            #{carrier_code}
		        </foreach>
        		) AS totalBl,
			(SELECT COUNT(container_number) FROM edo where carrier_code in 
		        <foreach item="carrier_code" collection="array" open="(" separator="," close=")">
		            #{carrier_code}
		        </foreach>
		        ) AS totalCont,
			(SELECT COUNT(DISTINCT bill_of_lading) FROM edo  where carrier_code in 
		        <foreach item="carrier_code" collection="array" open="(" separator="," close=")">
		            #{carrier_code}
		        </foreach>
		        AND status = 0) AS waitingBl,
			(SELECT COUNT(DISTINCT bill_of_lading) FROM edo where carrier_code in 
		        <foreach item="carrier_code" collection="array" open="(" separator="," close=")">
		            #{carrier_code}
		        </foreach>
		        AND status = 1) AS completedBl
            from edo
            FETCH NEXT 1 ROWS ONLY
	</select>

  <select id="getBillOfLadingInfo" parameterType="Edo" resultMap="EdoResult">
      <include refid="selectEdoVo"/>	
		<where>
 		<if test="billOfLading != null  and billOfLading != ''">and bill_of_lading = #{billOfLading}</if>
	     <if test="params.groupCode != null">
        	and carrier_code in
        <foreach item="carrier_code" collection="params.groupCode" open="(" separator="," close=")">
          #{carrier_code}
        </foreach>
      	</if>
		</where>
		FETCH NEXT 1 ROWS ONLY
  </select>
	
  <select id="selectEdoByIds" resultMap="EdoResult">
    select * from edo
    where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <update id="updateEdoByCondition" parameterType="Edo">
    update edo
    <trim prefix="SET" suffixOverrides=",">
      <if test="params.houseBillIdNull != null">house_bill_id = null,</if>
      <if test="releaseStatus != null and releaseStatus != ''">release_status = #{releaseStatus},</if>
      update_time = sysdate
    </trim>
    <where>
      <if test="params.houseBillIds != null">
        and house_bill_id in
        <foreach item="hBillId" collection="params.houseBillIds" open="(" separator="," close=")">
          #{hBillId}
        </foreach>
      </if>
      <if test="params.edoIds">
        and id in
        <foreach item="id" collection="params.edoIds" open="(" separator="," close=")">
          #{id}
        </foreach>
      </if>
    </where>
  </update>

  <select id="selectEdoListByHouseBill" resultMap="EdoResult">
    select distinct e.id, e.carrier_id, e.carrier_code, e.order_number, e.release_no, e.bill_of_lading, e.business_unit, e.consignee, e.container_number,
    e.expired_dem, e.empty_container_depot, e.det_free_time, e.secure_code, e.release_date, e.vessel, e.vessel_no , e.voy_no, e.sztp,
    e.release_status, e.create_source, e.remark, e.del_flg, e.create_by, e.file_create_time, e.create_time, e.update_by,
    e.update_time, e.transaction_id, e.pol, e.pod, e.house_bill_id, e.consignee_by_tax_code, e.tax_code , s.status as status
    from (
      select distinct eh.id, eh.carrier_id, eh.carrier_code, h.order_number, eh.release_no, eh.bill_of_lading, eh.business_unit, h.consignee2 as consignee, eh.container_number,
      eh.expired_dem, eh.empty_container_depot, eh.det_free_time, eh.secure_code, eh.release_date, eh.vessel, eh.vessel_no , eh.voy_no, eh.sztp,
      eh.release_status, eh.create_source, eh.remark, eh.del_flg, eh.create_by, eh.file_create_time, eh.create_time, eh.update_by,
      eh.update_time, eh.transaction_id, eh.pol, eh.pod, eh.house_bill_id, eh.consignee_by_tax_code, eh.tax_code
      from edo eh left join edo_house_bill h on eh.house_bill_id = h.id 
      <where>
        and h.house_bill_no2 is null
        and h.house_bill_no = #{houseBill}
      </where>
    ) e
    left join shipment_detail s on e.bill_of_lading = s.bl_no and e.container_number = s.container_no
    ORDER BY e.create_time DESC
  </select>
</mapper>