<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.carrier.mapper.EdoMapper">
    
    <resultMap type="Edo" id="EdoResult">
        <result property="id"    column="id"    />
        <result property="carrierId"    column="carrier_id"    />
        <result property="carrierCode"    column="carrier_code"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="billOfLading"    column="bill_of_lading"    />
        <result property="businessUnit"    column="business_unit"    />
        <result property="consignee"    column="consignee"    />
        <result property="containerNumber"    column="container_number"    />
        <result property="expiredDem"    column="expired_dem"    />
        <result property="emptyContainerDepot"    column="empty_container_depot"    />
        <result property="detFreeTime"    column="det_free_time"    />
        <result property="secureCode"    column="secure_code"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="vessel"    column="vessel"    />
        <result property="vesselNo"    column="vessel_no"    />
        <result property="voyNo"    column="voy_no"    />
        <result property="sztp"    column="sztp"    />
        <result property="status"    column="status"    />
        <result property="releaseStatus"    column="release_status"    />
        <result property="createSource"    column="create_source"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="remark"    column="remark"    />
        <result property="delFlg"    column="del_flg"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="fileCreateTime"    column="file_create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="numberContainer"    column="number_container"    />
    </resultMap>

    <sql id="selectEdoVo">
        select id, carrier_id, carrier_code, order_number, bill_of_lading, business_unit, consignee, container_number, expired_dem, empty_container_depot, det_free_time, secure_code, release_date, vessel, vessel_no , voy_no, sztp, status, release_status, create_source, remark, del_flg, create_by, file_create_time, create_time, update_by, update_time, transaction_id from edo
    </sql>

  

    <select id="selectEdoList" parameterType="Edo" resultMap="EdoResult">
        <include refid="selectEdoVo"/>
        <where>  
            <if test="carrierId != null "> and carrier_id = #{carrierId}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading = #{billOfLading}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_unit = #{businessUnit}</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="detFreeTime != null "> and det_free_time = #{detFreeTime}</if>
            <if test="secureCode != null  and secureCode != ''"> and secure_code = #{secureCode}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="delFlg != null  and delFlg != ''"> and del_flg = #{delFlg}</if>
            <if test="fromDate != null ">and (create_time = #{fromDate} OR create_time > #{fromDate})</if>
            <if test="toDate != null ">and (create_time = #{toDate} OR create_time &lt; #{toDate})</if>
            <if test="consignee != null  and consignee != ''"> and (upper(consignee) like concat(concat('%', #{consignee}), '%')</if>
            <if test="containerNumber != null  and containerNumber != ''"> or upper(container_number) like concat(concat('%', #{containerNumber}), '%')</if>
            <if test="vessel != null  and vessel != ''"> or upper(vessel) like concat(concat('%', #{vessel}), '%')</if>
            <if test="voyNo != null  and voyNo != ''"> or upper(voy_no) like concat(concat('%', #{voyNo}), '%'))</if>
            <if test="sztp != null  and sztp != ''"> or upper(sztp) like concat(concat('%', #{sztp}), '%'))</if>
        </where>
            ORDER BY create_time DESC
    </select>
    
    <select id="selectEdoById" parameterType="Long" resultMap="EdoResult">
        <include refid="selectEdoVo"/>
        where id = #{id}
    </select>
    
     <select id="selectFirstEdo" parameterType="Edo" resultMap="EdoResult">
        <include refid="selectEdoVo"/>
         <where>  
            <if test="carrierId != null "> and carrier_id = #{carrierId}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading = #{billOfLading}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_unit = #{businessUnit}</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="detFreeTime != null "> and det_free_time = #{detFreeTime}</if>
            <if test="secureCode != null  and secureCode != ''"> and secure_code = #{secureCode}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="delFlg != null"> and del_flg = #{delFlg}</if>
            <if test="fromDate != null ">and (create_time = #{fromDate} OR create_time > #{fromDate})</if>
            <if test="toDate != null ">and (create_time = #{toDate} OR create_time &lt; #{toDate})</if>
            <if test="consignee != null  and consignee != ''"> and consignee  = #{consignee}</if>
            <if test="containerNumber != null  and containerNumber != ''">and container_number = #{containerNumber}</if>
            <if test="vessel != null  and vessel != ''"> and vessel = #{vessel}</if>
             <if test="vesselNo != null  and vesselNo != ''"> and vessel_no = #{vesselNo}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="sztp != null  and sztp != ''"> and voy_no = #{sztp}</if>
        </where>
         FETCH NEXT 1 ROWS ONLY
    </select>
        
    <insert id="insertEdo" parameterType="Edo" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_edo.nextval as id from DUAL
		</selectKey>
        insert into edo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="carrierId != null ">carrier_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="orderNumber != null  and orderNumber != ''">order_number,</if>
            <if test="billOfLading != null  and billOfLading != ''">bill_of_lading,</if>
            <if test="businessUnit != null  and businessUnit != ''">business_unit,</if>
            <if test="consignee != null  and consignee != ''">consignee,</if>
            <if test="containerNumber != null  and containerNumber != ''">container_number,</if>
            <if test="expiredDem != null ">expired_dem,</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot,</if>
            <if test="detFreeTime != null ">det_free_time,</if>
            <if test="secureCode != null  and secureCode != ''">secure_code,</if>
            <if test="releaseDate != null ">release_date,</if>
            <if test="vessel != null  and vessel != ''">vessel,</if>
            <if test="vesselNo != null and vesselNo != ''">vessel_no,</if>
            <if test="voyNo != null  and voyNo != ''">voy_no,</if>
            <if test="sztp != null  and sztp != ''">sztp,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="releaseStatus != null  and releaseStatus != ''">release_status,</if>
            <if test="createSource != null  and createSource != ''">create_source,</if>
            <if test="transactionId != null  and transactionId != ''">transaction_id,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlg != null ">del_flg,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="fileCreateTime != null">file_create_time,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="carrierId != null ">#{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="orderNumber != null  and orderNumber != ''">#{orderNumber},</if>
            <if test="billOfLading != null  and billOfLading != ''">#{billOfLading},</if>
            <if test="businessUnit != null  and businessUnit != ''">#{businessUnit},</if>
            <if test="consignee != null  and consignee != ''">#{consignee},</if>
            <if test="containerNumber != null  and containerNumber != ''">#{containerNumber},</if>
            <if test="expiredDem != null ">#{expiredDem},</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">#{emptyContainerDepot},</if>
            <if test="detFreeTime != null ">#{detFreeTime},</if>
            <if test="secureCode != null  and secureCode != ''">#{secureCode},</if>
            <if test="releaseDate != null ">#{releaseDate},</if>
            <if test="vessel != null  and vessel != ''">#{vessel},</if>
            <if test="vesselNo != null  and vesselNo != ''">#{vesselNo},</if>
            <if test="voyNo != null  and voyNo != ''">#{voyNo},</if>
            <if test="sztp != null  and sztp != ''">#{sztp},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="releaseStatus != null  and releaseStatus != ''">#{releaseStatus},</if>
            <if test="createSource != null  and createSource != ''">#{createSource},</if>
            <if test="transactionId != null  and transactionId != ''">#{transactionId},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlg != null ">#{delFlg},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="fileCreateTime != null">#{fileCreateTime},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateEdo" parameterType="Edo">
        update edo
        <trim prefix="SET" suffixOverrides=",">
            <if test="carrierId != null ">carrier_id = #{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="orderNumber != null  and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="billOfLading != null  and billOfLading != ''">bill_of_lading = #{billOfLading},</if>
            <if test="businessUnit != null  and businessUnit != ''">business_unit = #{businessUnit},</if>
            <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
            <if test="containerNumber != null  and containerNumber != ''">container_number = #{containerNumber},</if>
            <if test="expiredDem != null ">expired_dem = #{expiredDem},</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''">empty_container_depot = #{emptyContainerDepot},</if>
            <if test="detFreeTime != null ">det_free_time = #{detFreeTime},</if>
            <if test="secureCode != null  and secureCode != ''">secure_code = #{secureCode},</if>
            <if test="releaseDate != null ">release_date = #{releaseDate},</if>
            <if test="vessel != null  and vessel != ''">vessel = #{vessel},</if>
            <if test="vesselNo != null  and vesselNo != ''">vessel_no = #{vesselNo},</if>
            <if test="voyNo != null  and voyNo != ''">voy_no = #{voyNo},</if>
            <if test="sztp != null  and sztp != ''">voy_no = #{sztp},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="releaseStatus != null  and releaseStatus != ''">release_status = #{releaseStatus},</if>
            <if test="createSource != null  and createSource != ''">create_source = #{createSource},</if>
            <if test="transactionId != null  and transactionId != ''">transaction_id = #{transactionId},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlg != null ">del_flg = #{delFlg},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEdoById" parameterType="Long">
        delete from edo where id = #{id}
    </delete>

    <delete id="deleteEdoByIds" parameterType="String">
        delete from edo where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
     <select id="checkContainerAvailable"  resultMap="EdoResult">
        <include refid="selectEdoVo"/>
        where container_number = #{container} and bill_of_lading = #{billNo}
    </select>
    <select id="getOpeCodeByBlNo" parameterType="String" resultType="String">
    	select carrier_code
    	from edo
    	where bill_of_lading = #{blNo}
    	group by carrier_code
    </select>
    <select id="getCountContainerAmountByBlNo" parameterType="String" resultType="Long">
    	select count(*)
    	from edo
    	where bill_of_lading = #{blNo}
    	group by bill_of_lading
    </select>
    <select id="selectEdoListByBlNo" parameterType="String" resultMap="EdoResult">
		<include refid="selectEdoVo"/>
	    where bill_of_lading = #{blNo} 
    </select>

    <select id="selectEdoListByBillNo" parameterType="Edo" resultMap="EdoResult">
         SELECT bill_of_lading, carrier_code, business_unit, vessel, vessel_no, voy_no,(SELECT create_time from edo e2 where e1.bill_of_lading = e2.bill_of_lading ORDER BY create_time DESC FETCH NEXT 1 ROWS ONLY ) as create_time, (SELECT COUNT(*) FROM edo e2 WHERE e1.bill_of_lading = e2.bill_of_lading) AS number_container from edo e1
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="billOfLading != null  and billOfLading != ''"> and bill_of_lading like concat(concat('%', #{billOfLading}), '%')</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="businessUnit != null  and businessUnit != ''"> and business_unit = #{businessUnit}</if>
            <if test="consignee != null  and consignee != ''"> and consignee = #{consignee}</if>
            <if test="containerNumber != null  and containerNumber != ''"> and container_number = #{containerNumber}</if>
            <if test="emptyContainerDepot != null  and emptyContainerDepot != ''"> and empty_container_depot = #{emptyContainerDepot}</if>
            <if test="detFreeTime != null "> and det_free_time = #{detFreeTime}</if>
            <if test="secureCode != null  and secureCode != ''"> and secure_code = #{secureCode}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="vesselNo != null  and vesselNo != ''"> and vessel_no = #{vesselNo}</if>
             <if test="vessel != null  and vessel != ''"> and vessel = #{vessel}</if>
            <if test="voyNo != null  and voyNo != ''"> and voy_no = #{voyNo}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="releaseStatus != null  and releaseStatus != ''"> and release_status = #{releaseStatus}</if>
            <if test="createSource != null  and createSource != ''"> and create_source = #{createSource}</if>
            <if test="params.toDate != null and params.toDate != ''">
				and date_format(expired_dem,'%y%m%d') &lt;= date_format(#{params.toDate},'%y%m%d')
			</if>
             <if test="params.fromDate != null and params.fromDate != ''">
				and date_format(expired_dem,'%y%m%d') &gt;= date_format(#{params.fromDate},'%y%m%d')
			</if>
        </where>
            GROUP BY bill_of_lading, carrier_code, business_unit,vessel , vessel_no, voy_no
    </select>

     <select id="selectVoyNo" parameterType="String" resultType="String">
    	select distinct voy_no 
    	from edo where voy_no like concat(concat('%', #{keyString}), '%')
     </select>

     <select id="selectOprCode" parameterType="String" resultType="String">
    	select distinct carrier_code
    	from edo where carrier_code like concat(concat('%', #{keyString}), '%')
     </select>

      <select id="selectVesselNo" parameterType="String" resultType="String">
    	select distinct vessel_no
    	from edo where vessel_no like concat(concat('%', #{keyString}), '%')
     </select>

      <select id="selectVesselList" parameterType="String" resultType="String">
    	select distinct vessel
    	from edo where vessel like concat(concat('%', #{keyString}), '%')
     </select>
     
</mapper>