<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.carrier.mapper.EquipmentDoAuditLogMapper">
    
    <resultMap type="EquipmentDoAuditLog" id="EquipmentDoAuditLogResult">
        <result property="id"    column="id"    />
        <result property="carrierId"    column="carrier_id"    />
        <result property="carrierCode"    column="carrier_code"    />
        <result property="doId"    column="do_id"    />
        <result property="seqNo"    column="seq_no"    />
        <result property="fieldName"    column="field_name"    />
        <result property="oldValue"    column="old_value"    />
        <result property="newValue"    column="new_value"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEquipmentDoAuditLogVo">
        select id, carrier_id, carrier_code, do_id, seq_no, field_name, old_value, new_value, create_by, create_time, update_by, update_time from equipment_do_audit_log
    </sql>

    <select id="selectEquipmentDoAuditLogList" parameterType="EquipmentDoAuditLog" resultMap="EquipmentDoAuditLogResult">
        <include refid="selectEquipmentDoAuditLogVo"/>
        <where>  
            <if test="carrierId != null "> and carrier_id = #{carrierId}</if>
            <if test="carrierCode != null  and carrierCode != ''"> and carrier_code = #{carrierCode}</if>
            <if test="doId != null "> and do_id = #{doId}</if>
            <if test="seqNo != null "> and seq_no = #{seqNo}</if>
            <if test="fieldName != null  and fieldName != ''"> and field_name like concat('%', #{fieldName}, '%')</if>
            <if test="oldValue != null  and oldValue != ''"> and old_value = #{oldValue}</if>
            <if test="newValue != null  and newValue != ''"> and new_value = #{newValue}</if>
        </where>
        ORDER BY seq_no DESC
    </select>
    
    <select id="selectEquipmentDoAuditLogById" parameterType="Long" resultMap="EquipmentDoAuditLogResult">
        <include refid="selectEquipmentDoAuditLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEquipmentDoAuditLog" parameterType="EquipmentDoAuditLog" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_equipment_do_audit_log.nextval as id from DUAL
		</selectKey>
        insert into equipment_do_audit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0 ">id,</if>
            <if test="carrierId != null ">carrier_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="doId != null ">do_id,</if>
            <if test="seqNo != null ">seq_no,</if>
            <if test="fieldName != null  and fieldName != ''">field_name,</if>
            <if test="oldValue != null  and oldValue != ''">old_value,</if>
            <if test="newValue != null  and newValue != ''">new_value,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0 ">#{id},</if>
            <if test="carrierId != null ">#{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="doId != null ">#{doId},</if>
            <if test="seqNo != null ">#{seqNo},</if>
            <if test="fieldName != null  and fieldName != ''">#{fieldName},</if>
            <if test="oldValue != null  and oldValue != ''">#{oldValue},</if>
            <if test="newValue != null  and newValue != ''">#{newValue},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <update id="updateEquipmentDoAuditLog" parameterType="EquipmentDoAuditLog">
        update equipment_do_audit_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="carrierId != null ">carrier_id = #{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code = #{carrierCode},</if>
            <if test="doId != null ">do_id = #{doId},</if>
            <if test="seqNo != null ">seq_no = #{seqNo},</if>
            <if test="fieldName != null  and fieldName != ''">field_name = #{fieldName},</if>
            <if test="oldValue != null  and oldValue != ''">old_value = #{oldValue},</if>
            <if test="newValue != null  and newValue != ''">new_value = #{newValue},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipmentDoAuditLogById" parameterType="Long">
        delete from equipment_do_audit_log where id = #{id}
    </delete>

    <delete id="deleteEquipmentDoAuditLogByIds" parameterType="String">
        delete from equipment_do_audit_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    

     <select id="getSeqNo" parameterType="Long" resultType="java.lang.Long">
        select seq_no from equipment_do_audit_log
        where do_id = #{id} 
    </select>
    <select id="selectDoAuditLogByDo" parameterType="EquipmentDoAuditLog" resultMap="EquipmentDoAuditLogResult">
        <include refid="selectEquipmentDoAuditLogVo"/>
        <where>  
            <if test="doId != null "> and do_id = #{doId}</if>
            <if test="fieldName != null  and fieldName != ''"> and field_name like concat(concat('%', #{fieldName}), '%')</if>
        </where>
        ORDER BY seq_no DESC FETCH NEXT 1 ROWS ONLY
    </select>


    <insert id="insertDoAuditLogExpiredDem" parameterType="EquipmentDoAuditLog" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_equipment_do_audit_log.nextval as id from DUAL
		</selectKey>
        insert into equipment_do_audit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="carrierId != null ">carrier_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="doId != null ">do_id,</if>
            <if test="seqNo != null ">seq_no,</if>
            <if test="fieldName != null  and fieldName != ''">field_name,</if>
            <if test="oldValue != null  and oldValue != ''">old_value,</if>
            <if test="newValue != null  and newValue != ''">new_value,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="carrierId != null ">#{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="doId != null ">#{doId},</if>
            <if test="seqNo != null ">#{seqNo},</if>
            <if test="fieldName != null  and fieldName != ''">#{fieldName},</if>
            <if test="oldValue != null  and oldValue != ''">#{oldValue},</if>
            <if test="newValue != null  and newValue != ''">#{newValue},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>

    <select id="selectDoAuditLogByDoId" parameterType="Long" resultType="String">
        select seq_no from equipment_do_audit_log
        WHERE do_id = #{doId} 
        ORDER BY seq_no DESC FETCH NEXT 1 ROWS ONLY
    </select>


     <insert id="insertDoAuditLogDetFreeTime" parameterType="EquipmentDoAuditLog" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select seq_equipment_do_audit_log.nextval as id from DUAL
		</selectKey>
        insert into equipment_do_audit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != 0">id,</if>
            <if test="carrierId != null ">carrier_id,</if>
            <if test="carrierCode != null  and carrierCode != ''">carrier_code,</if>
            <if test="doId != null ">do_id,</if>
            <if test="seqNo != null ">seq_no,</if>
            <if test="fieldName != null  and fieldName != ''">field_name,</if>
            <if test="oldValue != null  and oldValue != ''">old_value,</if>
            <if test="newValue != null  and newValue != ''">new_value,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
 			<if test="id != null">#{id},</if>
            <if test="carrierId != null ">#{carrierId},</if>
            <if test="carrierCode != null  and carrierCode != ''">#{carrierCode},</if>
            <if test="doId != null ">#{doId},</if>
            <if test="seqNo != null ">#{seqNo},</if>
            <if test="fieldName != null  and fieldName != ''">#{fieldName},</if>
            <if test="oldValue != null  and oldValue != ''">#{oldValue},</if>
            <if test="newValue != null  and newValue != ''">#{newValue},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate
         </trim>
    </insert>
</mapper>