<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="include :: header('Xac Nhan Lam Lenh')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/css/logistic/receiveContFull/style.css}" rel="stylesheet" />
    <link th:href="@{/css/logistic/check-cont-list-before-verify.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="content">
            <p>Quý khách có chắc chắn làm lệnh cho những container này?</p>
            <div class="payment-type-form">
                <label></span>Phương thức thanh toán </label>
                <input style="margin: 3px 10px 0 20px;" type="radio" name="paymentType" id="credit" value="1"/>
                <label id="creditLabel">Credit</label>
                <input style="margin: 3px 10px 0 20px;" type="radio" name="paymentType" id="cash" value="0" checked/>
                <label>Cash</label>
            </div>
            <div class="confirm-send-empty">
                <label></span>Xác nhận làm lệnh hạ container rỗng </label>
                <input style="margin: 3px 10px 0 20px;" type="radio" name="sendContEmpty" id="yes" value="1" checked/>
                <label>Có</label>
                <input style="margin: 3px 10px 0 20px;" type="radio" name="sendContEmpty" id="no" value="0"/>
                <label>Không</label>
            </div>
            <div class="table-content customTable">
                <table id="contTable" style="width: 100%; height: 100%;">
                    <thead>
                        <tr>
                            <th data-options="field:'id',halign:'center'" width="20%">Stt</th>
                            <th data-options="field:'blNo',halign:'center'" width="40%">B/L No</th>
                            <th data-options="field:'containerNo',halign:'center'" width="40%">Container No</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="layui-layer-btn footer">
            <a class="layui-layer-btn0" onclick="confirm()">Xác nhận</a>
            <a class="layui-layer-btn1" onclick="closeForm()">Hủy</a>
        </div>
    </div>
</body>
<th:block th:include="include :: footer" />
<th:block th:include="include :: easyui-js" />
<script type="text/javascript" th:inline="javascript">
    var shipmentDetails = /*[[${shipmentDetails}]]*/;
    var creditFlag = /*[[${creditFlag}]]*/;
    var sendContEmpty = /*[[${sendContEmpty}]]*/;
</script>
<script th:src="@{/js/logistic/receiveContFull/checkContListBeforeVerify.js}"></script>

</html>