<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:include="include :: header('Hạ bãi chờ xuất')" />
    <th:block th:include="include :: handsontable-css" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/css/logistic/receiveContFull/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="loader">
      <div class="loader__container">
        <div class="loader__icon">
          <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="loader__text text-white" id="loading-text">Loading....</div>
      </div>
    </div>
    <div id="wrapper">
      <div class="left-side">
        <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
        <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
        <div class="title-top">
          <span class="title">Danh sách lô</span>
          <div class="action-bar">
            <span><i class="fa fa-plus" title="Thêm mới" onclick="$.operate.addShipment()"></i></span>
            <span><i class="fa fa-edit" title="Chỉnh sửa" onclick="$.operate.editShipment()"></i></span>
            <span><i class="fa fa-refresh" title="Làm mới" onclick="handleRefresh();"></i></span>
          </div>
        </div>
        <hr />
        <div class="table-content">
          <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]">
            <thead>
              <tr>
                <th data-options="field:'id', fixed:true" width="1"></th>
                <th data-options="field:'edoFlg', fixed:true" width="1"></th>
                <th data-options="field:'blNo', halign:'center', resizable:true, fixed:true" sortable="true" width="150">B/L No</th>
                <th data-options="field:'taxCode', halign:'center', fixed:true" sortable="true" width="100">MST</th>
                <th data-options="field:'containerAmount', align:'right', halign:'center', fixed:true" sortable="true" width="70">Số Cont</th>
                <th data-options="field:'createTime', align:'right', halign:'center', formatter: formatDate, fixed:true" sortable="true" width="80">Ngày tạo</th>
                <th data-options="field:'remark', align:'right', halign:'center', formatter: formatRemark" sortable="true" width="150">Ghi chú</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="right-side">
        <div class="step-progress">
          <div id="step-area">
            <div class="left-info">
              <div>
                <span class="label-title">Mã Lô: </span>
                <span id="loCode"></span>
              </div>
              <div>
                <span class="label-title">Mã Số Thuế: </span>
                <span id="taxCode"></span>
              </div>
              <div>
                <span class="label-title">Số Lượng: </span>
                <span id="quantity"></span>
              </div>
              <div>
                <span class="label-title">Loại Lệnh: </span>
                <span id="dotype"></span>
              </div>
              <div>
                <span class="label-title">B/L No: </span>
                <span id="blNo"></span>
              </div>
            </div>
            <ul class="right-info">
              <li><a id="registerStatus" class="disable">Khai báo</a></li>
              <li><a id="customStatus" class="disable">Thông quan</a></li>
              <li><a id="verifyStatus" class="disable">Xác nhận</a></li>
              <li><a id="paymentStatus" class="disable">Thanh toán</a></li>
              <li><a id="finishStatus" class="disable">Hoàn thành</a></li>
            </ul>
          </div>
        </div>
        <div class="title-top">
          <div class="left-button-bar">
            <button id="saveShipmentDetailBtn" class="btn btn-sm btn-primary" onclick="saveShipmentDetail()">Lưu khai báo</button>
            <button id="deleteBtn" class="btn btn-sm btn-primary" onclick="deleteShipmentDetail()" disabled>Xóa</button>
            <button id="customBtn" class="btn btn-sm btn-primary" onclick="checkCustomStatus()" disabled>Khai Hải Quan</button>
            <button id="pickContOnDemandBtn" class="btn btn-sm btn-primary" onclick="pickContOnDemand()">Bốc Cont Chỉ Định</button>
            <button id="verifyBtn" class="btn btn-sm btn-primary" onclick="verify()" disabled>Xác Nhận</button>
            <button id="payBtn" class="btn btn-sm btn-primary" onclick="pay()" disabled>Thanh Toán</button>
          </div>
          <div class="search-bar">
            <button id="exportBillBtn" class="btn btn-sm btn-success" onclick="exportBill()" disabled>Xuất Hóa Đơn</button>
          </div>
        </div>
        <hr />
        <div id="container-grid" class="hot handsontable htColumnHeaders"></div>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: handsontable-js" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: websocket" />
    <script type="text/javascript" th:inline="javascript">
      var emptyDepots = /*[[${emptyDepots}]]*/;
    </script>
    <script th:src="@{/js/logistic/receiveContFull/index.js}"></script>
  </body>
</html>
