/* CSS STYLE UPDATE FILE AUTHOR MINHTC */
#submitFile {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropzone {
    border: 0px solid rgba(0,0,0,0.3);
}
.dropzoneStyle {
    max-height: 220px;
    min-height: 220px;
    align-items: center;
}
.panel-body {
    border-top: 1px solid #95B8E7;
    font-size: 20px;
    color: #3C8DBC;
}
.dz-button {
    margin-top: 22px;
}
