<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="include :: header('Robot History')" />
  <th:block th:include="include :: easyui-css" />
  <link th:href="@{/css/history/truck/style.css}" rel="stylesheet" />
</head>

<body class="container-fluid white-bg">
  <section class="filter">
    <div class="row section-header">
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <input type="text" class="form-control" id="searchAllInput" placeholder="Tìm kiếm" name="keyword" />
      </div>
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <select class="form-control" onchange="changeServiceType()" id="seviceTypeSelect">
          <option value="" disabled selected>Chọn loại lệnh</option>
          <option value="">Tất cả</option>
          <option value="1">Nhận container hàng</option>
          <option value="2">Giao container rỗng</option>
          <option value="3">Nhận container rỗng</option>
          <option value="4">Giao container hàng</option>
          <option value="5">Dịch chuyển container</option>
          <option value="6">Đổi tàu/chuyến</option>
          <option value="9">Gia hạn lệnh</option>
          <option value="7">Tạo booking</option>
          <option value="8">Gate-in</option>
          <option value="10">Terminal/Custom Hold</option>
          <option value="11">Hủy hạ hàng</option>
          <option value="12">Hủy bốc rỗng</option>
          <option value="13">Xuất hóa đơn</option>
          <option value="14">Gia hạn detension</option>
          <option value="20">Remark cont quá khổ</option>
        </select>
      </div>
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <select class="form-control" onchange="changeResult()" id="resultSelect">
          <option value="" disabled selected>Kết quả</option>
          <option value="">Tất cả</option>
          <option value="S">Thành công</option>
          <option value="F">Thất bại</option>
        </select>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-4">
        <input class="date-input" id="fromDate" name="from-date" placeholder="Từ ngày" readOnly />
        <input class="date-input" id="toDate" name="to-date" placeholder="Đến ngày" readOnly />
      </div>
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <button class="btn btn-primary" title="Tìm kiếm" onclick="loadTable()">
          <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-warning" title="Làm mới" onclick="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="row section-content">
      <div class="col-md-12">
        <table id="dg" style="width: 99%;" pageList="[20,50,100,150,200]" fitColumns="true">
          <thead>
            <tr>
              <th data-options="field: 'robotUuid', halign: 'center', resizable: true" sortable="true" width="150">Tên
                robot</th>
              <th data-options="field: 'serviceType', halign: 'center', resizable: true, formatter: formatServiceType"
                sortable="true" width="150">Loại lệnh</th>
              <th data-options="field:'result', halign:'center', align:'center', formatter: formatResult"
                sortable="true" width="150">Kết quả</th>
              <!-- <th data-options="field: 'status', halign: 'center', align: 'center', formatter: formatStatus"
                sortable="true" width="150">Trạng thái</th> -->
              <th data-options="field:'startTime', align: 'center', halign:'center', formatter: formatDate, fixed: true"
                sortable="true" width="150">Thời gian bắt đầu</th>
              <th
                data-options="field:'finishTime', align: 'center', halign:'center', formatter: formatDate, fixed: true"
                sortable="true" width="150">Thời gian kết thúc</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <script th:src="@{/eport/js/modules/history/robot-history.js}"></script>
</body>

</html>