<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('Edit Depo Account')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-account-edit" th:object="${carrierAccount}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Tên Depo</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <select class="fullName" id="fullName" style="width: 300px;" disabled></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Mã vận hành</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input type="hidden" name="carrierCode" th:field="*{carrierCode}" id="carrierCode">
                    <select class="carrierCodes" id="carrierCodes" style="width: 300px;"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Tên đăng nhập(Email)</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="email" th:field="*{email}" class="form-control" type="text" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-4 col-md-2 control-label is-required">Họ và tên</label>
                <div class="col-sm-9 col-xs-8 col-md-10">
                    <input name="fullName" th:field="*{fullName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="status" th:field="*{status}" id="status">
                <label class="col-sm-3 col-xs-4 col-md-2 control-label">Trạng thái</label>
                <div id="toggle" class="col-sm-9 col-xs-8 col-md-10"></div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = ctx + "depo/account";
        var operateArray = [];

        $("#form-account-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-account-edit').serialize());
            }
        }

        // $("input[name='loginDate']").datetimepicker({
        //     dateFormat: "dd-MM-yyyy",
        //     minView: "month",
        //     language: 'en'
        // });
        $(document).ready(function () {

            // Init carrier code select 2
            $('.carrierCodes').select2({
                ajax: {
                    url: ctx + 'carrier/group/searchAllOperateCodeByKeyword',
                    method: 'get',
                    delay: 250,
                    data: function (params) {
                        return {
                            keyword: params.term == null ? "" : params.term,
                            groupId: $(".groupName").val() == null ? "0" : $(".groupName").val(),
                            operateArray: operateArray
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        }
                    }
                },
                placeholder: 'Chọn Mã vận hành',
                minimumInputLength: 0,
                multiple: true,
            });
        });

        setTimeout(() => {
            if ($("#status").val() == 0) {
                document.getElementById("toggle").innerHTML = '<i class="fa fa-toggle-on text-info fa-2x" onclick="clickToggle()"></i>';
            } else {
                document.getElementById("toggle").innerHTML = '<i class="fa fa-toggle-off text-info fa-2x" onclick="clickToggle()"></i>';
            }
            // Init carrier code select 2
            var operates = $('#carrierCode').val().split(",");
            for (var i = 0; i < operates.length; i++) {
                var $option = $("<option selected></option>").val(operates[i]).text(operates[i]);
                $('.carrierCodes').append($option).trigger('change');
            }
        }, 200);

        // when select option carrier code
        $('.carrierCodes').change(function () {
            operateArray = $(".carrierCodes").val();
            var str = "";
            if (operateArray != null) {
                for (var i = 0; i < operateArray.length; i++) {
                    str += operateArray[i] + ",";
                }
                str = str.substring(0, str.length - 1);
                $('#carrierCode').val(str);
            }
        });

        function clickToggle() {
            if ($("#status").val() == 0) {
                document.getElementById("toggle").innerHTML = '<span class="fa fa-toggle-off text-info fa-2x" onclick="clickToggle()"></span>';
                $("#status").val(1);
            } else {
                document.getElementById("toggle").innerHTML = '<span class="fa fa-toggle-on text-info fa-2x" onclick="clickToggle()"></span>';
                $("#status").val(0);
            }
        }
    </script>
</body>

</html>