@mixin d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin vertical-align-height ($height) {
  height: $height;
  line-height: $height;
}
$blue: #1c84c6;
$dark-grey: darkgrey;
.datagrid-header-row > td {
  color: $blue;
  font-weight: bold;
}
.textTitle {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
}
.table-left {
  position: relative;
  border-right: 1px solid $dark-grey;
  padding-right: 15px;
}
.table-left .btn-collapse {
  position: absolute;
  right: 0;
  top: 45%;
  font-size: 2.5em;
  cursor: pointer;
}
.billNoView {
  display: flex;
}
.combobox-carrier {
  margin-left: 5px;
}

.left {
  border-right: 1px solid $dark-grey;
  padding-right: 15px;
  width: 20%;
}
