/* CSS STYLE UPDATE FILE AUTHOR MINHTC */
#submitFile {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}