<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('Login log list')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="logininfor-form">
					<div class="select-list">
						<ul>
							<li>
								IP Đăng Nhập:<input type="text" name="ipaddr"/>
							</li>
							<li>
								Tên Đăng Nhập:<input type="text" name="loginName"/>
							</li>
							<li>
								Trạng Thái:<select name="status" th:with="type=${@dict.getType('sys_common_status')}">
									<option value="" th:text="#{login.all}"></option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label style="width:100px">Ngày Đăng Nhập</label>
								<input type="text" class="time-input" id="startTime" placeholder="Từ" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="Đến" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Làm mới</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:logininfor:remove">
		            <i class="fa fa-remove">&nbsp;Xóa</i>
		        </a>
		        <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:logininfor:remove">
	                <i class="fa fa-trash">&nbsp;Xóa tất cả</i>
	            </a>
				<a class="btn btn-primary single disabled" onclick="unlock()" shiro:hasPermission="monitor:logininfor:unlock">
					<i class="fa fa-unlock">&nbsp;Mở khóa</i>
				</a>
	     <!--/*/    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:logininfor:export">
		            <i class="fa fa-download">&nbsp;Xuất</i>
		        </a>  /*/-->
	        </div>
        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
	    var datas = [[${@dict.getType('sys_common_status')}]];
		var prefix = ctx + "monitor/logininfor";
	
		$(function() {
		    var options = {
		        url: prefix + "/list",
		        cleanUrl: prefix + "/clean",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "loginTime",
		        sortOrder: "desc",
		        modalName: "Login log",
		        escape: true,
		        showPageGo: true,
		        rememberSelected: true,
		        columns: [{
		        	field: 'state',
		            checkbox: true
		        },
		        {
		            field: 'infoId',
		            title: /*[[#{login.table.id}]]*/
		        },
		        {
		            field: 'loginName',
		            title: "Tên đăng nhập",
		            sortable: true
		        },
		        {
		            field: 'ipaddr',
		            title: "Địa chỉ đăng nhập"
		        },
		        {
		            field: 'loginLocation',
		            title: "Nơi thực hiện"
		        },
		        {
		            field: 'browser',
		            title: "Trình duyệt"
		        },
		        {
		            field: 'os',
		            title: "Hệ thống chạy"
		        },
		        {
		            field: 'status',
		            title: "Trạng thái",
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'msg',
		            title: "Thông tin"
		        },
		        {
		            field: 'loginTime',
		            title: "Thời gian đăng nhập",
		            sortable: true
		        }]
		    };
		    $.table.init(options);
		});
		
		function unlock() {
            $.operate.post(prefix + "/unlock?loginName=" + $.table.selectColumns("loginName"));
        }
	</script>
</body>
</html>