<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('Thông tin Lô')" />
    <th:block th:include="include :: handsontable-css" />
    <th:block th:include="include :: bootstrap-toggle-css" />
    <link th:href="@{/eport/css/eport.css}" rel="stylesheet" />
    <link th:href="@{/css/om/executeCatos/edit.css}" rel="stylesheet" />
  </head>
  <body class="container-fluid white-bg">
    <section class="header">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Loại Lệnh: </b>
          <span id="serviceType"></span>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <b class="label-title">Chủ Hàng: </b>
          <span id="consignee"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Mã Số Thuế: </b>
          <span id="taxCode"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">B/L No.: </b>
          <span id="blNo"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Booking No.: </b>
          <span id="bookingNo"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Phương Thức Thanh Toán: </b>
          <span id="payType"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Hạn Lệnh: </b>
          <span id="pickupDate"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Tàu: </b>
          <span id="vessel"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <b class="label-title">Chuyến: </b>
          <span id="voyage"></span>
        </div>
      </div>
    </section>
    <div class="row mt10">
      <div class="col-md-12">
        <label>
          <h4><label>Nhận làm lệnh</label></h4>
          <input
            id="toggle-status"
            type="checkbox"
            data-on="<i class='fa fa-cog fa-spin fa-fw'></i>&nbsp;Đang làm lệnh"
            data-off="Không"
            data-onstyle="success"
            data-offstyle="default"
          />
        </label>
      </div>
      <div class="col-md-12">
        <h4>Danh sách Lệnh</h4>
      </div>
    </div>
    <section class="content">
    <div id="container-grid" class="hot handsontable htColumnHeaders"></div>

    </section>
    <section class="content-bottom mt10">
      <div class="panel panel-success">
        <div class="panel-heading">Nhập Invoice No.</div>
        <div class="panel-body">
          <div class="input-group p10">
            <span class="input-group-addon">Mã Lệnh </span>
            <input type="text" class="form-control" id="invoiceNo" placeholder="Invoice No.">
          </div>
        </div>
      </div>
    </section>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: handsontable-js" />
    <script type="text/javascript" th:inline="javascript">
      var orderList = /*[[${orderList}]]*/;
    </script>
    <th:block th:include="include :: bootstrap-toggle-js" />
    <script th:src="@{/eport/js/modules/om/executeCatos/edit.js}"></script>
  </body>
</html>
