<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('Hỗ trợ Robot làm lệnh')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/css/om/executeCatos/executeCatos.css}" rel="stylesheet" />
  </head>

  <body class="container-fluid white-bg">
    <section class="filter mb20 mt20">
      <div class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="searchBox">Tìm kiếm</label>
          <div class="input-group">
            <input type="text" class="form-control" id="searchAllInput" placeholder="Tìm kiếm" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="serviceType">Loại lệnh</label>
          <div class="input-group">
            <select class="form-control" onchange="changeServiceType()" name="seviceTypeSelect" id="seviceTypeSelect">
              <option value='' selected disabled>Chọn Loại Lệnh</option>
              <option value=''>Tất cả</option>
              <option value='1'>Nhận container hàng</option>
              <option value='2'>Giao container rỗng</option>
              <option value='3'>Nhận container rỗng</option>
              <option value='4'>Giao container hàng</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="status">Loại lệnh</label>
          <div class="input-group">
            <select class="form-control" onchange="changeStatus()" name="status" id="status">
              <option value=''>Tất cả</option>
              <option value='0' selected>Đang chờ</option>
              <option value='3'>Bị lỗi</option>
              <option value='1'>Đang làm</option>
              <option value='2'>Đã hoàn thành</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" onclick="loadTable()"><i class="fa fa-search"></i>&nbsp;Search</button>
      </div>
    </section>
    <section class="content">
      <table id="dg" style="width: 99%;" pageList="[20, 50, 100, 150, 200]" fitColumns="true">
        <thead>
          <tr>
            <th data-options="field: 'id', halign: 'center', align: 'right', resizable: true, fixed: 'true'" width="150" sortable="true">Mã Lệnh</th>
            <th data-options="field: 'serviceType', halign: 'center', align: 'left', resizable: true, formatter: formatServiceType, fixed: 'true'" width="150" sortable="true">Loại Lệnh</th>
            <th data-options="field: 'status', halign: 'center', align:'center', resizable:true, formatter: formatStatus, fixed: 'true'" width="150" sortable="true">Trạng Thái</th>
            <th data-options="field: 'taxCode', halign: 'center', align:'center', resizable: true, fixed: 'true'" width="150" sortable="true">Mã Số Thuế</th>
            <th data-options="field: 'vessel', halign: 'center', align:'center', resizable: true, fixed: 'true'" width="150" sortable="true">Tàu</th>
            <th data-options="field: 'voyage', halign: 'center', align:'center', resizable: true, fixed: 'true'" width="150" sortable="true">Chuyến</th>
            <th data-options="field: 'formatAction', halign: 'center', align:'center', resizable: true, formatter: formatAction" width="150" sortable="true">Hành Động</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/eport/js/modules/om/executeCatos/executeCatos.js}"></script>
  </body>
</html>
