<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <head>
    <th:block th:include="include :: header('List Exchange Delivery Order')" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: handsontable-css" />
    <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/eport/css/eport.css}" rel="stylesheet"/>
    <link th:href="@{/eport/css/edo/manage/edo.css}" rel="stylesheet" />
  </head>
  <body class="bg-gray">
    <div class="col-sm-12">
        <div class="form-inline mt10 mb10" >
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="searchInfoProcessOrder" id="searchInfoProcessOrder" placeholder="Tìm kiếm" />
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="logistic">Logistic</label>
          <div class="input-group">
            <select class="form-control" id="logistic">
              <option th:each="logistic, iterator : ${logisticsGroups}" th:value=${logistic.id} th:text=${logistic.groupName}>
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" style="margin-left: 70px;">
          <a class="btn btn-primary btn-rounded btn-sm" onclick="searchDo()" id="searchInfoProcessOrder"><i
            class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
        </div>
        <div class="form-group margin-input">
            <label class="sr-only"> Thông Báo Kết Quả</label>
            <div class="input-group">
              <button class="btn btn-success btn-sm" id="checkCustomStatusByProcessOrderId" onclick="notifyResult()"><i
                  class="fa fa-pencil-square-o"></i>Thông Báo Kết Quả</button>
            </div>
          </div>
<!--           <div class="form-group margin-input">
            <label class="sr-only">Đồng Bộ Thông Quan Với Catos</label>
            <div class="input-group">
              <button class="btn btn-success btn-sm" id="checkProcessStatusByProcessOrderId" onclick="resetProcessStatus() "><i
                  class="fa fa-pencil-square-o"></i> Đồng Bộ Thông Quan Với Catos</button>
            </div>
          </div> -->
      </div> <!-- //end form -->
    </div>
    <div class="col-sm-12 container-fluid wrapper">
    <section class="left">
      <div class="fixed" id="btn-collapse"><i class="fa fa-caret-left"></i></div>
      <div class="fixed" id="btn-uncollapse"><i class="fa fa-caret-right"></i></div>
      <table id="dg">
        <thead>
            <tr>
              <th data-options="field:'waitingTime',align:'center', formatter: formatUpdateTime" width="70">
                Số phút
              </th>
              <th data-options="field:'id',align:'center'" width="50">
                Mã Lô
              </th>
              <th data-options="field: 'logisticName', halign: 'center', resizable: true, formatter: formatLogistic" width="120" sortable="true">
                Logistics
              </th>
              <th data-options="field: 'blNo', halign: 'center', resizable:true" width="110">
                BL No
              </th>
              <th data-options="field:'opeCode',align:'center'" width="40">
                OPR
              </th>
              <th data-options="field:'edoFlg',align:'center', formatter: formatType" width="40">
                Loại
              </th>
              <th data-options="field:'containerAmount',align:'center'" width="40">
                SL
              </th>
              <th data-options="field:'customScanTime',align:'left'" width="150">
                Thời gian<br> quét tờ khai
              </th>
            </tr>
        </thead>
      </table>
    </section>
    <section class="right ml10">
      <div id="container-grid" class="hot handsontable htColumnHeaders"></div>
    </section>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: handsontable-js" />
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
    <script th:src="@{/eport/js/modules/om/support/customReceiveFull/customReceiveFull.js}"></script>
  </body>

</html>