<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="include :: header('Truck History')" />
  <th:block th:include="include :: easyui-css" />
  <link th:href="@{/css/history/truck/style.css}" rel="stylesheet" />
</head>

<body class="container-fluid white-bg">
  <section class="filter">
    <div class="row section-header">
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." id="searchAllInput" name="keyword" />
      </div>
      <div class="form-group col-md-8 col-sm-8 col-xs-8">
        <span>
          <label>Đã vào cổng từ:</label>
          <input class="from-date date-input" id="fromDate" placeholder="dd/mm/yyyy" readonly>
        </span>
        <span>
          <label>đến:</label>
          <input class="to-date date-input" id="toDate" placeholder="dd/mm/yyyy" readonly>
        </span>
      </div>
      <div class="form-group col-md-2 col-sm-2 col-xs-2">
        <button class="btn btn-primary" onclick="loadTable()">
          <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-warning" onclick="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
    <div class="row section-content">
      <div class="col-md-12">
        <table id="dg" style="width: 99%;" pageList="[20,50,100,150,200]">
          <thead>
            <tr>
              <th data-options="field:'logisticName', halign:'center', formatter: function(value, row) { return row.logisticGroup.groupName }" width="200">Đơn vị logistic</th>
              <th data-options="field:'blNo', halign:'center', align:'left', formatter: formatBillBooking" width="150">Bill/Booking No</th>
              <th data-options=" field: 'driver', halign: 'center', resizable: true, formatter: function(value,row){return row.driver.fullName}" width="150">Tên tài xế</th>
              <th data-options=" field: 'driverPhone', halign: 'center', resizable: true, formatter: function(value,row){return row.driver.mobileNumber}" width="150">Số điện thoại</th>
              <th data-options=" field:'shipmentDetail', halign:'center', align:'center', formatter: function(value,row){return row.shipmentDetail.containerNo}" width="150">Container</th>
              <th data-options=" field:'gateinDate', align:'center', formatter: formatDate" sortable="true" width="150">Giờ vào cổng</th>
              <th data-options=" field:'createTime', halign:'center', align:'center', formatter: formatDate" sortable="true" width="150">Ngày nhận lệnh</th>
              <th data-options="field:'truckNo', align:'center',halign:'center'" sortable="true" width="150">Biển số xe đầu kéo</th>
              <th data-options="field:'chassisNo', align:'center',halign:'center'" sortable="true" width="150">Biển số xe rơ móc</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <script th:src="@{/eport/js/modules/history/truck-history.js}"></script>
</body>

</html>