.datagrid-header-row > td {
    color: #1C84C6;
    font-weight: bold;
  }
.width150 {
    width: 150%;
    margin-bottom: 15px;
    border-radius: 0px;
}
.c-search-box-vessel {
  border-radius: 0px;
}