<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('Quản lý xe')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: easyui-css" />
</head>
<body class="gray-bg">
     <!-- <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>Bien So Xe：</label>
                                <input type="text" name="plateNumber"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()">
                    <i class="fa fa-plus"></i> Add
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                    <i class="fa fa-remove"></i> Delete
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()">
                    <i class="fa fa-download"></i> Export
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div> -->
    <div id="wrapper">
        <div class="row">
          <div class="col-sm-12 select-table" style="margin-top: 0px; padding-bottom:5px">
            <!-- Table toolbar -->
            <div class="col-sm-12 fixed-table-toolbar">
              <div class="bs-bars pull-left" style="margin-bottom: 5px;margin-top:0px">
                <div class="btn-group-sm" id="toolbar" role="group">
                  <a class="btn btn-success" onclick="addTruck()">
                    <i class="fa fa-plus"></i> Thêm mới
                  </a>
                </div>
              </div>
              <div class="columns columns-right btn-group pull-right" style="margin-bottom: 0px;margin-top:0px">
    
                <div class="select-list">
                  <ul>
                    <li>
                        <input type="text" id= "plateNumber" placeholder="Biển số xe" autocomplete=off/>
                    </li>
                    <li>
                      <a class="btn btn-primary btn-rounded btn-sm" onclick="loadTable()" id="searchBtn"><i
                          class="glyphicon glyphicon-search"></i> Tìm Kiếm</a>
                    </li>
                    <li>
                      <a class="btn btn-info btn-rounded btn-sm" onclick="reset()" id="resethBtn"><i
                          class="glyphicon glyphicon-refresh"></i> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /table toolbar -->
            <div class="col-sm-12 table-container">
              <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]">
                <thead>
                  <tr>
                    <th data-options="field:'id',align:'right',halign:'center'" width ="5%">
                      ID
                    </th>
                    <th data-options="field:'plateNumber',align:'center', halign:'center'" sortable="true" width="25%">
                      Biển số xe
                    </th>
                    <th data-options="field:'type',align:'center', halign:'center',formatter: formatType" sortable="true" width="15%">
                      Loại xe
                    </th>
                    <th data-options="field:'wgt',align:'center', halign:'center'" sortable="true" width="15%">
                      Tải trọng
                    </th>
                    <th data-options="field:'registryExpiryDate', halign:'center',align:'center', formatter: formatDate" sortable="true" width="15%">
                      Hạn đăng kiểm
                    </th>
                    <th data-options="field:'value' ,align:'center',formatter: formatAction" width="25%" >
                      Hành động
                    </th> 
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: easyui-js" />
    <script th:src="@{/js/logistic/logisticTruck/logisticTruck.js}"></script>
</body>
</html>