<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.irtech.eport.edo.mapper.EquipmentDocumentMapper">
    
    <resultMap type="EquipmentDocument" id="EquipmentDocumentResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="originalFileName"    column="original_file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="mimeType"    column="mime_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEquipmentDocumentVo">
        select id, file_name, original_file_name, file_path, mime_type, create_by, create_time, update_by, update_time from equipment_document
    </sql>

    <select id="selectEquipmentDocumentList" parameterType="EquipmentDocument" resultMap="EquipmentDocumentResult">
        <include refid="selectEquipmentDocumentVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="originalFileName != null  and originalFileName != ''"> and original_file_name like concat('%', #{originalFileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="mimeType != null  and mimeType != ''"> and mime_type = #{mimeType}</if>
        </where>
    </select>
    
    <select id="selectEquipmentDocumentById" parameterType="Long" resultMap="EquipmentDocumentResult">
        <include refid="selectEquipmentDocumentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEquipmentDocument" parameterType="EquipmentDocument" useGeneratedKeys="true" keyProperty="id">
        insert into equipment_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="originalFileName != null  and originalFileName != ''">original_file_name,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="mimeType != null  and mimeType != ''">mime_type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="originalFileName != null  and originalFileName != ''">#{originalFileName},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="mimeType != null  and mimeType != ''">#{mimeType},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEquipmentDocument" parameterType="EquipmentDocument">
        update equipment_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="originalFileName != null  and originalFileName != ''">original_file_name = #{originalFileName},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="mimeType != null  and mimeType != ''">mime_type = #{mimeType},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEquipmentDocumentById" parameterType="Long">
        delete from equipment_document where id = #{id}
    </delete>

    <delete id="deleteEquipmentDocumentByIds" parameterType="String">
        delete from equipment_document where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>