<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Khai báo chung</title>
    <th:block th:include="include :: header('Khai báo chung')" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link rel="stylesheet" th:href="@{/css/logistic/detail.css}" />
  </head>

  <body>
    <div class="container-fluid">
      <form id="form-detail-add" class="form-horizontal">
        <div class="form-horizontal mt10">
          <div class="form-group col-sm-6">
            <label class="control-label col-sm-4 col-xs-6" for="cont"
              ><b class="text-black">Số container:</b></label
            >
            <div class="col-sm-8 col-xs-6">
              <input
                type="text"
                class="form-control"
                id="containerNo"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label col-sm-4 col-xs-6" for="size"
              ><b class="text-black">Kích thước:</b></label
            >
            <div class="col-sm-8 col-xs-6">
              <input type="text" class="form-control" id="sztp" readonly />
            </div>
          </div>
        </div>
        <div class="col-sm-12 text-black">
          <section class="tabs">
            <input
              id="tab-1"
              type="radio"
              name="radio-set"
              class="tab-selector-1"
              checked="checked"
            />
            <label for="tab-1" class="tab-label-1">Thông tin chung</label>

            <input
              id="tab-2"
              type="radio"
              name="radio-set"
              class="tab-selector-2"
            />
            <label for="tab-2" class="tab-label-2">Quá khổ</label>

            <input
              id="tab-3"
              type="radio"
              name="radio-set"
              class="tab-selector-3"
            />
            <label for="tab-3" class="tab-label-3">Nguy hiểm</label>

            <div class="clear"></div>

            <div class="content">
              <div class="content-1">
                <div
                  class="form-horizontal mt10 row"
                  style="border-bottom: 1px dashed #ccc"
                >
                  <div class="form-group col-sm-7 row">
                    <label
                      class="control-label col-sm-4 col-xs-6"
                      style="text-align: left"
                      ><b class="text-black">Loại hàng:</b></label
                    >
                    <div class="col-sm-8 col-xs-6">
                      <select
                        class="form-control"
                        id="cargoTypeSelect"
                      ></select>
                    </div>
                  </div>
                  <div class="form-group col-sm-5 row">
                    <span
                      class="control-label col-sm-6 col-xs-6"
                      style="text-align: left"
                      ><b class="text-black">Trọng lượng (kg):</b></span
                    >
                    <div class="col-sm-6 col-xs-6">
                      <input
                        type="text"
                        class="form-control"
                        id="wgt"
                        name="wgt"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="form-horizontal mt10 row"
                  style="border-bottom: 1px dashed #ccc"
                >
                  <div class="form-group col-sm-4 row">
                    <label class="control-label col-sm-4 col-xs-6"
                      ><b class="text-black">VGM:</b></label
                    >
                    <div class="col-sm-8 col-xs-6">
                      <input
                        type="checkbox"
                        style="margin-top: 8px"
                        id="vgm"
                        name="vmg"
                      />
                    </div>
                  </div>
                  <div class="form-group col-sm-8 row">
                    <span
                      class="control-label col-sm-4 col-xs-6"
                      style="text-align: left"
                      ><b class="text-black">Đơn vị kiểm định:</b></span
                    >
                    <div class="col-sm-8 col-xs-6">
                      <input type="text" class="form-control" />
                    </div>
                    <span
                      class="control-label col-sm-4 col-xs-6 mt5"
                      style="text-align: left"
                      ><b class="text-black">Max Gross (kg):</b></span
                    >
                    <div class="col-sm-8 col-xs-6 mt5">
                      <input type="number" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-horizontal mt10 row">
                  <div class="form-group col-sm-12 row">
                    <label
                      class="control-label col-sm-2 col-xs-2"
                      style="text-align: left"
                      ><b class="text-black">Cài nhiệt độ:</b></label
                    >
                    <div
                      class="col-sm-4 col-xs-4 d-flex"
                      style="justify-content: space-between; margin-top: 5px"
                    >
                      <span
                        ><input
                          type="radio"
                          name="rdTemperature"
                          value="true"
                        />&nbsp;Cài nhiệt độ</span
                      >
                      <span
                        ><input
                          type="radio"
                          name="rdTemperature"
                          value="false"
                        />&nbsp;Không cài nhiệt độ</span
                      >
                    </div>
                    <label class="control-label col-sm-3 col-xs-3"
                      ><b class="text-black">Nhiệt độ (độ C):</b></label
                    >
                    <div class="col-sm-2 col-xs-2">
                      <input
                        type="text"
                        class="form-control"
                        id="temperature"
                        name="temperature"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-2">
                <div class="form-horizontal mt10 row">
                  <div
                    class="col-xs-12 p5"
                    style="border-bottom: 1px dashed #ccc"
                  >
                    <label class="control-label col-sm-2 col-xs-2 pt0"
                      ><b class="text-black">Quá khổ:</b></label
                    >
                    <div class="col-sm-3 col-xs-2">
                      <input
                        type="radio"
                        name="rdOversize"
                        id="rdOversize"
                        value="false"
                      />&nbsp;Không quá khổ
                    </div>
                    <div class="col-sm-2 col-xs-2">
                      <input
                        type="radio"
                        name="rdOversize"
                        id="rdOversize"
                        value="true"
                      />&nbsp;Quá khổ
                    </div>
                    <div class="col-sm-5 col-xs-4">
                      (22G0 - dài: 112.5, rộng: 113.2, cao: 223.5 )
                    </div>
                  </div>
                  <span id="oversizeFormContainer">
                    <div
                      class="col-xs-12 p5"
                      id="categoryOversizeCheckboxes"
                      style="border-bottom: 1px dashed #ccc"
                    >
                      <label class="control-label col-sm-2 col-xs-2 pt0"
                        ><b class="text-black">Loại:</b></label
                      >
                      <div class="col-sm-2 col-xs-2">
                        <input
                          type="checkbox"
                          data-category-Oversize="OW"
                        />&nbsp;OW
                      </div>
                      <div class="col-sm-2 col-xs-2">
                        <input
                          type="checkbox"
                          data-category-Oversize="OH"
                        />&nbsp;OH
                      </div>
                      <div class="col-sm-2 col-xs-2">
                        <input
                          type="checkbox"
                          data-category-Oversize="OL"
                        />&nbsp;OL
                      </div>
                    </div>
                    <div class="col-xs-12 p5">
                      <label
                        class="control-label col-sm-2 col-xs-2 pt0"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Bên trên (cm):</b></label
                      >
                      <div class="col-sm-2 col-xs-2">
                        <input
                          name="topOversize"
                          type="text"
                          class="form-control"
                        />
                      </div>
                      <label
                        class="control-label col-sm-2 col-xs-2 pt0"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Bên phải (cm):</b></label
                      >
                      <div class="col-sm-2 col-xs-2">
                        <input
                          name="rightOversize"
                          type="text"
                          class="form-control"
                        />
                      </div>
                      <label
                        class="control-label col-sm-2 col-xs-2 pt0"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Bên trái (cm):</b></label
                      >
                      <div class="col-sm-2 col-xs-2">
                        <input
                          name="leftOversize"
                          type="text"
                          class="form-control"
                        />
                      </div>
                      <label
                        class="control-label col-sm-2 col-xs-2 pt5 pl0"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Phía trước (cm):</b></label
                      >
                      <div class="col-sm-2 col-xs-2 pt5">
                        <input
                          name="frontOversize"
                          type="text"
                          class="form-control"
                        />
                      </div>
                      <label
                        class="control-label col-sm-2 col-xs-2 pt5"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Phía sau (cm):</b></label
                      >
                      <div class="col-sm-2 col-xs-2 pt5">
                        <input
                          name="backOversize"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="content-3">
                <div class="form-horizontal mt10 row">
                  <div
                    class="col-xs-12 p5"
                    style="border-bottom: 1px dashed #ccc"
                  >
                    <label class="control-label col-sm-3 col-xs-3 pt0"
                      ><b class="text-black">Cont nguy hiểm:</b></label
                    >
                    <div class="col-sm-3 col-xs-2">
                      <input
                        type="radio"
                        name="rdDangerous"
                        value="false"
                      />&nbsp;Cont bình thường
                    </div>
                    <div class="col-sm-3 col-xs-3">
                      <input
                        type="radio"
                        name="rdDangerous"
                        id="rdDangerous"
                        value="true"
                      />&nbsp;Cont nguy hiểm
                    </div>
                  </div>
                  <span id="dangerousFormContainer">
                    <div
                      class="col-xs-12 p5"
                      style="border-bottom: 1px dashed #ccc"
                    >
                      <label
                        class="control-label col-sm-3 col-xs-3 pt0 asterisk"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">IMO:</b></label
                      >
                      <div class="col-sm-6 col-xs-6">
                        <select class="form-control">
                          <option selected disabled>Chọn</option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="col-xs-12 p5"
                      style="border-bottom: 1px dashed #ccc"
                    >
                      <label
                        class="control-label col-sm-3 col-xs-3 pt0 asterisk"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">UNNO:</b></label
                      >
                      <div class="col-sm-6 col-xs-6">
                        <select class="form-control">
                          <option selected disabled>Chọn</option>
                        </select>
                      </div>
                    </div>
                    <div
                      class="col-xs-12 p5"
                      style="border-bottom: 1px dashed #ccc"
                    >
                      <label
                        class="control-label col-sm-3 col-xs-3 pt0"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Tên hàng hóa:</b></label
                      >
                      <div class="col-sm-6 col-xs-6">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-xs-12 p5">
                      <label
                        class="control-label col-sm-3 col-xs-3 pt0"
                        style="height: 34px; line-height: 34px"
                        ><b class="text-black">Quy cách đóng gói:</b></label
                      >
                      <div class="col-sm-6 col-xs-6">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-sm-12 layui-layer-btn footer">
          <a class="layui-layer-btn0" onclick="submitHandler()">Xong</a>
        </div>
      </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript" th:inline="javascript">
      /**
       * Data load from server
      */
      var containerNo = /*[[${containerNo}]]*/;
      var shipmentDetail = [[${shipmentDetail}]];
      var sztp = /*[[${sztp}]]*/;
      var shipmentDetailId = /*[[${shipmentDetailId}]]*/;
    </script>
    <script th:src="@{/js/logistic/sendContFull/detail.js}"></script>
  </body>
</html>
