.datagrid-header-row > td {
  color: #1c84c6;
  font-weight: bold;
}
.textTitle {
  text-align: center;
  text-transform: uppercase;
  color: #1c84c6;
}
#searchInfoEdo {
  margin-bottom: 5px;
}

#updateEdo {
  margin-bottom: 5px;
}
.table-left {
  position: relative;
  border-right: 1px solid darkgrey;
  padding-right: 15px;
}
.table-left .btn-collapse {
  position: absolute;
  right: 0;
  top: 45%;
  font-size: 2.5em;
  cursor: pointer;
}
.billNoView {
  display: flex;
}
.combobox-carrier {
  margin-left: 5px;
}
.width150 {
  width: 150%;
}
#updateButton {
  pointer-events: none;
  cursor: default;
}
.width100px {
  width: 100px;
}
.margin-left-46 {
  margin-left: 46px;
}
.margin-botton-5 {
  margin-bottom: 5px;
}
