<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Thông Tin cập nhật lệnh giao hàng (eDO)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Kính gửi: Các bên liên quan,</p>
    <b style="font-style: italic; padding-left: 73px;">Whom it may concern,</b>
    <br>
    <p>Hệ thống cổng thông tin trao đổi lệnh giao hàng DO Cảng Đà Nẵng đã ghi nhận nội dung cập nhật như sau:</p>
    <i>The DNP’s web portal has been updated as follows</i>
    <p>- Ngày cập nhật <i>(Update time): </i><span th:text="${updateTime}"></span></p>
    <p>- Hãng tàu <i>(Carrier): </i><span th:text="${carrierCode}"></span></p>
    <p>- Số B/L <i>(B/L number): </i><span th:text="${billOfLading}"></span></p>
    <p>- Số container <i>(Container number): </i><span th:text="${containerNumber}"></span></p>
    <p>- Tên Khách hàng <i>(Consignee): </i><span th:text="${consignee}"></span></p>
    <p>- Hạn lệnh <i>(Valid to date): </i><span th:text="${expiredDem}"></span></p>
    <p>- Nơi hạ vỏ <i>(Empty container depot): </i><span th:text="${emptyContainerDepot}"></span></p> 
    <p>- Số ngày miễn lưu vỏ <i>(DET free time): </i><span th:text="${detFreeTime}"></span></p>
    <p>- Tên tàu <i>(Vessel): </i><span th:text="${vessel}"></span></p>
    <p>- Chuyến <i>(Voyage): </i><span th:text="${voyNo}"></span></p> 
    <p>- Ghi chú <i>(Remark): </i><span th:text="${remark}"></span></p> 
    <br>
    <p>Trận trọng, <i>(Best Regards,)</i></p>
    <br>
    <div style="color:#464e5f;font-family:Tahoma;font-size:10pt">Danang Port – web portal DO.</div>
    <div style="color:#464e5f;font-family:Tahoma;font-size:10pt">Add: 26 Bach Dang street, Hai Chau district, Danang city, VietNam</div>
    <a href="Website: www.danangport.com">Website: www.danangport.com</a>
</body>