<!DOCTYPE html>
<html  lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="include :: header('Main')" />
    <th:block th:include="include :: easyui-css" />
    <link th:href="@{/eport/common/style.css?v=20201225}" rel="stylesheet" />
    <link th:href="@{/css/main.css?v=20201225}" rel="stylesheet" />
</head>

<body class="grey-background" style="overflow-y: hidden;">
    <div class="main-body">
        <div class="main-body__search-wrapper mb-2">
            <div class="main-body__search-wrapper--container justify-content-between align-items-center w-100">
                <div class="flex__left w-20">
                    <h3 class="mt-10">&nbsp;&nbsp;Thông Báo</h3>
                </div>
                <div class="flex__right w-80">
                    <div class="justify-content-around align-items-center" id="ff">
                        <div class="d-inline">
                            <input class="easyui-textbox" id="noticeTitle" data-options="prompt:'Tiêu đề'" />
                        </div>
                        <div class="d-inline">
                            <input id="fromDate" class="easyui-datebox" style="width: 100px;"
                                data-options="prompt:'Từ Ngày', formatter:dateformatter, parser:dateparser">
                        </div>
                        <div class="d-inline">
                            <input id="toDate" class="easyui-datebox" style="width: 100px;"
                                data-options="prompt:'Đến Ngày', formatter:dateformatter, parser:dateparser">
                        </div>
                        <div class="d-inline">
                            <button class="btn btn-success" onclick="search()" style="margin-bottom: 5px;">Tìm kiếm</button>
                        </div>
                        <div class="d-inline">
                            <button class="btn btn-success btn-outline" onclick="clearInput()" style="margin-bottom: 5px;">Làm
                                mới</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin: 0;">
        <div class="main-body__table-wrapper">
            <div class="easyui-layout" id="main-layout" style="width: 100%;">
                <table id="dg" style="width: 100%;" pageList="[20,50,100,150,200]"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <script type="text/javascript" th:inline="javascript">
        $(".main-body").height($(document).height() - 10);
        $(".easyui-layout").height($(document).height() - 40);
    </script>
    <script th:src="@{/eport/main.js?v=20201225}"></script>
</body>
</html>
