<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="include :: header('Custom Support')" />
  <th:block th:include="include :: easyui-css" />
  <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
  <link th:href="@{/eport/css/orderRegistrationSupport/style.css}" rel="stylesheet" />
</head>

<body class="container-fluid white-bg page-verification">
  <div class="container">
    <div class="content-body">
      <section class="content clearfix">
        <table id="dg" fitColumn="true">
          <thead>
            <tr>
              <th data-options="field:'containerNo', halign:'center', align:'center', fixed:'true'" width="150" sortable="true">Số Container</th>
              <th data-options="field:'opeCode', halign:'center', fixed:'true'" width="150" sortable="true">Hãng Tàu</th>
              <th data-options="field:'vslNm', halign:'center', fixed:'true'" width="120" sortable="true">Tàu</th>
              <th data-options="field:'voyNo', halign:'center', fixed:'true'" width="120" sortable="true">Chuyến</th>
              <th data-options="field:'customStatus', align:'center', formatter: formatCustomStatus" width="165" sortable="true">Trạng thái</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>
    </div>
    <div class="layui-layer-btn footer">
      <a class="layui-layer-btn0" onclick="closeForm()">Đóng</a>
    </div>
  </div>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <script type="text/javascript" th:inline="javascript">
    var shipmentDetails = /*[[${shipmentDetails}]]*/;
  </script>
  <script th:src="@{/eport/js/modules/om/orderRegistrationSupport/customSupport.js}"></script>
</body>

</html>