<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="include :: header('Custom Support')" />
  <th:block th:include="include :: easyui-css" />
  <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
  <link th:href="@{/eport/css/orderRegistrationSupport/style.css}" rel="stylesheet" />
</head>

<body class="container-fluid white-bg page-custom">
  <div class="mt10">
    <div class="content-header row">
      <div class="col-md-4">
        <h3 class="title" style="display: inline-block;">Hãng tàu: </h3>
        <span class="content">WHL</span>
      </div>
      <div class="col-md-4">
        <h3 class="title" style="display: inline-block;">Tên tàu: </h3>
        <span class="content">HAMI</span>
      </div>
      <div class="col-md-4">
        <h3 class="title" style="display: inline-block;">Chuyến: </h3>
        <span class="content">0029</span>
      </div>
    </div>
    <div class="content-body">
      <section class="content clearfix">
        <table id="dg" fitColumn="true">
          <thead>
            <tr>
              <th data-options="field:'containerNo', halign:'center', align:'center', fixed:'true'" width="50%" sortable="true">Số Container</th>
              <th data-options="field:'customStatus', align:'center', formatter: formatCustomStatus" width="50%" sortable="true">Trạng thái thông quan</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>
    </div>
    <div class="content-footer">
      <a class="btn btn-block btn-success" onclick="closeForm()">Đồng bộ</a>
    </div>
  </div>
  <th:block th:include="include :: footer" />
  <th:block th:include="include :: easyui-js" />
  <script type="text/javascript" th:inline="javascript">
    var shipmentDetails = /*[[${shipmentDetails}]]*/;
  </script>
  <script th:src="@{/eport/js/modules/om/orderRegistrationSupport/customSupport.js}"></script>
</body>

</html>