<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: header('Custom Support')" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: bootstrap-toggle-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link th:href="@{/eport/css/orderRegistrationSupport/style.css}" rel="stylesheet" />
  </head>

  <body class="container-fluid white-bg page-receiveDO">
    <section class="header mb5 mt10">
      <!-- row one -->
      <div class="row mb5">
        <!-- max 3 inner info in a row -->
        <div class="header__inner-info">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span>Lô BL BL No&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="lo-bl">123456789</span>
          </div>
        </div>

        <div class="header__inner-info">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span>Lô BL&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="lo-bl">123456789</span>
          </div>
        </div>
      </div>
      <!-- row two  -->
      <div class="row mb5">
        <!-- max 3 inner info in a row -->
        <div class="header__inner-info">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span>Lô BL&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="lo-bl">123456789</span>
          </div>
        </div>
      </div>
    </section>
    <section class="header mb20">
      <div>
        <label>
          <h4><label>Trạng thái DO</label></h4>
          <input id="toggle-status" type="checkbox" data-on="Đã nhận DO" data-off="Chưa nhận" data-onstyle="success" data-offstyle="default" />
        </label>
      </div>
    </section>
    <section class="content clearfix">
      <table id="dg" pageList="[20, 50, 100, 150, 200]">
        <thead>
          <tr>
            <th data-options="field:'id', halign:'center', resizable:true, fixed:true" width="120">Số thứ tự</th>
            <th data-options="field:'logisticGroup', halign:'center', align:'center'" width="200" sortable="true">Đơn vị logistic</th>
            <th data-options="field:'blNo', halign:'center', fixed:'true'" width="150" sortable="true">Bill No</th>
            <th data-options="field:'sampleField1', align:'center', fixed:'true'" width="150" sortable="true">Sample Data 1</th>
            <th data-options="field:'sampleField2', align:'center', fixed:'true'" width="150" sortable="true">Sample Data 2</th>
            <th data-options="field:'sampleField2', align:'center', fixed:'true'" width="150" sortable="true">Sample Data 3</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>
    <div class="layui-layer-btn footer clearfix">
      <a class="layui-layer-btn0" onclick="closeForm()">Xác nhận</a>
      <a class="layui-layer-btn1" onclick="closeForm()">Đóng</a>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: bootstrap-toggle-js" />
    <script type="text/javascript" th:inline="javascript">
      var orderList = /*[[${orderList}]]*/;
    </script>
    <script th:src="@{/eport/js/modules/om/orderRegistrationSupport/receiveDoSupport.js}"></script>
  </body>
</html>
