<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: header('Custom Support')" />
    <th:block th:include="include :: easyui-css" />
    <th:block th:include="include :: bootstrap-toggle-css" />
    <link rel="stylesheet" th:href="@{/eport/css/eport.css}" />
    <link th:href="@{/eport/css/orderRegistrationSupport/style.css}" rel="stylesheet" />
  </head>

  <body class="container-fluid white-bg page-receiveDO">
    <section class="header mb5 mt10">
      <!-- row one -->
      <div class="row mb5">
        <!-- max 3 inner info in a row -->
        <div class="header__inner-info">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span>Lô&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="batch-code"></span>
          </div>
        </div>

        <div class="header__inner-info">
          <div class="bl-no-div col-md-2 col-sm-2 col-xs-2">
            <span>B/L No.&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="bl-no"></span>
          </div>
        </div>

        <div class="header__inner-info">
          <div class="booking-no-div col-md-2 col-sm-2 col-xs-2">
            <span>Booking No.&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="booking-no"></span>
          </div>
        </div>

        <div class="header__inner-info">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span>Hình Thức&#58;</span>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <span class="service-type"></span>
          </div>
        </div>
      </div>
    </section>
    <section class="header mb20">
      <div>
        <label>
          <h4><label>Trạng thái DO</label></h4>
          <input id="toggle-status" type="checkbox" data-on="Đã nhận DO" data-off="Chưa nhận" data-onstyle="success" data-offstyle="default" />
        </label>
      </div>
    </section>
    <section class="content clearfix">
      <table id="dg">
        <thead>
          <tr>
            <th data-options="field:'containerNo', align:'center', halign:'center', fixed:true" width="120" sortable="true">Container No.</th>
            <th data-options="field:'sztp', halign:'center', align:'center'" width="100" sortable="true">Kích Thước</th>
            <th data-options="field:'wgt', align:'right', fixed:'true'" width="130" sortable="true">Trọng Lượng</th>
            <th data-options="field:'fe', align:'center', halign:'center', fixed:'true'" width="50" sortable="true">FE</th>
            <th data-options="field:'sealNo', align:'center', halign:'center'" width="100" sortable="true">Seal No.</th>
            <th data-options="field:'consignee', align:'center', halign:'center'" width="150" sortable="true">Chủ Hàng</th>
            <th data-options="field:'expiredDem', align:'center', fixed:'true', formatter: formatDate" width="130" sortable="true">Hạn Lệnh</th>
            <th data-options="field:'opeCode', align:'center', fixed:'true'" width="120" sortable="true">Hãng Tàu</th>
            <th data-options="field:'vslNm', align:'center', fixed:'true'" width="120" sortable="true">Tàu</th>
            <th data-options="field:'voyNo', align:'center', fixed:'true'" width="100" sortable="true">Chuyến</th>
            <th data-options="field:'loadingPort', align:'center', fixed:'true'" width="150" sortable="true">Cảng Xếp Hàng</th>
            <th data-options="field:'dischargePort', align:'center', fixed:'true'" width="150" sortable="true">Cảng Dỡ Hàng</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>
    <div class="layui-layer-btn footer clearfix">
      <a class="layui-layer-btn0" onclick="confirm()">Xác nhận</a>
      <a class="layui-layer-btn1" onclick="closeForm()">Đóng</a>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: bootstrap-toggle-js" />
    <script type="text/javascript" th:inline="javascript">
      var shipment = /*[[${shipment}]]*/;
      var shipmentDetails = /*[[${shipmentDetails}]]*/;
    </script>
    <script th:src="@{/eport/js/modules/om/orderRegistrationSupport/receiveDoSupport.js}"></script>
  </body>
</html>
