<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="include :: header('Order Support')" />
    <th:block th:include="include :: handsontable-css" />
    <th:block th:include="include :: bootstrap-toggle-css" />
    <link th:href="@{/eport/css/eport.css}" rel="stylesheet" />
    <link th:href="@{/eport/css/orderRegistrationSupport/style.css}" rel="stylesheet" />
  </head>

  <body class="container-fluid white-bg page-custom">
    <div class="container">
      <div class="content-body">
        <section class="header">
          <div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Loại Lệnh: </b>
              <span id="serviceType"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Chủ Hàng: </b>
              <span id="consignee"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Mã Số Thuế: </b>
              <span id="taxCode"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">B/L No.: </b>
              <span id="blNo"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Booking No.: </b>
              <span id="bookingNo"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Phương Thức Thanh Toán: </b>
              <span id="payType"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Hạn Lệnh: </b>
              <span id="pickupDate"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Tàu: </b>
              <span id="vessel"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <b class="label-title">Chuyến: </b>
              <span id="voyage"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="checkbox-inline">
                <h4><label>Trạng thái</label></h4>
                <input id="toggle-status"
                  type="checkbox"
                  data-on="<i class='fa fa-check'></i>&nbsp;Làm lệnh"
                  data-off="<i class='fa fa-spinner fa-spin fa-fw'></i>Đang chờ..."
                  data-onstyle="success"
                  data-offstyle="default"
                />
              </label>
            </div>
            <div class="col-md-12">
              <h4>Danh sách Lệnh</h4>
            </div>
          </div>
        </section>
        <section class="content clearfix">
          <div id="container-grid" class="hot handsontable htColumnHeaders"></div>
        </section>
        <section class="content-bottom mt10">
          <div class="panel panel-success">
            <div class="panel-heading">Nhập Invoice No.</div>
            <div class="panel-body" id="invoiceNoList">
            </div>
          </div>
        </section>
      </div>
      <div class="layui-layer-btn footer">
        <a class="layui-layer-btn0" onclick="confirm()">Xác nhận</a>
      </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: easyui-js" />
    <th:block th:include="include :: handsontable-js" />
    <th:block th:include="include :: bootstrap-toggle-js" />
    <script type="text/javascript" th:inline="javascript">
      var orderList = /*[[${orderList}]]*/;
    </script>
    <script th:src="@{/eport/js/modules/om/orderRegistrationSupport/verificationSupport.js}"></script>
  </body>
</html>
